Repository pyg-team/pytorch_geometric, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, data, dataset, sampler, loader, nn, explain, transform, utils, distributed, contrib, graphgym, benchmark

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

example:
  - changed-files:
      - any-glob-to-any-file: "examples/**/*"

data:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/data/**/*"

dataset:
  - changed-files:
      - any-glob-to-any-file: ["torch_geometric/io/**/*", "torch_geometric/datasets/**/*"]

sampler:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/sampler/**/*"

loader:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/loader/**/*"

nn:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/nn/**/*"

explain:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/explain/**/*"

transform:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/transforms/**/*"

utils:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/utils/**/*"

distributed:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/distributed/**/*"

contrib:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/contrib/**/*"

graphgym:
  - changed-files:
      - any-glob-to-any-file: ["graphgym/**/*", "torch_geometric/graphgym/**/*"]

benchmark:
  - changed-files:
      - any-glob-to-any-file: ["benchmark/**/*", "torch_geometric/profile/**/*"]

auto-skip-changelog:
  - head-branch: ['^skip', '^pre-commit-ci']

update
  .github/workflows/changelog.yml
Labels: none

Add pure SSG with no lin
  test/nn/conv/test_sg_conv.py
  torch_geometric/nn/conv/sg_conv.py
Labels: nn

feature: add node similarity measures ('Dirichlet Energy', 'Mean Average Distance')
  torch_geometric/utils/__init__.py
  torch_geometric/utils/node_similarity.py
Labels: utils

fix: conform to flake8
  torch_geometric/utils/node_similarity.py
Labels: utils

fix: removed unexpected indentation in doc strings
  torch_geometric/utils/node_similarity.py
Labels: utils

added note to 'CHANGELOG.md'
  CHANGELOG.md
Labels: none

fix: removed type hints
  torch_geometric/utils/node_similarity.py
Labels: utils

fix: fixed variable types
  torch_geometric/utils/node_similarity.py
Labels: utils

Added XPU support to `withDevice` decorator
  CHANGELOG.md
  torch_geometric/testing/decorators.py
Labels: none

@onlyXPU should only run on xpu devices
  CHANGELOG.md
  test/profile/test_profile.py
Labels: none

Delete examples/ogbn_papers_100m.py
  examples/ogbn_papers_100m.py
Labels: example

Rename ogbn_papers_100m_sage.py to ogbn_papers_100m.py
  examples/ogbn_papers_100m.py
Labels: example

fix: decorators
  torch_geometric/utils/node_similarity.py
Labels: utils

fixing typo
  torch_geometric/datasets/web_qsp_dataset.py
Labels: dataset

user friendliness cleanup
  examples/llm_plus_gnn/g_retriever.py
Labels: example

drafting
  examples/llm_plus_gnn/g_retriever.py
  examples/llm_plus_gnn/interactive_demo.py
  x.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/g_retriever.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

update dockerfile
  docker/Dockerfile.xpu
  docker/README.md
Labels: none

update benchmark readme for XPU
  benchmark/multi_gpu/training/README.md
Labels: benchmark

typo
  benchmark/multi_gpu/training/README.md
Labels: benchmark

update changelog
  CHANGELOG.md
Labels: none

fix: refactored input validation
  torch_geometric/utils/node_similarity.py
Labels: utils

add `fmt` parameter to dataset table summary
  torch_geometric/data/dataset.py
  torch_geometric/data/summary.py
Labels: data

update CHANGELOG
  CHANGELOG.md
Labels: none

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/README.md
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example
