Repository pyg-team/pytorch_geometric, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, data, dataset, sampler, loader, nn, explain, transform, utils, distributed, contrib, graphgym, benchmark

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

example:
  - changed-files:
      - any-glob-to-any-file: "examples/**/*"

data:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/data/**/*"

dataset:
  - changed-files:
      - any-glob-to-any-file: ["torch_geometric/io/**/*", "torch_geometric/datasets/**/*"]

sampler:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/sampler/**/*"

loader:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/loader/**/*"

nn:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/nn/**/*"

explain:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/explain/**/*"

transform:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/transforms/**/*"

utils:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/utils/**/*"

distributed:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/distributed/**/*"

contrib:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/contrib/**/*"

graphgym:
  - changed-files:
      - any-glob-to-any-file: ["graphgym/**/*", "torch_geometric/graphgym/**/*"]

benchmark:
  - changed-files:
      - any-glob-to-any-file: ["benchmark/**/*", "torch_geometric/profile/**/*"]

auto-skip-changelog:
  - head-branch: ['^skip', '^pre-commit-ci']

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

Fixing Bug in Version Handling.
  torch_geometric/testing/decorators.py
Labels: none

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/g_retriever.py
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  torch_geometric/nn/models/g_retriever.py
Labels: nn

minor bug fix
  torch_geometric/nn/models/g_retriever.py
Labels: nn

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

drafting
  examples/llm_plus_gnn/interactive_g_retriever_demo.py
Labels: example

fix: correctly initialize variables as torch.float32
  torch_geometric/utils/node_similarity.py
Labels: utils

fix: copy result of inner calculation back to cpu
  torch_geometric/utils/node_similarity.py
Labels: utils

Add MPLP model and example
  examples/mplp.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/mplp.py
Labels: example, nn

Updates
  examples/mplp.py
  torch_geometric/nn/models/mplp.py
Labels: example, nn

typo
  benchmark/multi_gpu/training/README.md
Labels: benchmark

update readme
  benchmark/multi_gpu/training/README.md
Labels: benchmark

update readme
  benchmark/multi_gpu/training/README.md
Labels: benchmark
