Repository pyg-team/pytorch_geometric, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, data, dataset, sampler, loader, nn, explain, transform, utils, distributed, contrib, graphgym, benchmark

Add docs for environment setup on XPU device (#9407)
  CHANGELOG.md
  benchmark/multi_gpu/training/README.md
  docker/Dockerfile.xpu
  docker/README.md
Labels: benchmark

Add Hyperbolic GCN layer
  examples/hgcn.py
  test/nn/conv/test_hgcn_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/hgcn_conv.py
Labels: example, nn

update changelog
  CHANGELOG.md
Labels: none

update
  torch_geometric/nn/module_dict.py
  torch_geometric/nn/parameter_dict.py
Labels: nn

Fix `ModuleDict`/`ParameterDict` in combination with `torch.jit.script` (#9424)
  torch_geometric/nn/module_dict.py
  torch_geometric/nn/parameter_dict.py
Labels: nn

[BUG] Fixing Bug in Version Handling (#9410)
  torch_geometric/testing/decorators.py
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

example:
  - changed-files:
      - any-glob-to-any-file: "examples/**/*"

data:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/data/**/*"

dataset:
  - changed-files:
      - any-glob-to-any-file: ["torch_geometric/io/**/*", "torch_geometric/datasets/**/*"]

sampler:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/sampler/**/*"

loader:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/loader/**/*"

nn:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/nn/**/*"

explain:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/explain/**/*"

transform:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/transforms/**/*"

utils:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/utils/**/*"

distributed:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/distributed/**/*"

contrib:
  - changed-files:
      - any-glob-to-any-file: "torch_geometric/contrib/**/*"

graphgym:
  - changed-files:
      - any-glob-to-any-file: ["graphgym/**/*", "torch_geometric/graphgym/**/*"]

benchmark:
  - changed-files:
      - any-glob-to-any-file: ["benchmark/**/*", "torch_geometric/profile/**/*"]

auto-skip-changelog:
  - head-branch: ['^skip', '^pre-commit-ci']
