Repository pyg-team/pytorch_geometric, pull requests merged in 2021-12, with the labels that each got.

#3581 Han example
  examples/hetero/han_imdb.py
  test/transforms/test_add_metapaths.py
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/transforms/add_metapaths.py
Labels: Priority P0

#3651 Bugfix: Loading via `state_dict` within lazy modules
  test/nn/dense/test_linear.py
  torch_geometric/nn/dense/linear.py
Labels: bug, Priority P0

#3684 `@register_*` decorator in GraphGym
  graphgym/custom_graphgym/act/example.py
  graphgym/custom_graphgym/config/example.py
  graphgym/custom_graphgym/encoder/example.py
  graphgym/custom_graphgym/head/example.py
  graphgym/custom_graphgym/layer/example.py
  graphgym/custom_graphgym/loader/example.py
  graphgym/custom_graphgym/loss/example.py
  graphgym/custom_graphgym/network/example.py
  graphgym/custom_graphgym/optimizer/example.py
  graphgym/custom_graphgym/pooling/example.py
  graphgym/custom_graphgym/stage/example.py
  graphgym/custom_graphgym/train/example.py
  torch_geometric/graphgym/contrib/train/benchmark.py
  torch_geometric/graphgym/model_builder.py
  torch_geometric/graphgym/models/act.py
  torch_geometric/graphgym/models/encoder.py
  torch_geometric/graphgym/models/gnn.py
  torch_geometric/graphgym/models/head.py
  torch_geometric/graphgym/models/layer.py
  torch_geometric/graphgym/models/pooling.py
  torch_geometric/graphgym/register.py
Labels: feature, graphgym

#3692 `HeteroData` node type fix for `len(node_type)==2`
  test/data/test_hetero_data.py
  torch_geometric/data/hetero_data.py
Labels: bug

#3722 Add Pre-commit bot fixes
  benchmark/points/datasets.py
  examples/point_transformer_classification.py
  graphgym/custom_graphgym/__init__.py
  test/nn/functional/test_bro.py
  test/nn/functional/test_gini.py
  test/nn/models/test_deep_graph_infomax.py
  test/transforms/test_add_self_loops.py
  test/transforms/test_point_pair_features.py
  test/transforms/test_polar.py
  test/transforms/test_spherical.py
  torch_geometric/graphgym/__init__.py
  torch_geometric/graphgym/contrib/__init__.py
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/nn/functional/__init__.py
  torch_geometric/nn/functional/bro.py
  torch_geometric/nn/pool/pool.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/add_metapaths.py
  torch_geometric/transforms/add_self_loops.py
Labels: feature

#3724 `get_home_dir()` and `set_home_dir()`
  torch_geometric/__init__.py
  torch_geometric/home.py
Labels: feature, Priority P0

#3736 CUDA support in `NeighborLoader`
  examples/hetero/to_hetero_mag.py
  examples/pytorch_lightning/graph_sage.py
  examples/reddit.py
  torch_geometric/data/data.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/loader/base.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/utils.py
Labels: feature

#3741 `FakeDataset` and `FakeHeteroDataset`
  test/datasets/test_fake.py
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/fake.py
  torch_geometric/datasets/karate.py
Labels: feature, Priority P0

#3756 `pytest` upgrades
  .github/workflows/testing.yml
  CONTRIBUTING.md
  setup.cfg
Labels: Priority P0, refactor

#3763 GraphGym improvements
  graphgym/custom_graphgym/train/example.py
  torch_geometric/data/__init__.py
  torch_geometric/data/makedirs.py
  torch_geometric/graphgym/checkpoint.py
  torch_geometric/graphgym/cmd_args.py
  torch_geometric/graphgym/contrib/train/benchmark.py
  torch_geometric/graphgym/train.py
Labels: refactor

#3775 Warning in Hetero-GNNs: `unused_dst_node_type`
  torch_geometric/nn/conv/hetero_conv.py
  torch_geometric/nn/to_hetero_transformer.py
  torch_geometric/nn/to_hetero_with_bases_transformer.py
  torch_geometric/utils/hetero.py
Labels: feature

#3779 GraphGym Config Cleanup
  graphgym/custom_graphgym/act/example.py
  graphgym/custom_graphgym/optimizer/example.py
  graphgym/main.py
  test/graphgym/test_config.py
  test/graphgym/test_graphgym.py
  test/graphgym/test_register.py
  torch_geometric/graphgym/__init__.py
  torch_geometric/graphgym/cmd_args.py
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/optim.py
  torch_geometric/graphgym/optimizer.py
  torch_geometric/graphgym/register.py
Labels: refactor
