Repository pyg-team/pytorch_geometric, pull requests merged in 2021-09, with the labels that each got.

#3202 Fix `HeteroConv` for additional node-level arguments
  test/nn/conv/test_hetero_conv.py
  torch_geometric/nn/conv/hetero_conv.py
Labels: enhancement, Priority P0

#3203 Fix initialization of GeneralMultiLayer for graphgym MLP layer
  torch_geometric/graphgym/models/layer.py
Labels: bug, Priority P0

#3214 Fix `device` of `data.batch`
  torch_geometric/data/collate.py
Labels: bug, Priority P0

#3228 Fix `Batch.to_data_list()` for scalar values
  test/data/test_batch.py
  torch_geometric/data/collate.py
Labels: bug, Priority P0

#3229 `AttributedGraphDataset`
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/attributed_graph_dataset.py
Labels: enhancement, Priority P1

#3248 Fix `Batch` pickling errors
  docs/source/notes/batching.rst
  docs/source/notes/introduction.rst
  test/data/test_batch.py
  test/loader/test_dataloader.py
  torch_geometric/data/batch.py
Labels: bug, Priority P0

#3252 Allow batching of batches: `Batch.from_data_list([batch, batch])`
  test/data/test_batch.py
  torch_geometric/data/batch.py
  torch_geometric/data/collate.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/separate.py
Labels: enhancement, Priority P1

#3259 Support for more heterogeneous graph transformations
  test/transforms/test_compose.py
  test/transforms/test_constant.py
  test/transforms/test_linear_transformation.py
  torch_geometric/transforms/base_transform.py
  torch_geometric/transforms/center.py
  torch_geometric/transforms/compose.py
  torch_geometric/transforms/constant.py
  torch_geometric/transforms/linear_transformation.py
Labels: enhancement, Priority P1
