Repository pyg-team/pytorch_geometric, pull requests merged in 2021-10, with the labels that each got.

#3283 fix `from_networkx` in case node and edge features share names
  test/utils/test_convert.py
  torch_geometric/utils/convert.py
Labels: bug, Priority P0

#3199 Add PointTransformerConv
  README.md
  test/nn/conv/test_point_transformer_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/point_conv.py
  torch_geometric/nn/conv/point_transformer_conv.py
Labels: enhancement, Priority P1

#3216 GraphGym Test Suite
  graphgym/run_batch.sh
  graphgym/run_single.sh
  test/graphgym/example_node.yml
  test/graphgym/test_graphgym.py
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/logger.py
Labels: enhancement, Priority P0

#3268 Allow splitting of multiple edge types in `RandomLinkSplit`
  examples/hetero/load_csv.py
  test/transforms/test_random_link_split.py
  torch_geometric/transforms/random_link_split.py
Labels: enhancement, Priority P1
