Repository pyg-team/pytorch_geometric, pull requests merged in 2022-08, with the labels that each got.

#5107 [Benchmark] Replace `to_hetero` models by `BasicGNN` versions
  CHANGELOG.md
  benchmark/inference/hetero_gat.py
  benchmark/inference/hetero_sage.py
Labels: 0 - Priority P0, refactor, benchmark, nn

#5118 Fill PyG master tests
  setup.py
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: bug, 0 - Priority P0, test, nn, loader, skip-changelog

#5113 Add learnable channel wise parameter in `nn.aggr.SoftmaxAggregation` and `nn.aggr.PowerMeanAggregation`
  CHANGELOG.md
  test/nn/aggr/test_basic.py
  torch_geometric/nn/aggr/basic.py
Labels: feature, 0 - Priority P0, nn

#5130 Fix TorchScript support in `SoftmaxAggregation` and `PowerMeanAggregation`
  CHANGELOG.md
  torch_geometric/nn/aggr/basic.py
Labels: bug, 0 - Priority P0, nn

#5131 `LinkNeighborLoader` Refactoring
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_neighbor_loader.py
Labels: 0 - Priority P0, refactor, loader, skip-changelog

#5135 GraphGym: Update to latest PyTorch Lightning version
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/model_builder.py
  torch_geometric/graphgym/train.py
  torch_geometric/graphgym/utils/device.py
Labels: 0 - Priority P0, graphgym, refactor, skip-changelog

#5136 `LinkNeighborLoader` Refactoring (part 2)
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_neighbor_loader.py
Labels: bug, 0 - Priority P0, loader, skip-changelog

#5155 Fix bug in `EquilibriumAggregation`
  torch_geometric/nn/aggr/equilibrium.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#5158 GraphGym: Fix parsing of scientific notation when aggregating results
  torch_geometric/graphgym/utils/agg_runs.py
Labels: bug, 0 - Priority P0, graphgym, skip-changelog

#5154 Fix bug for input module in `GINEConv`
  CHANGELOG.md
  test/nn/conv/test_gin_conv.py
  torch_geometric/nn/conv/gin_conv.py
Labels: bug, 0 - Priority P0, nn

#5161 Fix a typo in the example code of `HGTLoader`
  CHANGELOG.md
  torch_geometric/loader/hgt_loader.py
Labels: bug, documentation, 1 - Priority P1, loader

#5149 Respect `flow` argument in `GCN` normalization
  CHANGELOG.md
  test/nn/conv/test_gcn_conv.py
  torch_geometric/nn/conv/appnp.py
  torch_geometric/nn/conv/arma_conv.py
  torch_geometric/nn/conv/dna_conv.py
  torch_geometric/nn/conv/eg_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/gcn2_conv.py
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/conv/lg_conv.py
  torch_geometric/nn/conv/pdn_conv.py
  torch_geometric/nn/conv/sg_conv.py
  torch_geometric/nn/conv/tag_conv.py
Labels: feature, 1 - Priority P1, nn

#5138 Let `ImbalancedSampler` accept `torch.Tensor` as input
  CHANGELOG.md
  test/loader/test_imbalanced_sampler.py
  torch_geometric/loader/imbalanced_sampler.py
Labels: feature, 0 - Priority P0, loader

#5180 PyG 2.1 Version Increase
  CHANGELOG.md
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
  docker/Dockerfile
  setup.py
  torch_geometric/__init__.py
Labels: installation, 0 - Priority P0

#5137 `LinkNeighborLoader`: Support `edge_label_time`
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
Labels: feature, 0 - Priority P0, loader

#5173 `LightningLinkData`: Support `edge_label_time`
  CHANGELOG.md
  test/data/test_lightning_datamodule.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/loader/link_neighbor_loader.py
Labels: feature, 0 - Priority P0, data

#5185 Check `num_params` in `to_hetero` transformers
  test/nn/test_to_hetero_transformer.py
  test/nn/test_to_hetero_with_bases_transformer.py
  torch_geometric/nn/to_hetero_with_bases_transformer.py
Labels: 0 - Priority P0, test, nn, skip-changelog

#5186 Allow for multi-dimensional `edge_labels` in `LinkNeighborLoader`
  CHANGELOG.md
  torch_geometric/loader/link_neighbor_loader.py
Labels: bug, 0 - Priority P0, loader

#5187 Fit `RGATConv` different device error
  CHANGELOG.md
  torch_geometric/nn/conv/rgat_conv.py
Labels: bug, 0 - Priority P0, nn

#5188 Update `CHANGELOG` to include past features/changes
  CHANGELOG.md
Labels: documentation, 0 - Priority P0

#5120 Move to PyTorch `scatter_reduce` implementation
  CHANGELOG.md
  test/utils/test_scatter.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/scatter.py
Labels: 0 - Priority P0, refactor, benchmark, nn

#5098 Add `MedianAggregation` and `QuantileAggregation`
  CHANGELOG.md
  test/nn/aggr/test_quantile.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/quantile.py
Labels: feature, 0 - Priority P0, nn

#5191 Tutorial on `nn.aggr` package
  CHANGELOG.md
  docs/source/modules/nn.rst
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/conv/sage_conv.py
Labels: documentation, 0 - Priority P0, nn

#5193 Updated docstring for `RandomLinkSplit`
  CHANGELOG.md
  torch_geometric/transforms/random_link_split.py
Labels: documentation, 0 - Priority P0, transform

#5202 Fix tensor creation in `EquilibirumAggregation` to respect model device
  torch_geometric/nn/aggr/equilibrium.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#5207 fix device mismatch bug in metapath2vec example
  examples/hetero/metapath2vec.py
Labels: bug, 0 - Priority P0, example

#5220 Prevent absolute paths in `egg-info`
  setup.py
Labels: bug, installation, 0 - Priority P0, skip-changelog

#5221 Add additional test to `RandomLinkSplit` for `HeteroData`
  CHANGELOG.md
  test/transforms/test_random_link_split.py
Labels: 0 - Priority P0, test, transform

#5210 Remove `MutableMapping` base class in `FeatureStore`
  CHANGELOG.md
  setup.py
  torch_geometric/data/feature_store.py
  torch_geometric/loader/dataloader.py
Labels: bug, 0 - Priority P0, data

#5223 Update README: GATv2 to ICLR2022
  README.md
Labels: documentation, 1 - Priority P1, nn, skip-changelog

#5222 Add test for `to_hetero` with `SparseTensor`
  CHANGELOG.md
  test/nn/test_to_hetero_transformer.py
Labels: 0 - Priority P0, test, nn

#5227 Replace `torch.nn.ModuleDict` with `CustomModuleDict`
  CHANGELOG.md
  test/nn/conv/test_hetero_conv.py
  test/nn/test_module_dict.py
  torch_geometric/nn/conv/hetero_conv.py
  torch_geometric/nn/module_dict.py
Labels: feature, 1 - Priority P1, nn

#5235 Fix docstring for `VarAggregation`
  torch_geometric/nn/aggr/basic.py
Labels: documentation, 1 - Priority P1, nn, skip-changelog

#5240 `BaseStorage.get()` functionality
  CHANGELOG.md
  test/data/test_data.py
  test/data/test_storage.py
  torch_geometric/data/storage.py
Labels: feature, 0 - Priority P0, data

#5233 Add missing test labels in `HGBDataset`
  CHANGELOG.md
  torch_geometric/datasets/hgb_dataset.py
Labels: feature, 0 - Priority P0, dataset

#5232 Add experimental mode for `utils.scatter`
  CHANGELOG.md
  docs/source/modules/root.rst
  test/test_experimental.py
  test/utils/test_scatter.py
  torch_geometric/__init__.py
  torch_geometric/experimental.py
  torch_geometric/utils/scatter.py
Labels: feature, 0 - Priority P0, benchmark

#5192 Adding W&B instrumented Colab for node classification
  CHANGELOG.md
  docs/source/notes/colabs.rst
Labels: 0 - Priority P0, benchmark, example

#5241 Fix test on PyTorch < 1.12
  CHANGELOG.md
  torch_geometric/utils/scatter.py
Labels: bug, 0 - Priority P0, test

#5244 Fix typo in `SAGPool `
  torch_geometric/nn/pool/sag_pool.py
Labels: documentation, 1 - Priority P1, nn, skip-changelog

#5250 Rewrite tests to not depend on currently broken `dblp` dataset
  CHANGELOG.md
  test/data/test_lightning_datamodule.py
  test/loader/test_hgt_loader.py
Labels: bug, 0 - Priority P0, dataset

#5257 Fix broken `DBLP` link
  test/loader/test_hgt_loader.py
Labels: bug, 0 - Priority P0, data

#5256 Ensure that `*.jinja` files are found upon installation
  setup.py
Labels: bug, installation, 0 - Priority P0, skip-changelog

#5254 Enable experimental mode in inference benchmarks
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  torch_geometric/experimental.py
Labels: feature, benchmark

#5253 Parameterize the `run_batch.sh` script for GraphGym
  graphgym/run_batch.sh
Labels: feature, 1 - Priority P1, graphgym, skip-changelog

#5242 `SparseTensor` inference benchmark
  CHANGELOG.md
  benchmark/inference/hetero_gat.py
  benchmark/inference/inference_benchmark.py
  benchmark/inference/utils.py
Labels: 0 - Priority P0, benchmark, nn, loader

#5258 `SparseTensor` support to inference benchmark suite (part 2)
  CHANGELOG.md
  benchmark/inference/hetero_sage.py
  torch_geometric/nn/models/basic_gnn.py
Labels: 0 - Priority P0, benchmark, nn, loader

#5264 Do not fill `InMemoryDataset` cache on `dataset.num_features`
  CHANGELOG.md
  torch_geometric/data/dataset.py
Labels: bug, 0 - Priority P0, dataset

#5262 `PNAConv`: Customize activation function
  CHANGELOG.md
  torch_geometric/nn/conv/pna_conv.py
Labels: feature, 0 - Priority P0, nn

#5271 Refactor `ARMAConv` example
  examples/arma.py
Labels: 0 - Priority P0, refactor, example, skip-changelog

#5073 Add profiling support for benchmark/kernel and benchmark/inference
  benchmark/citation/train_eval.py
  benchmark/inference/inference_benchmark.py
  benchmark/inference/utils.py
  benchmark/kernel/main_performance.py
  benchmark/kernel/train_eval.py
  benchmark/points/train_eval.py
  test/profile/test_profile.py
  torch_geometric/profile/__init__.py
  torch_geometric/profile/profile.py
Labels: feature, 0 - Priority P0, benchmark, skip-changelog

#5276 Fail gracefully on `GLIBC` errors within `torch-spline-conv
  CHANGELOG.md
  torch_geometric/nn/conv/spline_conv.py
Labels: bug, 0 - Priority P0, nn

#5277 Improved name resolving of normalization layers
  CHANGELOG.md
  test/nn/test_resolver.py
  torch_geometric/nn/resolver.py
Labels: feature, 0 - Priority P0, nn

#5270 feat(graphstore): support `num_nodes`, enabling `Tuple[FeatureStore, GraphStore]` in `LightningLinkData`
  CHANGELOG.md
  test/data/test_data.py
  test/data/test_graph_store.py
  test/data/test_hetero_data.py
  test/data/test_lightning_datamodule.py
  torch_geometric/data/data.py
  torch_geometric/data/graph_store.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/testing/feature_store.py
  torch_geometric/testing/graph_store.py
Labels: bug, 0 - Priority P0

#5281 Allow any integer tensors when checking edge_index input to message passing
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/message_passing.py
Labels: feature, 0 - Priority P0, nn

#5290 Add `Aggregation.set_validate_args` method to toggle validation of `dim_size`
  CHANGELOG.md
  test/nn/aggr/test_basic.py
  torch_geometric/nn/aggr/base.py
Labels: feature, 0 - Priority P0, nn

#5298 Minor corrections in `Aggregation.set_validate_args`
  CHANGELOG.md
  test/nn/aggr/test_basic.py
  torch_geometric/nn/aggr/base.py
Labels: feature, 0 - Priority P0, nn

#5299 Fix separating a list of `SparseTensor`
  CHANGELOG.md
  test/data/test_dataset.py
  torch_geometric/data/separate.py
  torch_geometric/loader/cluster.py
Labels: bug, 0 - Priority P0, data

#5308 docs(data): clean up `GraphStore` documentation
  torch_geometric/data/graph_store.py
Labels: documentation, 1 - Priority P1

#5293 Enable `bf16` support in the benchmark scripts
  CHANGELOG.md
  benchmark/citation/appnp.py
  benchmark/citation/arma.py
  benchmark/citation/cheb.py
  benchmark/citation/gat.py
  benchmark/citation/gcn.py
  benchmark/citation/sgc.py
  benchmark/citation/train_eval.py
  benchmark/inference/inference_benchmark.py
  benchmark/kernel/main_performance.py
  benchmark/kernel/train_eval.py
  benchmark/points/edge_cnn.py
  benchmark/points/mpnn.py
  benchmark/points/point_cnn.py
  benchmark/points/point_net.py
  benchmark/points/spline_cnn.py
  benchmark/points/train_eval.py
  torch_geometric/nn/conv/eg_conv.py
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/conv/pdn_conv.py
  torch_geometric/nn/models/basic_gnn.py
Labels: 0 - Priority P0, benchmark, nn

#5307 refactor(data): simplify remote backend `num_nodes` computation
  CHANGELOG.md
  test/data/test_data.py
  test/data/test_graph_store.py
  test/data/test_hetero_data.py
  test/data/test_remote_backend_utils.py
  test/loader/test_neighbor_loader.py
  torch_geometric/data/data.py
  torch_geometric/data/feature_store.py
  torch_geometric/data/graph_store.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/data/remote_backend_utils.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/testing/graph_store.py
Labels: 0 - Priority P0, refactor, loader

#5318 hotfix(loader): check node types independently in `remote_backend_utils`
  CHANGELOG.md
  torch_geometric/data/remote_backend_utils.py
  torch_geometric/loader/link_neighbor_loader.py
Labels: bug, 0 - Priority P0

#5320 Added a PR labeler workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: feature, 0 - Priority P0, skip-changelog
