Repository pyg-team/pytorch_geometric, pull requests merged in 2022-04, with the labels that each got.

#4394 Fix: `num_nodes` in `FixedPoints` transform
  test/transforms/test_fixed_points.py
  torch_geometric/transforms/fixed_points.py
Labels: bug, 0 - Priority P0

#4401 Nightly build
  .github/workflows/codeql_analysis.yml
  .github/workflows/full_testing.yml
  .github/workflows/nightly.yml
  README.md
Labels: installation, feature, 0 - Priority P0

#4402 Fix `summary` matrix in DGI
  torch_geometric/nn/models/deep_graph_infomax.py
Labels: bug, 0 - Priority P0

#4411 Optional dependencies
  .github/workflows/install.yml
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
  docs/README.md
  setup.py
  test/data/test_lightning_datamodule.py
  test/graphgym/test_config_store.py
  test/graphgym/test_graphgym.py
  test/graphgym/test_register.py
  test/nn/conv/test_edge_conv.py
  test/nn/conv/test_gravnet_conv.py
  test/nn/conv/test_message_passing.py
  test/nn/conv/test_spline_conv.py
  test/nn/conv/test_x_conv.py
  test/nn/models/test_basic_gnn.py
  test/nn/models/test_explainer.py
  test/nn/models/test_gnn_explainer.py
  test/nn/models/test_node2vec.py
  test/nn/pool/test_graclus.py
  test/nn/pool/test_voxel_grid.py
  test/nn/test_data_parallel.py
  test/nn/test_resolver.py
  test/nn/unpool/test_knn_interpolate.py
  test/profile/test_profile.py
  test/profile/test_utils.py
  test/transforms/test_gdc.py
  test/transforms/test_grid_sampling.py
  test/transforms/test_knn_graph.py
  test/transforms/test_radius_graph.py
  test/transforms/test_to_superpixels.py
  test/utils/test_convert.py
  test/utils/test_geodesic.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/datasets/karate.py
  torch_geometric/graphgym/config.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/nn/models/mlp.py
  torch_geometric/nn/resolver.py
  torch_geometric/nn/sequential.py
  torch_geometric/testing.py
Labels: feature, 0 - Priority P0

#4428 Fix the original broken download url of DBP15K
  torch_geometric/datasets/dbp15k.py
Labels: bug, 0 - Priority P0

#4429 Clean up warnings
  setup.cfg
  test/data/test_data.py
  test/nn/conv/test_spline_conv.py
  test/utils/test_train_test_split_edges.py
  torch_geometric/utils/random.py
Labels: 0 - Priority P0, refactor

#4431 Dynamic nightly versioning
  .github/workflows/nightly.yml
Labels: 0 - Priority P0, refactor

#4379 Support for `LSTM` aggregator in `SAGEConv`
  test/nn/conv/test_sage_conv.py
  torch_geometric/nn/conv/sage_conv.py
Labels: feature, help wanted, 0 - Priority P0, message passing

#4396 Link level `NeighborLoader`
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/typing.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/mask.py
Labels: feature, help wanted, 0 - Priority P0

#4439 Fix `LinkNeighborLoader` in case `src_node_type = dst_node_type`
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_neighbor_loader.py
Labels: bug, 0 - Priority P0

#4441 Convert edge types input for `LinkNeighborLoader` to canonical form.
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_neighbor_loader.py
Labels: bug, 0 - Priority P0, loader

#4442 Add Geom-GCN splits to `Planetoid` dataset
  torch_geometric/datasets/planetoid.py
Labels: feature, 0 - Priority P0, dataset

#4437 Add support for projecting features before aggregation in `SAGEConv`
  test/nn/conv/test_sage_conv.py
  torch_geometric/nn/conv/sage_conv.py
Labels: help wanted, 1 - Priority P1, message passing

#4448 Custom `explain_message` test
  test/nn/models/test_explainer.py
  torch_geometric/nn/conv/message_passing.py
Labels: 0 - Priority P0, test, explain

#4504 `HeteroData`: `num_features` implementation
  test/data/test_hetero_data.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
Labels: feature, 0 - Priority P0, data

#4486 Fix `from_networkx` in case where attributes are tensors
  test/utils/test_convert.py
  torch_geometric/utils/convert.py
Labels: bug, 0 - Priority P0

#4479 Add `HeteroData` support to `RemoveIsolatedNodes`
  test/transforms/test_remove_isolated_nodes.py
  torch_geometric/transforms/remove_isolated_nodes.py
Labels: feature, 0 - Priority P0

#4509 fix minor bug in `LinkNeighborLoader` when data.x does not exist
  torch_geometric/loader/link_neighbor_loader.py
Labels: bug

#4506 Fix `DimeNet` envelope bug with missing clamping
  torch_geometric/nn/models/dimenet.py
Labels: bug, 0 - Priority P0, message passing

#4511 Implement Lightning module for GraphGym
  setup.py
  test/graphgym/test_graphgym.py
  torch_geometric/graphgym/model_builder.py
Labels: 0 - Priority P0, graphgym, refactor

#4508 Test labels in `LinkNeighborLoader`
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_neighbor_loader.py
Labels: documentation, 0 - Priority P0, test

#4516 Better fallback in case `pytorch-lightning` is missing
  torch_geometric/graphgym/model_builder.py
Labels: 0 - Priority P0, refactor

#4416 Unsupervised `GraphSAGE` example on `PPI`
  README.md
  examples/graph_sage_unsup_ppi.py
Labels: feature, 0 - Priority P0, example

#4025 Add temporal sampling support to `NeighborLoader`
  test/loader/test_neighbor_loader.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/testing.py
Labels: feature, 0 - Priority P0, loader

#4534 `FeatureStore` abstraction definition
  test/data/test_feature_store.py
  torch_geometric/data/feature_store.py
  torch_geometric/typing.py
  torch_geometric/utils/mixin.py
Labels: feature, 0 - Priority P0
