Repository pyg-team/pytorch_geometric, pull requests merged in 2022-10, with the labels that each got.

#5598 Fix C++ example compilation by linking cusparse
  examples/cpp/CMakeLists.txt
Labels: bug, installation, 0 - Priority P0, skip-changelog

#5601 Avoid modifying `mode_kwargs` in `MultiAggregation`
  CHANGELOG.md
  torch_geometric/nn/aggr/multi.py
Labels: bug, 0 - Priority P0, nn

#5602 Fix `LinkNeighborLoader` with sorted timestamps
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: bug, 0 - Priority P0

#5548 Add basic augmentation methods
  CHANGELOG.md
  README.md
  test/utils/test_augmentation.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/augmentation.py
Labels: feature, 1 - Priority P1, utils

#5599 Add `SSGConv` to `torch_geometric.nn.conv`
  CHANGELOG.md
  README.md
  test/nn/conv/test_ssg_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/ssg_conv.py
Labels: feature, 1 - Priority P1, nn

#5603 [Type Hints] `utils.contains_isolated_nodes`
  CHANGELOG.md
  test/utils/test_isolated.py
  torch_geometric/utils/isolated.py
Labels: 0 - Priority P0, utils, type hints

#5610 Fix `RGCN+pyg-lib` for `LongTensor` input
  CHANGELOG.md
  examples/rgcn.py
  torch_geometric/nn/conv/rgcn_conv.py
Labels: bug, 0 - Priority P0, nn, example

#5587 Add `assortativity` to `torch_geometric.utils`
  CHANGELOG.md
  test/utils/test_assortativity.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/assortativity.py
Labels: feature, 1 - Priority P1, utils

#5614 Fixing TorchScript support in `BatchNorm`
  .github/workflows/full_testing.yml
  CHANGELOG.md
  torch_geometric/nn/norm/batch_norm.py
Labels: bug, 0 - Priority P0, nn

#5627 Support `in_channels` with `tuple` in `GENConv` for bipartite message passing
  CHANGELOG.md
  test/nn/conv/test_gen_conv.py
  torch_geometric/nn/conv/gen_conv.py
Labels: feature, 1 - Priority P1, nn

#5642 Add ratio adjustment in `RandomLinkSplit` when not enough negative edges exist
  CHANGELOG.md
  test/transforms/test_random_link_split.py
  torch_geometric/transforms/random_link_split.py
Labels: 2 - Priority P2, transform

#5641 Refactor `GENConv` linear layers for lazy init and fix doc for bipartite graphs
  CHANGELOG.md
  test/nn/conv/test_gen_conv.py
  torch_geometric/nn/conv/gen_conv.py
Labels: 1 - Priority P1, nn

#5510 Minor fix for `pyg-lib` usage in `HeteroLinear` and `RGCNConv`
  .github/workflows/full_testing.yml
  .github/workflows/testing.yml
  test/nn/conv/test_rgcn_conv.py
  test/nn/test_to_hetero_transformer.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/dense/linear.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#5672 Fix `test_mask_feature` CI failure
  test/utils/test_augmentation.py
  torch_geometric/utils/augmentation.py
Labels: 0 - Priority P0, test, skip-changelog, utils

#5659 [Type Hints] `utils.remove_isolated_nodes`
  CHANGELOG.md
  test/utils/test_isolated.py
  torch_geometric/utils/isolated.py
Labels: 0 - Priority P0, utils, type hints

#5665 [Type Hints] `utils.normalized_cut`
  CHANGELOG.md
  test/utils/test_normalized_cut.py
  torch_geometric/utils/normalized_cut.py
Labels: 0 - Priority P0, utils, type hints

#5666 [Type Hints] `datasets.ICEWS18`
  CHANGELOG.md
  torch_geometric/datasets/icews.py
Labels: 0 - Priority P0, dataset, type hints

#5667 [TypeHints] `OneHotDegree`
  CHANGELOG.md
  torch_geometric/transforms/one_hot_degree.py
Labels: 0 - Priority P0, transform, type hints

#5668 [TypeHints] `ToDense`
  CHANGELOG.md
  torch_geometric/transforms/to_dense.py
Labels: 0 - Priority P0, transform, type hints

#5669 [TypeHints] `Node2Vec`
  CHANGELOG.md
  test/nn/models/test_node2vec.py
  torch_geometric/nn/models/node2vec.py
Labels: 0 - Priority P0, nn, type hints

#5664 [Type Hints] `DenseSAGEConv` and `DenseGCNConv`
  CHANGELOG.md
  test/nn/dense/test_dense_gcn_conv.py
  test/nn/dense/test_dense_sage_conv.py
  torch_geometric/nn/dense/dense_gcn_conv.py
  torch_geometric/nn/dense/dense_sage_conv.py
Labels: 0 - Priority P0, nn, type hints

#5674 Add `CHANGELOG` note to contributing guidelines
  CONTRIBUTING.md
Labels: documentation, 0 - Priority P0, skip-changelog

#5673 [Type Hints] `transforms.Cartesian`
  CHANGELOG.md
  torch_geometric/transforms/cartesian.py
Labels: 0 - Priority P0, transform, type hints

#5675 [Type Hints] `transforms.LocalCartesian`
  CHANGELOG.md
  torch_geometric/transforms/local_cartesian.py
Labels: 0 - Priority P0, transform, type hints

#5676 [Type Hints] `transforms.Polar`
  CHANGELOG.md
  torch_geometric/transforms/polar.py
Labels: 0 - Priority P0, transform, type hints

#5678 [Type Hints] `NELL` `PPI` `MoleculeNet` `QM7` `ZINC`
  CHANGELOG.md
  torch_geometric/datasets/molecule_net.py
  torch_geometric/datasets/nell.py
  torch_geometric/datasets/ppi.py
  torch_geometric/datasets/qm7.py
  torch_geometric/datasets/zinc.py
Labels: 0 - Priority P0, dataset, type hints

#5679 `conda` installation for PyG 2.1
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  README.md
  conda/pyg/README.md
  conda/pyg/build_conda.sh
  conda/pyg/meta.yaml
  conda/pytorch-geometric/README.md
  conda/pytorch-geometric/build_conda.sh
  conda/pytorch-geometric/meta.yaml
  docs/source/notes/installation.rst
  docs/source/notes/quick-start.html
Labels: installation, feature, documentation, 0 - Priority P0, skip-changelog

#5683 [Type Hints] `utils.dense_to_sparse`
  CHANGELOG.md
  test/utils/test_sparse.py
  torch_geometric/utils/sparse.py
Labels: 0 - Priority P0, utils, type hints

#5684 [Type Hints] `nn.InstanceNorm`
  CHANGELOG.md
  torch_geometric/nn/norm/instance_norm.py
Labels: 0 - Priority P0, utils, type hints

#5686 Fix `path` in `heter_conv_dblp` example
  CHANGELOG.md
  examples/hetero/hetero_conv_dblp.py
Labels: 1 - Priority P1, example

#5682 [Type Hints] `utils.to_dense_adj` and `utils.get_laplacian`
  CHANGELOG.md
  test/utils/test_get_laplacian.py
  test/utils/test_to_dense_adj.py
  torch_geometric/utils/get_laplacian.py
  torch_geometric/utils/to_dense_adj.py
Labels: 0 - Priority P0, utils, type hints

#5685 [Type Hints] `transforms.Distance`
  CHANGELOG.md
  torch_geometric/transforms/distance.py
Labels: 0 - Priority P0, transform, type hints

#5687 [Type Hints] `nn.max_pool_x`
  CHANGELOG.md
  test/nn/pool/test_max_pool.py
  torch_geometric/nn/pool/max_pool.py
Labels: 0 - Priority P0, nn, type hints

#5688 [Type Hints] `nn.DeepGraphInfomax`
  CHANGELOG.md
  test/nn/models/test_deep_graph_infomax.py
  torch_geometric/nn/models/deep_graph_infomax.py
Labels: 0 - Priority P0, nn, type hints

#5695 [Type Hints] `datasets.Reddit` and `datasets.Reddit2`
  CHANGELOG.md
  torch_geometric/datasets/reddit.py
  torch_geometric/datasets/reddit2.py
Labels: 0 - Priority P0, dataset, type hints

#5696 Support `np.memmap` in `NeighborLoader`
  CHANGELOG.md
  test/data/test_batch.py
  test/loader/test_neighbor_loader.py
  torch_geometric/data/storage.py
  torch_geometric/loader/utils.py
Labels: feature, 0 - Priority P0, loader, data

#5699 [Type Hints] `nn.DeepGCNLayer`
  CHANGELOG.md
  torch_geometric/nn/models/deepgcn.py
Labels: 0 - Priority P0, nn, type hints

#5706 [Type Hints] `nn.avg_pool_x`
  CHANGELOG.md
  test/nn/pool/test_avg_pool.py
  torch_geometric/nn/pool/avg_pool.py
Labels: 0 - Priority P0, type hints

#5702 [Type Hints] transform.RandomShear
  CHANGELOG.md
  torch_geometric/transforms/random_shear.py
Labels: 0 - Priority P0, nn, type hints

#5697 Fix `pyg-lib` `hetero_neighbor_sampler` usage
  torch_geometric/sampler/neighbor_sampler.py
Labels: bug, 0 - Priority P0, loader, skip-changelog

#5701 [Type Hints] `datasets.ModelNet`
  CHANGELOG.md
  torch_geometric/datasets/modelnet.py
Labels: 0 - Priority P0, dataset, type hints

#5704 Add test for `DeepGCNLayer`
  CHANGELOG.md
  test/nn/models/test_deepgcn.py
Labels: 0 - Priority P0, test

#5703 [Type Hints] `nn.max_pool_neighbor_x`
  CHANGELOG.md
  torch_geometric/nn/pool/max_pool.py
Labels: 0 - Priority P0, nn, type hints

#5707 [Type Hints] `nn.avg_pool_neighbor_x`
  CHANGELOG.md
  torch_geometric/nn/pool/avg_pool.py
Labels: 0 - Priority P0, nn, type hints

#5710 [Type Hints] `nn.GraphUNet` and `nn.SchNet`
  CHANGELOG.md
  test/nn/models/test_graph_unet.py
  test/nn/models/test_schnet.py
  torch_geometric/nn/models/graph_unet.py
  torch_geometric/nn/models/schnet.py
Labels: 0 - Priority P0, nn, type hints

#5714 [TypeHints] Random Transforms
  CHANGELOG.md
  torch_geometric/transforms/random_flip.py
  torch_geometric/transforms/random_jitter.py
  torch_geometric/transforms/random_rotate.py
  torch_geometric/transforms/random_scale.py
Labels: 0 - Priority P0, transform, type hints

#5722 [Type Hints] `transforms.KNNGraph` and `transforms.FaceToEdge`
  CHANGELOG.md
  torch_geometric/transforms/face_to_edge.py
  torch_geometric/transforms/knn_graph.py
Labels: 0 - Priority P0, transform, type hints

#5729 [Type Hints] `nn.GraphSizeNorm`
  CHANGELOG.md
  test/nn/norm/test_graph_size_norm.py
  torch_geometric/nn/norm/graph_size_norm.py
Labels: 0 - Priority P0, nn, type hints

#5728 Extended dataset cheatsheet in documentation: `Entities`, `RelLinkPredDataset` and `GEDDataset`
  torch_geometric/datasets/entities.py
  torch_geometric/datasets/ged_dataset.py
  torch_geometric/datasets/rel_link_pred_dataset.py
Labels: feature, 1 - Priority P1, dataset, skip-changelog

#5726 [Type hints] `nn.ARGVA` and `nn.ARGA`
  CHANGELOG.md
  test/nn/models/test_autoencoder.py
  torch_geometric/nn/models/autoencoder.py
Labels: 0 - Priority P0, nn, type hints

#5725 [Type hints] `nn.SignedGCN`
  CHANGELOG.md
  test/nn/models/test_signed_gcn.py
  torch_geometric/nn/models/signed_gcn.py
Labels: 0 - Priority P0, nn, type hints

#5730 [Type Hints] `nn.ChebConv`
  CHANGELOG.md
  torch_geometric/nn/conv/cheb_conv.py
Labels: 0 - Priority P0, nn, type hints

#5743 [Type Hints] transforms: `TargetIndegree`, `ToSLIC`, and `SVDFeatureReduction`
  CHANGELOG.md
  torch_geometric/transforms/svd_feature_reduction.py
  torch_geometric/transforms/target_indegree.py
  torch_geometric/transforms/to_superpixels.py
Labels: 0 - Priority P0, transform, type hints

#5734 [Type Hints] `nn.avg_pool`
  CHANGELOG.md
  torch_geometric/nn/pool/avg_pool.py
Labels: 0 - Priority P0, nn, type hints

#5700 Add `node_types` argument to `transforms.Constant`
  CHANGELOG.md
  examples/hetero/hetero_conv_dblp.py
  examples/hetero/hgt_dblp.py
  test/transforms/test_constant.py
  torch_geometric/nn/pool/avg_pool.py
  torch_geometric/nn/pool/max_pool.py
  torch_geometric/transforms/constant.py
Labels: feature, 1 - Priority P1, nn, example, transform

#5732 [Type Hints] `transforms.Spherical` and `transforms.PointPairFeatures`
  CHANGELOG.md
  torch_geometric/transforms/point_pair_features.py
  torch_geometric/transforms/spherical.py
Labels: 0 - Priority P0, transform, type hints

#5733 [Type Hints] `transforms.SamplePoints`, `transforms.FixedPoints` and `transforms.LaplacianLambdaMax`
  CHANGELOG.md
  torch_geometric/transforms/fixed_points.py
  torch_geometric/transforms/laplacian_lambda_max.py
  torch_geometric/transforms/sample_points.py
Labels: 0 - Priority P0, transform, type hints

#5715 [Type Hints] `nn.RENet`
  CHANGELOG.md
  test/nn/models/test_re_net.py
  torch_geometric/nn/models/re_net.py
Labels: 0 - Priority P0, nn, type hints

#5737 [Type Hints] `utils.train_test_split_edges`
  CHANGELOG.md
  torch_geometric/utils/train_test_split_edges.py
Labels: 0 - Priority P0, utils, type hints

#5747 [Type Hints] `datasets.YELP`
  CHANGELOG.md
  torch_geometric/datasets/yelp.py
Labels: 0 - Priority P0, dataset, type hints

#5736 [Type Hints] `transforms.SIGN`, `utils.to_scipy_sparse_matrix` and `utils.from_scipy_sparse_matrix`
  CHANGELOG.md
  torch_geometric/transforms/sign.py
  torch_geometric/utils/convert.py
Labels: 0 - Priority P0, transform, utils, type hints

#5717 `LinkNeighborLoader`: Disjoint sampling for links
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: 0 - Priority P0, loader

#5753 [Type Hints] Missing type hints in `transforms.*`
  CHANGELOG.md
  torch_geometric/transforms/add_self_loops.py
  torch_geometric/transforms/center.py
  torch_geometric/transforms/compose.py
  torch_geometric/transforms/delaunay.py
  torch_geometric/transforms/gcn_norm.py
  torch_geometric/transforms/generate_mesh_normals.py
  torch_geometric/transforms/linear_transformation.py
  torch_geometric/transforms/local_degree_profile.py
  torch_geometric/transforms/normalize_features.py
  torch_geometric/transforms/normalize_rotation.py
  torch_geometric/transforms/normalize_scale.py
  torch_geometric/transforms/radius_graph.py
  torch_geometric/transforms/random_link_split.py
  torch_geometric/transforms/random_node_split.py
  torch_geometric/transforms/remove_isolated_nodes.py
  torch_geometric/transforms/to_device.py
  torch_geometric/transforms/to_sparse_tensor.py
  torch_geometric/transforms/to_undirected.py
  torch_geometric/transforms/two_hop.py
Labels: 0 - Priority P0, transform, type hints

#5760 [Type Hints] `datasets.MNISTSuperpixels`
  CHANGELOG.md
  torch_geometric/datasets/mnist_superpixels.py
Labels: 0 - Priority P0, dataset, type hints

#5763 Support for `input_time` in `NeighborLoader`
  CHANGELOG.md
  test/loader/test_hgt_loader.py
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/hgt_sampler.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: feature, 0 - Priority P0, loader, data

#5757 [Type Hints] `nn.DiffGroupNorm`
  CHANGELOG.md
  test/nn/norm/test_diff_group_norm.py
  torch_geometric/nn/norm/diff_group_norm.py
Labels: 0 - Priority P0, nn, type hints

#5767 [Type Hints] `utils.is_undirected` and `utils.to_undirected`
  CHANGELOG.md
  test/utils/test_undirected.py
  torch_geometric/nn/dense/diff_pool.py
  torch_geometric/utils/sort_edge_index.py
  torch_geometric/utils/undirected.py
Labels: 0 - Priority P0, nn, utils, type hints

#5766 [Type Hints] `nn.AttentiveFP`
  CHANGELOG.md
  torch_geometric/nn/models/attentive_fp.py
Labels: 0 - Priority P0, nn, type hints

#5768 [Type Hints] `to_networkx`, `from_networkx`, `erdos_renyi_graph`, etc
  CHANGELOG.md
  torch_geometric/utils/convert.py
  torch_geometric/utils/random.py
Labels: 0 - Priority P0, utils, type hints

#5771 Add `temporal_strategy` to the `LightningNodeData`
  torch_geometric/data/lightning_datamodule.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#5758 [Type Hints] `nn.MetaLayer`
  CHANGELOG.md
  test/nn/test_meta.py
  torch_geometric/nn/meta.py
Labels: 0 - Priority P0, nn, type hints

#5716 [Type Hints] `nn.GNNExplainer`
  CHANGELOG.md
  test/nn/models/test_gnn_explainer.py
  torch_geometric/nn/models/gnn_explainer.py
Labels: 0 - Priority P0, nn, type hints

#5731 [Type Hints] `nn.TopKPooling`
  CHANGELOG.md
  test/nn/pool/test_topk_pool.py
  torch_geometric/nn/pool/topk_pool.py
Labels: 0 - Priority P0, nn, type hints

#5738 [Type Hints] `nn.EdgePooling`
  CHANGELOG.md
  test/nn/pool/test_edge_pool.py
  torch_geometric/nn/pool/edge_pool.py
Labels: 0 - Priority P0, nn, type hints

#5772 Extended dataset cheatsheet in documentation: `MNISTSuperpixels`, `FAUST`, `ShapeNet`, `ModelNet`, and `CoMA`
  torch_geometric/datasets/coma.py
  torch_geometric/datasets/faust.py
  torch_geometric/datasets/mnist_superpixels.py
  torch_geometric/datasets/modelnet.py
  torch_geometric/datasets/shapenet.py
Labels: feature, 1 - Priority P1, dataset, skip-changelog

#5781 [Type Hints] datasets.WILLOWObjectClass PascalVOCKeypoints and PascalPF
  CHANGELOG.md
  torch_geometric/datasets/pascal.py
  torch_geometric/datasets/pascal_pf.py
  torch_geometric/datasets/willow_object_class.py
Labels: 0 - Priority P0, dataset, type hints

#5775 Expose `disjoint` sampling option to `NeighborLoader` and `LinkNeighborLoader`
  CHANGELOG.md
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: feature, 0 - Priority P0, loader

#5784 Sort local neighborhoods according to time via `np.lexsort`
  torch_geometric/sampler/utils.py
Labels: bug, 0 - Priority P0, loader, skip-changelog

#5788 Fix broken Windows tests
  test/data/test_batch.py
  test/loader/test_neighbor_loader.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#5787 Added `return_semantic_attention_weights` parameter to `HANConv`
  CHANGELOG.md
  torch_geometric/nn/conv/han_conv.py
Labels: feature, 1 - Priority P1, nn

#5801 Using edge weight in `AddLaplacianEigenvectorPE` transform
  torch_geometric/transforms/add_positional_encoding.py
Labels: feature, 0 - Priority P0, transform, skip-changelog

#5797 [Type Hints] `datasets.TOSCA`, `MixHopSyntheticDataset`, `PCPNetDataset` and `JODIE`
  CHANGELOG.md
  torch_geometric/datasets/jodie.py
  torch_geometric/datasets/mixhop_synthetic_dataset.py
  torch_geometric/datasets/pcpnet_dataset.py
  torch_geometric/datasets/tosca.py
Labels: 0 - Priority P0, dataset, type hints

#5798 [Type Hints] `datasets.SHREC2016`
  CHANGELOG.md
  torch_geometric/datasets/shrec2016.py
Labels: 0 - Priority P0, dataset, type hints

#5799 [Type Hints] `datasets.S3DIS`
  CHANGELOG.md
  torch_geometric/datasets/s3dis.py
Labels: 0 - Priority P0, dataset, type hints

#5800 [Type Hints] `datasets.UPFD`
  CHANGELOG.md
  torch_geometric/datasets/upfd.py
Labels: 0 - Priority P0, dataset, type hints

#5802 `HGTConv`: Check `out_channels % heads == 0`
  torch_geometric/nn/conv/hgt_conv.py
Labels: feature, 0 - Priority P0, nn, skip-changelog

#5811 [Type Hints] `datasets.SNAPDataset`, `SuiteSparseMatrixCollection` and `WordNet18`
  CHANGELOG.md
  torch_geometric/datasets/snap_dataset.py
  torch_geometric/datasets/suite_sparse.py
  torch_geometric/datasets/word_net.py
Labels: 0 - Priority P0, dataset, type hints

#5806 [Type Hints] `nn.DimeNet`
  CHANGELOG.md
  test/nn/models/test_dimenet.py
  torch_geometric/nn/models/dimenet.py
Labels: 0 - Priority P0, nn, type hints

#5810 [Type Hints] `nn.SAGPooling`
  CHANGELOG.md
  test/nn/pool/test_sag_pool.py
  torch_geometric/nn/pool/sag_pool.py
Labels: 0 - Priority P0, nn, type hints

#5815 `BaseStorage`: Fix `setter` and `getter`
  CHANGELOG.md
  test/data/test_storage.py
  torch_geometric/data/storage.py
Labels: bug, 0 - Priority P0, data

#5819 Fix: `VirtualNode` mistakenly treats node features as edge features
  CHANGELOG.md
  torch_geometric/transforms/virtual_node.py
Labels: bug, 0 - Priority P0, transform

#5820 `LightningDataModule`: Add support for passing custom `sampler`
  CHANGELOG.md
  test/data/test_lightning_datamodule.py
  torch_geometric/data/lightning_datamodule.py
Labels: feature, 0 - Priority P0, data

#5823 Added a "Link Prediction on MovieLens" Colab Notebook
  CHANGELOG.md
  docs/source/notes/colabs.rst
Labels: feature, documentation, 0 - Priority P0

#5828 Adding type hints for shapenet
  CHANGELOG.md
  torch_geometric/datasets/shapenet.py
Labels: 0 - Priority P0, dataset, skip-changelog

#5833 Improve `data.validate()` to check for `edge_index.shape`
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/datasets/shapenet.py
Labels: feature, 0 - Priority P0, dataset, data, skip-changelog

#5826 refactor(sampler): separate `node_sample` and `edge_sample`
  torch_geometric/sampler/neighbor_sampler.py
Labels: 0 - Priority P0, refactor, skip-changelog

#5830 Enable VTune ITT in inference benchmarks
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
Labels: feature, 1 - Priority P1, benchmark

#5842 [Type Hints] `nn.DenseGraphConv`, `DenseGINConv`, `GAE`, `VGAE`
  CHANGELOG.md
  test/nn/dense/test_dense_gin_conv.py
  test/nn/dense/test_dense_graph_conv.py
  test/nn/models/test_autoencoder.py
  torch_geometric/nn/dense/dense_gin_conv.py
  torch_geometric/nn/dense/dense_graph_conv.py
  torch_geometric/nn/models/autoencoder.py
Labels: 0 - Priority P0, nn, type hints

#5848 fix(data): do not attempt to infer sizes from edges with unset sizes
  torch_geometric/data/remote_backend_utils.py
Labels: data, skip-changelog

#5851 [Type Hints] `utils.geodesic_distance` and `utils.tree_decomposition`
  CHANGELOG.md
  torch_geometric/utils/geodesic.py
  torch_geometric/utils/tree_decomposition.py
Labels: 0 - Priority P0, utils, type hints

#5852 [Type Hints] `nn.PANPooling`
  CHANGELOG.md
  test/nn/pool/test_pan_pool.py
  torch_geometric/nn/pool/pan_pool.py
Labels: 0 - Priority P0, nn, type hints

#5858 Fix type in `k_hop_subgraph` documentation
  torch_geometric/utils/subgraph.py
Labels: 0 - Priority P0, skip-changelog, utils
