Repository pyg-team/pytorch_geometric, pull requests merged in 2022-02, with the labels that each got.

#3997 Test model packaging via `torch.package`
  test/nn/models/test_basic_gnn.py
Labels: feature, Priority P0, test

#3765 JIT edge update
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
Labels: feature

#4027 `to_hetero` fix for leaf modules (e.g., `torch_geometric.nn.BatchNorm`)
  test/nn/test_to_hetero_transformer.py
  torch_geometric/nn/fx.py
Labels: bug, Priority P0

#3990 Make models compatible to Captum
  examples/captum_explainability.py
  setup.py
  test/nn/models/test_explainer.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/explainer.py
  torch_geometric/nn/models/gnn_explainer.py
Labels: feature, Priority P0, refactor

#4041 Add `class-resolver` package
  .github/workflows/building-pyg-conda.yml
  .github/workflows/building-rusty1s-conda.yml
  .github/workflows/testing.yml
  examples/correct_and_smooth.py
  setup.py
  test/nn/models/test_mlp.py
  torch_geometric/nn/models/linkx.py
  torch_geometric/nn/models/mlp.py
Labels: Priority P0, refactor

#4042 `BasicGNN`: Final `Linear` transform
  test/graphgym/test_config_store.py
  test/nn/models/test_basic_gnn.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/nn/models/mlp.py
Labels: Priority P0, refactor

#4045 Updates to `config_store`
  test/graphgym/my_config.yaml
  test/graphgym/test_config_store.py
  torch_geometric/graphgym/config_store.py
Labels: Priority P0, refactor

#3494 Add custom metrics and logging options
  test/graphgym/example_node.yml
  test/graphgym/test_graphgym.py
  test/loader/test_hgt_loader.py
  test/loader/test_neighbor_loader.py
  test/loader/test_neighbor_sampler.py
  torch_geometric/graphgym/__init__.py
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/logger.py
  torch_geometric/graphgym/register.py
  torch_geometric/graphgym/train.py
  torch_geometric/graphgym/utils/epoch.py
Labels: help wanted, Priority P0, graphgym

#4047 Fix TorchScript support for `torch-cluster` functions
  test/nn/pool/test_pool.py
  torch_geometric/nn/pool/__init__.py
Labels: bug, Priority P0

#4059 Improve `dropout_adj` efficiency
  test/utils/test_dropout.py
  torch_geometric/utils/dropout.py
Labels: feature, Priority P0

#4075 `Sequential`: `OrderedDict` support
  test/nn/test_sequential.py
  torch_geometric/nn/sequential.jinja
  torch_geometric/nn/sequential.py
Labels: feature, Priority P0, refactor

#4074 added kwargs to fakedataset
  test/datasets/test_fake.py
  torch_geometric/datasets/fake.py
Labels: Priority P1, refactor

#4086 Fix lazy initialization for PyTorch 1.7
  torch_geometric/nn/dense/linear.py
Labels: bug, Priority P0

#4085 Updates to `config_store`
  test/graphgym/test_config_store.py
  torch_geometric/graphgym/config_store.py
Labels: Priority P0, refactor

#4031 Graph Relational Attention
  examples/rgat_conv.py
  test/nn/conv/test_rgat_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/rgat_conv.py
Labels: feature, help wanted, Priority P0

#4110 `RGATConv`: Improvements and fixes
  README.md
  examples/rgat.py
  examples/rgat_conv.py
  examples/rgcn.py
  test/nn/conv/test_rgat_conv.py
  torch_geometric/nn/conv/rgat_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
Labels: feature, Priority P0, refactor

#4103 [quiver-team] Add Quiver example for multi-gpu training using GraphSage
  README.md
  docs/source/index.rst
  examples/quiver/README.md
  examples/quiver/multi_gpu_quiver.py
  examples/quiver/single_gpu_quiver.py
Labels: feature, Priority P0

#4106 Automatic eigenvalue approximation in ChebConv
  torch_geometric/nn/conv/cheb_conv.py
Labels: bug, Priority P0, refactor

#4133 Update `setup.py`: Make more requirements optional
  .github/workflows/install.yml
  setup.py
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/models/act.py
  torch_geometric/graphgym/models/gnn.py
  torch_geometric/graphgym/utils/comp_budget.py
Labels: feature, Priority P0, refactor

#4161 Optional `batch` in `global_pooling`
  test/nn/glob/test_glob.py
  torch_geometric/nn/glob/glob.py
Labels: feature, Priority P0, refactor

#4158 [DOC] Adding shapes
  test/nn/conv/test_general_conv.py
  torch_geometric/nn/conv/edge_conv.py
  torch_geometric/nn/conv/gen_conv.py
  torch_geometric/nn/conv/general_conv.py
  torch_geometric/nn/conv/ppf_conv.py
  torch_geometric/nn/conv/supergat_conv.py
  torch_geometric/nn/conv/wl_conv.py
  torch_geometric/nn/conv/x_conv.py
Labels: documentation, Priority P0

#4163 `VirtualNode` transform
  test/transforms/test_virtual_node.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/add_self_loops.py
  torch_geometric/transforms/virtual_node.py
Labels: feature, Priority P0

#4172 Remove `GoogleDriveDownloader` dependency
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
  setup.py
  torch_geometric/datasets/amazon_products.py
  torch_geometric/datasets/attributed_graph_dataset.py
  torch_geometric/datasets/dbp15k.py
  torch_geometric/datasets/flickr.py
  torch_geometric/datasets/reddit2.py
  torch_geometric/datasets/upfd.py
  torch_geometric/datasets/yelp.py
Labels: bug, Priority P0, refactor
