Repository pyg-team/pytorch_geometric, pull requests merged in 2022-07, with the labels that each got.

#4908 Fix test in `LinkNeighborLoader`
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  torch_geometric/nn/models/autoencoder.py
Labels: bug, 0 - Priority P0, test

#4910 Fixing `to_heterogeneous` to work with GPU
  torch_geometric/data/data.py
Labels: bug, 0 - Priority P0, data

#4864 Refactor `PNAConv` to rely on new `Aggregation`
  CHANGELOG.md
  test/nn/aggr/test_scaler.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/scaler.py
  torch_geometric/nn/conv/pna_conv.py
Labels: 0 - Priority P0, refactor, nn

#4897 Add opencontainers image-spec to `Dockerfile`
  docker/Dockerfile
Labels: installation, feature, 0 - Priority P0

#4932 Fixed `data.subgraph` for 0-dim tensors
  CHANGELOG.md
  torch_geometric/data/storage.py
  torch_geometric/loader/cluster.py
Labels: bug, 0 - Priority P0, data

#4934 Add TorchScript support to `DegreeScalerAggregation`
  .github/workflows/testing.yml
  CHANGELOG.md
  test/nn/aggr/test_scaler.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/basic.py
  torch_geometric/nn/aggr/scaler.py
  torch_geometric/nn/conv/pna_conv.py
  torch_geometric/utils/degree.py
Labels: bug, 0 - Priority P0, nn

#4931 Fix: `len(batch) == batch.num_graphs`
  CHANGELOG.md
  test/data/test_batch.py
  test/datasets/test_enzymes.py
  test/datasets/test_planetoid.py
  test/loader/test_dataloader.py
  test/loader/test_shadow.py
  test/transforms/test_rooted_subgraph.py
  test/transforms/test_to_superpixels.py
  torch_geometric/data/batch.py
  torch_geometric/data/collate.py
Labels: bug, 0 - Priority P0, data

#4935 Fix `degree` bug in `PNAConv`
  CHANGELOG.md
  torch_geometric/nn/aggr/scaler.py
Labels: bug, 0 - Priority P0, nn

#4927 Add notebook tutorial for `torch_geometric.nn.aggr` package
  CHANGELOG.md
  docs/source/notes/colabs.rst
Labels: documentation, 0 - Priority P0, refactor, nn

#4926 Add `normalization_resolver` to resolve normalization layers
  CHANGELOG.md
  test/nn/test_resolver.py
  torch_geometric/nn/resolver.py
Labels: feature, 0 - Priority P0, nn

#4922 `GraphStore`: `Data`, `HeteroData` respect `is_sorted`
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  torch_geometric/data/data.py
  torch_geometric/data/graph_store.py
  torch_geometric/data/hetero_data.py
Labels: feature, 0 - Priority P0

#4929 `NeighborLoader`: support temporal sampling with `(FeatureStore, GraphStore)`
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/loader/neighbor_loader.py
Labels: bug, 0 - Priority P0

#4944 Add node-wise normalization mode in `LayerNorm`
  CHANGELOG.md
  test/nn/norm/test_layer_norm.py
  torch_geometric/nn/norm/layer_norm.py
Labels: feature, 0 - Priority P0, nn

#4948 Fix `MemPooling` test
  test/nn/pool/test_mem_pool.py
Labels: bug, 0 - Priority P0, test

#4862 Make benchmark arguments more flexible
  CHANGELOG.md
  benchmark/loader/neighbor_loader.py
Labels: 1 - Priority P1, refactor, benchmark

#4951 Support `normalization_resolver` in `MLP`
  CHANGELOG.md
  test/nn/models/test_mlp.py
  torch_geometric/nn/models/mlp.py
Labels: feature, 0 - Priority P0, nn

#4903 Add `unbatch_edge_index`
  CHANGELOG.md
  test/utils/test_unbatch.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/unbatch.py
Labels: feature, 0 - Priority P0, data

#4963 Fix an indent bug for `HGT` in documentation
  docs/source/notes/heterogeneous.rst
Labels: bug, documentation, 1 - Priority P1

#4962 `GraphStore`: handle zero-sized edge indices
  CHANGELOG.md
  torch_geometric/data/graph_store.py
Labels: bug, 0 - Priority P0

#4958 Support `normalization_resolver` in `BasicGNN`
  CHANGELOG.md
  test/graphgym/test_config_store.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/nn/models/mlp.py
Labels: feature, 0 - Priority P0, refactor, nn

#4959 Fix `norm` in `examples` and `dmon_pool`
  CHANGELOG.md
  examples/correct_and_smooth.py
  examples/dgcnn_classification.py
  examples/dgcnn_segmentation.py
  examples/glnn.py
  examples/mutag_gin.py
  examples/point_transformer_classification.py
  examples/point_transformer_segmentation.py
  examples/pointnet2_classification.py
  examples/pointnet2_segmentation.py
  examples/pytorch_ignite/gin.py
  examples/pytorch_lightning/gin.py
  examples/seal_link_pred.py
  torch_geometric/nn/dense/dmon_pool.py
Labels: 1 - Priority P1, refactor, nn, example

#4967 [Benchmark] Fix `bool` arguments in `argparse`
  CHANGELOG.md
  benchmark/citation/appnp.py
  benchmark/citation/arma.py
  benchmark/citation/cheb.py
  benchmark/citation/gat.py
  benchmark/citation/gcn.py
  benchmark/citation/run.sh
  benchmark/citation/sgc.py
Labels: bug, 0 - Priority P0, benchmark

#4968 Fix `GraphStore` with empty edge indices
  CHANGELOG.md
  torch_geometric/data/graph_store.py
Labels: bug, 0 - Priority P0, data

#4970 Stronger check for label dimensions in CorrectAndSmooth and LabelPropagation
  CHANGELOG.md
  torch_geometric/nn/models/correct_and_smooth.py
  torch_geometric/nn/models/label_prop.py
Labels: bug, 2 - Priority P2

#4975 PyTorch 1.12 support
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/full_testing.yml
  .github/workflows/install.yml
  .github/workflows/testing.yml
  CHANGELOG.md
  README.md
  docs/source/notes/installation.rst
  docs/source/notes/quick-start.html
  test/graphgym/test_config_store.py
Labels: installation, feature, 0 - Priority P0

#4892 [Benchmark] Add inference test for current benchmarking and record performance
  CHANGELOG.md
  benchmark/citation/appnp.py
  benchmark/citation/arma.py
  benchmark/citation/cheb.py
  benchmark/citation/gat.py
  benchmark/citation/gcn.py
  benchmark/citation/inference.sh
  benchmark/citation/sgc.py
  benchmark/citation/train_eval.py
  benchmark/points/edge_cnn.py
  benchmark/points/mpnn.py
  benchmark/points/point_cnn.py
  benchmark/points/point_net.py
  benchmark/points/spline_cnn.py
  benchmark/points/train_eval.py
  test/profile/test_profile.py
  torch_geometric/profile/__init__.py
  torch_geometric/profile/profile.py
Labels: feature, 0 - Priority P0, benchmark

#4978 Fix `graphgym` activation function dictionary, now not including instances anymore
  CHANGELOG.md
  test/graphgym/test_graphgym.py
  test/graphgym/test_register.py
  torch_geometric/graphgym/models/act.py
  torch_geometric/graphgym/models/layer.py
Labels: bug, 0 - Priority P0, graphgym

#4977 `BasicGNN` - Inference mode with `NeighborLoader`
  CHANGELOG.md
  test/nn/models/test_basic_gnn.py
  torch_geometric/nn/models/basic_gnn.py
Labels: feature, 0 - Priority P0, benchmark, nn, loader, data

#4982 Fix Python 3.10 tests
  .github/workflows/full_testing.yml
  CHANGELOG.md
  test/nn/models/test_basic_gnn.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: bug, 0 - Priority P0, test

#4973 Move `GraphMultisetTransformer` to `nn.aggr` package
  CHANGELOG.md
  test/nn/aggr/test_gmt.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/gmt.py
  torch_geometric/nn/glob/__init__.py
Labels: 0 - Priority P0, refactor, nn

#4985 minor docs change and C&S fix for multilabel tasks
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/nn/models/correct_and_smooth.py
Labels: 2 - Priority P2, explain

#4993 Fix `GenConv` test
  CHANGELOG.md
  test/nn/conv/test_gen_conv.py
Labels: bug, 0 - Priority P0, test

#4986 Move `nn.glob.attention.GlobalAttention` to `nn.aggr.attention.AttentionalAggregation`
  CHANGELOG.md
  benchmark/kernel/global_attention.py
  test/nn/aggr/test_attention.py
  test/nn/glob/test_attention.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/attention.py
  torch_geometric/nn/glob/__init__.py
Labels: 0 - Priority P0, refactor, nn

#4995 Add `semi_grad` and docs to `SoftmaxAggregtion`
  CHANGELOG.md
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/basic.py
  torch_geometric/nn/glob/__init__.py
Labels: feature, documentation, 0 - Priority P0, nn

#4981 Added fine grained options for setting `bias` and `dropout` per layer in the `MLP` model
  CHANGELOG.md
  test/nn/models/test_mlp.py
  torch_geometric/nn/models/mlp.py
Labels: feature, 1 - Priority P1, nn

#4999 Install `numpy` as part of CI
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/full_testing.yml
  .github/workflows/install.yml
  .github/workflows/testing.yml
Labels: bug, 0 - Priority P0, test

#4957 Add `GlobalSortAggr` to `nn.aggr` package.
  CHANGELOG.md
  test/nn/aggr/test_sort.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/sort.py
  torch_geometric/nn/glob/__init__.py
  torch_geometric/nn/glob/sort.py
Labels: 0 - Priority P0, refactor, nn

#4972 Dynamic batch-size sampler based on `num_nodes`/`num_edges`
  CHANGELOG.md
  test/loader/test_dynamic_batch_sampler.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/dynamic_batch_sampler.py
Labels: feature, 1 - Priority P1, loader

#4915 [Benchmark] Adding inference benchmark suite
  CHANGELOG.md
  benchmark/inference/hetero_gat.py
  benchmark/inference/hetero_sage.py
  benchmark/inference/inference_benchmark.py
  benchmark/inference/utils.py
  test/nn/conv/test_pna_conv.py
  torch_geometric/nn/conv/pna_conv.py
  torch_geometric/nn/models/basic_gnn.py
Labels: feature, 0 - Priority P0, benchmark, nn

#5000 Add `combine` support to `MultiAggregation`
  CHANGELOG.md
  test/nn/aggr/test_multi.py
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/aggr/multi.py
  torch_geometric/nn/conv/message_passing.py
Labels: feature, 0 - Priority P0, nn

#5027 Bug Fix: `collate` method requires keys in dict to be strings, but if `Dict[int:Tensor]`, `_collate` fails
  torch_geometric/data/collate.py
  torch_geometric/data/separate.py
Labels: bug, 0 - Priority P0, data

#5021 Fix `fx` problem for `Aggregation`
  CHANGELOG.md
  test/nn/test_to_hetero_transformer.py
  torch_geometric/nn/fx.py
  torch_geometric/nn/to_hetero_transformer.py
Labels: bug, 0 - Priority P0, nn

#5034 Raise error for one single aggregation when `proj` or `attn` mode is used in `MultiAggregation`
  CHANGELOG.md
  test/nn/aggr/test_multi.py
  torch_geometric/nn/aggr/multi.py
Labels: bug, 0 - Priority P0, nn

#5036 Update `SoftmaxAggregation` and `PowerMeanAggregation` doc strings
  CHANGELOG.md
  torch_geometric/nn/aggr/basic.py
Labels: documentation, 0 - Priority P0, nn

#5049 Support for weighted metapaths
  CHANGELOG.md
  test/transforms/test_add_metapaths.py
  torch_geometric/transforms/add_metapaths.py
Labels: feature, 1 - Priority P1, transform

#5051 Properly support dynamic inheritance in `Batch`
  CHANGELOG.md
  torch_geometric/loader/dataloader.py
Labels: bug, 0 - Priority P0, data

#5037 `LinkNeighborLoader`: `Tuple[FeatureStore, GraphStore]` support
  CHANGELOG.md
  test/data/test_graph_store.py
  test/loader/test_link_neighbor_loader.py
  torch_geometric/data/graph_store.py
  torch_geometric/loader/link_neighbor_loader.py
Labels: feature, 0 - Priority P0

#5060 Fix: `sphinx` documentation build
  torch_geometric/nn/pool/glob.py
Labels: documentation, 0 - Priority P0

#4522 `EquilibriumAggregation` global aggregation layer
  CHANGELOG.md
  examples/equilibrium_median.py
  test/nn/aggr/test_equilibrium.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/equilibrium.py
Labels: feature, 0 - Priority P0

#5033 Support for multiple aggregations in `SAGEConv`
  CHANGELOG.md
  test/nn/conv/test_sage_conv.py
  torch_geometric/nn/aggr/multi.py
  torch_geometric/nn/conv/sage_conv.py
Labels: feature, 0 - Priority P0, nn

#5085 Rename `SortAggr` to `SortAggregation`
  CHANGELOG.md
  test/nn/aggr/test_sort.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/sort.py
  torch_geometric/nn/glob.py
Labels: 2 - Priority P2, nn

#5089 fix num node features for sparsetensor
  CHANGELOG.md
  torch_geometric/data/storage.py
Labels: bug, 0 - Priority P0, data

#5090 Fix nightly test run
  .github/workflows/full_testing.yml
Labels: bug, 0 - Priority P0, test

#5091 `to_hetero`: `BasicGNN` support
  CHANGELOG.md
  test/nn/test_to_hetero_transformer.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/nn/to_hetero_transformer.py
Labels: feature, 0 - Priority P0, nn

#5093 Fix typo `MaskLabel.ratio_mask`
  CHANGELOG.md
  examples/unimp_arxiv.py
  torch_geometric/nn/models/mask_label.py
Labels: bug, 0 - Priority P0, nn

#5094 Fix `Linear.load_state_dict(..., strict=False)`
  CHANGELOG.md
  test/nn/dense/test_linear.py
  torch_geometric/nn/dense/linear.py
Labels: bug, 0 - Priority P0, nn

#5067 Fix `HGTLoader` bug producing output dictionaries missing edge types
  CHANGELOG.md
  test/loader/test_hgt_loader.py
  torch_geometric/testing/decorators.py
Labels: bug, 0 - Priority P0, loader

#5046 Support `SparseTensor` label in `LightGCN`
  CHANGELOG.md
  torch_geometric/nn/models/lightgcn.py
Labels: bug, 1 - Priority P1, nn

#5095 Improve error messages
  CHANGELOG.md
  torch_geometric/nn/conv/message_passing.py
Labels: documentation, 0 - Priority P0, refactor

#5052 Added `pyg_lib.segment_matmul` integration within `RGCNConv`
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/full_testing.yml
  .github/workflows/install.yml
  .github/workflows/testing.yml
  CHANGELOG.md
  torch_geometric/lib.py
  torch_geometric/nn/conv/rgcn_conv.py
Labels: 0 - Priority P0, refactor, benchmark, nn

#5096 Fix `RGNConv` TorchScript tests
  CHANGELOG.md
  torch_geometric/lib.py
  torch_geometric/nn/conv/rgcn_conv.py
Labels: bug, 0 - Priority P0, test, nn

#5068 Added `MeanSubtractionNorm` layer
  CHANGELOG.md
  README.md
  test/nn/norm/test_mean_subtraction_norm.py
  torch_geometric/nn/norm/__init__.py
  torch_geometric/nn/norm/mean_subtraction_norm.py
Labels: feature, 0 - Priority P0, nn

#5072 `NeighborSampler`: Support sampling graphs without edges
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/utils.py
Labels: bug, 0 - Priority P0, loader

#5088 Fix: properly filter custom feature/graph stores
  CHANGELOG.md
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/utils.py
Labels: bug, 0 - Priority P0, data

#5097 Fix documentation and `README.md` regarding new `nn.aggr` package
  CHANGELOG.md
  README.md
  docs/source/modules/nn.rst
  test/nn/aggr/test_sort.py
  torch_geometric/nn/aggr/equilibrium.py
  torch_geometric/nn/aggr/lstm.py
  torch_geometric/nn/aggr/multi.py
  torch_geometric/nn/pool/__init__.py
Labels: bug, documentation, 0 - Priority P0

#5099 Update `nn.aggr` documentation
  CHANGELOG.md
  docs/source/modules/nn.rst
  examples/equilibrium_median.py
  test/nn/aggr/test_equilibrium.py
  torch_geometric/nn/aggr/attention.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/equilibrium.py
  torch_geometric/nn/aggr/gmt.py
  torch_geometric/nn/aggr/lstm.py
  torch_geometric/nn/aggr/multi.py
Labels: feature, documentation, 0 - Priority P0, nn
