Repository pyg-team/pytorch_geometric, pull requests merged in 2022-06, with the labels that each got.

#4751 CI: Fix versions of `checkout` and `setup-python`
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql_analysis.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/full_testing.yml
  .github/workflows/install.yml
  .github/workflows/linting.yml
  .github/workflows/nightly.yml
  .github/workflows/testing.yml
  CHANGELOG.md
Labels: bug, 0 - Priority P0, test

#4753 Fix `HANConv` propagation
  CHANGELOG.md
  torch_geometric/nn/conv/han_conv.py
Labels: bug, 0 - Priority P0, nn

#4755 Tutorial: Add the `bias` vector to the `GCN` model definition
  CHANGELOG.md
  docs/source/notes/create_gnn.rst
Labels: bug, documentation, 0 - Priority P0

#4754 Fix numerical instability in `GeneralConv` and `neighbor_sample` tests
  CHANGELOG.md
  test/loader/test_neighbor_sampler.py
  test/nn/conv/test_general_conv.py
Labels: bug, 0 - Priority P0, test

#4756 Test `HANConv` with empty tensors
  CHANGELOG.md
  test/nn/conv/test_han_conv.py
  torch_geometric/nn/conv/han_conv.py
Labels: 0 - Priority P0, test, nn

#4757 `RandomLinkSplit`: Allow `edge_type == rev_edge_type`
  CHANGELOG.md
  test/transforms/test_random_link_split.py
  torch_geometric/transforms/random_link_split.py
Labels: bug, 0 - Priority P0, transform

#4750 Sampling according to `max_sample` within `AddMetaPaths`
  CHANGELOG.md
  test/transforms/test_add_metapaths.py
  torch_geometric/transforms/add_metapaths.py
Labels: feature, 0 - Priority P0, transform

#4762 `nn.aggr.Set2Set`
  CHANGELOG.md
  README.md
  test/nn/aggr/test_basic.py
  test/nn/aggr/test_lstm.py
  test/nn/aggr/test_set2set.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/lstm.py
  torch_geometric/nn/aggr/set2set.py
  torch_geometric/nn/glob/__init__.py
  torch_geometric/nn/glob/set2set.py
Labels: 0 - Priority P0, refactor, nn

#4749 `MultiAggregation` and `aggregation_resolver`
  CHANGELOG.md
  test/nn/aggr/test_basic.py
  test/nn/aggr/test_multi.py
  test/nn/test_resolver.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/basic.py
  torch_geometric/nn/aggr/multi.py
  torch_geometric/nn/resolver.py
Labels: 0 - Priority P0, refactor, nn

#4782 Restrict `HeteroData` edge type indexing
  CHANGELOG.md
  test/data/test_hetero_data.py
  torch_geometric/data/hetero_data.py
Labels: 0 - Priority P0, refactor, data

#4824 Fix `softmax` documentation
  CHANGELOG.md
  docs/source/modules/utils.rst
  torch_geometric/utils/softmax.py
Labels: bug, documentation, 0 - Priority P0

#4825 Added Python version requirement
  CHANGELOG.md
  README.md
  docs/source/notes/installation.rst
Labels: feature, documentation, 0 - Priority P0

#4828 Rename `RandomTranslate` to `RandomJitter`
  CHANGELOG.md
  docs/source/notes/introduction.rst
  examples/dgcnn_segmentation.py
  examples/point_transformer_segmentation.py
  examples/pointnet2_segmentation.py
  test/transforms/test_random_jitter.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/random_jitter.py
Labels: 0 - Priority P0, refactor, transform

#4807 Let `Data` and `HeteroData` implement `FeatureStore`
  CHANGELOG.md
  test/data/test_data.py
  test/data/test_hetero_data.py
  torch_geometric/data/batch.py
  torch_geometric/data/data.py
  torch_geometric/data/feature_store.py
  torch_geometric/data/hetero_data.py
Labels: feature, 0 - Priority P0, data

#4816 `GraphStore` definition + `Data` and `HeteroData` integration
  CHANGELOG.md
  test/data/test_data.py
  test/data/test_feature_store.py
  test/data/test_graph_store.py
  test/data/test_hetero_data.py
  torch_geometric/data/data.py
  torch_geometric/data/feature_store.py
  torch_geometric/data/graph_store.py
  torch_geometric/data/hetero_data.py
  torch_geometric/typing.py
Labels: feature, 0 - Priority P0, data

#4838 `DataLoaderIterator` doc-string
  CHANGELOG.md
  torch_geometric/loader/base.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
Labels: documentation, 0 - Priority P0, loader

#4841 `HANConv`: `NaN` handling
  CHANGELOG.md
  torch_geometric/nn/conv/han_conv.py
Labels: bug, 0 - Priority P0, nn

#4842 `TUDataset`: Fix interplay between `pre_transform` and `pre_filter`
  CHANGELOG.md
  torch_geometric/datasets/tu_dataset.py
Labels: bug, 0 - Priority P0, dataset

#4843 GraphGym PyTorch Lightning Fixes
  CHANGELOG.md
  graphgym/main.py
  torch_geometric/graphgym/logger.py
  torch_geometric/graphgym/model_builder.py
Labels: bug, 0 - Priority P0, graphgym

#4850 Add `size=None` explanation to jittable `MessagePassing` modules
  CHANGELOG.md
  docs/source/notes/jit.rst
Labels: documentation, 0 - Priority P0, nn

#4847 Add a `normalize` parameter to `dense_diff_pool`
  CHANGELOG.md
  torch_geometric/nn/dense/diff_pool.py
Labels: feature, 0 - Priority P0, nn

#4817 Let `NeighborLoader` accept `Tuple[FeatureStore, GraphStore]`
  CHANGELOG.md
  test/data/test_data.py
  test/data/test_feature_store.py
  test/data/test_graph_store.py
  test/data/test_hetero_data.py
  test/loader/test_neighbor_loader.py
  torch_geometric/data/data.py
  torch_geometric/data/feature_store.py
  torch_geometric/data/graph_store.py
  torch_geometric/data/hetero_data.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/utils.py
Labels: feature, 0 - Priority P0, data

#4851 Fix: `NeighborLoader` test with `Tuple[FeatureStore, GraphStore]`
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
Labels: bug, test

#4852 Correct docstring for `SAGEConv`
  CHANGELOG.md
  torch_geometric/nn/conv/sage_conv.py
Labels: bug, documentation, 0 - Priority P0

#4854 Custom `NeighborLoader` test
  CHANGELOG.md
  test/data/test_feature_store.py
  test/data/test_graph_store.py
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
  torch_geometric/testing/feature_store.py
  torch_geometric/testing/graph_store.py
Labels: 0 - Priority P0, test, loader

#4853 `FeatureStore.multi_get_tensor` implementation
  CHANGELOG.md
  torch_geometric/data/feature_store.py
  torch_geometric/loader/utils.py
  torch_geometric/testing/feature_store.py
Labels: feature, 0 - Priority P0

#4855 Hotfix: `NeighborLoader` with boolean `input_nodes`
  torch_geometric/loader/neighbor_loader.py
Labels: bug, 0 - Priority P0, loader

#4815 Add `NeighborLoader` benchmark suite
  CHANGELOG.md
  benchmark/loader/neighbor_loader.py
Labels: feature, 0 - Priority P0, benchmark

#4856 Hotfix: Remove duplicate `node_types` in `NeighborLoader` with `FeatureStore`
  torch_geometric/data/feature_store.py
  torch_geometric/loader/neighbor_loader.py
Labels: bug, 0 - Priority P0, loader

#4861 Fix small bug in `NeighbourLoader` when `input_nodes` is `None`
  torch_geometric/loader/neighbor_loader.py
Labels: 0 - Priority P0, refactor, loader

#4779 Integration of `nn.aggr` within `MessagPassing`
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  test/nn/test_resolver.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/basic.py
  torch_geometric/nn/aggr/lstm.py
  torch_geometric/nn/aggr/multi.py
  torch_geometric/nn/aggr/set2set.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/resolver.py
Labels: feature, 0 - Priority P0, nn

#4863 Refactor `SAGEConv` to use `LSTMAggregation`
  CHANGELOG.md
  test/nn/conv/test_sage_conv.py
  torch_geometric/nn/conv/sage_conv.py
Labels: 0 - Priority P0, refactor, nn

#4865 Refactor `GravNetConv` to rely on new `Aggregation`
  CHANGELOG.md
  torch_geometric/nn/conv/gravnet_conv.py
Labels: 0 - Priority P0, nn, loader

#4866 Refactor `GENConv` to rely on new `Aggregation`
  CHANGELOG.md
  test/nn/conv/test_gen_conv.py
  torch_geometric/nn/conv/gen_conv.py
  torch_geometric/nn/conv/sage_conv.py
Labels: 0 - Priority P0, refactor, nn

#4873 Add `filter_per_worker` flag to data loaders
  CHANGELOG.md
  torch_geometric/loader/base.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
Labels: feature, 0 - Priority P0, loader

#4877 Added `time_attr` to `LinkNeighborLoader`
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
Labels: feature, 1 - Priority P1, loader

#4882 Fix: `Data` and `HeteroData` feature store `get_all_tensor_attrs`
  CHANGELOG.md
  test/data/test_data.py
  test/data/test_hetero_data.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
Labels: bug, 0 - Priority P0

#4884 Add support for `predict_dataloader` in `LightningNodeData`
  CHANGELOG.md
  torch_geometric/data/lightning_datamodule.py
Labels: feature, 0 - Priority P0, data

#4883 `GraphStore`: support `COO` layouts, refactor conversion logic
  CHANGELOG.md
  test/data/test_data.py
  test/data/test_graph_store.py
  test/data/test_hetero_data.py
  test/loader/test_neighbor_loader.py
  torch_geometric/data/data.py
  torch_geometric/data/graph_store.py
  torch_geometric/data/hetero_data.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/testing/graph_store.py
Labels: feature, 0 - Priority P0, data

#4837 Add `batch` and `ptr` vectors for a list of tensors and nested dicts
  CHANGELOG.md
  test/data/test_batch.py
  test/data/test_dataset.py
  torch_geometric/data/collate.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/data/separate.py
Labels: feature, 0 - Priority P0, data

#4895 Fix typos in `MinCutPooling`
  CHANGELOG.md
  README.md
  torch_geometric/nn/dense/mincut_pool.py
Labels: documentation, 1 - Priority P1

#4880 Remove unnecessary inclusion of self-loops when sampling negative edges
  CHANGELOG.md
  torch_geometric/nn/models/autoencoder.py
Labels: 1 - Priority P1, example
