Repository pyg-team/pytorch_geometric, pull requests merged in 2022-12, with the labels that each got.

#6105 Increase PyG to version `2.2.0`
  CHANGELOG.md
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
  setup.py
  torch_geometric/__init__.py
Labels: installation, 0 - Priority P0, skip-changelog

#6106 Build conda packages
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
Labels: installation, 0 - Priority P0, skip-changelog

#5117 `RandLA-Net` example
  CHANGELOG.md
  examples/randlanet_classification.py
  examples/randlanet_segmentation.py
  test/nn/pool/test_decimation.py
  torch_geometric/nn/pool/decimation.py
Labels: feature, 1 - Priority P1, example

#6123 Faster `topk` implementation for large enough graphs
  CHANGELOG.md
  test/nn/pool/test_topk_pool.py
  torch_geometric/nn/pool/topk_pool.py
Labels: feature, 0 - Priority P0, nn

#6124 Support for dropping nodes in `to_dense_batch`
  CHANGELOG.md
  test/utils/test_to_dense_adj.py
  test/utils/test_to_dense_batch.py
  torch_geometric/utils/to_dense_adj.py
  torch_geometric/utils/to_dense_batch.py
Labels: feature, 0 - Priority P0, utils

#6125 Add section on validating `Data` objects in the documentation
  docs/source/notes/introduction.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#6127 `FeatureStore` and `GraphStore` documentation
  docs/source/modules/data.rst
  docs/source/notes/remote.rst
  torch_geometric/data/__init__.py
  torch_geometric/data/feature_store.py
  torch_geometric/data/graph_store.py
Labels: feature, documentation, 0 - Priority P0, data, skip-changelog

#6128 `BaseSampler` documentation
  docs/source/modules/sampler.rst
  docs/source/notes/remote.rst
  torch_geometric/sampler/__init__.py
  torch_geometric/sampler/base.py
Labels: feature, documentation, 0 - Priority P0, loader, skip-changelog

#6130 Update `FeatureStore` and `GraphStore` imports
  test/data/test_feature_store.py
  test/data/test_graph_store.py
  test/data/test_lightning_datamodule.py
  test/data/test_remote_backend_utils.py
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/data/__init__.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/data/remote_backend_utils.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/hgt_sampler.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/feature_store.py
  torch_geometric/testing/graph_store.py
Labels: 0 - Priority P0, refactor, loader, data, skip-changelog

#6132 Drop `torch_sparse` dependency in `datasets.*` and `io.*`
  .github/labeler.yml
  CHANGELOG.md
  torch_geometric/data/dataset.py
  torch_geometric/datasets/actor.py
  torch_geometric/datasets/airports.py
  torch_geometric/datasets/aminer.py
  torch_geometric/datasets/attributed_graph_dataset.py
  torch_geometric/datasets/reddit.py
  torch_geometric/datasets/snap_dataset.py
  torch_geometric/datasets/upfd.py
  torch_geometric/datasets/webkb.py
  torch_geometric/datasets/wikipedia_network.py
  torch_geometric/io/planetoid.py
  torch_geometric/io/sdf.py
  torch_geometric/io/tu.py
  torch_geometric/utils/loop.py
Labels: 0 - Priority P0, refactor, dataset, data, utils

#6140 Lazy load `data.lightning`
  CHANGELOG.md
  docs/source/modules/data.rst
  examples/pytorch_lightning/gin.py
  examples/pytorch_lightning/graph_sage.py
  test/data/lightning/test_datamodule.py
  torch_geometric/__init__.py
  torch_geometric/data/__init__.py
  torch_geometric/data/lightning/__init__.py
  torch_geometric/data/lightning/datamodule.py
  torch_geometric/graphgym/imports.py
  torch_geometric/graphgym/logger.py
  torch_geometric/graphgym/train.py
  torch_geometric/lazy_loader.py
Labels: documentation, 0 - Priority P0, graphgym, refactor, example, data

#6143 Fix a typo in comments
  CHANGELOG.md
  torch_geometric/explain/config.py
Labels: documentation, 0 - Priority P0, skip-changelog

#6154 Add `inputs_channels` back in training benchmark
  CHANGELOG.md
  benchmark/training/training_benchmark.py
Labels: bug, 0 - Priority P0, benchmark

#6155 Use `sampled_sub` for faster `utils.softmax`
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  test/nn/norm/test_layer_norm.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/nn/norm/layer_norm.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/typing.py
  torch_geometric/utils/softmax.py
Labels: feature, 0 - Priority P0, nn, utils, sampler

#5859 Add `summary` function for PyG/PyTorch models
  CHANGELOG.md
  docs/source/modules/nn.rst
  test/data/test_dataset_summary.py
  test/nn/test_model_summary.py
  torch_geometric/nn/__init__.py
  torch_geometric/nn/summary.py
Labels: feature, documentation, 1 - Priority P1, nn

#6161 Render `nn.summary` correctly in the documentation
  CHANGELOG.md
  torch_geometric/nn/summary.py
Labels: bug, 0 - Priority P0, nn

#6159 Correctly use edge weights in `GDC` example
  CHANGELOG.md
  examples/gcn.py
Labels: bug, 0 - Priority P0, example

#6164 Infer correct CUDA device ID in `profileit` decorator
  CHANGELOG.md
  torch_geometric/profile/profile.py
Labels: bug, 0 - Priority P0, benchmark

#6165 Refactor `benchmark/kernel` to support specifying single test and training run
  benchmark/kernel/main_performance.py
Labels: 0 - Priority P0, refactor, benchmark, skip-changelog

#6171 Integrate `HGTConv` benchmark script
  test/nn/conv/test_hgt_conv.py
Labels: feature, 0 - Priority P0, skip-changelog

#6175 Removed `Aggregation.set_validate_args` option
  CHANGELOG.md
  test/nn/aggr/test_basic.py
  torch_geometric/nn/aggr/base.py
Labels: 0 - Priority P0, refactor, nn

#6173 Refactor `NeighborSampler` to be input-type agnostic
  CHANGELOG.md
  torch_geometric/data/lightning/datamodule.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/__init__.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/hgt_sampler.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: feature, 0 - Priority P0, loader, data, sampler

#6180 Fix `timestamp is not None` check
  torch_geometric/sampler/neighbor_sampler.py
Labels: bug, 0 - Priority P0, skip-changelog, sampler

#6170 Add profile support for benchmark/citation in training
  benchmark/citation/appnp.py
  benchmark/citation/arma.py
  benchmark/citation/cheb.py
  benchmark/citation/gat.py
  benchmark/citation/gcn.py
  benchmark/citation/sgc.py
  benchmark/citation/train_eval.py
Labels: feature, 1 - Priority P1, benchmark, skip-changelog

#6176 Move `ExplainerConfig` arguments to `Explainer` class
  CHANGELOG.md
  examples/gnn_explainer.py
  examples/gnn_explainer_ba_shapes.py
  test/explain/algorithm/test_gnn_explainer.py
  test/explain/test_explainer.py
  torch_geometric/explain/config.py
  torch_geometric/explain/explainer.py
Labels: 0 - Priority P0, refactor, example, explain

#6181 Data Loader Benchmark Script
  test/loader/test_dataloader.py
Labels: 0 - Priority P0, skip-changelog

#6187 Add `input_time` and `transform_sampler_output` options to `LightningNodeData`
  CHANGELOG.md
  examples/pytorch_lightning/graph_sage.py
  torch_geometric/data/lightning/datamodule.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/node_loader.py
Labels: feature, 0 - Priority P0, example, loader, data

#6183 Fix type hint in DataLoader
  torch_geometric/loader/dataloader.py
Labels: bug, 0 - Priority P0, loader, skip-changelog, type hints

#6192 Fix `num_nodes` computation in `FeatureStore`
  torch_geometric/sampler/neighbor_sampler.py
Labels: bug, 0 - Priority P0, skip-changelog, sampler

#6193 `data.edge_subgraph` and utility functions
  CHANGELOG.md
  test/data/test_data.py
  test/data/test_hetero_data.py
  test/utils/test_mask.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/storage.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/mask.py
Labels: feature, 0 - Priority P0, data, utils

#6196 Set `seed_time` in `NodeLoader`
  CHANGELOG.md
  torch_geometric/loader/node_loader.py
  torch_geometric/sampler/hgt_sampler.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: feature, 0 - Priority P0, loader, sampler

#6094 Feature importance visualization
  CHANGELOG.md
  examples/gnn_explainer.py
  test/explain/test_explanation.py
  torch_geometric/explain/explanation.py
Labels: feature, 0 - Priority P0, explain

#6202 Fix TorchScript support in GNN layers with `cache` support
  torch_geometric/nn/conv/appnp.py
  torch_geometric/nn/conv/dna_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/gcn2_conv.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#6205 Skip testing CI if only certain files have been changed
  .github/workflows/documentation.yml
  .github/workflows/install.yml
  .github/workflows/testing.yml
Labels: feature, 0 - Priority P0, test, skip-changelog

#6207 Fix nightly JIT tests and `GNNExplainer` import
  .github/workflows/examples.yml
  torch_geometric/nn/conv/rgcn_conv.py
Labels: bug, 0 - Priority P0, test, nn, skip-changelog

#6198 Restore correct order in the output of `HeteroLinear` in case of `is_sorted=False`
  CHANGELOG.md
  test/nn/dense/test_linear.py
  torch_geometric/nn/dense/linear.py
Labels: bug, 0 - Priority P0, nn

#6104 Explainability Benchmark Dataset Framework
  CHANGELOG.md
  test/datasets/test_explainer_dataset.py
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/explainer_dataset.py
  torch_geometric/datasets/graph_generator/__init__.py
  torch_geometric/datasets/graph_generator/base.py
  torch_geometric/datasets/motif_generator/__init__.py
  torch_geometric/datasets/motif_generator/base.py
  torch_geometric/datasets/motif_generator/house.py
  torch_geometric/nn/resolver.py
  torch_geometric/resolver.py
Labels: feature, 0 - Priority P0, dataset, explain

#6072 `BAGraph` dataset for `GNNExplainer`
  CHANGELOG.md
  examples/gnn_explainer_ba_shapes.py
  test/datasets/graph_generator/test_ba_graph.py
  test/datasets/test_explainer_dataset.py
  torch_geometric/datasets/ba_shapes.py
  torch_geometric/datasets/graph_generator/__init__.py
  torch_geometric/datasets/graph_generator/ba_graph.py
Labels: feature, 0 - Priority P0, dataset, explain

#6073 Explainability Dataset Task: `ERGraph`
  CHANGELOG.md
  test/datasets/graph_generator/test_ba_graph.py
  test/datasets/graph_generator/test_er_graph.py
  torch_geometric/datasets/graph_generator/__init__.py
  torch_geometric/datasets/graph_generator/ba_graph.py
  torch_geometric/datasets/graph_generator/er_graph.py
Labels: feature, 0 - Priority P0, dataset, explain

#6179 Custom motif generation
  CHANGELOG.md
  docs/source/modules/datasets.rst
  test/datasets/motif_generator/test_custom_motif.py
  test/datasets/motif_generator/test_house_motif.py
  torch_geometric/datasets/explainer_dataset.py
  torch_geometric/datasets/motif_generator/__init__.py
  torch_geometric/datasets/motif_generator/custom.py
  torch_geometric/datasets/motif_generator/house.py
Labels: feature, 0 - Priority P0, explain

#6223 Fix `GNNExplainer` example
  .gitignore
  examples/gnn_explainer.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#6224 Remove `edge_weight` in `GNNExplainer` examples
  examples/gnn_explainer.py
  examples/gnn_explainer_ba_shapes.py
Labels: 0 - Priority P0, refactor, example, skip-changelog

#6220 Explainability Dataset Task: `GridGraph`
  CHANGELOG.md
  test/datasets/graph_generator/test_grid_graph.py
  torch_geometric/datasets/graph_generator/__init__.py
  torch_geometric/datasets/graph_generator/grid_graph.py
Labels: feature, 0 - Priority P0, dataset, explain

#6233 Update `filter_*_store_()` returns in loader utils
  torch_geometric/loader/utils.py
Labels: bug, 2 - Priority P2, loader, skip-changelog, utils

#6194 Message Passing Layer of `PointGNN`
  CHANGELOG.md
  test/nn/conv/test_point_gnn_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/point_gnn_conv.py
Labels: feature, 0 - Priority P0, nn

#6237 Add missing imports for the `GNNExplainer` example in the CI
  .github/workflows/examples.yml
  setup.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#6215 `Explainer` and `Explanation` updates
  CHANGELOG.md
  test/explain/test_explainer.py
  torch_geometric/explain/algorithm/dummy_explainer.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/explainer.py
  torch_geometric/explain/explanation.py
Labels: feature, 0 - Priority P0, explain

#6239 Sanity removal of attributes in `LinkLoader` for triplet sampling
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_loader.py
Labels: feature, 0 - Priority P0, loader, skip-changelog

#6201 New utility function to get output of intermediate `MessagePassing` layer
  CHANGELOG.md
  test/utils/test_get_mp_out.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/get_mp_out.py
Labels: 0 - Priority P0, utils

#6188 [Explainability Evaluation] - Characterization score, and other ways to combine Fid+/- scores
  CHANGELOG.md
  docs/source/modules/explain.rst
  test/explain/metric/test_fidelity.py
  torch_geometric/explain/__init__.py
  torch_geometric/explain/metric/__init__.py
  torch_geometric/explain/metric/fidelity.py
Labels: feature, 0 - Priority P0, explain

#6222 Explainability Infection Benchmark
  CHANGELOG.md
  test/datasets/test_infection_dataset.py
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/infection_dataset.py
  torch_geometric/utils/subgraph.py
Labels: feature, 0 - Priority P0, dataset, utils

#6137 [Explainability Evaluation] Add accuracy metrics for evaluation with groundtruth
  CHANGELOG.md
  setup.py
  test/explain/metric/test_basic_metric.py
  torch_geometric/explain/metric/__init__.py
  torch_geometric/explain/metric/basic.py
Labels: feature, 0 - Priority P0, explain

#6252 Fix doc-string
  test/utils/test_embedding.py
  test/utils/test_get_mp_out.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/embedding.py
  torch_geometric/utils/get_mp_out.py
Labels: documentation, 0 - Priority P0, skip-changelog, utils

#6253 Rename `NegativeSamplingConfig` to `NegativeSampling`
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/sampler/__init__.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: feature, 0 - Priority P0, refactor, loader, skip-changelog, sampler

#6254 Respect `sampler` kwargs in `LightningData` modules
  test/data/lightning/test_datamodule.py
  torch_geometric/data/lightning/datamodule.py
Labels: 0 - Priority P0, refactor, data, skip-changelog

#6256 Adds Cycle Motif Support
  CHANGELOG.md
  test/datasets/motif_generator/test_cycle_motif.py
  torch_geometric/datasets/motif_generator/__init__.py
  torch_geometric/datasets/motif_generator/cycle.py
Labels: 0 - Priority P0, explain

#6257 Adds the BA2Motif synthetic Dataset
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/ba2motif_dataset.py
Labels: feature, 0 - Priority P0, dataset, explain

#6263 Test `NeighborLoader` input node placement
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
Labels: 0 - Priority P0, test, skip-changelog

#6264 Weighted negative sampling in `LinkNeighborLoader`
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: feature, 0 - Priority P0, sampler

#6235 Subgraph Visualization of GNN Explanations
  .gitignore
  CHANGELOG.md
  examples/gnn_explainer.py
  test/explain/test_explanation.py
  torch_geometric/explain/explanation.py
  torch_geometric/visualization/__init__.py
  torch_geometric/visualization/graph.py
Labels: feature, 0 - Priority P0, explain

#6116 Fidelity metrics
  CHANGELOG.md
  test/explain/metric/test_fidelity.py
  test/explain/test_explainer.py
  torch_geometric/explain/explainer.py
  torch_geometric/explain/metric/__init__.py
  torch_geometric/explain/metric/fidelity.py
Labels: feature, 0 - Priority P0, explain

#6267 Unify `Explanation.node_mask` and `Explanation.node_feat_mask`
  CHANGELOG.md
  test/explain/algorithm/test_gnn_explainer.py
  test/explain/test_explain_config.py
  test/explain/test_explainer.py
  test/explain/test_explanation.py
  test/explain/test_hetero_explainer.py
  test/explain/test_hetero_explanation.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/dummy_explainer.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/explainer.py
  torch_geometric/explain/explanation.py
Labels: 0 - Priority P0, refactor, explain

#6269 Fix example pipeline and use `Enum` in `Explainer` code
  README.md
  setup.py
  test/explain/algorithm/test_gnn_explainer.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/explainer.py
Labels: 1 - Priority P1, refactor, explain, skip-changelog

#6271 Graph visualization tests
  .github/workflows/full_testing.yml
  CHANGELOG.md
  setup.py
  test/explain/test_explanation.py
  test/visualization/test_graph_visualization.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: 0 - Priority P0, test

#6270 Drop `target_index` argument in `Explainer`
  CHANGELOG.md
  test/explain/algorithm/test_gnn_explainer.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/explainer.py
Labels: 0 - Priority P0, refactor, explain

#6090 [Explainability Evaluation] - GNN model (Un)Faithfulness
  CHANGELOG.md
  test/explain/metric/test_faithfulness.py
  torch_geometric/explain/metric/__init__.py
  torch_geometric/explain/metric/faithfulness.py
  torch_geometric/explain/metric/fidelity.py
Labels: feature, 0 - Priority P0, explain

#6279 `AttentionExplainer`
  CHANGELOG.md
  test/explain/algorithm/test_attention_explainer.py
  test/explain/metric/test_basic_metric.py
  torch_geometric/explain/algorithm/__init__.py
  torch_geometric/explain/algorithm/attention_explainer.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/gnn_explainer.py
Labels: feature, 0 - Priority P0, explain

#6288 Fix broken tests due to `torch-sparse==0.6.16` release
  test/transforms/test_add_metapaths.py
  torch_geometric/nn/conv/pan_conv.py
Labels: bug, 0 - Priority P0, test, nn, skip-changelog

#6287 `AirfRANS` dataset
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/airfrans.py
Labels: feature, 0 - Priority P0, dataset

#6304 Fix `Data.to_heterogeneous()` with empty `edge_index`
  CHANGELOG.md
  test/data/test_data.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/explain/algorithm/attention_explainer.py
  torch_geometric/explain/algorithm/gnn_explainer.py
Labels: bug, 0 - Priority P0, explain, data

#6305 Fix `DimeNet` output dimension mismatch
  CHANGELOG.md
  torch_geometric/nn/models/dimenet.py
Labels: bug, 0 - Priority P0, nn

#6306 Fix to save best models instead of worst
  examples/pytorch_lightning/gin.py
  examples/pytorch_lightning/graph_sage.py
  examples/pytorch_lightning/relational_gnn.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#6204 `Explain`: Add `PGExplainer`
  CHANGELOG.md
  test/explain/algorithm/test_pg_explainer.py
  torch_geometric/explain/algorithm/__init__.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/algorithm/pg_explainer.py
Labels: feature, 0 - Priority P0, explain

#6308 Fix filtering of node features in `transforms.RemoveIsolatedNodes`
  CHANGELOG.md
  torch_geometric/transforms/remove_isolated_nodes.py
Labels: bug, 0 - Priority P0, transform

#6307 Add DDP `NeighborLoader` examples
  CHANGELOG.md
  examples/multi_gpu/distributed_sampling.py
Labels: 0 - Priority P0, refactor, example

#5517 `GraphStore`: Refactor and remove `SparseTensor` dependency
  CHANGELOG.md
  test/data/test_graph_store.py
  torch_geometric/data/data.py
  torch_geometric/data/graph_store.py
  torch_geometric/data/hetero_data.py
  torch_geometric/testing/graph_store.py
Labels: 0 - Priority P0, refactor, data

#6312 Fixed a bug in which `distributed_sampling_loader.py` mistakenly split data.
  examples/multi_gpu/distributed_sampling.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#6313 `Data.update()` functionality
  CHANGELOG.md
  test/data/test_data.py
  test/data/test_hetero_data.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
Labels: feature, 0 - Priority P0, data

#3204 Added the Freebase `FB15k_237` dataset
  CHANGELOG.md
  torch_geometric/data/data.py
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/freebase.py
Labels: feature, 1 - Priority P1, dataset, data

#6314 `TransE` Knowledge Embedding Model
  CHANGELOG.md
  README.md
  examples/transe_fb15k_237.py
  test/nn/kge/test_transe.py
  torch_geometric/nn/__init__.py
  torch_geometric/nn/kge/__init__.py
  torch_geometric/nn/kge/base.py
  torch_geometric/nn/kge/loader.py
  torch_geometric/nn/kge/transe.py
Labels: feature, 0 - Priority P0, nn, example

#6317 KGE documentation
  README.md
  docs/source/modules/nn.rst
  torch_geometric/nn/kge/base.py
  torch_geometric/nn/kge/transe.py
Labels: feature, documentation, 0 - Priority P0, nn, skip-changelog

#6318 Warn on accessing `dataset.data`
  CHANGELOG.md
  test/data/test_dataset.py
  test/datasets/test_ba_shapes.py
  test/graphgym/test_config_store.py
  test/graphgym/test_graphgym.py
  test/loader/test_neighbor_loader.py
  test/nn/aggr/test_set2set.py
  test/nn/models/test_gnn_explainer_old_interface.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/datasets/bitcoin_otc.py
  torch_geometric/datasets/entities.py
  torch_geometric/datasets/md17.py
  torch_geometric/datasets/ogb_mag.py
  torch_geometric/datasets/rel_link_pred_dataset.py
  torch_geometric/datasets/shapenet.py
  torch_geometric/datasets/tu_dataset.py
  torch_geometric/graphgym/loader.py
Labels: 0 - Priority P0, graphgym, refactor, dataset, data

#6319 Access global dataset attributes via `dataset.{attr_name}`
  CHANGELOG.md
  test/data/test_dataset.py
  torch_geometric/data/in_memory_dataset.py
Labels: feature, 0 - Priority P0, data

#6321 `networkit` conversions
  CHANGELOG.md
  test/utils/test_convert.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/convert.py
Labels: feature, 0 - Priority P0, utils
