Repository pyg-team/pytorch_geometric, pull requests merged in 2022-11, with the labels that each got.

#5876 Fix `TypeError` in `from_networkx`
  torch_geometric/graphgym/logger.py
  torch_geometric/utils/convert.py
Labels: bug, 0 - Priority P0, graphgym, skip-changelog, utils

#5877 Added `torch.onnx.export` test
  .gitignore
  CHANGELOG.md
  setup.py
  test/nn/models/test_basic_gnn.py
Labels: 0 - Priority P0, test

#5868 Add TorchScript support for `AttentiveFP`
  CHANGELOG.md
  test/nn/models/test_attentive_fp.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/models/attentive_fp.py
Labels: feature, 0 - Priority P0, nn

#5888 Add `SparseTensor` support for `SuperGATConv`
  CHANGELOG.md
  test/nn/conv/test_supergat_conv.py
  torch_geometric/nn/conv/supergat_conv.py
Labels: feature, 1 - Priority P1, nn

#5886 `Explainer`: Support for setting and clearing masks in heterogeneous GNNs
  CHANGELOG.md
  test/nn/models/test_hetero_explainer.py
  torch_geometric/nn/models/explainer.py
Labels: 1 - Priority P1, nn, explain

#5537 Add `HydroNet` dataset
  CHANGELOG.md
  torch_geometric/data/dataset.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/hydro_net.py
Labels: feature, 1 - Priority P1, dataset

#5902 Fix `cached_property` import on Python 3.7
  CHANGELOG.md
  torch_geometric/datasets/hydro_net.py
Labels: bug, 0 - Priority P0, dataset

#5903 Fix `cached_property` import on Python <3.8
  CHANGELOG.md
  torch_geometric/datasets/hydro_net.py
Labels: bug, 0 - Priority P0, dataset

#5908 ``nn.dense_mincut_pool`` Add temperature parameter to mincut pool operator
  CHANGELOG.md
  torch_geometric/nn/dense/mincut_pool.py
Labels: feature, 1 - Priority P1, nn

#5906 Add `spmm` and `is_torch_sparse_tensor`
  CHANGELOG.md
  test/utils/test_spmm.py
  test/utils/test_torch_sparse_tensor.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/spmm.py
  torch_geometric/utils/torch_sparse_tensor.py
Labels: feature, 1 - Priority P1, utils

#5919 Add support for customizable interaction graph in `SchNet` model
  CHANGELOG.md
  examples/qm9_pretrained_schnet.py
  test/nn/models/test_schnet.py
  torch_geometric/nn/models/schnet.py
Labels: feature, 0 - Priority P0, nn

#5804 GNN explanation settings
  CHANGELOG.md
  docs/source/index.rst
  docs/source/modules/explain.rst
  test/explain/test_explain_config.py
  test/explain/test_explainer.py
  test/explain/test_explanations.py
  test/nn/models/test_to_captum.py
  torch_geometric/explain/__init__.py
  torch_geometric/explain/algorithm/__init__.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/dummy_explainer.py
  torch_geometric/explain/config.py
  torch_geometric/explain/explainer.py
  torch_geometric/explain/explanations.py
Labels: feature, 0 - Priority P0, explain

#5938 Support symbolic tracing of `SchNet`
  CHANGELOG.md
  torch_geometric/nn/models/schnet.py
Labels: feature, 1 - Priority P1, nn

#5939 Add `to_fixed_size` graph transformer
  CHANGELOG.md
  test/nn/test_to_fixed_size_transformer.py
  torch_geometric/__init__.py
  torch_geometric/nn/__init__.py
  torch_geometric/nn/to_fixed_size_transformer.py
Labels: feature, 1 - Priority P1, data

#5942 Add `lr_scheduler_solver` and customized `lr_scheduler` classes
  CHANGELOG.md
  test/nn/test_resolver.py
  torch_geometric/nn/lr_scheduler.py
  torch_geometric/nn/resolver.py
Labels: feature, 0 - Priority P0, nn

#5946 Add link to "COO format" in introduction
  docs/source/notes/introduction.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#5140 Add `dgNN` support
  CHANGELOG.md
  test/nn/conv/test_fused_gat_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/fused_gat_conv.py
Labels: feature, 1 - Priority P1, benchmark, nn

#5951 Fix `collate_fn` type hints
  torch_geometric/data/collate.py
Labels: 0 - Priority P0, loader, skip-changelog, type hints

#5957 add `num_nodes` to `filter_custom_store`
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/utils.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#5898 Enable to set custom number of steps in benchmarks
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/training/training_benchmark.py
Labels: feature, 0 - Priority P0, benchmark

#5969 Fix typo in docs of `nn.ARGVA`
  torch_geometric/nn/models/autoencoder.py
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#5970 Fix docstring in `nn.ARGA`
  torch_geometric/nn/models/autoencoder.py
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#5948 Support for `int32` graphs in `NeighborLoader`
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: feature, 0 - Priority P0, loader

#5975 Pytorch 11.3 support
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/full_testing.yml
  .github/workflows/install.yml
  .github/workflows/testing.yml
  CHANGELOG.md
  README.md
  conda/pyg/README.md
  conda/pyg/build_conda.sh
  conda/pytorch-geometric/README.md
  conda/pytorch-geometric/build_conda.sh
  docs/source/notes/installation.rst
  docs/source/notes/quick-start.html
  test/nn/dense/test_linear.py
Labels: installation, feature, documentation, 0 - Priority P0

#5978 Fix `LinkNeighborLoader` within `multiprocessing.spawn`
  torch_geometric/loader/link_loader.py
Labels: bug, 0 - Priority P0, loader, skip-changelog

#5944 Add PyTorch SparseTensor support for `MessagePassing`
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/message_passing.py
Labels: feature, 0 - Priority P0, nn

#5988 Fix `NeighborLoader` tests on Windows
  test/loader/test_neighbor_loader.py
Labels: bug, 0 - Priority P0, test, loader, skip-changelog

#5990 Warn on invalid node and edge type names in `HeteroData`
  .gitignore
  CHANGELOG.md
  test/data/test_hetero_data.py
  test/loader/test_dynamic_batch_sampler.py
  test/nn/conv/test_message_passing.py
  test/transforms/test_random_link_split.py
  test/utils/test_dropout.py
  torch_geometric/data/hetero_data.py
Labels: feature, 0 - Priority P0, data

#5997 Check `ONNX` output equality
  CHANGELOG.md
  test/nn/models/test_basic_gnn.py
Labels: 0 - Priority P0, test

#5935 LRGB: Long Range Graph Benchmark datasets
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/lrgb.py
Labels: feature, 1 - Priority P1, dataset

#6007 `HeteroData` support in `RandomNodeLoader`
  CHANGELOG.md
  examples/ogbn_proteins_deepgcn.py
  examples/rev_gnn.py
  test/loader/test_random_node_loader.py
  torch_geometric/data/__init__.py
  torch_geometric/graphgym/loader.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/random_node_loader.py
  torch_geometric/loader/random_node_sampler.py
Labels: graphgym, example, loader, data

#6003 Add `is_sparse` and `to_torch_coo_tensor`
  CHANGELOG.md
  test/utils/test_sparse.py
  test/utils/test_torch_sparse_tensor.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/sparse.py
  torch_geometric/utils/spmm.py
  torch_geometric/utils/torch_sparse_tensor.py
Labels: feature, 1 - Priority P1, refactor, nn, utils

#5934 `to_captum`: Support for explaining heterogenous graphs
  CHANGELOG.md
  examples/captum_explainability.py
  test/nn/models/test_hetero_explainer.py
  test/nn/models/test_to_captum.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/explainer.py
Labels: 1 - Priority P1, nn, example, explain

#6031 `to_captum_model`: Minor fix to docs
  torch_geometric/nn/models/explainer.py
Labels: documentation, 0 - Priority P0, nn, skip-changelog

#6036 `FusedAggregation` of simple scatter reductions
  CHANGELOG.md
  test/nn/aggr/test_fused.py
  torch_geometric/nn/aggr/basic.py
  torch_geometric/nn/aggr/fused.py
Labels: feature, 0 - Priority P0, nn

#6041 Benchmark `FusedAggregation` backward pass
  test/nn/aggr/test_basic.py
  test/nn/aggr/test_fused.py
Labels: 0 - Priority P0, skip-changelog

#6040 Integrate `FusedAggregation` into `MultiAggregation`
  CHANGELOG.md
  test/nn/aggr/test_fused.py
  test/nn/aggr/test_multi.py
  torch_geometric/nn/aggr/fused.py
  torch_geometric/nn/aggr/multi.py
Labels: feature, 0 - Priority P0, nn

#6042 `semi_grad` option in `VarAggregation` and `StdAggregation`
  CHANGELOG.md
  torch_geometric/nn/aggr/basic.py
  torch_geometric/nn/aggr/fused.py
Labels: feature, 0 - Priority P0, nn

#6039 Trainable normalization param in `PNAConv`
  CHANGELOG.md
  torch_geometric/nn/aggr/scaler.py
  torch_geometric/nn/conv/pna_conv.py
Labels: feature, 0 - Priority P0, nn

#6038 Add `to_smiles` function
  CHANGELOG.md
  test/utils/test_smiles.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/smiles.py
Labels: feature, 1 - Priority P1, utils

#6043 Minor fix for `mask_feature`
  test/utils/test_augmentation.py
  torch_geometric/utils/augmentation.py
Labels: bug, 0 - Priority P0, skip-changelog, utils

#6004 Triplet sampling in `NeighborLoader`
  CHANGELOG.md
  examples/graph_sage_unsup_ppi.py
  test/data/test_lightning_datamodule.py
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: feature, 0 - Priority P0, example, loader

#6044 Move `HeteroData` type warnings to `to_hetero()`
  test/data/test_hetero_data.py
  test/nn/test_to_hetero_transformer.py
  test/nn/test_to_hetero_with_bases_transformer.py
  torch_geometric/data/hetero_data.py
  torch_geometric/nn/to_hetero_transformer.py
  torch_geometric/nn/to_hetero_with_bases_transformer.py
Labels: bug, 0 - Priority P0, nn, data, skip-changelog

#6050 Improve efficiency of `StdAggregation`
  torch_geometric/nn/aggr/basic.py
  torch_geometric/nn/aggr/fused.py
  torch_geometric/nn/conv/eg_conv.py
Labels: feature, 0 - Priority P0, nn, skip-changelog

#6051 Benchmark for `scatter_reduce`
  CHANGELOG.md
  test/nn/aggr/test_fused.py
  test/utils/test_scatter.py
Labels: 0 - Priority P0, benchmark, utils

#6052 Optimized `scatter` operations for CPU/GPU
  CHANGELOG.md
  test/data/test_lightning_datamodule.py
  test/nn/aggr/test_fused.py
  test/nn/conv/test_fused_gat_conv.py
  test/nn/models/test_basic_gnn.py
  test/nn/test_data_parallel.py
  test/profile/test_profile.py
  test/profile/test_utils.py
  test/utils/test_scatter.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/fused.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
  torch_geometric/utils/scatter.py
Labels: feature, 0 - Priority P0, nn, utils

#6055 Add connection type in `LargestConnectedComponents` transform
  torch_geometric/transforms/largest_connected_components.py
Labels: feature, 0 - Priority P0, transform, skip-changelog

#5967 `GNNExplainer` migration
  CHANGELOG.md
  README.md
  docs/source/modules/explain.rst
  examples/gnn_explainer.py
  examples/gnn_explainer_ba_shapes.py
  test/explain/algorithm/test_gnn_explainer.py
  test/explain/test_explainer.py
  test/nn/models/test_gnn_explainer_old_interface.py
  torch_geometric/explain/algorithm/__init__.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/dummy_explainer.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/algorithm/utils.py
  torch_geometric/explain/config.py
  torch_geometric/explain/explainer.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/explainer.py
  torch_geometric/nn/models/gnn_explainer.py
Labels: 0 - Priority P0, refactor, explain

#6062 Remove duplicated mask functions
  test/explain/algorithm/test_explain_algorithm_utils.py
  test/nn/models/test_hetero_explainer.py
  test/profile/test_profile_utils.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/captum.py
Labels: 0 - Priority P0, refactor, nn, explain, skip-changelog

#6005 DataLoader threads affinitization
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/loader/neighbor_loader.py
  setup.py
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/base.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/profile/profile.py
Labels: feature, 0 - Priority P0, loader

#6070 Fix training benchmark `device` issue
  benchmark/training/training_benchmark.py
Labels: bug, 0 - Priority P0, benchmark, skip-changelog

#6071 Fix `worker_init_fn` duplicate keyword argument
  torch_geometric/loader/base.py
  torch_geometric/loader/node_loader.py
Labels: bug, 0 - Priority P0, loader, skip-changelog

#6075 Reusable workflow actions
  .github/actions/setup/action.yml
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql_analysis.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/full_testing.yml
  .github/workflows/install.yml
  .github/workflows/labeler.yml
  .github/workflows/linting.yml
  .github/workflows/nightly.yml
  .github/workflows/testing.yml
  test/transforms/test_to_superpixels.py
Labels: installation, feature, 0 - Priority P0, skip-changelog

#6081 Print PyTorch summary in CI
  .github/actions/setup/action.yml
Labels: feature, 0 - Priority P0, skip-changelog

#6085 `pyg-lib` installation instructions
  CONTRIBUTING.md
  README.md
  docs/source/notes/installation.rst
  docs/source/notes/quick-start.html
Labels: installation, feature, documentation, 0 - Priority P0, skip-changelog

#6054 Some usability updates to `Explanation`
  CHANGELOG.md
  test/explain/test_explanation.py
  test/explain/test_explanations.py
  torch_geometric/explain/__init__.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/explanation.py
  torch_geometric/explain/explanations.py
Labels: feature, 0 - Priority P0, explain

#6065 `GNNExplainer` improvements
  .github/labeler.yml
  CHANGELOG.md
  examples/gnn_explainer_ba_shapes.py
  test/explain/algorithm/test_gnn_explainer.py
  test/explain/test_explainer.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/dummy_explainer.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/explainer.py
Labels: feature, 0 - Priority P0, refactor, example, explain

#6088 Add warning in case `target` is provided for `ExplanationType.model`
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/config.py
  torch_geometric/explain/explainer.py
Labels: feature, 0 - Priority P0, explain, skip-changelog

#6089 Connect configurations to `ExplainerAlgorithm`
  CHANGELOG.md
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/dummy_explainer.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/explainer.py
Labels: 0 - Priority P0, refactor, explain

#6056 `GNNExplainer` Edge Task Level
  CHANGELOG.md
  test/explain/algorithm/test_gnn_explainer.py
  torch_geometric/explain/algorithm/gnn_explainer.py
Labels: feature, 0 - Priority P0, explain

#6096 docs: remote backend documentation
  docs/source/_figures/remote_1.png
  docs/source/_figures/remote_2.png
  docs/source/_figures/remote_3.png
  docs/source/index.rst
  docs/source/notes/remote.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog
