Repository pyg-team/pytorch_geometric, pull requests merged in 2022-05, with the labels that each got.

#4495 Replace `\Theta` symbols in documentation
  torch_geometric/nn/conv/eg_conv.py
  torch_geometric/nn/conv/graph_conv.py
  torch_geometric/nn/conv/tag_conv.py
Labels: documentation, 1 - Priority P1, refactor

#4581 Added `CHANGELOG.md`
  .github/workflows/changelog.yml
  CHANGELOG.md
Labels: feature, documentation, 0 - Priority P0

#4582 `GlobalPooling` and graph-level `to_hetero` support
  CHANGELOG.md
  test/nn/test_to_hetero_transformer.py
  torch_geometric/nn/fx.py
  torch_geometric/nn/glob/__init__.py
  torch_geometric/nn/glob/glob.py
  torch_geometric/nn/to_hetero_transformer.py
Labels: bug, feature, 0 - Priority P0, pooling

#4600 Adding `'wiki'` dataset to `LINKXDataset`
  CHANGELOG.md
  torch_geometric/data/download.py
  torch_geometric/datasets/linkx_dataset.py
Labels: feature, 0 - Priority P0, dataset

#4604 `HeteroData.is_undirected()`
  CHANGELOG.md
  test/transforms/test_to_undirected.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/storage.py
Labels: bug, feature, 0 - Priority P0, data

#4616 Removed unnecessary colons and fixed typos in the documentation
  CHANGELOG.md
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/datasets/tu_dataset.py
  torch_geometric/nn/conv/cluster_gcn_conv.py
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/nn/conv/hgt_conv.py
  torch_geometric/nn/conv/pna_conv.py
  torch_geometric/nn/conv/point_transformer_conv.py
  torch_geometric/nn/fx.py
  torch_geometric/nn/models/deepgcn.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/to_hetero_transformer.py
  torch_geometric/nn/to_hetero_with_bases_transformer.py
  torch_geometric/transforms/add_self_loops.py
  torch_geometric/transforms/to_sparse_tensor.py
  torch_geometric/utils/subgraph.py
Labels: 0 - Priority P0, refactor

#4617 Fixed an error in generated node features in `StochasticBlockModelDataset`
  CHANGELOG.md
  torch_geometric/datasets/sbm_dataset.py
Labels: bug, 0 - Priority P0

#4620 `NeighborLoader`: Optionally use argument data without `to_csc`
  CHANGELOG.md
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/utils.py
Labels: feature, 0 - Priority P0, loader

#4625 Support return embedding for MLP layer
  CHANGELOG.md
  torch_geometric/nn/models/mlp.py
Labels: feature, 0 - Priority P0

#4629 Fix dimension in edge filter selection
  CHANGELOG.md
  torch_geometric/loader/utils.py
Labels: bug, 0 - Priority P0, loader

#4531 Implement `LightningModule` & `LoggerCallback` in GraphGym
  CHANGELOG.md
  test/graphgym/test_graphgym.py
  test/graphgym/test_logger.py
  torch_geometric/graphgym/logger.py
  torch_geometric/graphgym/model_builder.py
Labels: 0 - Priority P0, graphgym, refactor

#4644 `HeteroData.node_items()` and `HeteroData.edge_items()` functionality
  CHANGELOG.md
  test/data/test_hetero_data.py
  torch_geometric/data/hetero_data.py
Labels: feature, 0 - Priority P0, data

#4645 Fix `MLP.jittable()` bug in case `return_emb=True`
  CHANGELOG.md
  torch_geometric/nn/models/mlp.py
Labels: bug, 0 - Priority P0, nn

#4626 AQSOL dataset
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/aqsol.py
Labels: feature, 0 - Priority P0, dataset

#4635 `HeteroData.subgraph()`
  CHANGELOG.md
  test/data/test_hetero_data.py
  torch_geometric/data/hetero_data.py
Labels: feature, 0 - Priority P0, data

#4648 Hotfix: `MLP.jittable()` for PyTorch 1.10
  CHANGELOG.md
  torch_geometric/nn/models/mlp.py
Labels: bug, 0 - Priority P0, nn

#4652 `MLP.plain_last` option
  CHANGELOG.md
  test/nn/models/test_mlp.py
  torch_geometric/nn/models/mlp.py
Labels: feature, 0 - Priority P0, nn

#4653 Confirm that `to_hetero()` works with custom functions (`dropout_adj`)
  CHANGELOG.md
  test/nn/test_to_hetero_transformer.py
Labels: 0 - Priority P0, test, nn

#4654 Updates to extracting positions from sdf files
  CHANGELOG.md
  torch_geometric/datasets/qm9.py
Labels: 0 - Priority P0, refactor, dataset

#4628 Add `unbatch` functionality
  CHANGELOG.md
  test/utils/test_unbatch.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/unbatch.py
Labels: feature, help wanted, 0 - Priority P0

#4664 Integration of `pyg_sphinx_theme`
  .github/workflows/documentation.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/requirements.txt
  docs/source/_figures/architecture.pdf
  docs/source/_figures/architecture.svg
  docs/source/_static/css/custom.css
  docs/source/_static/img/pyg1.png
  docs/source/_static/img/pyg1.svg
  docs/source/_static/img/pyg2.png
  docs/source/_static/img/pyg2.svg
  docs/source/_static/img/pyg_logo.svg
  docs/source/_static/img/pyg_logo_text.svg
  docs/source/_templates/autosummary/class.rst
  docs/source/conf.py
  docs/source/modules/loader.rst
  docs/source/notes/cheatsheet.rst
  docs/source/notes/data_cheatsheet.rst
Labels: documentation, 0 - Priority P0, refactor

#4667 Fix `readthedocs` build
  CHANGELOG.md
  docs/source/conf.py
Labels: bug, documentation, 0 - Priority P0

#4669 Fix the interplay between `TUDataset` and `pre_transform` that modify node features
  CHANGELOG.md
  torch_geometric/datasets/tu_dataset.py
  torch_geometric/io/tu.py
Labels: bug, 0 - Priority P0, dataset

#4670 `GCN2Conv`: Allow for optional `edge_weight`
  CHANGELOG.md
  torch_geometric/nn/conv/gcn2_conv.py
Labels: bug, 0 - Priority P0, nn

#4672 `GAT`: Weights & Biases Tracking
  .github/workflows/examples.yml
  CHANGELOG.md
  examples/gat.py
  examples/gcn.py
Labels: feature, 0 - Priority P0, benchmark

#4676 Track `GIN` performance on `MUTAG`
  .github/workflows/examples.yml
  CHANGELOG.md
  examples/mutag_gin.py
Labels: feature, 0 - Priority P0, benchmark

#4682 Use class setter properties if present
  CHANGELOG.md
  test/data/test_data.py
  torch_geometric/data/data.py
Labels: bug, 0 - Priority P0, data

#4683 Mathjax support in Markdown
  CHANGELOG.md
  README.md
  docs/source/_figures/edge_conv.svg
  docs/source/_figures/edge_conv.tex
Labels: documentation, 0 - Priority P0, refactor

#4688 Fix rank computation in the RGCN link prediction example
  CHANGELOG.md
  examples/rgcn_link_pred.py
Labels: bug, 0 - Priority P0, example

#4671 `RevGNN` implementation
  CHANGELOG.md
  README.md
  examples/rev_gnn.py
  test/graphgym/test_graphgym.py
  test/nn/models/test_rev_gnn.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/rev_gnn.py
Labels: feature, 0 - Priority P0, nn

#4487 PyTorch Ignite example
  CHANGELOG.md
  examples/pytorch_ignite/gin.py
Labels: feature, 0 - Priority P0, example

#4432 `DimeNet++` implementation
  CHANGELOG.md
  examples/qm9_pretrained_dimenet.py
  setup.py
  test/nn/models/test_dimenet.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/dimenet.py
Labels: feature, help wanted, 0 - Priority P0, nn

#4699 Add `DimeNet++` to `README`
  CHANGELOG.md
  README.md
  torch_geometric/nn/models/dimenet.py
Labels: documentation, 0 - Priority P0

#4700 `DimeNet`: Added `swish` activation to `activation_resolver`
  torch_geometric/nn/acts.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/resolver.py
Labels: 0 - Priority P0, refactor

#4701 `RevGNN`: Fix Python 3.7 tests
  CHANGELOG.md
  torch_geometric/nn/models/rev_gnn.py
Labels: bug, 0 - Priority P0, test

#4702 Fix: `is_sorted` argument in `NeighborLoader`
  CHANGELOG.md
  torch_geometric/loader/utils.py
Labels: bug, 0 - Priority P0, loader

#4719 Fix `protobuf` version
  CHANGELOG.md
  setup.py
Labels: bug, installation, 0 - Priority P0

#4721 Validate `Aggregation` inputs
  CHANGELOG.md
  test/nn/aggr/test_basic.py
  torch_geometric/nn/aggr/base.py
Labels: feature, 0 - Priority P0, nn

#4723 Automatically construct `ptr` for each graph type when doing "advanced mini-batching"
  CHANGELOG.md
  test/data/test_batch.py
  test/loader/test_dataloader.py
  torch_geometric/data/collate.py
Labels: feature, 0 - Priority P0, loader, data

#4730 Add results with 10 runs for RevGNN
  CHANGELOG.md
  examples/rev_gnn.py
Labels: feature, 0 - Priority P0, example

#4731 `LSTMAggregation`
  CHANGELOG.md
  test/nn/aggr/test_basic.py
  test/nn/aggr/test_lstm.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/lstm.py
Labels: feature, 0 - Priority P0, nn

#4689 Lightning Trainer integration in GraphGym
  CHANGELOG.md
  graphgym/main.py
  test/graphgym/test_graphgym.py
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/imports.py
  torch_geometric/graphgym/logger.py
  torch_geometric/graphgym/model_builder.py
  torch_geometric/graphgym/train.py
  torch_geometric/graphgym/utils/agg_runs.py
Labels: 0 - Priority P0, graphgym, refactor

#3926 Add `RootedSubgraph` transform and implementations `RootedEgoNets` and `RootedRWSubgraph`
  CHANGELOG.md
  README.md
  test/transforms/test_rooted_subgraph.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/rooted_subgraph.py
Labels: feature, help wanted, 0 - Priority P0
