Repository pyg-team/pytorch_geometric, pull requests merged in 2022-03, with the labels that each got.

#4174 `ConfigStore`: Register and Fill logic
  test/graphgym/test_config_store.py
  torch_geometric/graphgym/config_store.py
Labels: feature, Priority P0, refactor

#4196 Fix recursive `__new__` bug in `BaseStorage`
  torch_geometric/data/storage.py
Labels: bug, Priority P0

#3985 Changes in Temporal Data to support a new Temporal Data Loader
  examples/tgn.py
  test/loader/test_temporal_dataloader.py
  torch_geometric/data/batch.py
  torch_geometric/data/temporal.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/data_list_loader.py
  torch_geometric/loader/dataloader.py
  torch_geometric/loader/temporal_dataloader.py
  torch_geometric/profile/utils.py
Labels: feature, help wanted, Priority P0

#4198 `ImbalancedSampler` support
  test/loader/test_imbalanced_sampler.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/imbalanced_sampler.py
Labels: feature, Priority P0

#4201 `index_to_mask`
  benchmark/citation/train_eval.py
  test/utils/test_mask.py
  torch_geometric/graphgym/loader.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/mask.py
Labels: feature, Priority P0

#4206 Fix graphgym multilabel loss/logger
  torch_geometric/graphgym/loss.py
Labels: bug, Priority P0, graphgym

#4219 `MessagePassing`: Support for `min` and `mul` aggregation
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/message_passing.py
Labels: feature, Priority P0

#4222 Fix `MessagePassing` with zero nodes
  torch_geometric/nn/conv/message_passing.py
Labels: bug, Priority P0

#4214 `ConfigStore`: Mapping from `dataclass` to `class` (and vice versa)
  torch_geometric/graphgym/config_store.py
  torch_geometric/typing.py
Labels: feature, Priority P0

#4152 Fix `edge_insensitive` homophily measure
  test/utils/test_homophily.py
  torch_geometric/utils/homophily.py
Labels: bug, help wanted, Priority P0

#4239 Faster CI testing
  .github/workflows/full_testing.yml
  test/nn/conv/test_agnn_conv.py
  test/nn/conv/test_appnp.py
  test/nn/conv/test_arma_conv.py
  test/nn/conv/test_cg_conv.py
  test/nn/conv/test_cheb_conv.py
  test/nn/conv/test_cluster_gcn_conv.py
  test/nn/conv/test_dna_conv.py
  test/nn/conv/test_edge_conv.py
  test/nn/conv/test_eg_conv.py
  test/nn/conv/test_fa_conv.py
  test/nn/conv/test_feast_conv.py
  test/nn/conv/test_film_conv.py
  test/nn/conv/test_gat_conv.py
  test/nn/conv/test_gated_graph_conv.py
  test/nn/conv/test_gatv2_conv.py
  test/nn/conv/test_gcn2_conv.py
  test/nn/conv/test_gcn_conv.py
  test/nn/conv/test_gen_conv.py
  test/nn/conv/test_gin_conv.py
  test/nn/conv/test_gmm_conv.py
  test/nn/conv/test_graph_conv.py
  test/nn/conv/test_gravnet_conv.py
  test/nn/conv/test_heat_conv.py
  test/nn/conv/test_le_conv.py
  test/nn/conv/test_lg_conv.py
  test/nn/conv/test_mf_conv.py
  test/nn/conv/test_nn_conv.py
  test/nn/conv/test_pdn_conv.py
  test/nn/conv/test_pna_conv.py
  test/nn/conv/test_point_conv.py
  test/nn/conv/test_point_transformer_conv.py
  test/nn/conv/test_ppf_conv.py
  test/nn/conv/test_res_gated_graph_conv.py
  test/nn/conv/test_rgat_conv.py
  test/nn/conv/test_rgcn_conv.py
  test/nn/conv/test_sage_conv.py
  test/nn/conv/test_sg_conv.py
  test/nn/conv/test_signed_conv.py
  test/nn/conv/test_spline_conv.py
  test/nn/conv/test_tag_conv.py
  test/nn/conv/test_transformer_conv.py
  test/nn/conv/test_x_conv.py
  test/nn/dense/test_linear.py
  test/nn/models/test_mlp.py
  test/nn/norm/test_batch_norm.py
  test/nn/norm/test_diff_group_norm.py
  test/nn/norm/test_graph_norm.py
  test/nn/norm/test_instance_norm.py
  test/nn/norm/test_layer_norm.py
  test/nn/norm/test_pair_norm.py
  test/nn/pool/test_pool.py
  test/nn/test_meta.py
  torch_geometric/testing.py
Labels: bug, refactor, test

#4234 Pytorch 1.11 support
  .github/workflows/building-pyg-conda.yml
  .github/workflows/building-rusty1s-conda.yml
  .github/workflows/documentation.yml
  .github/workflows/install.yml
  .github/workflows/testing.yml
  README.md
  conda/pyg/README.md
  conda/pyg/build_conda.sh
  conda/pytorch-geometric/README.md
  conda/pytorch-geometric/build_conda.sh
  docs/source/notes/installation.rst
  docs/source/notes/quick-start.html
  test/graphgym/test_config_store.py
  test/transforms/test_gdc.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/conv/signed_conv.py
Labels: feature, Priority P0

#4240 CI: Remove warnings
  test/graphgym/my_config.yaml
  torch_geometric/datasets/karate.py
  torch_geometric/io/planetoid.py
Labels: feature, Priority P0, test

#4187 Mesh Laplacian computation
  .gitignore
  test/utils/test_get_mesh_laplacian.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/get_mesh_laplacian.py
Labels: feature, help wanted, Priority P0

#4166 Spectral Modularity Pool layer
  examples/proteins_dmon_pool.py
  test/nn/dense/test_dense_dmon_pool.py
  torch_geometric/nn/dense/__init__.py
  torch_geometric/nn/dense/dense_dmon_pool.py
Labels: feature, help wanted, Priority P0

#4241 Test fixtures
  .github/workflows/full_testing.yml
  .github/workflows/testing.yml
  CONTRIBUTING.md
  test/conftest.py
  test/data/test_lightning_datamodule.py
  test/datasets/test_ba_shapes.py
  test/datasets/test_bzr.py
  test/datasets/test_enzymes.py
  test/datasets/test_imdb_binary.py
  test/datasets/test_karate.py
  test/datasets/test_mutag.py
  test/datasets/test_planetoid.py
  test/datasets/test_snap_dataset.py
  test/datasets/test_suite_sparse.py
  test/graphgym/test_graphgym.py
  test/loader/test_cluster.py
  test/loader/test_hgt_loader.py
  test/loader/test_neighbor_loader.py
  test/loader/test_neighbor_sampler.py
  test/nn/conv/test_wl_conv.py
  test/profile/test_profile.py
  torch_geometric/datasets/snap_dataset.py
  torch_geometric/testing.py
Labels: bug, refactor, test

#4242 `DMoNPooling`: Doc and clean-up
  README.md
  examples/proteins_diff_pool.py
  examples/proteins_dmon_pool.py
  examples/proteins_mincut_pool.py
  test/nn/dense/test_dmon_pool.py
  torch_geometric/nn/dense/__init__.py
  torch_geometric/nn/dense/diff_pool.py
  torch_geometric/nn/dense/dmon_pool.py
  torch_geometric/nn/dense/mincut_pool.py
Labels: Priority P0, refactor

#4253 CS224W Tutorials
  README.md
  docs/source/notes/colabs.rst
Labels: feature, documentation, Priority P0

#4243 Bipartite Subgraph + Subgraph refactoring.
  test/utils/test_subgraph.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/subgraph.py
Labels: feature, help wanted, Priority P0, refactor

#4279 Fix: `to_hetero` with `GCN` on single node types
  test/nn/test_to_hetero_transformer.py
  torch_geometric/nn/to_hetero_transformer.py
Labels: bug, Priority P0

#4293 Fix batching with empty lists as attributes
  test/data/test_batch.py
  torch_geometric/data/collate.py
  torch_geometric/data/separate.py
Labels: bug, Priority P0

#4292 extend pre-commit
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  benchmark/kernel/README.md
  docker/Dockerfile
  docs/source/_static/img/pyg1.svg
  docs/source/_static/img/pyg2.svg
  docs/source/modules/profile.rst
  examples/quiver/README.md
  graphgym/grids/example.txt
  graphgym/sample/dimensions.txt
  graphgym/sample/dimensionsatt.txt
  torch_geometric/nn/sequential.jinja
Labels: Priority P0, refactor

#4296 Add `codecov` configuration
  codecov.yml
Labels: Priority P0, refactor

#4297 `pre-commit`: `yamllint`
  .pre-commit-config.yaml
Labels: bug, Priority P0, refactor

#4299 Fix `GAT` with `out_channels != None`
  torch_geometric/nn/models/basic_gnn.py
Labels: bug, Priority P0

#4302 `torchdata` example
  .pre-commit-config.yaml
  examples/datapipe.py
  torch_geometric/data/datapipes.py
  torch_geometric/datasets/molecule_net.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/convert.py
  torch_geometric/utils/smiles.py
Labels: feature, Priority P0

#4307 C++ `torch::jit::load` example
  examples/cpp/CMakeLists.txt
  examples/cpp/README.md
  examples/cpp/main.cpp
  examples/cpp/save_model.py
Labels: feature, Priority P0

#4309 PL full test
  test/data/test_lightning_datamodule.py
Labels: Priority P0, test

#4312 Fixed `avg_deg` calculation
  torch_geometric/nn/conv/pna_conv.py
Labels: bug, Priority P0

#4318 `pre-commit` autoupdate
  .pre-commit-config.yaml
  .style.yapf
Labels: Priority P1, refactor

#4320 Fix `NeighborLoader` for `SparseTensor`
  torch_geometric/loader/utils.py
Labels: bug, Priority P0

#4322 `SparseTensor`: `trust_data=True`
  torch_geometric/loader/shadow.py
  torch_geometric/loader/utils.py
  torch_geometric/transforms/to_sparse_tensor.py
Labels: feature, Priority P0

#4328 Infer `num_nodes` in `NodeStorage`
  torch_geometric/data/storage.py
Labels: Priority P0, refactor

#4329 Rename `node_type` functionality
  test/data/test_hetero_data.py
  torch_geometric/data/hetero_data.py
Labels: feature, Priority P0

#4340 Add examples to nightly test
  .github/workflows/full_testing.yml
Labels: Priority P0, test

#4342 `GATConv`: make use of `edge_updater`
  test/nn/conv/test_gat_conv.py
  torch_geometric/nn/conv/gat_conv.py
Labels: Priority P0, refactor

#4343 `networkx` conversion: Support for graph-level attributes
  torch_geometric/utils/convert.py
Labels: feature, Priority P0

#4338 Fix graphgym config storage directory
  graphgym/main.py
  test/graphgym/test_graphgym.py
  torch_geometric/graphgym/__init__.py
  torch_geometric/graphgym/config.py
Labels: bug

#4344 Expose `cosine` and `num_workers` arguments in `KNNGraph`/`RadiusGraph` transforms
  torch_geometric/transforms/knn_graph.py
  torch_geometric/transforms/radius_graph.py
Labels: feature, Priority P0

#4345 `datapipes.Cacher`
  examples/datapipe.py
  torch_geometric/data/datapipes.py
  torch_geometric/utils/smiles.py
Labels: feature, Priority P0

#4347 Fix `GATconv.jittable()`
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/message_passing.py
Labels: bug, Priority P0

#4349 PointCloud `DataPipe`
  examples/datapipe.py
  torch_geometric/data/datapipes.py
Labels: feature, Priority P0

#4350 Support for multiple aggregations within `MessagePassing`
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
Labels: feature, Priority P0

#4119 CI: Code Scanning
  .github/workflows/codeql-analysis.yml
  .github/workflows/full_testing.yml
Labels: 0 - Priority P0, test

#3189 Unsupervised Heterogeneous Graph Learning
  README.md
  examples/hetero/dmgi_unsup.py
Labels: feature, help wanted, 0 - Priority P0

#4356 Fix full testing pipeline
  .github/workflows/full_testing.yml
Labels: bug, 0 - Priority P0

#4357 Add `v2` option for `GAT` model
  test/nn/models/test_basic_gnn.py
  torch_geometric/nn/models/basic_gnn.py
Labels: feature, 0 - Priority P0, message passing

#4362 Rename workflows
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  .github/workflows/codeql_analysis.yml
Labels: 0 - Priority P0, refactor

#4371 `@functional_transform` for PyG `transforms`
  examples/datapipe.py
  torch_geometric/data/datapipes.py
  torch_geometric/transforms/knn_graph.py
  torch_geometric/transforms/radius_graph.py
  torch_geometric/transforms/sample_points.py
Labels: feature, 0 - Priority P0

#4372 Functional transforms
  torch_geometric/transforms/add_metapaths.py
  torch_geometric/transforms/add_self_loops.py
  torch_geometric/transforms/cartesian.py
  torch_geometric/transforms/center.py
  torch_geometric/transforms/constant.py
  torch_geometric/transforms/delaunay.py
  torch_geometric/transforms/distance.py
  torch_geometric/transforms/face_to_edge.py
  torch_geometric/transforms/fixed_points.py
  torch_geometric/transforms/gcn_norm.py
  torch_geometric/transforms/gdc.py
  torch_geometric/transforms/generate_mesh_normals.py
  torch_geometric/transforms/grid_sampling.py
  torch_geometric/transforms/knn_graph.py
  torch_geometric/transforms/laplacian_lambda_max.py
  torch_geometric/transforms/largest_connected_components.py
  torch_geometric/transforms/line_graph.py
  torch_geometric/transforms/linear_transformation.py
  torch_geometric/transforms/local_cartesian.py
  torch_geometric/transforms/local_degree_profile.py
  torch_geometric/transforms/normalize_features.py
  torch_geometric/transforms/normalize_rotation.py
  torch_geometric/transforms/normalize_scale.py
  torch_geometric/transforms/one_hot_degree.py
  torch_geometric/transforms/point_pair_features.py
  torch_geometric/transforms/polar.py
  torch_geometric/transforms/random_flip.py
  torch_geometric/transforms/random_link_split.py
  torch_geometric/transforms/random_node_split.py
  torch_geometric/transforms/random_rotate.py
  torch_geometric/transforms/random_scale.py
  torch_geometric/transforms/random_shear.py
  torch_geometric/transforms/random_translate.py
  torch_geometric/transforms/remove_isolated_nodes.py
  torch_geometric/transforms/remove_training_classes.py
  torch_geometric/transforms/sign.py
  torch_geometric/transforms/spherical.py
  torch_geometric/transforms/svd_feature_reduction.py
  torch_geometric/transforms/target_indegree.py
  torch_geometric/transforms/to_dense.py
  torch_geometric/transforms/to_device.py
  torch_geometric/transforms/to_sparse_tensor.py
  torch_geometric/transforms/to_superpixels.py
  torch_geometric/transforms/to_undirected.py
  torch_geometric/transforms/two_hop.py
  torch_geometric/transforms/virtual_node.py
Labels: feature, 0 - Priority P0

#4375 Fix unbound local variable error in `NeighborLoader`
  torch_geometric/loader/neighbor_loader.py
Labels: bug, 0 - Priority P0

#4377 PyTorch Lightning 1.6 support
  examples/pytorch_lightning/gin.py
  examples/pytorch_lightning/graph_sage.py
  examples/pytorch_lightning/relational_gnn.py
  test/data/test_lightning_datamodule.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/loader/base.py
  torch_geometric/loader/dataloader.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/neighbor_sampler.py
Labels: feature, 0 - Priority P0

#4383 Remove `negative_sampling` assert
  torch_geometric/utils/negative_sampling.py
Labels: feature, 0 - Priority P0

#4384 Fix data sharing in `NeighborLoader`
  torch_geometric/loader/base.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/utils.py
Labels: bug, 0 - Priority P0

#4197 Label masking example
  README.md
  examples/unimp_arxiv.py
  test/nn/models/test_mask_label.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/mask_label.py
Labels: feature, 0 - Priority P0
