Repository pyg-team/pytorch_geometric, pull requests merged in 2022-09, with the labels that each got.

#5337 Automatically assign author to PR
  .github/workflows/labeler.yml
Labels: feature, 0 - Priority P0, skip-changelog

#5338 Allow file names to be specified as either property and method
  CHANGELOG.md
  test/data/test_dataset.py
  torch_geometric/data/dataset.py
Labels: feature, 0 - Priority P0, data

#5339 `MessagePassing`: Improve out-of-bounds error message
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
Labels: feature, 0 - Priority P0, nn

#5332 Fix `PointTransformerConv` aggregation from `mean` to `sum`
  CHANGELOG.md
  torch_geometric/nn/conv/point_transformer_conv.py
Labels: bug, 0 - Priority P0, nn

#5341 Fix inference benchmark
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/inference/utils.py
  test/test_experimental.py
  torch_geometric/__init__.py
  torch_geometric/debug.py
  torch_geometric/experimental.py
  torch_geometric/nn/models/basic_gnn.py
Labels: bug, 0 - Priority P0, benchmark, nn

#5330 `HeteroLinear` with `segment_matmul`
  CHANGELOG.md
  test/nn/dense/test_linear.py
  torch_geometric/nn/dense/linear.py
Labels: feature, 0 - Priority P0, nn

#5347 Fix `HeteroLinear` with `segment_matmul`
  CHANGELOG.md
  torch_geometric/nn/dense/linear.py
Labels: bug, 0 - Priority P0, nn

#5342 PyTorch nightly `fx` tracing fix
  torch_geometric/nn/fx.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#5354 Add MIT license to colab notebooks
  docs/source/notes/colabs.rst
Labels: documentation, 0 - Priority P0, skip-changelog

#5359 `Explainer`: bug fix.
  test/nn/models/test_gnn_explainer.py
  torch_geometric/nn/models/explainer.py
Labels: bug, explain, skip-changelog

#5361 Fix condition to re-process `TUDataset` in PyG 2.1
  torch_geometric/datasets/tu_dataset.py
Labels: bug, 0 - Priority P0, dataset

#5364 chore(loader): improve error message for `torch_sparse<0.6.15`
  torch_geometric/loader/neighbor_loader.py
Labels: 1 - Priority P1, loader, skip-changelog

#5366 added print statement for `--use-sparse-tensor` option
  benchmark/inference/inference_benchmark.py
Labels: feature, 1 - Priority P1, benchmark, skip-changelog

#5353 Replace in-place operations by out-of-place ones
  CHANGELOG.md
  test/utils/test_scatter.py
  torch_geometric/nn/conv/appnp.py
  torch_geometric/nn/conv/arma_conv.py
  torch_geometric/nn/conv/cg_conv.py
  torch_geometric/nn/conv/cheb_conv.py
  torch_geometric/nn/conv/dna_conv.py
  torch_geometric/nn/conv/eg_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/feast_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/gcn2_conv.py
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/conv/gen_conv.py
  torch_geometric/nn/conv/general_conv.py
  torch_geometric/nn/conv/gin_conv.py
  torch_geometric/nn/conv/gmm_conv.py
  torch_geometric/nn/conv/graph_conv.py
  torch_geometric/nn/conv/heat_conv.py
  torch_geometric/nn/conv/mf_conv.py
  torch_geometric/nn/conv/nn_conv.py
  torch_geometric/nn/conv/pdn_conv.py
  torch_geometric/nn/conv/res_gated_graph_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/conv/sage_conv.py
  torch_geometric/nn/conv/signed_conv.py
  torch_geometric/nn/conv/spline_conv.py
  torch_geometric/nn/conv/supergat_conv.py
  torch_geometric/nn/conv/tag_conv.py
  torch_geometric/nn/conv/transformer_conv.py
  torch_geometric/nn/dense/dense_graph_conv.py
  torch_geometric/nn/models/attentive_fp.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/models/linkx.py
  torch_geometric/utils/scatter.py
Labels: 0 - Priority P0, refactor, nn

#5312 refactor(sampler): consolidate sampling interface, part 1
  CHANGELOG.md
  torch_geometric/data/graph_store.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/__init__.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: feature, 0 - Priority P0, loader, data

#5377 build: improve support for `skip-changelog` in changelog enforcer
  .github/workflows/changelog.yml
Labels: 1 - Priority P1, test, skip-changelog

#5384 Add `pyg-lib` neighbor sampling test
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
Labels: 0 - Priority P0, test, loader

#5376 build: do not run tests in minimal install
  .github/workflows/install.yml
Labels: 1 - Priority P1, test, skip-changelog

#5317 `GraphSAGE` example with `LinkNeighborLoader`
  CHANGELOG.md
  examples/graph_sage_unsup.py
Labels: 0 - Priority P0, refactor, example

#5386 Test `pytorch.scatter_reduce` in-place gradient computation
  CHANGELOG.md
  test/utils/test_scatter.py
Labels: 1 - Priority P1, test

#5388 `pyg-lib` neighbor sampler integration
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: feature, 0 - Priority P0, loader

#5365 refactor(sampler): consolidate link neighbor sampling interface, part 2
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  test/loader/test_loader_utils.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: 0 - Priority P0, loader, data

#5392 fix(sampler): use `pyg-lib` for `num_neighbors = {}`
  torch_geometric/sampler/neighbor_sampler.py
Labels: bug, 1 - Priority P1, loader, skip-changelog

#5395 Make `ASAPooling` jittable
  CHANGELOG.md
  test/nn/pool/test_asap.py
  torch_geometric/nn/pool/asap.py
  torch_geometric/nn/pool/topk_pool.py
Labels: feature, 0 - Priority P0, nn

#5403 Fix bug in `gnn_explainer_ba_shapes` example
  examples/gnn_explainer_ba_shapes.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#5410 Fix potentially overridden key `batch` and `ptr` in `ShaDowKHopSampler`
  torch_geometric/loader/shadow.py
Labels: bug, 0 - Priority P0, loader, skip-changelog

#5381 Add `PositionEncoding` module
  CHANGELOG.md
  docs/source/modules/nn.rst
  test/nn/test_encoding.py
  torch_geometric/nn/__init__.py
  torch_geometric/nn/encoding.py
Labels: feature, documentation, 0 - Priority P0, nn

#5404 refactor(loader): `NodeLoader` and `LinkLoader` as base implementation classes, part 4
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/sampler/utils.py
Labels: 0 - Priority P0, refactor, benchmark, nn, loader

#5418 refactor(loader): `HGTLoader` behind `NodeLoader` interface, part 5
  CHANGELOG.md
  torch_geometric/loader/hgt_loader.py
  torch_geometric/sampler/__init__.py
  torch_geometric/sampler/hgt_sampler.py
Labels: 0 - Priority P0, refactor, loader

#5423 Only run labeler CI on non-forks
  .github/workflows/labeler.yml
Labels: bug, 0 - Priority P0, skip-changelog

#5424 Only run labeleler CI on non-forks
  .github/workflows/labeler.yml
Labels: bug, 0 - Priority P0, skip-changelog

#5387 Add `FeaturePropagation` as a `transform`
  CHANGELOG.md
  README.md
  test/transforms/test_feature_propagation.py
  torch_geometric/graphgym/config_store.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/feature_propagation.py
Labels: feature, 0 - Priority P0, transform

#5425 Keep `edge_index` with `SparseTensor` data representation for `PNA` model
  benchmark/inference/utils.py
Labels: bug, 1 - Priority P1, benchmark, skip-changelog

#5431 fix: support `fx` functionality for older PyTorch versions
  torch_geometric/nn/fx.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#5422 Add code examples for `torch_geometric.utils` functions
  torch_geometric/utils/coalesce.py
  torch_geometric/utils/convert.py
  torch_geometric/utils/degree.py
  torch_geometric/utils/dropout.py
  torch_geometric/utils/geodesic.py
  torch_geometric/utils/get_laplacian.py
  torch_geometric/utils/grid.py
  torch_geometric/utils/homophily.py
  torch_geometric/utils/isolated.py
  torch_geometric/utils/loop.py
  torch_geometric/utils/mask.py
  torch_geometric/utils/negative_sampling.py
  torch_geometric/utils/normalized_cut.py
  torch_geometric/utils/random.py
  torch_geometric/utils/softmax.py
  torch_geometric/utils/sort_edge_index.py
  torch_geometric/utils/sparse.py
  torch_geometric/utils/subgraph.py
  torch_geometric/utils/to_dense_adj.py
  torch_geometric/utils/to_dense_batch.py
  torch_geometric/utils/unbatch.py
  torch_geometric/utils/undirected.py
Labels: feature, documentation, 1 - Priority P1, skip-changelog

#5441 Fix `node_attributes` shape in `read_tu_data`
  CHANGELOG.md
  torch_geometric/io/tu.py
Labels: bug, 0 - Priority P0, dataset

#5440 Set `num_workers=0` for Windows OS in node2vec example
  examples/node2vec.py
Labels: bug, 2 - Priority P2, example, skip-changelog

#5444 Ensure equal lenghts of `num_neighbors` across edge types in `NeighborLoader`
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: bug, 0 - Priority P0

#5448 Fix wrong cite for `AttentionalAggregation`
  README.md
  torch_geometric/nn/aggr/attention.py
Labels: 0 - Priority P0, nn

#5449 `AttentionalAggregation` per-feature gating
  CHANGELOG.md
  torch_geometric/nn/aggr/attention.py
Labels: feature, 0 - Priority P0, nn

#5450 Fix a typo in the `GENConv` doc-string
  torch_geometric/nn/conv/gen_conv.py
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#5451 Fix some typos in docstrings code blocks
  torch_geometric/nn/models/explainer.py
  torch_geometric/nn/to_hetero_transformer.py
  torch_geometric/nn/to_hetero_with_bases_transformer.py
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#5375 Add `IndexToMask` and `MaskToIndex` transforms
  CHANGELOG.md
  test/transforms/test_mask_transform.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/mask.py
Labels: feature, 0 - Priority P0, transform

#5442 Add default splits to `MalNetTiny` dataset
  CHANGELOG.md
  torch_geometric/datasets/malnet_tiny.py
Labels: feature, 1 - Priority P1, dataset

#5455 Fix `IndexToMask` transform for `edge_index` attribute
  CHANGELOG.md
  test/transforms/test_mask_transform.py
  torch_geometric/transforms/mask.py
Labels: bug, 0 - Priority P0, transform

#5456 Support `sampler` argument in `LightningDataModule`
  CHANGELOG.md
  torch_geometric/data/lightning_datamodule.py
Labels: feature, 0 - Priority P0, data

#5457 Set `shuffle=False` in case a `sampler` is given
  CHANGELOG.md
  torch_geometric/data/lightning_datamodule.py
Labels: bug, 0 - Priority P0, data

#5438 Add `Summary` for PyG datasets
  CHANGELOG.md
  test/data/test_summary.py
  torch_geometric/data/dataset.py
  torch_geometric/data/summary.py
Labels: feature, 1 - Priority P1, dataset

#5316 `WLConv` operation for continuously attributed graphs
  CHANGELOG.md
  README.md
  test/nn/conv/test_wl_conv_continuous.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/wl_conv_continuous.py
Labels: feature, 1 - Priority P1, nn

#5465 Fix `__repr__` in `Summary` when `progress_bar=True`
  torch_geometric/data/summary.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#5476 Fix `to_dense_adj` with empty `edge_index`
  CHANGELOG.md
  test/utils/test_to_dense_adj.py
  torch_geometric/utils/to_dense_adj.py
Labels: bug, 0 - Priority P0

#5397 Add random walk based `AddRandomMetaPaths` as a faster alternative
  CHANGELOG.md
  test/transforms/test_add_metapaths.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/add_metapaths.py
Labels: feature, 1 - Priority P1, transform

#5489 Update Slack link
  README.md
  docs/source/index.rst
Labels: documentation, skip-changelog

#5490 Rename `drop_unconnected_nodes` and `drop_orig_edges` arguments in `AddMetapaths`
  CHANGELOG.md
  examples/hetero/dmgi_unsup.py
  examples/hetero/han_imdb.py
  test/transforms/test_add_metapaths.py
  torch_geometric/transforms/add_metapaths.py
Labels: 0 - Priority P0, refactor, example, transform

#5481 Add `dropout_node` to `torch_geometric.utils`
  CHANGELOG.md
  test/utils/test_dropout.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/dropout.py
Labels: feature, 0 - Priority P0, transform

#5401 Add support for precomputed edges in `SchNet` model
  CHANGELOG.md
  examples/qm9_pretrained_schnet.py
  setup.py
  test/nn/models/test_schnet.py
  torch_geometric/logging.py
  torch_geometric/nn/models/schnet.py
Labels: feature, 0 - Priority P0, nn

#5502 Fix typo in `PositionalEncoding`
  torch_geometric/nn/encoding.py
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#5506 `JumpingKnowledge` Documentation Changes
  test/nn/models/test_jumping_knowledge.py
  torch_geometric/nn/models/jumping_knowledge.py
Labels: feature, 1 - Priority P1, nn, skip-changelog

#5507 Fix `None` case of `sampler` or `batch_sampler`
  torch_geometric/data/lightning_datamodule.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#5495 Add `dropout_edge` and deprecate `dropout_adj`
  CHANGELOG.md
  README.md
  examples/graph_unet.py
  test/nn/test_to_hetero_transformer.py
  test/utils/test_dropout.py
  torch_geometric/nn/conv/supergat_conv.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/dropout.py
Labels: 0 - Priority P0, refactor, transform

#5513 Quick fix for `dropout_node` when `training=False`
  test/utils/test_dropout.py
  torch_geometric/utils/dropout.py
Labels: bug, 0 - Priority P0, transform, skip-changelog

#5515 Fixed a bug when applying several scalers with `PNAConv`
  CHANGELOG.md
  torch_geometric/nn/aggr/scaler.py
Labels: bug, 0 - Priority P0, nn

#5504 Add `DGraphFin` dynamic graph dataset
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/dgraph.py
Labels: feature, 1 - Priority P1, dataset

#5526 Extended dataset cheatsheet in documentation
  torch_geometric/datasets/aqsol.py
  torch_geometric/datasets/md17.py
  torch_geometric/datasets/molecule_net.py
  torch_geometric/datasets/polblogs.py
  torch_geometric/datasets/zinc.py
Labels: feature, 1 - Priority P1, dataset, skip-changelog

#5547 Fix grammatical error in docstring
  torch_geometric/nn/pool/graclus.py
Labels: documentation, 0 - Priority P0, skip-changelog

#5571 [ONNX] Prevent tensors to be detached during ONNX export
  torch_geometric/nn/dense/linear.py
Labels: feature, 0 - Priority P0, nn, skip-changelog

#5563 Add `torch_geometric.sampler` package to docs
  CHANGELOG.md
  docs/source/index.rst
  docs/source/modules/loader.rst
  docs/source/modules/sampler.rst
  torch_geometric/sampler/__init__.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/hgt_sampler.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: documentation, 2 - Priority P2, loader

#5516 `NeighborSampler`: Sort local neighborhoods according to `time`
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: feature, 0 - Priority P0, loader

#5576 Support for sampling last `k` neighbors as temporal sampling strategy
  CHANGELOG.md
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: feature, 0 - Priority P0, loader

#5530 Add option for `BatchNorm` to handle batches of size one
  CHANGELOG.md
  test/nn/norm/test_batch_norm.py
  torch_geometric/nn/norm/batch_norm.py
Labels: feature, 1 - Priority P1, nn

#5578 Do not remove labels when matching files are reverted
  .github/workflows/labeler.yml
Labels: bug, 0 - Priority P0, skip-changelog

#5540 Unknown label support in `to_homogeneous`
  CHANGELOG.md
  test/data/test_hetero_data.py
  torch_geometric/data/hetero_data.py
Labels: feature, 0 - Priority P0, data

#5531 Add `dropout_path` as a structured form of `dropout_edge`
  CHANGELOG.md
  README.md
  test/utils/test_dropout.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/dropout.py
Labels: feature, 1 - Priority P1

#5580 Fix a typo in `gini` doc-string
  torch_geometric/nn/functional/gini.py
Labels: bug, documentation, 0 - Priority P0, skip-changelog
