Repository pyg-team/pytorch_geometric, pull requests merged in 2023-06, with the labels that each got.

#7484 Move the `scaler` tensor in `GeneralConv` to the correct device
  CHANGELOG.md
  torch_geometric/nn/conv/general_conv.py
Labels: bug, 0 - Priority P0, nn

#7470 [Benchmark] Add compile option in benchmark kernel, citation and points
  benchmark/citation/appnp.py
  benchmark/citation/arma.py
  benchmark/citation/cheb.py
  benchmark/citation/gat.py
  benchmark/citation/gcn.py
  benchmark/citation/sgc.py
  benchmark/citation/train_eval.py
  benchmark/kernel/main_performance.py
  benchmark/points/edge_cnn.py
  benchmark/points/mpnn.py
  benchmark/points/point_cnn.py
  benchmark/points/point_net.py
  benchmark/points/spline_cnn.py
  benchmark/points/train_eval.py
Labels: feature, 1 - Priority P1, benchmark, skip-changelog

#7483 Amazon book dataset
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/amazon_book.py
Labels: feature, 0 - Priority P0, dataset

#7485 Enable Python 3.11 conda packages
  .github/workflows/building_pyg_conda.yml
Labels: installation, feature, 0 - Priority P0, skip-changelog

#7493 `cudf` support in `map_index`
  CHANGELOG.md
  test/utils/test_map.py
  torch_geometric/utils/map.py
Labels: 0 - Priority P0, refactor, utils

#7479 Add `MovieLens-1M` heterogeneous dataset
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/movie_lens_100k.py
  torch_geometric/datasets/movie_lens_1m.py
Labels: feature, 0 - Priority P0, dataset

#7481 Make `TGN` use `torch` native when `torch-scatter` not available
  test/nn/models/test_tgn.py
  test/utils/test_scatter.py
  torch_geometric/nn/models/tgn.py
  torch_geometric/utils/scatter.py
Labels: feature, 1 - Priority P1, nn, skip-changelog, utils

#7477 Making `RevGNN` example work w/o `torch-sparse`
  examples/rev_gnn.py
Labels: 1 - Priority P1, refactor, example, skip-changelog

#7495 Fix `torch_geometric.utils.scatter_argmax`
  torch_geometric/utils/scatter.py
Labels: bug, 0 - Priority P0, skip-changelog, utils

#7491 Add conda build number 1 for republishing with Python 3.11
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
Labels: installation, 1 - Priority P1, skip-changelog

#7486 Publish Pyg 2.3.1 conda packages
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
Labels: installation, 1 - Priority P1, skip-changelog

#7498 Use `NeighborLoader` instead of `NeighborSampler` in Cluster-GCN example
  examples/cluster_gcn_reddit.py
Labels: 1 - Priority P1, refactor, example, skip-changelog

#7504 Update the documentation of `GraphMaskExplainer`
  test/utils/test_sparse.py
  torch_geometric/contrib/explain/graphmask_explainer.py
Labels: 1 - Priority P1, refactor, skip-changelog, contrib

#7474 Add option to override the `segmm` heuristic decision in `HeteroLinear`
  CHANGELOG.md
  torch_geometric/nn/dense/linear.py
Labels: feature, 1 - Priority P1, nn

#7246 Introduce `disable_dynamic_shapes` experimental flag; adding its use into `to_dense_batch function`
  CHANGELOG.md
  test/test_experimental.py
  test/utils/test_to_dense_batch.py
  torch_geometric/experimental.py
  torch_geometric/utils/to_dense_batch.py
Labels: feature, 0 - Priority P0, utils

#7507 Fix typo in documentation
  docs/source/get_started/introduction.rst
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#7506 Fix full tests on master
  test/loader/test_cluster.py
  torch_geometric/loader/cluster.py
Labels: bug, 0 - Priority P0, test, loader, skip-changelog

#7508 Fix `disable_dynamic_shapes` decorator in combination with TorchScript
  torch_geometric/experimental.py
Labels: bug, 0 - Priority P0, skip-changelog

#7509 Remove some warnings
  test/nn/dense/test_linear.py
  torch_geometric/data/hetero_data.py
  torch_geometric/nn/aggr/multi.py
Labels: 0 - Priority P0, refactor, test, nn, data, skip-changelog

#7511 Fix `GCN2` example for `torch.sparse_csr` layout
  examples/gcn2_cora.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#7512 Fail gracefully in case `GNNExplainer` will not compute gradients for node features or edges
  torch_geometric/explain/algorithm/gnn_explainer.py
Labels: 0 - Priority P0, refactor, explain, skip-changelog

#7501 Add `NodeEncoder` from the GraphMixer paper
  CHANGELOG.md
  test/nn/models/test_graph_mixer.py
  torch_geometric/nn/models/graph_mixer.py
Labels: feature, 0 - Priority P0, nn

#7516 Add number of sampled nodes/edges information to `LinkLoader`
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_loader.py
Labels: feature, 0 - Priority P0, loader

#7514 Enable `trim_to_layer` with hetero CSR flow
  test/utils/test_trim_to_layer.py
  torch_geometric/utils/trim_to_layer.py
Labels: feature, 0 - Priority P0, skip-changelog, utils

#7519 Fix empty edge indices handling with `SparseTensor`
  CHANGELOG.md
  torch_geometric/typing.py
  torch_geometric/utils/spmm.py
  torch_geometric/utils/trim_to_layer.py
Labels: bug, 0 - Priority P0, utils

#7526 Fix `NeighborLoader` tests in case `torch-sparse` is not installed
  test/loader/test_neighbor_loader.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#7527 Fix type hints in `InMemoryDataset`
  torch_geometric/data/dataset.py
  torch_geometric/data/in_memory_dataset.py
Labels: bug, 0 - Priority P0, data, skip-changelog, type hints

#7529 Add `max_num_elements` parameter to the forward method of aggregation layers
  CHANGELOG.md
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/gmt.py
  torch_geometric/nn/aggr/gru.py
  torch_geometric/nn/aggr/lstm.py
  torch_geometric/nn/aggr/set_transformer.py
Labels: feature, 0 - Priority P0, nn

#7497 Ensure data is on the same device in `knn_graph`
  torch_geometric/nn/pool/__init__.py
Labels: feature, 2 - Priority P2, skip-changelog, utils

#7534 Add usage of `disable_dynamic_shape` decorator in aggregation layers
  CHANGELOG.md
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/gmt.py
  torch_geometric/nn/aggr/gru.py
  torch_geometric/nn/aggr/lstm.py
  torch_geometric/nn/aggr/set_transformer.py
  torch_geometric/nn/aggr/sort.py
Labels: feature, 0 - Priority P0, nn

#7530 Add `max_num_nodes` parameter to the constructor of `EquilibriumAggregation` layer
  CHANGELOG.md
  test/nn/aggr/test_equilibrium.py
  torch_geometric/nn/aggr/equilibrium.py
Labels: 0 - Priority P0, refactor, nn

#7544 Fix `get_mesh_laplacian` with `normalization="sym"`
  CHANGELOG.md
  torch_geometric/utils/get_mesh_laplacian.py
Labels: bug, 0 - Priority P0, utils

#7465 Add `Performer` to `GPSConv`
  CHANGELOG.md
  examples/graph_gps.py
  test/nn/attention/test_performer.py
  test/nn/conv/test_gps_conv.py
  torch_geometric/nn/attention/__init__.py
  torch_geometric/nn/attention/performer.py
  torch_geometric/nn/conv/gps_conv.py
Labels: feature, 0 - Priority P0, nn

#7482 Add `LocalFeatureStore` and `LocalGraphStore` helper initializations
  CHANGELOG.md
  test/distributed/test_local_feature_store.py
  test/distributed/test_local_graph_store.py
  torch_geometric/distributed/local_feature_store.py
  torch_geometric/distributed/local_graph_store.py
Labels: feature, 0 - Priority P0, distributed

#7559 Add `dim size` parameter to the `EquilibriumAggregation` layer potential function
  examples/equilibrium_median.py
  torch_geometric/nn/aggr/equilibrium.py
Labels: feature, 0 - Priority P0, nn, skip-changelog

#7560 Add a `num_nodes` parameter to the `HypergraphConv` layer
  CHANGELOG.md
  torch_geometric/nn/conv/hypergraph_conv.py
Labels: feature, 0 - Priority P0, nn

#7549 `topk` benchmark
  test/nn/dense/test_diff_pool.py
  test/nn/pool/select/test_select_topk.py
Labels: 1 - Priority P1, skip-changelog

#7548 Allow GPU inference in `BasicGNN`
  CHANGELOG.md
  torch_geometric/nn/models/basic_gnn.py
Labels: feature, 0 - Priority P0, loader

#7571 Move `ConfigStore` outside GraphGym repository
  test/my_config.yaml
  test/test_config_store.py
  torch_geometric/config_store.py
  torch_geometric/graphgym/__init__.py
Labels: 0 - Priority P0, graphgym, refactor, skip-changelog

#7568 Correctly move data to device in GraphSAGE example
  examples/graph_sage_unsup.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#7567 adding backwards to `dense_diff_pool` benchmark
  test/nn/dense/test_diff_pool.py
  torch_geometric/profile/benchmark.py
Labels: 0 - Priority P0, benchmark, skip-changelog

#7572 Allow GPU input in `NodeLoader` and `LinkLoader`
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/sampler/base.py
Labels: feature, 0 - Priority P0, loader, sampler

#7575 feat(docker): bump version in `Dockerfile`
  docker/Dockerfile
Labels: installation, feature, 0 - Priority P0, skip-changelog

#7573 Added `edge_index` property to `TemporalData`
  test/data/test_temporal.py
  torch_geometric/data/temporal.py
Labels: feature, 1 - Priority P1, data, skip-changelog

#7589 Check lazy initialization with `SAGEConv(project=True)`
  test/nn/conv/test_sage_conv.py
  torch_geometric/nn/conv/sage_conv.py
Labels: 0 - Priority P0, refactor, test, nn, skip-changelog

#7458 Implementation of Directed Graph Neural Networks (Dir-GNN)
  CHANGELOG.md
  examples/dir_gnn.py
  test/nn/conv/test_dir_gnn_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/dir_gnn_conv.py
Labels: feature, 0 - Priority P0, nn

#7502 Add partitioning for distributed training
  CHANGELOG.md
  test/distributed/test_partition.py
  torch_geometric/distributed/__init__.py
  torch_geometric/distributed/partition.py
Labels: feature, 0 - Priority P0, distributed

#7595 Fixed `SelectTopK` with x.dim() == 1
  torch_geometric/nn/pool/select/topk.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#7598 Fix typo in documentation: adivisable -> advisable
  docs/source/advanced/cpu_affinity.rst
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#7361 Added `FilterEdges` graph coarsening operator
  CHANGELOG.md
  test/nn/pool/connect/test_filter_edges.py
  test/nn/pool/test_topk_pool.py
  torch_geometric/nn/pool/connect/__init__.py
  torch_geometric/nn/pool/connect/base.py
  torch_geometric/nn/pool/connect/filter_edges.py
  torch_geometric/nn/pool/pan_pool.py
  torch_geometric/nn/pool/sag_pool.py
  torch_geometric/nn/pool/topk_pool.py
Labels: 1 - Priority P1, refactor, nn

#7599 Fix typos in `distributed.Partioner`
  torch_geometric/distributed/partition.py
Labels: bug, 0 - Priority P0, skip-changelog, distributed

#7600 Fix TorchScript support in `TopKPooling`
  CHANGELOG.md
  test/nn/pool/connect/test_filter_edges.py
  torch_geometric/nn/pool/connect/filter_edges.py
  torch_geometric/nn/pool/pan_pool.py
  torch_geometric/nn/pool/sag_pool.py
  torch_geometric/nn/pool/select/topk.py
  torch_geometric/nn/pool/topk_pool.py
Labels: bug, 0 - Priority P0, refactor, nn, skip-changelog

#7601 Enable different attention modes in `HypergraphConv`
  CHANGELOG.md
  torch_geometric/nn/conv/hypergraph_conv.py
Labels: feature, 0 - Priority P0, nn

#7594 Documentation Page for HGAM
  CHANGELOG.md
  docs/source/advanced/hgam.rst
  docs/source/index.rst
Labels: documentation, 0 - Priority P0, loader

#7603 `LightGCN` example
  CHANGELOG.md
  examples/lightgcn.py
  torch_geometric/data/hetero_data.py
  torch_geometric/nn/models/lightgcn.py
Labels: feature, 0 - Priority P0, example

#7619 Adjust `atol` in `MessagePassing` tests
  test/nn/conv/test_message_passing.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7614 Add `interval` argument to `Cartesian`
  CHANGELOG.md
  test/transforms/test_cartesian.py
  torch_geometric/transforms/cartesian.py
Labels: feature, 0 - Priority P0, transform

#7522 Add `compile` option in benchmark scripts
  benchmark/training/training_benchmark.py
  torch_geometric/nn/models/basic_gnn.py
Labels: feature, 0 - Priority P0, benchmark, nn, skip-changelog

#7620 Fix `atol` in `HEATConv` tests
  test/nn/conv/test_heat_conv.py
Labels: bug, 0 - Priority P0, test, nn, skip-changelog

#7621 Add `seed_time` to `GraphMixer`
  test/nn/models/test_graph_mixer.py
  torch_geometric/nn/encoding.py
  torch_geometric/nn/models/graph_mixer.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#7624 Fix `DDPStrategy` and `LinkLoader` in PyTorchLightning
  torch_geometric/loader/link_loader.py
Labels: bug, 0 - Priority P0, loader, skip-changelog

#7629 Make `Data.keys` a method rather than a property
  CHANGELOG.md
  docs/source/get_started/introduction.rst
  test/data/test_data.py
  test/data/test_hetero_data.py
  test/data/test_temporal.py
  test/distributed/test_partition.py
  test/transforms/test_pad.py
  torch_geometric/data/data.py
  torch_geometric/explain/explanation.py
  torch_geometric/graphgym/loader.py
  torch_geometric/loader/dense_data_loader.py
Labels: documentation, 0 - Priority P0, graphgym, loader, explain, data

#7632 Clean-up `GenerateMeshNormals` transform
  test/transforms/test_generate_mesh_normals.py
  torch_geometric/transforms/generate_mesh_normals.py
Labels: 1 - Priority P1, refactor, transform, skip-changelog

#7625 Using `Select` and `Connect` modules in pooling layers
  CHANGELOG.md
  torch_geometric/nn/pool/asap.py
  torch_geometric/nn/pool/pan_pool.py
  torch_geometric/nn/pool/sag_pool.py
Labels: 0 - Priority P0, refactor, nn

#7628 Add `from_partition` in `LocalGraphStore`/`LocalFeatureStore`
  CHANGELOG.md
  test/distributed/test_partition.py
  torch_geometric/distributed/local_feature_store.py
  torch_geometric/distributed/local_graph_store.py
Labels: feature, 0 - Priority P0, distributed

#7637 Error out in case of bipartite message passing via `GCNConv`
  torch_geometric/nn/conv/gcn_conv.py
Labels: feature, 0 - Priority P0, nn, skip-changelog

#7638 Add `index_add` benchmark
  test/utils/test_scatter.py
Labels: feature, 0 - Priority P0, benchmark, skip-changelog

#7639 Fix link in `NodePropertySplit`
  torch_geometric/transforms/node_property_split.py
Labels: bug, 0 - Priority P0, transform, skip-changelog

#7643 `torch.nested_tensor` support in `Data` and `Batch`
  CHANGELOG.md
  test/data/test_batch.py
  torch_geometric/data/collate.py
  torch_geometric/data/data.py
  torch_geometric/data/storage.py
Labels: feature, 0 - Priority P0, data

#7647 Test `__inc__` with nested tensors
  CHANGELOG.md
  test/data/test_batch.py
Labels: 0 - Priority P0, test

#7648 Allow usage of `BasicGNN` in `DeepGraphInfomax`
  CHANGELOG.md
  examples/infomax_transductive.py
  test/nn/models/test_deep_graph_infomax.py
  torch_geometric/nn/models/deep_graph_infomax.py
Labels: bug, 0 - Priority P0, nn, example

#7649 Add `Data.sort()` and better documentation on sort requirements in `Aggregation`
  CHANGELOG.md
  test/data/test_data.py
  torch_geometric/data/data.py
  torch_geometric/data/storage.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/gmt.py
  torch_geometric/nn/aggr/gru.py
  torch_geometric/nn/aggr/lstm.py
  torch_geometric/nn/aggr/mlp.py
  torch_geometric/nn/aggr/set2set.py
  torch_geometric/nn/aggr/set_transformer.py
  torch_geometric/nn/aggr/sort.py
  torch_geometric/utils/sort_edge_index.py
Labels: feature, 0 - Priority P0, nn, data, utils

#7650 Documentation typos
  torch_geometric/data/data.py
  torch_geometric/nn/aggr/gmt.py
  torch_geometric/nn/aggr/gru.py
  torch_geometric/nn/aggr/lstm.py
  torch_geometric/nn/aggr/mlp.py
  torch_geometric/nn/aggr/set_transformer.py
  torch_geometric/nn/aggr/sort.py
Labels: bug, 0 - Priority P0, nn, data, skip-changelog

#7654 Only add true negatives in `add_random_edge` augmentation
  CHANGELOG.md
  test/utils/test_augmentation.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/augmentation.py
  torch_geometric/utils/negative_sampling.py
Labels: bug, 0 - Priority P0, utils

#7655 Fix paper links in GNN cheatsheet
  docs/source/cheatsheet/gnn_cheatsheet.rst
  torch_geometric/datasets/utils/cheatsheet.py
  torch_geometric/nn/conv/utils/cheatsheet.py
Labels: bug, documentation, 0 - Priority P0, nn, dataset, skip-changelog

#7656 Test PyG on PyTorch >= 1.11
  .github/actions/setup/action.yml
  .github/workflows/prev_testing.yml
  CHANGELOG.md
  test/data/lightning/test_datamodule.py
  test/data/test_batch.py
  test/data/test_graph_store.py
  test/datasets/test_bzr.py
  test/datasets/test_elliptic.py
  test/datasets/test_enzymes.py
  test/datasets/test_imdb_binary.py
  test/datasets/test_mutag.py
  test/datasets/test_planetoid.py
  test/datasets/test_snap_dataset.py
  test/datasets/test_suite_sparse.py
  test/graphgym/test_graphgym.py
  test/loader/test_cluster.py
  test/loader/test_hgt_loader.py
  test/loader/test_neighbor_loader.py
  test/loader/test_neighbor_sampler.py
  test/nn/conv/test_gat_conv.py
  test/nn/conv/test_gatv2_conv.py
  test/nn/conv/test_gps_conv.py
  test/nn/conv/test_heat_conv.py
  test/nn/conv/test_hgt_conv.py
  test/nn/conv/test_message_passing.py
  test/nn/conv/test_rgcn_conv.py
  test/nn/dense/test_linear.py
  test/nn/models/test_basic_gnn.py
  test/nn/models/test_dimenet.py
  test/nn/models/test_graph_unet.py
  test/nn/pool/connect/test_filter_edges.py
  test/nn/pool/test_asap.py
  test/nn/pool/test_pan_pool.py
  test/nn/pool/test_sag_pool.py
  test/nn/pool/test_topk_pool.py
  test/nn/test_to_hetero_module.py
  test/nn/test_to_hetero_transformer.py
  test/profile/test_profile.py
  test/profile/test_profiler.py
  test/transforms/test_feature_propagation.py
  test/transforms/test_random_link_split.py
  test/transforms/test_rooted_subgraph.py
  test/transforms/test_sign.py
  test/transforms/test_to_sparse_tensor.py
  test/transforms/test_to_superpixels.py
  test/utils/test_nested.py
  test/utils/test_scatter.py
  test/utils/test_sparse.py
  test/utils/test_spmm.py
  torch_geometric/data/collate.py
  torch_geometric/data/data.py
  torch_geometric/nn/pool/connect/base.py
  torch_geometric/nn/pool/select/base.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
  torch_geometric/typing.py
  torch_geometric/utils/scatter.py
  torch_geometric/utils/sparse.py
  torch_geometric/utils/spmm.py
Labels: installation, feature, 0 - Priority P0, nn, data, utils

#7659 Suggest to users: RMM gives 50% speedboost to cudf pathway for `map_index`
  torch_geometric/utils/map.py
Labels: documentation, 1 - Priority P1, skip-changelog, utils
