Repository pyg-team/pytorch_geometric, pull requests merged in 2023-01, with the labels that each got.

#6326 `GPSConv` Graph Transformer Layer
  CHANGELOG.md
  README.md
  test/nn/conv/test_gps_conv.py
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/gps_conv.py
Labels: feature, 0 - Priority P0, nn

#6330 `from_nested_tensor` autograd check
  CHANGELOG.md
  test/utils/test_nested.py
  torch_geometric/utils/nested.py
Labels: bug, 0 - Priority P0, utils

#6331 `from_nested_tensor` autograd functionality
  CHANGELOG.md
  test/utils/test_nested.py
  torch_geometric/utils/nested.py
Labels: feature, 0 - Priority P0, utils

#6141 Added `Dataset.to_datapipe` for converting PyG datasets into a torchdata `DataPipe`
  CHANGELOG.md
  test/data/test_dataset.py
  torch_geometric/data/datapipes.py
  torch_geometric/data/dataset.py
Labels: feature, 0 - Priority P0, dataset

#6242 Fixed GDC-PPR for graphs with isolated nodes
  CHANGELOG.md
  torch_geometric/transforms/gdc.py
Labels: feature, 1 - Priority P1, transform

#6327 GraphGPS example
  CHANGELOG.md
  examples/graph_gps.py
Labels: feature, 0 - Priority P0, example

#6332 Zero-copy `from_nested_tensor`
  CHANGELOG.md
  test/utils/test_nested.py
  torch_geometric/utils/nested.py
Labels: 0 - Priority P0, refactor, utils

#6301 Add adaptive aggregators from the 'Graph Neural Networks with Adaptive Readouts' paper
  CHANGELOG.md
  docs/source/modules/nn.rst
  test/nn/aggr/test_deep_sets.py
  test/nn/aggr/test_gru.py
  test/nn/aggr/test_mlp_aggr.py
  test/nn/aggr/test_set_transformer.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/deep_sets.py
  torch_geometric/nn/aggr/gmt.py
  torch_geometric/nn/aggr/gru.py
  torch_geometric/nn/aggr/mlp.py
  torch_geometric/nn/aggr/set_transformer.py
  torch_geometric/nn/models/mlp.py
Labels: feature, 1 - Priority P1, nn

#6336 The `MultiheadAttentionBlock` from the "Set Transformer" paper
  CHANGELOG.md
  test/nn/aggr/test_set_transformer.py
  test/nn/aggr/test_utils_aggr.py
  torch_geometric/nn/aggr/gmt.py
  torch_geometric/nn/aggr/set_transformer.py
  torch_geometric/nn/aggr/utils.py
Labels: feature, 0 - Priority P0, nn

#6338 Clean-up `SetTransformerAggregation`
  CHANGELOG.md
  test/nn/aggr/test_set_transformer.py
  torch_geometric/nn/aggr/set_transformer.py
  torch_geometric/nn/aggr/utils.py
Labels: 0 - Priority P0, refactor, nn

#6339 Update doc AirfRANS dataset
  torch_geometric/datasets/airfrans.py
Labels: documentation, 1 - Priority P1, dataset, skip-changelog

#6343 Re-work `GraphMultisetTransformer`
  CHANGELOG.md
  examples/proteins_gmt.py
  test/nn/aggr/test_gmt.py
  torch_geometric/nn/aggr/gmt.py
  torch_geometric/nn/aggr/set_transformer.py
  torch_geometric/nn/glob.py
Labels: 0 - Priority P0, refactor, nn, example

#5866 Add `GNNFF` model
  CHANGELOG.md
  test/nn/models/test_dimenet.py
  test/nn/models/test_gnnff.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/models/gnnff.py
Labels: feature, 1 - Priority P1, nn

#6346 Added a slack button in the documentation
  docs/source/conf.py
  docs/source/index.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#6347 Update documentation colors
  docs/source/notes/quick-start.html
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#6348 Monospace "Package Reference" Font
  docs/source/_static/css/custom.css
  docs/source/conf.py
  docs/source/index.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#6351 Remove "Indices and Tables" from Documentation
  docs/source/index.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#6353 Fix Test CI for PyTorch 2.0
  test/nn/test_resolver.py
  test/transforms/test_add_metapaths.py
  torch_geometric/nn/resolver.py
Labels: bug, 0 - Priority P0, test, nn, skip-changelog

#6356 `Explain`: Test Refactor
  test/explain/conftest.py
  test/explain/test_explainer.py
  test/explain/test_explanation.py
  test/explain/test_hetero_explainer.py
  test/explain/test_hetero_explanation.py
Labels: 1 - Priority P1, refactor, test, skip-changelog

#6361 `Explain`: Update docs
  docs/source/index.rst
  docs/source/modules/explain.rst
  docs/source/notes/explain.rst
Labels: documentation, 0 - Priority P0, skip-changelog

#6374 Fix `ImbalancedSampler` on sliced `InMemoryDataset`
  CHANGELOG.md
  torch_geometric/loader/imbalanced_sampler.py
Labels: bug, 0 - Priority P0, loader

#6376 Change mutable default arguments to `None`
  CHANGELOG.md
  torch_geometric/nn/data_parallel.py
Labels: bug, 0 - Priority P0, loader

#6377 Support for custom `HeteroData` mini-batch class in remote backends
  CHANGELOG.md
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/utils.py
Labels: loader

#6382 Move captum code to `explain/algorithm`, remove deprecated `ExplainerGNN` and `Explainer` classes
  CHANGELOG.md
  test/explain/algorithm/test_captum.py
  test/explain/algorithm/test_captum_hetero.py
  test/nn/models/test_gnn_explainer_old_interface.py
  torch_geometric/explain/algorithm/captum.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/captum.py
Labels: 0 - Priority P0, refactor, explain

#6385 Fix documentation rendering
  torch_geometric/transforms/feature_propagation.py
  torch_geometric/transforms/to_superpixels.py
Labels: 0 - Priority P0, refactor, transform, skip-changelog

#6386 Fix Dataset Stats Layout
  torch_geometric/datasets/airfrans.py
  torch_geometric/datasets/amazon.py
  torch_geometric/datasets/amazon_products.py
  torch_geometric/datasets/aqsol.py
  torch_geometric/datasets/ba2motif_dataset.py
  torch_geometric/datasets/citation_full.py
  torch_geometric/datasets/coauthor.py
  torch_geometric/datasets/coma.py
  torch_geometric/datasets/dgraph.py
  torch_geometric/datasets/elliptic.py
  torch_geometric/datasets/entities.py
  torch_geometric/datasets/faust.py
  torch_geometric/datasets/flickr.py
  torch_geometric/datasets/ged_dataset.py
  torch_geometric/datasets/gnn_benchmark_dataset.py
  torch_geometric/datasets/karate.py
  torch_geometric/datasets/lrgb.py
  torch_geometric/datasets/md17.py
  torch_geometric/datasets/mnist_superpixels.py
  torch_geometric/datasets/modelnet.py
  torch_geometric/datasets/molecule_net.py
  torch_geometric/datasets/nell.py
  torch_geometric/datasets/planetoid.py
  torch_geometric/datasets/polblogs.py
  torch_geometric/datasets/ppi.py
  torch_geometric/datasets/qm7.py
  torch_geometric/datasets/qm9.py
  torch_geometric/datasets/reddit.py
  torch_geometric/datasets/reddit2.py
  torch_geometric/datasets/rel_link_pred_dataset.py
  torch_geometric/datasets/shapenet.py
  torch_geometric/datasets/tu_dataset.py
  torch_geometric/datasets/utils/cheatsheet.py
  torch_geometric/datasets/yelp.py
  torch_geometric/datasets/zinc.py
Labels: 0 - Priority P0, dataset, skip-changelog

#6383 Adds `CaptumExplainer` class
  CHANGELOG.md
  test/explain/algorithm/test_captum_explainer.py
  torch_geometric/explain/algorithm/__init__.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/captum_explainer.py
  torch_geometric/explain/config.py
Labels: feature, 0 - Priority P0, explain

#6394 Drop `torch-scatter` dependency (part 1)
  CHANGELOG.md
  torch_geometric/datasets/qm9.py
  torch_geometric/nn/aggr/equilibrium.py
  torch_geometric/nn/aggr/set2set.py
  torch_geometric/nn/conv/eg_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/models/rect.py
  torch_geometric/nn/norm/instance_norm.py
  torch_geometric/nn/norm/layer_norm.py
  torch_geometric/nn/norm/mean_subtraction_norm.py
  torch_geometric/nn/norm/pair_norm.py
  torch_geometric/nn/pool/asap.py
  torch_geometric/nn/pool/avg_pool.py
  torch_geometric/nn/pool/glob.py
  torch_geometric/nn/pool/max_pool.py
  torch_geometric/nn/unpool/knn_interpolate.py
  torch_geometric/utils/coalesce.py
  torch_geometric/utils/loop.py
  torch_geometric/utils/to_dense_adj.py
Labels: 0 - Priority P0, refactor, nn, dataset, utils

#6395 Drop `torch-scatter` dependency (part 2)
  CHANGELOG.md
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/conv/hypergraph_conv.py
  torch_geometric/nn/conv/rgat_conv.py
  torch_geometric/nn/conv/wl_conv.py
  torch_geometric/nn/conv/wl_conv_continuous.py
  torch_geometric/nn/meta.py
  torch_geometric/nn/models/re_net.py
  torch_geometric/nn/models/tgn.py
  torch_geometric/nn/norm/graph_norm.py
  torch_geometric/nn/pool/edge_pool.py
  torch_geometric/nn/pool/pan_pool.py
  torch_geometric/nn/pool/pool.py
  torch_geometric/nn/pool/topk_pool.py
Labels: 0 - Priority P0, refactor, nn

#6396 Adding a new resource for link prediction using PyG
  CHANGELOG.md
  docs/source/notes/resources.rst
Labels: feature, documentation, 0 - Priority P0

#6387 `CaptumExplainer` forward method
  CHANGELOG.md
  test/explain/algorithm/test_captum_explainer.py
  torch_geometric/explain/algorithm/captum.py
  torch_geometric/explain/algorithm/captum_explainer.py
Labels: feature, 0 - Priority P0, explain

#6399 Drop `torch-scatter` dependency (part 3)
  CHANGELOG.md
  test/transforms/test_local_degree_profile.py
  torch_geometric/transforms/gdc.py
  torch_geometric/transforms/generate_mesh_normals.py
  torch_geometric/transforms/grid_sampling.py
  torch_geometric/transforms/line_graph.py
  torch_geometric/transforms/local_cartesian.py
  torch_geometric/transforms/local_degree_profile.py
  torch_geometric/transforms/to_superpixels.py
  torch_geometric/utils/augmentation.py
  torch_geometric/utils/get_laplacian.py
  torch_geometric/utils/get_mesh_laplacian.py
  torch_geometric/utils/homophily.py
  torch_geometric/utils/to_dense_batch.py
Labels: 0 - Priority P0, refactor, transform, utils

#6400 Drop `torch-scatter` dependency (part 4)
  CHANGELOG.md
  docs/source/notes/introduction.rst
  docs/source/notes/sparse_tensor.rst
  examples/colors_topk_pool.py
  examples/dgcnn_segmentation.py
  examples/ogbn_proteins_deepgcn.py
  examples/point_transformer_classification.py
  examples/point_transformer_segmentation.py
  examples/pointnet2_segmentation.py
  examples/randlanet_segmentation.py
  examples/triangles_sag_pool.py
  graphgym/custom_graphgym/pooling/example.py
  test/nn/conv/test_message_passing.py
  test/nn/pool/test_edge_pool.py
  test/nn/test_meta.py
  test/utils/test_scatter.py
  torch_geometric/datasets/particle.py
  torch_geometric/graphgym/contrib/layer/generalconv.py
Labels: documentation, 0 - Priority P0, graphgym, refactor, example, dataset

#6409 Fix `EGConv` failing test
  torch_geometric/nn/conv/eg_conv.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#6415 Enable `pyright`
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyrightconfig.json
  torch_geometric/utils/assortativity.py
  torch_geometric/utils/loop.py
  torch_geometric/utils/nested.py
  torch_geometric/utils/subgraph.py
  torch_geometric/utils/to_dense_adj.py
Labels: feature, 1 - Priority P1, utils

#6417 Preserve runtime errors in `MessagePassing`
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/message_passing.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#6418 Warn on using latest documentation
  CHANGELOG.md
  docs/source/_static/js/version_alert.js
  docs/source/conf.py
Labels: feature, documentation, 0 - Priority P0

#6419 Drop unused `*.js` files
  docs/source/conf.py
Labels: documentation, 0 - Priority P0, refactor, skip-changelog

#6420 Restructure documentation navigation
  CHANGELOG.md
  docs/source/_static/css/custom.css
  docs/source/advanced/batching.rst
  docs/source/advanced/graphgym.rst
  docs/source/advanced/jit.rst
  docs/source/advanced/remote.rst
  docs/source/advanced/sparse_tensor.rst
  docs/source/cheatsheet/data_cheatsheet.rst
  docs/source/cheatsheet/gnn_cheatsheet.rst
  docs/source/external/resources.rst
  docs/source/get_started/colabs.rst
  docs/source/get_started/introduction.rst
  docs/source/index.rst
  docs/source/install/installation.rst
  docs/source/install/quick-start.html
  docs/source/tutorial/create_dataset.rst
  docs/source/tutorial/create_gnn.rst
  docs/source/tutorial/explain.rst
  docs/source/tutorial/heterogeneous.rst
  docs/source/tutorial/load_csv.rst
Labels: documentation, 0 - Priority P0, refactor

#6425 Add logos to documentation
  docs/source/advanced/batching.rst
  docs/source/advanced/graphgym.rst
  docs/source/advanced/jit.rst
  docs/source/advanced/remote.rst
  docs/source/advanced/sparse_tensor.rst
  docs/source/external/resources.rst
  docs/source/get_started/colabs.rst
  docs/source/get_started/introduction.rst
  docs/source/index.rst
  docs/source/install/installation.rst
  docs/source/modules/explain.rst
  docs/source/modules/nn.rst
  docs/source/tutorial/create_dataset.rst
  docs/source/tutorial/create_gnn.rst
  docs/source/tutorial/explain.rst
  docs/source/tutorial/heterogeneous.rst
  docs/source/tutorial/load_csv.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#6426 Minor doc fixes
  docs/source/_static/css/custom.css
  docs/source/advanced/graphgym.rst
  docs/source/external/resources.rst
  docs/source/get_started/colabs.rst
  docs/source/install/installation.rst
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#6422 Add `torch_geometric.contrib` subpackage
  .github/labeler.yml
  CHANGELOG.md
  docs/source/_static/css/custom.css
  docs/source/index.rst
  docs/source/modules/contrib.rst
  docs/source/modules/nn.rst
  setup.py
  torch_geometric/__init__.py
  torch_geometric/contrib/__init__.py
  torch_geometric/contrib/datasets/__init__.py
  torch_geometric/contrib/explain/__init__.py
  torch_geometric/contrib/nn/__init__.py
  torch_geometric/contrib/nn/conv/__init__.py
  torch_geometric/contrib/nn/models/__init__.py
  torch_geometric/contrib/transforms/__init__.py
Labels: feature, documentation, 1 - Priority P1, contrib

#6427 Fix temporal `neg_sample` logic in `LinkNeighborLoader`
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/testing/decorators.py
Labels: bug, 0 - Priority P0, skip-changelog, sampler

#6429 Generate `torch_geometric.data` stub files
  CHANGELOG.md
  README.md
  docs/source/.gitignore
  docs/source/_templates/autosummary/class.rst
  docs/source/_templates/autosummary/only_class.rst
  docs/source/conf.py
  docs/source/modules/data.rst
  torch_geometric/data/data.py
  torch_geometric/data/dataset.py
  torch_geometric/data/download.py
  torch_geometric/data/extract.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/data/lightning/datamodule.py
  torch_geometric/data/makedirs.py
  torch_geometric/data/temporal.py
  torch_geometric/debug.py
Labels: feature, documentation, 0 - Priority P0, data

#6430 Remove custom CSS
  docs/source/_static/css/custom.css
  docs/source/conf.py
Labels: documentation, 0 - Priority P0, refactor, skip-changelog

#6431 feat: create pyproject.toml
  .coveragerc
  .pre-commit-config.yaml
  .style.yapf
  CHANGELOG.md
  pyproject.toml
  pyrightconfig.json
  setup.cfg
Labels: installation, 0 - Priority P0, refactor

#6144 Add the unsupervised bipartite GraphSAGE model on the Taobao dataset
  .style.yapf
  CHANGELOG.md
  docs/source/tutorial/heterogeneous.rst
  docs/source/tutorial/load_csv.rst
  examples/hetero/bipartite_sage.py
  examples/hetero/bipartite_sage_unsup.py
  test/data/test_data.py
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/taobao.py
  torch_geometric/explain/algorithm/captum.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/nn/models/captum.py
Labels: feature, 0 - Priority P0, example

#6435 Add `autosummary` patch
  docs/source/modules/data.rst
  torch_geometric/data/__init__.py
Labels: documentation, 0 - Priority P0, refactor, data, skip-changelog

#6439 Fix typo in heterogeneous graph tutorial
  docs/source/tutorial/heterogeneous.rst
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#6440 Re-structure `torch_geometric.datasets` documentation
  CHANGELOG.md
  docs/source/modules/data.rst
  docs/source/modules/datasets.rst
  torch_geometric/datasets/ba_shapes.py
  torch_geometric/datasets/citation_full.py
  torch_geometric/datasets/entities.py
  torch_geometric/datasets/graph_generator/ba_graph.py
  torch_geometric/datasets/motif_generator/cycle.py
  torch_geometric/datasets/motif_generator/house.py
  torch_geometric/datasets/planetoid.py
  torch_geometric/datasets/tu_dataset.py
  torch_geometric/deprecation.py
Labels: documentation, 0 - Priority P0, refactor, dataset

#6442 Fix type hints: `string` -> `str` (part 2)
  torch_geometric/datasets/citation_full.py
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/loader.py
  torch_geometric/graphgym/model_builder.py
  torch_geometric/graphgym/models/layer.py
  torch_geometric/graphgym/register.py
  torch_geometric/nn/aggr/multi.py
  torch_geometric/nn/aggr/scaler.py
  torch_geometric/nn/conv/cg_conv.py
  torch_geometric/nn/conv/edge_conv.py
  torch_geometric/nn/conv/film_conv.py
  torch_geometric/nn/conv/gated_graph_conv.py
  torch_geometric/nn/conv/gen_conv.py
  torch_geometric/nn/conv/general_conv.py
  torch_geometric/nn/conv/gmm_conv.py
  torch_geometric/nn/conv/graph_conv.py
  torch_geometric/nn/conv/hetero_conv.py
  torch_geometric/nn/conv/hgt_conv.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/nn_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/conv/sage_conv.py
  torch_geometric/nn/conv/spline_conv.py
  torch_geometric/nn/conv/supergat_conv.py
  torch_geometric/nn/models/deepgcn.py
  torch_geometric/nn/models/jumping_knowledge.py
  torch_geometric/nn/models/schnet.py
  torch_geometric/nn/pool/__init__.py
  torch_geometric/nn/to_hetero_transformer.py
Labels: 0 - Priority P0, graphgym, refactor, nn, dataset, skip-changelog

#6443 Re-structure `torch_geometric.transforms` documentation
  CHANGELOG.md
  docs/source/modules/transforms.rst
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/add_metapaths.py
  torch_geometric/transforms/base_transform.py
  torch_geometric/transforms/center.py
  torch_geometric/transforms/fixed_points.py
  torch_geometric/transforms/grid_sampling.py
  torch_geometric/transforms/knn_graph.py
  torch_geometric/transforms/linear_transformation.py
  torch_geometric/transforms/radius_graph.py
  torch_geometric/transforms/sample_points.py
  torch_geometric/transforms/to_sparse_tensor.py
  torch_geometric/transforms/to_superpixels.py
Labels: documentation, 0 - Priority P0, refactor, transform

#6446 Allow later customization of `num_neighbors` in `NeighborSampler`
  CHANGELOG.md
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: feature, 0 - Priority P0, sampler

#6450 Customize loader arguments for evaluation in `LightningDataModule`
  CHANGELOG.md
  test/data/lightning/test_datamodule.py
  torch_geometric/data/lightning/datamodule.py
Labels: data

#6452 Re-structure `torch_geometric.explain` documentation
  CHANGELOG.md
  README.md
  docs/source/modules/explain.rst
  torch_geometric/datasets/taobao.py
  torch_geometric/explain/algorithm/attention_explainer.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/captum_explainer.py
  torch_geometric/explain/algorithm/dummy_explainer.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/algorithm/pg_explainer.py
  torch_geometric/explain/explanation.py
Labels: documentation, dataset, explain

#6453 Re-structure `torch_geometric.nn.pool` documentation
  CHANGELOG.md
  README.md
  docs/source/modules/nn.rst
  torch_geometric/datasets/zinc.py
  torch_geometric/nn/pool/__init__.py
  torch_geometric/nn/pool/asap.py
  torch_geometric/nn/pool/avg_pool.py
  torch_geometric/nn/pool/edge_pool.py
  torch_geometric/nn/pool/glob.py
  torch_geometric/nn/pool/graclus.py
  torch_geometric/nn/pool/max_pool.py
  torch_geometric/nn/pool/mem_pool.py
  torch_geometric/nn/pool/pan_pool.py
  torch_geometric/nn/pool/sag_pool.py
  torch_geometric/nn/pool/topk_pool.py
  torch_geometric/nn/pool/voxel_grid.py
  torch_geometric/transforms/knn_graph.py
Labels: documentation, 0 - Priority P0, refactor, nn, dataset, transform

#6456 Fix `eval_loader_kwargs` in lightning modules
  CHANGELOG.md
  torch_geometric/data/lightning/datamodule.py
Labels: bug, 0 - Priority P0, data

#6458 Re-structure `torch_geometric.nn.unpool/kge/functional` documentation
  CHANGELOG.md
  README.md
  docs/source/modules/nn.rst
  torch_geometric/nn/functional/__init__.py
  torch_geometric/nn/functional/bro.py
  torch_geometric/nn/functional/gini.py
  torch_geometric/nn/kge/base.py
  torch_geometric/nn/kge/transe.py
  torch_geometric/nn/unpool/knn_interpolate.py
Labels: documentation, 0 - Priority P0, refactor, nn

#6459 Re-structure `torch_geometric.nn.dense_conv` documentation
  CHANGELOG.md
  docs/source/modules/nn.rst
  torch_geometric/nn/dense/dense_gcn_conv.py
  torch_geometric/nn/dense/dense_gin_conv.py
  torch_geometric/nn/dense/dense_graph_conv.py
  torch_geometric/nn/dense/dense_sage_conv.py
Labels: documentation, 0 - Priority P0, refactor, nn

#6460 Re-structure `torch_geometric.nn.dense_pool` documentation
  CHANGELOG.md
  README.md
  docs/source/modules/nn.rst
  torch_geometric/nn/dense/diff_pool.py
  torch_geometric/nn/dense/dmon_pool.py
  torch_geometric/nn/dense/mincut_pool.py
Labels: documentation, 0 - Priority P0, refactor, nn

#6457 chore: drop redundant `.style.yapf`
  .style.yapf
Labels: 0 - Priority P0, refactor, skip-changelog

#6463 `RGCNConv`: Allow indices with any integer type
  CHANGELOG.md
  torch_geometric/nn/conv/rgcn_conv.py
Labels: feature, 0 - Priority P0, nn

#6465 Update `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: feature, 0 - Priority P0, skip-changelog

#6466 Changelog: allow indices with any integer type
  CHANGELOG.md
Labels: bug, 0 - Priority P0, skip-changelog

#6470 Fix `BitcoinOTC` processing
  torch_geometric/datasets/bitcoin_otc.py
Labels: bug, 0 - Priority P0, dataset, skip-changelog

#6473 Unify `LightningNodeData` and `LightningLinkData`
  CHANGELOG.md
  test/data/lightning/test_datamodule.py
  torch_geometric/data/lightning/datamodule.py
Labels: 0 - Priority P0, refactor, data

#6479 Fix `deprecated` decorator for classes
  torch_geometric/deprecation.py
Labels: bug, 0 - Priority P0, skip-changelog

#6478 fix examples `mnist_voxel_gri`d add keyword parameter
  CHANGELOG.md
  examples/mnist_voxel_grid.py
Labels: bug, 0 - Priority P0, example

#6484 Add `dropout` argument to `MultiheadAttentionBlock`
  CHANGELOG.md
  test/nn/aggr/test_aggr_utils.py
  test/nn/aggr/test_gmt.py
  test/nn/aggr/test_set_transformer.py
  torch_geometric/data/lightning/datamodule.py
  torch_geometric/nn/aggr/gmt.py
  torch_geometric/nn/aggr/set_transformer.py
  torch_geometric/nn/aggr/utils.py
Labels: feature, 0 - Priority P0, nn, data

#5972 Projected and Greedy Randomized Block Coordinate Descent (NeurIPS 2021)
  CHANGELOG.md
  examples/contrib/rbcd_attack.py
  examples/contrib/rbcd_attack_poisoning.py
  test/contrib/nn/models/test_rbcd_attack.py
  torch_geometric/contrib/nn/models/__init__.py
  torch_geometric/contrib/nn/models/rbcd_attack.py
Labels: 1 - Priority P1

#6284 Added the `GraphMaskExplainer` algorithm
  CHANGELOG.md
  docs/source/modules/contrib.rst
  examples/contrib/graphmask_explainer.py
  examples/contrib/rbcd_attack.py
  examples/contrib/rbcd_attack_poisoning.py
  test/contrib/explain/test_graphmask_explainer.py
  torch_geometric/contrib/explain/__init__.py
  torch_geometric/contrib/explain/graphmask_explainer.py
Labels: feature, 0 - Priority P0, explain

#6485 Check for `None` masks in `GNNExplainer` tests
  test/explain/algorithm/test_gnn_explainer.py
Labels: 0 - Priority P0, test, skip-changelog

#6486 Re-factor variable names
  benchmark/citation/train_eval.py
  examples/agnn.py
  examples/arma.py
  examples/captum_explainability.py
  examples/dna.py
  examples/gnn_explainer.py
  examples/graph_unet.py
  examples/jit/gat.py
  examples/randlanet_classification.py
  examples/randlanet_segmentation.py
  examples/sgc.py
  examples/super_gat.py
  examples/tagcn.py
  examples/tensorboard_logging.py
  torch_geometric/contrib/nn/models/rbcd_attack.py
Labels: 0 - Priority P0, refactor, benchmark, example, skip-changelog, contrib

#5992 pyg-lib `ToHeteroModule`
  CHANGELOG.md
  test/nn/test_to_hetero_module.py
  torch_geometric/nn/to_hetero_module.py
Labels: feature, 0 - Priority P0, nn

#6489 Fix typo in `ToHeteroModule`
  torch_geometric/nn/to_hetero_module.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#6490 Re-factor `torch_geometric.nn.dense.linear` documentation
  docs/source/modules/nn.rst
  torch_geometric/nn/dense/linear.py
Labels: documentation, 0 - Priority P0, refactor, nn

#6487 `Explain`: Updates for heterogeneous graphs and `CaptumExplainer`
  CHANGELOG.md
  docs/source/tutorial/explain.rst
  docs/source/tutorial/heterogeneous.rst
  torch_geometric/explain/explanation.py
  torch_geometric/nn/models/captum.py
Labels: feature, documentation, 1 - Priority P1, nn, explain

#6491 Move `MetaLayer` to `nn.models`
  CHANGELOG.md
  README.md
  docs/source/modules/nn.rst
  test/nn/models/test_meta.py
  torch_geometric/nn/__init__.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/meta.py
Labels: documentation, 0 - Priority P0, refactor, nn

#6492 Cache `is_node_attr` and `is_edge_attr`
  CHANGELOG.md
  test/data/test_data.py
  torch_geometric/data/storage.py
Labels: feature, 0 - Priority P0, data

#6493 `Explain`: refactor `captum` tests
  test/explain/algorithm/test_captum_explainer.py
  test/explain/algorithm/test_captum_hetero.py
  test/explain/algorithm/test_gnn_explainer.py
  test/explain/conftest.py
  torch_geometric/explain/algorithm/captum.py
  torch_geometric/explain/algorithm/captum_explainer.py
  torch_geometric/explain/explanation.py
Labels: refactor, test, explain, skip-changelog

#6494 Changelog: Fix link
  CHANGELOG.md
Labels: bug, 0 - Priority P0

#6495 Fix the use of removed numpy types
  CHANGELOG.md
  torch_geometric/data/dataset.py
  torch_geometric/datasets/entities.py
Labels: bug, 0 - Priority P0

#6482 `RGCNConv`: Add information about dynamic shapes
  CHANGELOG.md
  torch_geometric/nn/conv/rgcn_conv.py
Labels: feature, documentation, 0 - Priority P0, nn

#6501 `NumNeighbors` data class with `default` argument
  CHANGELOG.md
  test/sampler/test_sampler_base.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/sampler/__init__.py
  torch_geometric/sampler/base.py
  torch_geometric/utils/mixin.py
Labels: feature, 0 - Priority P0, loader, utils, sampler

#6149 `PGMExplainer`
  CHANGELOG.md
  examples/contrib/pgm_explainer_graph_classification.py
  examples/contrib/pgm_explainer_node_classification.py
  setup.py
  test/contrib/explain/test_pgm_explainer.py
  torch_geometric/contrib/explain/__init__.py
  torch_geometric/contrib/explain/pgm_explainer.py
Labels: feature, 0 - Priority P0, explain

#6504 allow 1D input to `global_*_pool` functions
  CHANGELOG.md
  torch_geometric/nn/pool/glob.py
Labels: feature, 0 - Priority P0, nn

#6510 Fix fidelity metric and assigning edge masks as tensors
  CHANGELOG.md
  torch_geometric/explain/algorithm/utils.py
  torch_geometric/explain/metric/fidelity.py
Labels: bug, 0 - Priority P0, explain

#6512 Change `DataLoader` workers with affinity to start at `cpu0`
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/node_loader.py
Labels: 0 - Priority P0, refactor, loader

#6520 Fix xlabel issue in `Explanation.visualize_feature_importance` for pandas>=1.5
  torch_geometric/explain/explanation.py
Labels: bug, 0 - Priority P0, explain, skip-changelog

#6514 Add PyTorch SparseTensor support for `SGConv`, `SSGConv` and `TAGConv`
  CHANGELOG.md
  test/nn/conv/test_sg_conv.py
  test/nn/conv/test_ssg_conv.py
  test/nn/conv/test_tag_conv.py
  torch_geometric/nn/conv/sg_conv.py
  torch_geometric/nn/conv/ssg_conv.py
  torch_geometric/nn/conv/tag_conv.py
Labels: feature, 1 - Priority P1, nn

#6517 Sample nodes with timestamps equal to the seed node
  CHANGELOG.md
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: feature, 0 - Priority P0, loader, skip-changelog

#6522 Index select fixes in `data.to_heterogeneous()`
  CHANGELOG.md
  torch_geometric/contrib/explain/graphmask_explainer.py
  torch_geometric/data/data.py
  torch_geometric/data/storage.py
  torch_geometric/explain/explanation.py
  torch_geometric/transforms/random_link_split.py
Labels: bug, 0 - Priority P0, explain, data, transform, contrib

#6523 [Code Coverage] `InMemoryDataset`
  CHANGELOG.md
  test/data/test_dataset.py
Labels: 0 - Priority P0, test

#6526 `NumNeighbors` config generator
  test/sampler/test_sampler_base.py
  torch_geometric/sampler/base.py
Labels: feature, 0 - Priority P0, skip-changelog, sampler

#6527 Backward compatibility for `_cached_attr`
  torch_geometric/data/storage.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#6524 Automatic `n_id` and `e_id` attributes to mini-batches produced by `NodeLoader` and `LinkLoader`
  CHANGELOG.md
  test/loader/test_hgt_loader.py
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/data/storage.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/node_loader.py
Labels: feature, 0 - Priority P0, loader, data

#6529 Clear `_cached_attr` on modification in `Storage`
  torch_geometric/data/storage.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#6531 Fix `pyg-nightly` metadata
  .github/workflows/nightly.yml
  pyproject.toml
Labels: bug, installation, 0 - Priority P0, skip-changelog

#6532 Add PyTorch SparseTensor support for `GINConv`, `SAGEConv`, and `GraphConv`
  CHANGELOG.md
  test/nn/conv/test_gin_conv.py
  test/nn/conv/test_graph_conv.py
  test/nn/conv/test_sage_conv.py
  torch_geometric/nn/conv/gin_conv.py
  torch_geometric/nn/conv/graph_conv.py
  torch_geometric/nn/conv/sage_conv.py
Labels: feature, 1 - Priority P1, nn

#6538 [Code Coverage] `NeighborSampler`
  CHANGELOG.md
  test/loader/test_neighbor_sampler.py
Labels: 0 - Priority P0, test, loader

#6540 `Pooling`: Base classes for Graph Pooling framework
  CHANGELOG.md
  test/nn/pool/test_pooling_base.py
  torch_geometric/nn/pool/base.py
  torch_geometric/nn/pool/connect/__init__.py
  torch_geometric/nn/pool/connect/base.py
  torch_geometric/nn/pool/select/__init__.py
  torch_geometric/nn/pool/select/base.py
Labels: feature, 0 - Priority P0, nn

#6541 `BAMultiShapes` dataset
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/ba_multi_shapes.py
Labels: feature, 0 - Priority P0, dataset

#6534 Added the `AffinityMixin` CPU affinity wrapper
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/loader/neighbor_loader.py
  benchmark/training/training_benchmark.py
  torch_geometric/loader/base.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/mixin.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/utils.py
Labels: feature, 0 - Priority P0, refactor, loader

#6546 Bipartite `dense_to_sparse` support
  CHANGELOG.md
  test/utils/test_sparse.py
  torch_geometric/utils/sparse.py
Labels: feature, 0 - Priority P0, utils

#6550 Fix `bipartite_sage_unsup` example
  examples/hetero/bipartite_sage_unsup.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#6551 `ConfigStore` implementation without `hydra-core`
  pyproject.toml
  test/graphgym/test_config_store.py
  torch_geometric/graphgym/__init__.py
  torch_geometric/graphgym/config_store.py
  torch_geometric/transforms/add_self_loops.py
Labels: feature, 0 - Priority P0, graphgym, transform, skip-changelog

#6553 Note on QM9 pre-processed version + AUROC metric in bipartite GraphSAGE example
  examples/hetero/bipartite_sage_unsup.py
  torch_geometric/datasets/qm9.py
Labels: feature, 0 - Priority P0, example, dataset, skip-changelog
