Repository pyg-team/pytorch_geometric, pull requests merged in 2023-02, with the labels that each got.

#6557 Update pycodestyle link in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#6558 [Code Coverage] APPNP
  CHANGELOG.md
  test/nn/conv/test_appnp.py
Labels: 1 - Priority P1, test, nn

#6560 `EquilibriumAggregation`: Padding tensor was not created on correct device
  CHANGELOG.md
  torch_geometric/nn/aggr/equilibrium.py
Labels: bug, 0 - Priority P0, nn

#6555 [Code Coverage] `test_profile`
  CHANGELOG.md
  test/nn/conv/test_appnp.py
  test/profile/test_profile.py
  torch_geometric/profile/profile.py
Labels: feature, 0 - Priority P0, test

#6554 Enable `index_sort`
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/training/training_benchmark.py
  torch_geometric/data/graph_store.py
  torch_geometric/datasets/entities.py
  torch_geometric/datasets/particle.py
  torch_geometric/datasets/word_net.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/sampler/utils.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/coalesce.py
  torch_geometric/utils/sort.py
  torch_geometric/utils/sort_edge_index.py
Labels: feature, 0 - Priority P0, benchmark, utils

#6564 Fix `index_sort` handling
  torch_geometric/typing.py
  torch_geometric/utils/sort.py
Labels: bug, 0 - Priority P0, skip-changelog, utils

#6566 `timeit` Documentation
  test/profile/test_profile.py
  torch_geometric/profile/profile.py
Labels: 0 - Priority P0, benchmark, skip-changelog

#6570 Fix pyg-nightly workflow
  .github/workflows/nightly.yml
Labels: bug, installation, 0 - Priority P0, skip-changelog

#6568 [Code Coverage] `HeteroConv`
  CHANGELOG.md
  test/nn/conv/test_hetero_conv.py
Labels: 0 - Priority P0, test, nn

#6388 Add a `SAGEConv` model using the primitives in `cugraph-ops`
  CHANGELOG.md
  test/nn/conv/cugraph/test_cugraph_sage_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/cugraph/__init__.py
  torch_geometric/nn/conv/cugraph/base.py
  torch_geometric/nn/conv/cugraph/sage_conv.py
  torch_geometric/nn/conv/fused_gat_conv.py
Labels: feature, 1 - Priority P1, nn

#6578 [Code Coverage] `utils/assortativity.py`
  CHANGELOG.md
  test/utils/test_assortativity.py
Labels: 0 - Priority P0, test, utils

#6583 `Docs`: Link medium blogs
  docs/source/modules/nn.rst
  docs/source/tutorial/explain.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#6412 Add a `GATConv` model using the primitives in `cugraph-ops`
  CHANGELOG.md
  test/nn/conv/cugraph/test_cugraph_gat_conv.py
  test/utils/test_assortativity.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/cugraph/__init__.py
  torch_geometric/nn/conv/cugraph/base.py
  torch_geometric/nn/conv/cugraph/gat_conv.py
  torch_geometric/nn/conv/cugraph/sage_conv.py
Labels: feature, 1 - Priority P1, nn

#6278 Add an `RGCNConv` model using the primitives in `cugraph-ops`
  CHANGELOG.md
  test/nn/conv/cugraph/test_cugraph_gat_conv.py
  test/nn/conv/cugraph/test_cugraph_rgcn_conv.py
  test/nn/conv/cugraph/test_cugraph_sage_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/cugraph/__init__.py
  torch_geometric/nn/conv/cugraph/base.py
  torch_geometric/nn/conv/cugraph/rgcn_conv.py
  torch_geometric/nn/conv/cugraph/sage_conv.py
Labels: feature, 1 - Priority P1, nn

#6573 [Code Coverage] `test_profiler`
  CHANGELOG.md
  test/profile/test_profile_utils.py
  test/profile/test_profiler.py
  torch_geometric/profile/profiler.py
Labels: 0 - Priority P0, test, benchmark

#6588 Update `PGMExplainer` documentation
  CHANGELOG.md
  torch_geometric/contrib/explain/pgm_explainer.py
Labels: 1 - Priority P1, refactor, contrib

#6589 Update `PGMExplainer` type hints
  CHANGELOG.md
  torch_geometric/contrib/explain/pgm_explainer.py
Labels: documentation, 1 - Priority P1, refactor, contrib

#6590 Test JK in `to_hetero`
  test/nn/test_to_hetero_transformer.py
Labels: 0 - Priority P0, test, skip-changelog

#5930 Huggingface hub integration 5545
  CHANGELOG.md
  docs/requirements.txt
  setup.py
  test/nn/test_model_hub.py
  torch_geometric/nn/model_hub.py
Labels: feature, 1 - Priority P1, nn

#6577 `AntisymmetricDGN`
  CHANGELOG.md
  test/nn/conv/test_antisymmetric_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/antisymmetric_conv.py
Labels: feature, 1 - Priority P1, nn

#6592 Doc-fixes for `AntiSymmetricConv`
  torch_geometric/nn/conv/antisymmetric_conv.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#6593 `onlyLinux` decorator
  test/loader/test_neighbor_loader.py
  test/profile/test_profile.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
  torch_geometric/utils/mixin.py
Labels: bug, feature, 0 - Priority P0, skip-changelog, utils

#6594 Increase `torch_geometric.profile` code coverage
  pyproject.toml
  torch_geometric/profile/utils.py
Labels: 0 - Priority P0, test, benchmark, skip-changelog

#6595 Fixed a bug in `AsymmetricConv`
  torch_geometric/nn/conv/antisymmetric_conv.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#6607 Fix `threshold_type` in documentation
  docs/source/tutorial/explain.rst
  test/nn/models/test_label_prop.py
Labels: bug, documentation, 0 - Priority P0, test, skip-changelog

#6608 Fix spelling: `behaviour` to `behavior`
  CHANGELOG.md
  docs/source/advanced/batching.rst
  docs/source/advanced/sparse_tensor.rst
  docs/source/get_started/introduction.rst
  test/data/test_dataset.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/temporal.py
  torch_geometric/datasets/taobao.py
  torch_geometric/datasets/wikics.py
  torch_geometric/nn/conv/hetero_conv.py
  torch_geometric/nn/data_parallel.py
  torch_geometric/nn/to_hetero_transformer.py
  torch_geometric/nn/to_hetero_with_bases_transformer.py
Labels: documentation, 0 - Priority P0, refactor, nn, dataset, data, skip-changelog

#6598 Fix `download` and `process` in `torch_geometric.data.Dataset` when using a duplicated class name `Dataset`
  test/data/test_dataset.py
  torch_geometric/data/dataset.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#6609 Fix bugs in `PNAConv` and `DegreeScalerAggregation`
  CHANGELOG.md
  torch_geometric/nn/aggr/scaler.py
  torch_geometric/nn/conv/pna_conv.py
Labels: bug, documentation, nn

#6611 Move benchmark scripts behind `torch_geometric.profile.benchmark`
  test/nn/test_compile.py
  test/utils/test_scatter.py
  test/utils/test_softmax.py
  torch_geometric/profile/benchmark.py
Labels: 0 - Priority P0, refactor, benchmark, skip-changelog

#6612 Move benchmark scripts behind `torch_geometric.profile.benchmark` (part 2)
  test/nn/aggr/test_fused.py
  test/nn/conv/test_hgt_conv.py
  torch_geometric/profile/benchmark.py
Labels: 0 - Priority P0, refactor, benchmark, skip-changelog

#6600 [Code Coverage] `PNAConv` and `DegreeScalerAggregation`
  CHANGELOG.md
  test/nn/aggr/test_scaler.py
  test/nn/conv/test_pna_conv.py
Labels: test, nn

#6615 Introduce `utils.segment`
  CHANGELOG.md
  test/utils/test_segment.py
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/imports.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/scatter.py
  torch_geometric/utils/segment.py
  torch_geometric/utils/softmax.py
Labels: feature, 0 - Priority P0, graphgym, nn, utils

#6616 Treat `ModelHubMixin` as an optional dependency
  docs/requirements.txt
  setup.py
  test/nn/test_model_hub.py
  torch_geometric/nn/model_hub.py
Labels: bug, documentation, 0 - Priority P0, nn, skip-changelog

#6617 Treat `torch-scatter` as optional dependency
  CHANGELOG.md
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/typing.py
  torch_geometric/utils/scatter.py
  torch_geometric/utils/segment.py
Labels: feature, 0 - Priority P0, nn, utils

#6619 [Code Coverage] ``utils/negative_sampling.py``
  CHANGELOG.md
  test/utils/test_negative_sampling.py
Labels: 0 - Priority P0, test, utils

#6621 [Code Coverage] `transforms/to_device.py`
  CHANGELOG.md
  test/transforms/test_to_device.py
Labels: 0 - Priority P0, test, transform

#6623 [Code Coverage] ` models/RECT_L `
  CHANGELOG.md
  test/nn/models/test_rect.py
Labels: 0 - Priority P0, test, nn

#6624 Test `PGExplainer` on CUDA
  test/explain/algorithm/test_pg_explainer.py
Labels: 0 - Priority P0, test, explain, skip-changelog

#6625 Make `torch-sparse` dependency optional (part 1)
  CHANGELOG.md
  examples/rev_gnn.py
  torch_geometric/datasets/attributed_graph_dataset.py
  torch_geometric/io/planetoid.py
  torch_geometric/nn/conv/agnn_conv.py
  torch_geometric/nn/conv/appnp.py
  torch_geometric/nn/conv/arma_conv.py
  torch_geometric/nn/conv/cluster_gcn_conv.py
  torch_geometric/nn/conv/dna_conv.py
  torch_geometric/nn/conv/eg_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/feast_conv.py
  torch_geometric/nn/conv/film_conv.py
  torch_geometric/nn/conv/fused_gat_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gated_graph_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/gcn2_conv.py
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/conv/gen_conv.py
  torch_geometric/nn/conv/gin_conv.py
  torch_geometric/nn/conv/graph_conv.py
  torch_geometric/nn/conv/hgt_conv.py
  torch_geometric/nn/conv/lg_conv.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/mf_conv.py
  torch_geometric/nn/conv/pan_conv.py
  torch_geometric/nn/conv/pdn_conv.py
  torch_geometric/nn/conv/point_conv.py
  torch_geometric/nn/conv/point_transformer_conv.py
  torch_geometric/nn/conv/ppf_conv.py
  torch_geometric/nn/conv/rgat_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/conv/sage_conv.py
  torch_geometric/nn/conv/sg_conv.py
  torch_geometric/nn/conv/signed_conv.py
  torch_geometric/nn/conv/ssg_conv.py
  torch_geometric/nn/conv/supergat_conv.py
  torch_geometric/nn/conv/tag_conv.py
  torch_geometric/nn/conv/transformer_conv.py
  torch_geometric/nn/conv/wl_conv.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/models/label_prop.py
  torch_geometric/nn/models/lightgcn.py
  torch_geometric/nn/models/linkx.py
  torch_geometric/nn/models/metapath2vec.py
  torch_geometric/nn/models/node2vec.py
  torch_geometric/nn/pool/pan_pool.py
  torch_geometric/nn/sequential.jinja
  torch_geometric/nn/summary.py
  torch_geometric/nn/to_hetero_with_bases_transformer.py
  torch_geometric/profile/utils.py
  torch_geometric/transforms/add_positional_encoding.py
  torch_geometric/transforms/feature_propagation.py
  torch_geometric/transforms/rooted_subgraph.py
  torch_geometric/transforms/sign.py
  torch_geometric/transforms/to_sparse_tensor.py
  torch_geometric/typing.py
Labels: 0 - Priority P0, refactor, benchmark, nn, example, dataset, transform

#6626 Make `torch-sparse` dependency optional (part 2)
  CHANGELOG.md
  torch_geometric/data/collate.py
  torch_geometric/loader/cluster.py
  torch_geometric/nn/conv/agnn_conv.py
  torch_geometric/nn/conv/cluster_gcn_conv.py
  torch_geometric/nn/conv/eg_conv.py
  torch_geometric/nn/conv/feast_conv.py
  torch_geometric/nn/conv/film_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/conv/point_conv.py
  torch_geometric/nn/conv/point_transformer_conv.py
  torch_geometric/nn/conv/ppf_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/conv/supergat_conv.py
  torch_geometric/nn/pool/asap.py
  torch_geometric/utils/spmm.py
Labels: 0 - Priority P0, refactor, nn, loader, data, utils

#6627 Make `torch-sparse` dependency optional (part 3)
  CHANGELOG.md
  docs/source/advanced/sparse_tensor.rst
  torch_geometric/nn/models/graph_unet.py
  torch_geometric/nn/models/signed_gcn.py
  torch_geometric/nn/pool/pool.py
  torch_geometric/transforms/two_hop.py
Labels: documentation, 0 - Priority P0, refactor, nn, transform

#6628 Make `torch-sparse` dependency optional (part 4)
  CHANGELOG.md
  torch_geometric/loader/shadow.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/sampler/hgt_sampler.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: 0 - Priority P0, refactor, nn, loader, sampler

#6629 Make `torch-sparse` dependency optional (part 5)
  CHANGELOG.md
  torch_geometric/nn/conv/arma_conv.py
  torch_geometric/nn/conv/cluster_gcn_conv.py
  torch_geometric/nn/conv/eg_conv.py
  torch_geometric/nn/conv/gated_graph_conv.py
  torch_geometric/nn/conv/lg_conv.py
  torch_geometric/nn/conv/mf_conv.py
  torch_geometric/nn/conv/pan_conv.py
  torch_geometric/nn/conv/pdn_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/conv/signed_conv.py
  torch_geometric/nn/models/label_prop.py
  torch_geometric/nn/models/linkx.py
Labels: 0 - Priority P0, refactor, nn

#6630 Make `torch-sparse` dependency optional (part 6)
  CHANGELOG.md
  docs/requirements.txt
  test/loader/test_neighbor_loader.py
  torch_geometric/data/graph_store.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/typing.py
Labels: documentation, 0 - Priority P0, refactor, nn, data

#6632 More `torch.compile` tests
  test/nn/test_compile.py
  torch_geometric/utils/scatter.py
Labels: 0 - Priority P0, test, skip-changelog, utils

#6637 [Code Coverage] `models/test_correct_and_smooth.py`
  CHANGELOG.md
  test/nn/models/test_correct_and_smooth.py
  test/nn/models/test_label_prop.py
  torch_geometric/nn/models/correct_and_smooth.py
Labels: bug, documentation, test

#6642 fix seed in `GraphNorm` tests
  test/nn/norm/test_graph_norm.py
Labels: 0 - Priority P0, test, skip-changelog

#6633 Pytorch Sparse tensor support: `AntiSymmetricConv`, `CGConv`, and `TransformerConv`
  CHANGELOG.md
  test/nn/conv/test_antisymmetric_conv.py
  test/nn/conv/test_cg_conv.py
  test/nn/conv/test_transformer_conv.py
  torch_geometric/nn/conv/message_passing.py
Labels: feature, 1 - Priority P1, nn

#6641 Added reference for graph classification colab notebook instrumented with Weights & Biases
  docs/source/get_started/colabs.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#6635 Fix `gcn_norm` for PyTorch SparseTensor input with gradients
  test/nn/conv/test_gcn_conv.py
  torch_geometric/nn/conv/gcn_conv.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#6638 [Code Coverage] `test_home.py`
  CHANGELOG.md
  test/nn/models/test_correct_and_smooth.py
  test/test_home.py
  test/transforms/test_remove_training_classes.py
  torch_geometric/nn/models/correct_and_smooth.py
Labels: 0 - Priority P0, test

#6646 Improved handling of `NumNeighbors` serialization
  test/sampler/test_sampler_base.py
  test/test_typing.py
  torch_geometric/data/hetero_data.py
  torch_geometric/sampler/base.py
  torch_geometric/typing.py
Labels: 0 - Priority P0, refactor, data, skip-changelog, sampler

#6645 [Code Coverage] `test_inits.py`
  CHANGELOG.md
  test/nn/test_inits.py
Labels: 0 - Priority P0, test, nn

#6591 `Docs`: Add `ModelHub` documentation
  CHANGELOG.md
  docs/source/modules/nn.rst
  torch_geometric/nn/__init__.py
  torch_geometric/nn/model_hub.py
Labels: feature, documentation, 1 - Priority P1, nn

#6631 Add full batch mode to the inference benchmark
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
Labels: feature, 0 - Priority P0, benchmark

#6651 Fix typo in remote doc
  docs/source/advanced/remote.rst
Labels: documentation, 0 - Priority P0, skip-changelog

#6647 [Code Coverage] `utils/loop.py`
  CHANGELOG.md
  test/utils/test_loop.py
Labels: 0 - Priority P0, test, utils

#6657 [Code Coverage] `transforms/linear_transformation.py`
  CHANGELOG.md
  test/transforms/test_linear_transformation.py
Labels: 0 - Priority P0, test, transform

#6664 [Code Coverage] `loader/imbalanced_sampler.py`
  CHANGELOG.md
  test/loader/test_imbalanced_sampler.py
Labels: test, loader

#6662 [Code Coverage] `models/tgn.py`
  CHANGELOG.md
  test/nn/models/test_tgn.py
  torch_geometric/nn/models/tgn.py
Labels: test, nn

#6667 [Code Coverage] `explain/algorithm/attention_explainer.py`
  CHANGELOG.md
  test/explain/algorithm/test_attention_explainer.py
Labels: test, explain

#6676 [Code Coverage] `explain/algorithm/gnn_explainer.py`
  CHANGELOG.md
  test/explain/algorithm/test_attention_explainer.py
  test/explain/algorithm/test_gnn_explainer.py
  test/explain/algorithm/test_pg_explainer.py
  test/explain/conftest.py
Labels: test, explain

#6669 [Code Coverage] ``utils/num_nodes.py``
  CHANGELOG.md
  test/utils/test_num_nodes.py
Labels: 0 - Priority P0, test, utils

#5940 Add `Pad` transform
  CHANGELOG.md
  test/transforms/test_pad.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/pad.py
Labels: feature, 1 - Priority P1, transform

#6668 [Code Coverage] ``transforms/add_self_loops.py``
  CHANGELOG.md
  test/transforms/test_add_self_loops.py
Labels: 0 - Priority P0, test, transform

#6670 [Code Coverage] `transforms/largest_connected_components.py`
  CHANGELOG.md
  test/transforms/test_add_self_loops.py
  test/transforms/test_largest_connected_components.py
Labels: 0 - Priority P0, test, transform

#6671 [Code Coverage] `transforms/random_link_split.py`
  CHANGELOG.md
  test/transforms/test_random_link_split.py
  torch_geometric/transforms/random_link_split.py
Labels: 0 - Priority P0, test, transform

#6673 [Code Coverage] `transforms/gcn_norm.py`
  CHANGELOG.md
  test/transforms/test_gcn_norm.py
  torch_geometric/transforms/gcn_norm.py
Labels: 0 - Priority P0, test, transform

#6675 [Code Coverage] `data/dataset.py`
  CHANGELOG.md
  test/data/test_dataset.py
  torch_geometric/data/dataset.py
Labels: 0 - Priority P0, test, data

#6677 [Code Coverage] `data/storage.py`
  CHANGELOG.md
  test/data/test_storage.py
  torch_geometric/data/storage.py
Labels: 0 - Priority P0, test, data

#6678 [Code Coverage] `data/feature_store.py`
  CHANGELOG.md
  pyproject.toml
  test/data/test_feature_store.py
  torch_geometric/data/feature_store.py
Labels: 0 - Priority P0, test, data

#6681 [Code Coverage] `nn/conv/fa_conv.py`
  CHANGELOG.md
  examples/quiver/single_gpu_quiver.py
  test/nn/conv/test_fa_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/transformer_conv.py
Labels: 0 - Priority P0, test, nn

#6682 Minor test cleanups
  test/explain/algorithm/test_attention_explainer.py
  test/explain/algorithm/test_gnn_explainer.py
  test/explain/conftest.py
  test/loader/test_dataloader.py
  test/loader/test_imbalanced_sampler.py
  test/nn/models/test_tgn.py
  test/utils/test_loop.py
  torch_geometric/loader/dataloader.py
Labels: 0 - Priority P0, refactor, test, loader, skip-changelog

#6683 [Code Coverage] ``transforms/sign.py``
  CHANGELOG.md
  test/transforms/test_sign.py
Labels: 0 - Priority P0, test, transform

#6685 Reset `data_list` cache when accessing `dataset.data`
  CHANGELOG.md
  torch_geometric/data/in_memory_dataset.py
Labels: bug, 0 - Priority P0, data

#6654 Fixed bug in `utils.bipartite_subgraph`
  CHANGELOG.md
  test/data/test_hetero_data.py
  test/utils/test_subgraph.py
  torch_geometric/data/hetero_data.py
  torch_geometric/utils/subgraph.py
Labels: bug, 0 - Priority P0, utils

#6686 Clean-up test warnings
  pyproject.toml
  test/explain/metric/test_basic_metric.py
  torch_geometric/contrib/explain/graphmask_explainer.py
  torch_geometric/graphgym/train.py
Labels: feature, 0 - Priority P0, graphgym, test, skip-changelog, contrib

#6690 fix(sampler): properly compute `num_hops` with default values
  CHANGELOG.md
  torch_geometric/sampler/base.py
Labels: bug, 0 - Priority P0, sampler

#6693 Move `nn.models` to individual sub-pages in documentation
  CHANGELOG.md
  README.md
  docs/source/_templates/autosummary/nn.rst
  docs/source/conf.py
  docs/source/modules/nn.rst
  torch_geometric/nn/models/attentive_fp.py
  torch_geometric/nn/models/autoencoder.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/nn/models/correct_and_smooth.py
  torch_geometric/nn/models/deep_graph_infomax.py
  torch_geometric/nn/models/deepgcn.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/models/gnnff.py
  torch_geometric/nn/models/graph_unet.py
  torch_geometric/nn/models/jumping_knowledge.py
  torch_geometric/nn/models/label_prop.py
  torch_geometric/nn/models/lightgcn.py
  torch_geometric/nn/models/linkx.py
  torch_geometric/nn/models/mask_label.py
  torch_geometric/nn/models/metapath2vec.py
  torch_geometric/nn/models/mlp.py
  torch_geometric/nn/models/node2vec.py
  torch_geometric/nn/models/rect.py
  torch_geometric/nn/models/rev_gnn.py
  torch_geometric/nn/models/schnet.py
  torch_geometric/nn/models/signed_gcn.py
  torch_geometric/nn/models/tgn.py
Labels: documentation, 0 - Priority P0, refactor, nn

#6695 Drop `-> None` type hints
  benchmark/inference/inference_benchmark.py
  benchmark/loader/neighbor_loader.py
  benchmark/training/training_benchmark.py
  test/transforms/test_pad.py
  torch_geometric/experimental.py
  torch_geometric/graphgym/logger.py
  torch_geometric/loader/utils.py
  torch_geometric/nn/conv/antisymmetric_conv.py
  torch_geometric/nn/models/graph_unet.py
  torch_geometric/nn/models/lightgcn.py
  torch_geometric/nn/module_dict.py
  torch_geometric/nn/parameter_dict.py
  torch_geometric/transforms/pad.py
Labels: 0 - Priority P0, graphgym, refactor, benchmark, nn, loader, transform, skip-changelog

#6696 Test empty dictionary in `NumNeighbors`
  test/sampler/test_sampler_base.py
Labels: 0 - Priority P0, test, skip-changelog

#6698 Fix types in documentation
  torch_geometric/contrib/nn/models/rbcd_attack.py
  torch_geometric/explain/algorithm/captum.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/node_loader.py
  torch_geometric/nn/models/autoencoder.py
  torch_geometric/nn/models/captum.py
  torch_geometric/nn/models/correct_and_smooth.py
  torch_geometric/nn/models/deep_graph_infomax.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/models/gnnff.py
  torch_geometric/nn/models/lightgcn.py
  torch_geometric/nn/models/linkx.py
  torch_geometric/nn/models/metapath2vec.py
  torch_geometric/nn/models/node2vec.py
  torch_geometric/nn/models/rect.py
  torch_geometric/nn/models/rev_gnn.py
  torch_geometric/nn/models/schnet.py
  torch_geometric/nn/models/signed_gcn.py
Labels: 0 - Priority P0, refactor, nn, loader, explain, skip-changelog, contrib

#6606 [Benchmark] Add throughput, latency and accuracy for inference and training
  benchmark/inference/inference_benchmark.py
  benchmark/training/training_benchmark.py
  benchmark/utils/__init__.py
  benchmark/utils/hetero_gat.py
  benchmark/utils/hetero_sage.py
  benchmark/utils/utils.py
Labels: feature, 0 - Priority P0, benchmark, skip-changelog

#6692 Add `GCN` and `FiLM` jit example
  CHANGELOG.md
  examples/jit/film.py
  examples/jit/gcn.py
Labels: feature, 0 - Priority P0, example

#6697 Add `num_nodes` and `num_edges` directly to the stores in `Pad`
  CHANGELOG.md
  test/transforms/test_pad.py
  torch_geometric/transforms/pad.py
Labels: feature, 1 - Priority P1, transform

#6700 Remove warnings during CI tests (part 2)
  test/nn/test_to_hetero_transformer.py
  test/profile/test_profiler.py
  torch_geometric/graphgym/train.py
  torch_geometric/profile/profile.py
  torch_geometric/profile/profiler.py
  torch_geometric/profile/utils.py
Labels: 0 - Priority P0, graphgym, refactor, test, benchmark, skip-changelog

#6701 Remove warnings during CI tests (part 3)
  test/nn/models/test_basic_gnn.py
  torch_geometric/nn/aggr/fused.py
Labels: 0 - Priority P0, refactor, test, nn, skip-changelog

#6708 Fix typos
  examples/contrib/pgm_explainer_node_classification.py
  torch_geometric/contrib/explain/pgm_explainer.py
  torch_geometric/utils/get_mesh_laplacian.py
Labels: documentation, 0 - Priority P0, skip-changelog

#6703 [Code Coverage] `nn/conv/gen_conv.py`
  CHANGELOG.md
  test/nn/conv/test_gen_conv.py
Labels: 0 - Priority P0, test, nn

#6712 Make `LinkX` model jittable
  CHANGELOG.md
  test/nn/models/test_linkx.py
  torch_geometric/nn/models/linkx.py
  torch_geometric/nn/models/mlp.py
Labels: feature, 0 - Priority P0, nn

#6713 Make `torchmetrics` an optional dependency
  setup.py
  test/explain/metric/test_basic_metric.py
Labels: bug, installation, 0 - Priority P0, skip-changelog

#6709 Add `RemoveDuplicatedEdges` transform
  CHANGELOG.md
  benchmark/utils/utils.py
  test/transforms/test_remove_duplicated_edges.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/remove_duplicated_edges.py
Labels: feature, 1 - Priority P1, benchmark, transform

#6719 Fix `pyproject.toml` warnings
  pyproject.toml
  setup.py
Labels: bug, installation, 0 - Priority P0, skip-changelog

#6718 Add `SimpleConv` to perform non-trainable propagation
  CHANGELOG.md
  test/nn/conv/test_simple_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/simple_conv.py
Labels: feature, 0 - Priority P0, nn

#6715 Fixed `PolBlogs` dataset expected data format
  CHANGELOG.md
  torch_geometric/datasets/polblogs.py
Labels: bug, 0 - Priority P0, dataset

#6720 [Code Coverage] `data/graph_store.py`
  CHANGELOG.md
  test/data/test_graph_store.py
  torch_geometric/data/graph_store.py
Labels: documentation, 0 - Priority P0, test, data

#6721 Correctly reset parameters of `Aggregation` within `MessagePassing`
  torch_geometric/nn/conv/agnn_conv.py
  torch_geometric/nn/conv/appnp.py
  torch_geometric/nn/conv/arma_conv.py
  torch_geometric/nn/conv/cg_conv.py
  torch_geometric/nn/conv/cheb_conv.py
  torch_geometric/nn/conv/cluster_gcn_conv.py
  torch_geometric/nn/conv/dna_conv.py
  torch_geometric/nn/conv/edge_conv.py
  torch_geometric/nn/conv/eg_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/feast_conv.py
  torch_geometric/nn/conv/film_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gated_graph_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/gcn2_conv.py
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/conv/gen_conv.py
  torch_geometric/nn/conv/general_conv.py
  torch_geometric/nn/conv/gin_conv.py
  torch_geometric/nn/conv/gmm_conv.py
  torch_geometric/nn/conv/graph_conv.py
  torch_geometric/nn/conv/gravnet_conv.py
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/nn/conv/heat_conv.py
  torch_geometric/nn/conv/hgt_conv.py
  torch_geometric/nn/conv/hypergraph_conv.py
  torch_geometric/nn/conv/le_conv.py
  torch_geometric/nn/conv/lg_conv.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/mf_conv.py
  torch_geometric/nn/conv/nn_conv.py
  torch_geometric/nn/conv/pan_conv.py
  torch_geometric/nn/conv/pdn_conv.py
  torch_geometric/nn/conv/pna_conv.py
  torch_geometric/nn/conv/point_conv.py
  torch_geometric/nn/conv/point_gnn_conv.py
  torch_geometric/nn/conv/point_transformer_conv.py
  torch_geometric/nn/conv/ppf_conv.py
  torch_geometric/nn/conv/res_gated_graph_conv.py
  torch_geometric/nn/conv/rgat_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/conv/sage_conv.py
  torch_geometric/nn/conv/sg_conv.py
  torch_geometric/nn/conv/signed_conv.py
  torch_geometric/nn/conv/simple_conv.py
  torch_geometric/nn/conv/spline_conv.py
  torch_geometric/nn/conv/ssg_conv.py
  torch_geometric/nn/conv/supergat_conv.py
  torch_geometric/nn/conv/tag_conv.py
  torch_geometric/nn/conv/transformer_conv.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#6722 Replace `\square` with `\bigoplus` in `MessagePassing` formula
  docs/source/tutorial/create_gnn.rst
  torch_geometric/nn/conv/message_passing.py
Labels: documentation, 1 - Priority P1, refactor, nn, skip-changelog

#6740 Test `GATConv` with edge features and `SparseTensor`
  test/nn/conv/test_gat_conv.py
Labels: 0 - Priority P0, test, skip-changelog

#6741 Fix broken `GENConv` TorchScript test
  torch_geometric/nn/conv/gen_conv.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#6729 Extended dataset cheatsheet in documentation: `AttributedGraphDataset`, `BitcoinOTC`, and `GeometricShapes`
  torch_geometric/datasets/attributed_graph_dataset.py
  torch_geometric/datasets/bitcoin_otc.py
  torch_geometric/datasets/geometry.py
Labels: feature, 1 - Priority P1, dataset, skip-changelog

#6731 Allow padding with 0 nodes
  CHANGELOG.md
  test/transforms/test_pad.py
  torch_geometric/transforms/pad.py
Labels: bug, 0 - Priority P0, transform

#6728 Added `utils.to_edge_index` to convert sparse tensors to edge indices and edge attributes
  CHANGELOG.md
  test/utils/test_sparse.py
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/sparse.py
Labels: feature, 1 - Priority P1, nn, utils

#6736 [Code Coverage] `transforms/test_svd_feature_reduction.py`
  CHANGELOG.md
  test/transforms/test_svd_feature_reduction.py
Labels: 0 - Priority P0, test, transform

#6735 [Code Coverage] `data/temporal.py`
  CHANGELOG.md
  test/data/test_temporal.py
Labels: 0 - Priority P0, test, data

#6726 Add TorchScript support for `Node2Vec`
  CHANGELOG.md
  test/nn/models/test_node2vec.py
  torch_geometric/nn/models/node2vec.py
Labels: feature, 0 - Priority P0, nn

#6727 Add TorchScript support for `RECT_L`
  CHANGELOG.md
  test/nn/models/test_rect.py
  torch_geometric/nn/models/rect.py
Labels: feature, 0 - Priority P0, nn

#6742 Fix bug in `benchmark.utils`
  benchmark/utils/utils.py
Labels: bug, 0 - Priority P0, benchmark, skip-changelog

#6746 Fix documentation type hints in `nn.conv`
  torch_geometric/nn/conv/fused_gat_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/nn/conv/hetero_conv.py
  torch_geometric/nn/conv/hgt_conv.py
  torch_geometric/nn/conv/hypergraph_conv.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/pna_conv.py
  torch_geometric/nn/conv/rgat_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/conv/supergat_conv.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#6747 Make `data.Dataset` an abstract base class
  test/data/test_dataset.py
  torch_geometric/data/dataset.py
  torch_geometric/data/in_memory_dataset.py
Labels: 0 - Priority P0, refactor, data, skip-changelog

#6750 Fix Slack Button in documentation
  docs/source/index.rst
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#6751 Add icons to documentation
  LICENSE
  docs/source/advanced/graphgym.rst
  docs/source/advanced/remote.rst
  docs/source/external/resources.rst
  docs/source/get_started/colabs.rst
  docs/source/index.rst
  docs/source/tutorial/explain.rst
  docs/source/tutorial/heterogeneous.rst
  torch_geometric/data/data.py
  torch_geometric/data/dataset.py
  torch_geometric/data/lightning/datamodule.py
  torch_geometric/datasets/github.py
  torch_geometric/datasets/molecule_net.py
  torch_geometric/datasets/ogb_mag.py
  torch_geometric/explain/algorithm/captum.py
  torch_geometric/explain/algorithm/captum_explainer.py
  torch_geometric/nn/models/captum.py
Labels: documentation, nn, dataset, explain, data, skip-changelog

#6752 Fix issues in documentation
  test/utils/test_embedding.py
  torch_geometric/deprecation.py
  torch_geometric/explain/algorithm/pg_explainer.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/embedding.py
  torch_geometric/utils/negative_sampling.py
Labels: bug, documentation, 0 - Priority P0, explain, skip-changelog, utils

#6749 Update `LabelPropagation` docs and `post_step` default value
  test/nn/models/test_label_prop.py
  torch_geometric/nn/models/label_prop.py
Labels: documentation, 0 - Priority P0, test, nn, skip-changelog

#6748 Pytorch Sparse tensor support: `DNAConv`, `EdgeConv`, `EGConv`, and `FAConv`
  CHANGELOG.md
  test/nn/conv/test_dna_conv.py
  test/nn/conv/test_edge_conv.py
  test/nn/conv/test_eg_conv.py
  test/nn/conv/test_fa_conv.py
  torch_geometric/nn/conv/fa_conv.py
Labels: feature, 1 - Priority P1, nn

#6734 Added revised `MD17` dataset
  CHANGELOG.md
  torch_geometric/datasets/md17.py
  torch_geometric/datasets/utils/cheatsheet.py
Labels: feature, 0 - Priority P0, dataset

#6699 High-level API for `torch.sparse.mm` with optimized `spmm_reduce` kernel using CSR format
  CHANGELOG.md
  pyproject.toml
  test/utils/test_spmm.py
  torch_geometric/typing.py
  torch_geometric/utils/spmm.py
Labels: feature, 0 - Priority P0, utils

#6653 [Code Coverage] `utils/convert.py`
  CHANGELOG.md
  pyproject.toml
  test/utils/test_convert.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/convert.py
Labels: 0 - Priority P0, test, utils

#6754 Fix TorchScript support in `DNAConv` and `FAConv`
  test/nn/conv/test_dna_conv.py
  test/nn/conv/test_fa_conv.py
  torch_geometric/nn/conv/fa_conv.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#6758 Remove adding `num_edges` directly to store in the `Pad` transform
  CHANGELOG.md
  torch_geometric/transforms/pad.py
Labels: bug, 0 - Priority P0, transform

#6759 Use `torch.sparse.mm` for PyTorch>=2.0 and CPU-based `SparseTensor`
  CHANGELOG.md
  torch_geometric/utils/spmm.py
Labels: feature, 0 - Priority P0, utils

#6462 feat(ci): enable `pip` caching in CI
  .github/actions/setup/action.yml
  .github/workflows/documentation.yml
  .github/workflows/full_testing.yml
  .github/workflows/linting.yml
  .github/workflows/nightly.yml
  CHANGELOG.md
Labels: feature, 1 - Priority P1

#6760 Capture `stdout` in CI tests
  test/contrib/explain/test_graphmask_explainer.py
  test/graphgym/test_graphgym.py
  test/nn/kge/test_transe.py
  test/nn/pool/test_decimation.py
  test/profile/test_benchmark.py
  test/profile/test_profile.py
  test/profile/test_profiler.py
  torch_geometric/contrib/explain/pgm_explainer.py
  torch_geometric/data/dataset.py
  torch_geometric/data/download.py
  torch_geometric/data/extract.py
  torch_geometric/loader/mixin.py
  torch_geometric/nn/kge/base.py
  torch_geometric/nn/model_hub.py
Labels: bug, 0 - Priority P0, test, nn, loader, data, skip-changelog, contrib

#6769 Fix `ModuleDict.items()`
  test/nn/test_module_dict.py
  torch_geometric/nn/encoding.py
  torch_geometric/nn/module_dict.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#6770 Fix tests
  test/explain/metric/test_basic_metric.py
  test/nn/models/test_basic_gnn.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#6768 gh: move `CONTRIBUTING.md` inside `.github/` dir
  .github/CONTRIBUTING.md
  README.md
  docs/README.md
Labels: documentation, 1 - Priority P1, refactor, skip-changelog

#6763 [Code Coverage] `models/schnet.py`
  CHANGELOG.md
  test/nn/models/test_schnet.py
  torch_geometric/nn/models/schnet.py
Labels: 0 - Priority P0, test, nn

#6776 chore: move `yamllint` config to pre-commit config
  .pre-commit-config.yaml
  .yamllint.yml
Labels: 0 - Priority P0, refactor, skip-changelog

#6777 Replace `-` with `_` in package names in installation instructions
  README.md
  docker/Dockerfile
  docs/source/advanced/sparse_tensor.rst
  docs/source/get_started/introduction.rst
  docs/source/install/installation.rst
  docs/source/install/quick-start.html
  torch_geometric/utils/scatter.py
  torch_geometric/utils/segment.py
Labels: installation, documentation, 0 - Priority P0, refactor, skip-changelog, utils

#6778 Fix `ChebConv` within `GNNExplainer`
  CHANGELOG.md
  test/explain/algorithm/test_gnn_explainer.py
  torch_geometric/nn/conv/cheb_conv.py
Labels: bug, 0 - Priority P0, nn

#6780 feat(pre-commit): add `ci` configurations
  .pre-commit-config.yaml
Labels: 1 - Priority P1, refactor, skip-changelog

#6781 [Code Coverage] `models/dimenet.py`
  CHANGELOG.md
  test/nn/models/test_dimenet.py
  torch_geometric/nn/models/dimenet.py
Labels: 0 - Priority P0, test, nn

#6785 Added the `TemporalEncoding` module
  CHANGELOG.md
  test/nn/test_encoding.py
  torch_geometric/nn/__init__.py
  torch_geometric/nn/encoding.py
Labels: nn

#6788 Fix `cugraph`-related tests
  test/utils/test_convert.py
Labels: bug, 0 - Priority P0, skip-changelog

#6805 Condition `sampled_op` execution path
  CHANGELOG.md
  torch_geometric/typing.py
  torch_geometric/utils/softmax.py
Labels: 0 - Priority P0, refactor, utils

#6806 Add Stanford CS224W lectures to documentation
  docs/source/external/resources.rst
  docs/source/get_started/introduction.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#6787 Fix hard masking in `GNNExplainer` for link prediction tasks
  CHANGELOG.md
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/gnn_explainer.py
Labels: bug, 0 - Priority P0, explain

#6799 [Code Coverage] `data/datapipes.py`
  CHANGELOG.md
  test/data/test_datapipes.py
  torch_geometric/loader/dataloader.py
Labels: 0 - Priority P0, test, loader, data

#6790 `get_mesh_laplacian` fix and `normalization_type` customization
  CHANGELOG.md
  test/utils/test_get_mesh_laplacian.py
  torch_geometric/utils/get_mesh_laplacian.py
Labels: bug, 0 - Priority P0, utils

#6810 Add `utils.select` and `utils.narrow`
  CHANGELOG.md
  test/data/test_data.py
  test/utils/test_select.py
  torch_geometric/data/data.py
  torch_geometric/data/storage.py
  torch_geometric/loader/cluster.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/select.py
Labels: 1 - Priority P1, refactor, utils

#6818 Fix typo in `CuGraphModule`
  torch_geometric/nn/conv/cugraph/base.py
Labels: 1 - Priority P1, refactor, skip-changelog
