Repository pyg-team/pytorch_geometric, pull requests merged in 2023-12, with the labels that each got.

#8498 `[EdgeIndex]` Move modified `torch__function__` methods to class level
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: 0 - Priority P0, refactor, data, skip-changelog

#8499 Add link-prediction metric base class and support for `Precision@k`
  CHANGELOG.md
  test/nn/test_metrics.py
  torch_geometric/nn/metrics.py
Labels: feature, 0 - Priority P0, nn

#8500 Introduce `EdgeIndex.get_csr2csc()` and `EdgeIndex.get_csc2csr()`
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8502 Add `EdgeIndex(is_undirected=True)` option
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8504 `EdgeIndex.get_csr()` and `EdgeIndex.get_csc()`
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8505 Faster `EdgeIndex.sort_by` code path
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8507 Disable `torch._inductor.config.assert_indirect_indexing` in PyTorch 2.2
  torch_geometric/compile.py
  torch_geometric/typing.py
Labels: 0 - Priority P0, skip-changelog

#8510 More in-depth tests for `EdgeIndex`
  test/data/test_edge_index.py
  test/utils/test_index_sort.py
  torch_geometric/data/edge_index.py
  torch_geometric/utils/sort.py
Labels: 0 - Priority P0, test, data, skip-changelog, utils

#8513 `[EdgeIndex]` Clean-up cache design
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: 0 - Priority P0, refactor, data, skip-changelog

#8519 Always add node labels in `ExplainerDataset`
  CHANGELOG.md
  torch_geometric/datasets/explainer_dataset.py
Labels: feature, 0 - Priority P0, dataset

#8254 Enable typing support
  .github/workflows/linting.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  test/nn/conv/test_edge_conv.py
  torch_geometric/nn/conv/edge_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/gravnet_conv.py
  torch_geometric/nn/conv/transformer_conv.py
  torch_geometric/nn/conv/utils/typing.py
Labels: 1 - Priority P1, nn, type hints

#8521 Fix flaky test
  test/distributed/test_dist_neighbor_sampler.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#8525 `[EdgeIndex]` Clean-up, support `reduce=amin` and `reduce=amax`
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
  torch_geometric/utils/scatter.py
Labels: 0 - Priority P0, refactor, data, skip-changelog, utils

#8526 Documentation of `EdgeIndex.matmul`
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: 0 - Priority P0, data, skip-changelog

#8529 Fixed `torch.nn.Module` cannot be assigned as `str` in `SchNet`
  torch_geometric/nn/models/schnet.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#8531 Increase code coverage in `EdgeIndex`
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: 0 - Priority P0, refactor, test, data, skip-changelog

#8524 Add relabel node functionality to `dropout_node`
  CHANGELOG.md
  torch_geometric/utils/dropout.py
Labels: feature, 0 - Priority P0, utils

#8533 Introduce `withoutExtensions` decorator
  pyproject.toml
  test/conftest.py
  test/data/test_edge_index.py
  test/io/test_fs.py
  torch_geometric/data/edge_index.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
  torch_geometric/typing.py
  torch_geometric/utils/sparse.py
Labels: feature, 0 - Priority P0, test, data, skip-changelog, utils

#8535 Add `EdgeIndex.spspmm` tests
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: 0 - Priority P0, test, data, skip-changelog

#8538 Increase code coverage in `EdgeIndex`
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: 0 - Priority P0, test, data, skip-changelog

#8326 `NDCG@k` metric for link-prediction
  CHANGELOG.md
  test/nn/test_metrics.py
  torch_geometric/nn/metrics.py
Labels: feature, 0 - Priority P0, example

#8542 `EdgeIndex`: Move to root, add PyTorch 1.11 support
  docs/source/modules/data.rst
  docs/source/modules/root.rst
  test/test_edge_index.py
  torch_geometric/__init__.py
  torch_geometric/data/__init__.py
  torch_geometric/edge_index.py
Labels: documentation, 0 - Priority P0, refactor, data, skip-changelog

#8544 Resolve circular dependency
  torch_geometric/edge_index.py
Labels: bug, 0 - Priority P0, skip-changelog

#8550 Warn when calling `dataset.num_classes` on regression problems
  CHANGELOG.md
  torch_geometric/data/dataset.py
Labels: feature, 0 - Priority P0, data

#8554 `mypy` support in `torch_geometric.utils` [1/n]
  torch_geometric/utils/dropout.py
  torch_geometric/utils/map.py
  torch_geometric/utils/num_nodes.py
  torch_geometric/utils/subgraph.py
Labels: 0 - Priority P0, skip-changelog, utils, type hints

#8555 `mypy` support in `torch_geometric.utils` [2/n]
  test/nn/models/test_basic_gnn.py
  test/utils/test_negative_sampling.py
  test/utils/test_scatter.py
  test/utils/test_trim_to_layer.py
  torch_geometric/contrib/explain/pgm_explainer.py
  torch_geometric/data/hypergraph_data.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/nn/models/tgn.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/_assortativity.py
  torch_geometric/utils/_coalesce.py
  torch_geometric/utils/_degree.py
  torch_geometric/utils/_grid.py
  torch_geometric/utils/_homophily.py
  torch_geometric/utils/_index_sort.py
  torch_geometric/utils/_lexsort.py
  torch_geometric/utils/_negative_sampling.py
  torch_geometric/utils/_normalized_cut.py
  torch_geometric/utils/_one_hot.py
  torch_geometric/utils/_scatter.py
  torch_geometric/utils/_segment.py
  torch_geometric/utils/_select.py
  torch_geometric/utils/_softmax.py
  torch_geometric/utils/_sort_edge_index.py
  torch_geometric/utils/_spmm.py
  torch_geometric/utils/_subgraph.py
  torch_geometric/utils/_to_dense_adj.py
  torch_geometric/utils/_to_dense_batch.py
  torch_geometric/utils/_train_test_split_edges.py
  torch_geometric/utils/_tree_decomposition.py
  torch_geometric/utils/_trim_to_layer.py
  torch_geometric/utils/_unbatch.py
  torch_geometric/utils/hetero.py
  torch_geometric/utils/isolated.py
  torch_geometric/utils/laplacian.py
  torch_geometric/utils/mesh_laplacian.py
Labels: 0 - Priority P0, nn, data, skip-changelog, utils, type hints, contrib

#8556 `mypy` support in `torch_geometric.utils`[3/n]
  torch_geometric/utils/_coalesce.py
  torch_geometric/utils/_grid.py
  torch_geometric/utils/_subgraph.py
Labels: 0 - Priority P0, skip-changelog, utils, type hints

#8558 `mypy` support in `torch_geometric.utils` [4/n]
  torch_geometric/utils/_coalesce.py
  torch_geometric/utils/_homophily.py
  torch_geometric/utils/_negative_sampling.py
  torch_geometric/utils/_select.py
  torch_geometric/utils/_sort_edge_index.py
  torch_geometric/utils/_spmm.py
  torch_geometric/utils/_to_dense_adj.py
  torch_geometric/utils/geodesic.py
  torch_geometric/utils/num_nodes.py
  torch_geometric/utils/sparse.py
Labels: 0 - Priority P0, skip-changelog, utils, type hints

#8563 Remove DDP init from `test_dist_neighbor_sampler` causing CI to break
  test/distributed/test_dist_neighbor_sampler.py
  test/distributed/test_rpc.py
Labels: bug, 0 - Priority P0, skip-changelog, distributed

#8564 Fix `eigen accepts only contiguous tensors`
  torch_geometric/edge_index.py
  torch_geometric/utils/sparse.py
Labels: bug, 0 - Priority P0, skip-changelog, utils

#8568 Mention of NVIDIA container in `README`
  README.md
Labels: installation, feature, documentation, 0 - Priority P0, skip-changelog

#8566 `Recall@k` metric for link-prediction
  CHANGELOG.md
  test/nn/test_metrics.py
  torch_geometric/nn/metrics.py
Labels: feature, 0 - Priority P0, nn

#8573 Add `KNNIndex` exclusion logic
  CHANGELOG.md
  test/nn/pool/test_knn.py
  torch_geometric/nn/pool/knn.py
Labels: feature, 0 - Priority P0, nn

#8532 Add support for XPU device in `profileit` decorator
  CHANGELOG.md
  test/profile/test_profile.py
  test/profile/test_profile_utils.py
  torch_geometric/profile/__init__.py
  torch_geometric/profile/profile.py
  torch_geometric/profile/utils.py
Labels: feature, 0 - Priority P0, benchmark

#8575 `to_networkx(to_multi=True)` support
  CHANGELOG.md
  torch_geometric/utils/convert.py
Labels: feature, 0 - Priority P0, utils

#8574 Use socket as context in tests including RPC to ensure better closing behaviors (CI fix)
  test/distributed/test_dist_link_neighbor_loader.py
  test/distributed/test_dist_neighbor_loader.py
  test/distributed/test_dist_neighbor_sampler.py
  test/distributed/test_rpc.py
Labels: bug, 0 - Priority P0, skip-changelog, distributed

#8577 Multigpu cleanup for readme and name
  examples/multi_gpu/README.md
  examples/multi_gpu/papers100m_gcn.py
  examples/multi_gpu/papers100m_gcn_multinode.py
  examples/multi_gpu/taobao.py
Labels: example, skip-changelog

#8579 Small clean-up for multi-GPU readme
  examples/multi_gpu/README.md
Labels: 0 - Priority P0, example, skip-changelog

#8565 `mypy` support in `torch_geometric.utils` [6/n]
  torch_geometric/utils/loop.py
Labels: 0 - Priority P0, skip-changelog, utils, type hints

#8580 `mypy` support in `torch_geometric.utils` [7/7]
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  pyproject.toml
  torch_geometric/compile.py
  torch_geometric/edge_index.py
  torch_geometric/utils/_negative_sampling.py
  torch_geometric/utils/convert.py
  torch_geometric/utils/laplacian.py
  torch_geometric/utils/undirected.py
Labels: 0 - Priority P0, refactor, skip-changelog, utils, type hints

#8582 `mypy` support in `torch_geometric.datasets` [1/n]
  torch_geometric/data/data.py
  torch_geometric/data/dataset.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/datasets/tu_dataset.py
  torch_geometric/testing/data.py
  torch_geometric/utils/convert.py
Labels: 0 - Priority P0, refactor, dataset, data, skip-changelog, utils, type hints

#8583 `mypy` support in `torch_geometric.datasets` [2/n]
  test/nn/models/test_re_net.py
  torch_geometric/data/dataset.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/data/on_disk_dataset.py
  torch_geometric/datasets/aqsol.py
  torch_geometric/datasets/ba2motif_dataset.py
  torch_geometric/datasets/bitcoin_otc.py
  torch_geometric/datasets/dbp15k.py
  torch_geometric/datasets/entities.py
  torch_geometric/datasets/gdelt.py
  torch_geometric/datasets/graph_generator/base.py
  torch_geometric/datasets/icews.py
  torch_geometric/datasets/infection_dataset.py
  torch_geometric/datasets/md17.py
  torch_geometric/datasets/modelnet.py
  torch_geometric/datasets/motif_generator/base.py
  torch_geometric/datasets/motif_generator/custom.py
  torch_geometric/datasets/ogb_mag.py
  torch_geometric/datasets/pcqm4m.py
  torch_geometric/datasets/ppi.py
  torch_geometric/datasets/shapenet.py
Labels: 0 - Priority P0, refactor, dataset, data, skip-changelog, type hints

#8585 `mypy` support in `torch_geometric.datasets` [3/3]
  pyproject.toml
  torch_geometric/datasets/ba2motif_dataset.py
  torch_geometric/datasets/ba_multi_shapes.py
  torch_geometric/datasets/fake.py
  torch_geometric/datasets/hydro_net.py
  torch_geometric/datasets/neurograph.py
  torch_geometric/datasets/rel_link_pred_dataset.py
  torch_geometric/datasets/snap_dataset.py
  torch_geometric/datasets/utils/cheatsheet.py
  torch_geometric/datasets/wikidata.py
  torch_geometric/datasets/wikipedia_network.py
Labels: 0 - Priority P0, dataset, skip-changelog, type hints

#8586 Add more type hints
  torch_geometric/datasets/airports.py
  torch_geometric/datasets/amazon.py
  torch_geometric/datasets/amazon_products.py
  torch_geometric/datasets/citation_full.py
  torch_geometric/datasets/coauthor.py
  torch_geometric/datasets/coma.py
  torch_geometric/datasets/dbp15k.py
  torch_geometric/datasets/explainer_dataset.py
  torch_geometric/datasets/faust.py
  torch_geometric/datasets/gdelt.py
  torch_geometric/datasets/geometry.py
  torch_geometric/datasets/graph_generator/base.py
  torch_geometric/datasets/icews.py
  torch_geometric/datasets/infection_dataset.py
  torch_geometric/datasets/modelnet.py
  torch_geometric/datasets/motif_generator/base.py
  torch_geometric/datasets/motif_generator/house.py
  torch_geometric/datasets/nell.py
  torch_geometric/datasets/particle.py
  torch_geometric/datasets/pcpnet_dataset.py
  torch_geometric/datasets/pcqm4m.py
  torch_geometric/datasets/planetoid.py
  torch_geometric/datasets/shapenet.py
  torch_geometric/datasets/shrec2016.py
  torch_geometric/datasets/tosca.py
  torch_geometric/datasets/tu_dataset.py
  torch_geometric/datasets/upfd.py
  torch_geometric/io/fs.py
  torch_geometric/utils/_negative_sampling.py
  torch_geometric/utils/augmentation.py
  torch_geometric/utils/convert.py
  torch_geometric/utils/cross_entropy.py
  torch_geometric/utils/embedding.py
  torch_geometric/utils/geodesic.py
  torch_geometric/utils/hetero.py
  torch_geometric/utils/mesh_laplacian.py
  torch_geometric/utils/mixin.py
  torch_geometric/utils/sparse.py
Labels: 0 - Priority P0, dataset, skip-changelog, utils, type hints

#8587 Add more type hints
  torch_geometric/datasets/actor.py
  torch_geometric/datasets/airfrans.py
  torch_geometric/datasets/amazon_book.py
  torch_geometric/datasets/aminer.py
  torch_geometric/datasets/attributed_graph_dataset.py
  torch_geometric/datasets/ba_shapes.py
  torch_geometric/datasets/bitcoin_otc.py
  torch_geometric/datasets/brca_tgca.py
  torch_geometric/datasets/dblp.py
  torch_geometric/datasets/deezer_europe.py
  torch_geometric/datasets/upfd.py
  torch_geometric/io/fs.py
Labels: 0 - Priority P0, dataset, skip-changelog, type hints

#8454 Merge `TemporalData` with `Data`/`HeteroData` [1/n]
  CHANGELOG.md
  test/data/test_data.py
  torch_geometric/data/data.py
  torch_geometric/data/storage.py
Labels: data

#8590 Add more type hints to `torch_geometric.datasets`
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/datasets/dgraph.py
  torch_geometric/datasets/dynamic_faust.py
  torch_geometric/datasets/elliptic.py
  torch_geometric/datasets/email_eu_core.py
  torch_geometric/datasets/entities.py
  torch_geometric/datasets/facebook.py
  torch_geometric/datasets/fake.py
  torch_geometric/datasets/flickr.py
  torch_geometric/datasets/freebase.py
  torch_geometric/datasets/gdelt_lite.py
  torch_geometric/datasets/ged_dataset.py
  torch_geometric/datasets/gemsec.py
  torch_geometric/datasets/github.py
  torch_geometric/datasets/gnn_benchmark_dataset.py
  torch_geometric/datasets/heterophilous_graph_dataset.py
  torch_geometric/datasets/hgb_dataset.py
  torch_geometric/datasets/hm.py
  torch_geometric/datasets/hydro_net.py
Labels: 0 - Priority P0, dataset, data, skip-changelog, type hints

#8593 Add type hints for `args` and `kwargs`
  torch_geometric/data/data.py
  torch_geometric/datasets/entities.py
  torch_geometric/datasets/fake.py
  torch_geometric/datasets/graph_generator/base.py
  torch_geometric/datasets/hydro_net.py
  torch_geometric/datasets/igmc_dataset.py
  torch_geometric/datasets/imdb.py
  torch_geometric/datasets/jodie.py
  torch_geometric/datasets/last_fm.py
  torch_geometric/datasets/lastfm_asia.py
  torch_geometric/datasets/linkx_dataset.py
  torch_geometric/datasets/lrgb.py
  torch_geometric/datasets/malnet_tiny.py
  torch_geometric/datasets/md17.py
  torch_geometric/datasets/mixhop_synthetic_dataset.py
  torch_geometric/datasets/mnist_superpixels.py
  torch_geometric/datasets/molecule_net.py
  torch_geometric/datasets/motif_generator/base.py
  torch_geometric/datasets/movie_lens.py
  torch_geometric/datasets/movie_lens_100k.py
  torch_geometric/datasets/movie_lens_1m.py
  torch_geometric/datasets/myket.py
  torch_geometric/datasets/ogb_mag.py
  torch_geometric/datasets/omdb.py
  torch_geometric/datasets/ose_gvcs.py
  torch_geometric/datasets/particle.py
  torch_geometric/datasets/pascal.py
  torch_geometric/datasets/pascal_pf.py
  torch_geometric/datasets/polblogs.py
  torch_geometric/datasets/ppi.py
  torch_geometric/datasets/qm7.py
  torch_geometric/utils/embedding.py
  torch_geometric/utils/geodesic.py
  torch_geometric/utils/mixin.py
Labels: 0 - Priority P0, dataset, data, skip-changelog, utils, type hints

#8594 Add more type hints
  torch_geometric/config_store.py
  torch_geometric/datasets/pascal.py
  torch_geometric/datasets/qm9.py
  torch_geometric/datasets/rcdd.py
  torch_geometric/datasets/reddit.py
  torch_geometric/datasets/reddit2.py
  torch_geometric/datasets/rel_link_pred_dataset.py
  torch_geometric/datasets/s3dis.py
  torch_geometric/datasets/sbm_dataset.py
  torch_geometric/datasets/snap_dataset.py
  torch_geometric/datasets/suite_sparse.py
  torch_geometric/datasets/taobao.py
  torch_geometric/datasets/twitch.py
  torch_geometric/datasets/webkb.py
  torch_geometric/datasets/wikics.py
  torch_geometric/datasets/wikipedia_network.py
  torch_geometric/datasets/willow_object_class.py
  torch_geometric/datasets/word_net.py
  torch_geometric/datasets/yelp.py
  torch_geometric/datasets/zinc.py
  torch_geometric/debug.py
  torch_geometric/home.py
  torch_geometric/logging.py
  torch_geometric/testing/asserts.py
  torch_geometric/testing/decorators.py
  torch_geometric/testing/feature_store.py
  torch_geometric/testing/graph_store.py
  torch_geometric/typing.py
  torch_geometric/warnings.py
Labels: 0 - Priority P0, refactor, dataset, skip-changelog, type hints

#8592 Use `find_unused_parameters` only for heterogeneous cases
  .github/workflows/linting.yml
  benchmark/multi_gpu/training/common.py
Labels: 0 - Priority P0, refactor, benchmark, skip-changelog

#8601 Fix `Data.__inc__` in case `*batch*` is not a Tensor
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/temporal.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#8600 Fix PyG master
  .github/workflows/full_gpu_testing.yml
  test/io/test_fs.py
  test/utils/test_laplacian.py
  test/utils/test_mesh_laplacian.py
  torch_geometric/datasets/ged_dataset.py
  torch_geometric/datasets/pascal_pf.py
  torch_geometric/distributed/rpc.py
  torch_geometric/edge_index.py
  torch_geometric/io/fs.py
  torch_geometric/io/tu.py
  torch_geometric/utils/laplacian.py
Labels: bug, 0 - Priority P0, test, dataset, skip-changelog, utils

#8609 Fix `get_stats_summary` for CUDA
  torch_geometric/profile/profile.py
Labels: bug, skip-changelog

#8610 Support memory-mode in various datasets
  test/conftest.py
  torch_geometric/data/dataset.py
  torch_geometric/datasets/elliptic.py
  torch_geometric/datasets/planetoid.py
  torch_geometric/datasets/snap_dataset.py
  torch_geometric/datasets/suite_sparse.py
  torch_geometric/io/fs.py
Labels: feature, 0 - Priority P0, dataset, data, skip-changelog

#8540 Add `MultithreadMixin` that enables multithreading in `NodeLoader` and `LinkLoader` and extend CPU affinity with default multithreading
  test/conftest.py
  test/loader/test_mixin.py
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/mixin.py
  torch_geometric/loader/node_loader.py
Labels: feature, 0 - Priority P0, loader, skip-changelog

#8287 Add a new Equivariant GNN named `ViSNet`
  CHANGELOG.md
  test/nn/models/test_visnet.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/visnet.py
Labels: feature, 1 - Priority P1, nn

#8614 Support `mypy` in `torch_geometric.transforms` [1/n]
  test/test_config_store.py
  torch_geometric/data/data.py
  torch_geometric/data/storage.py
  torch_geometric/transforms/add_metapaths.py
  torch_geometric/transforms/add_remaining_self_loops.py
  torch_geometric/transforms/add_self_loops.py
  torch_geometric/transforms/cartesian.py
  torch_geometric/transforms/constant.py
  torch_geometric/transforms/distance.py
  torch_geometric/transforms/fixed_points.py
  torch_geometric/transforms/generate_mesh_normals.py
  torch_geometric/transforms/local_cartesian.py
  torch_geometric/transforms/spherical.py
Labels: 0 - Priority P0, refactor, data, transform, skip-changelog, type hints

#8616 Support `mypy` in `torch_geometric.transforms` [2/n]
  torch_geometric/data/data.py
  torch_geometric/data/view.py
  torch_geometric/transforms/delaunay.py
  torch_geometric/transforms/face_to_edge.py
  torch_geometric/transforms/feature_propagation.py
  torch_geometric/transforms/knn_graph.py
  torch_geometric/transforms/local_degree_profile.py
  torch_geometric/transforms/mask.py
  torch_geometric/transforms/normalize_rotation.py
  torch_geometric/transforms/normalize_scale.py
  torch_geometric/transforms/one_hot_degree.py
  torch_geometric/transforms/polar.py
  torch_geometric/transforms/radius_graph.py
  torch_geometric/transforms/random_flip.py
  torch_geometric/transforms/random_jitter.py
Labels: 0 - Priority P0, refactor, data, transform, skip-changelog, type hints

#8503 Update `DistNeighborSampler` for hetero
  test/distributed/test_dist_neighbor_loader.py
  test/distributed/test_dist_neighbor_sampler.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/distributed/utils.py
Labels: feature, 0 - Priority P0, loader, skip-changelog, sampler, distributed

#8347 Add noise scheduler utility for diffusion based graph generative models
  CHANGELOG.md
  test/utils/test_noise_scheduler.py
  torch_geometric/utils/noise_scheduler.py
Labels: feature, 0 - Priority P0, nn

#8619 Support `mypy` in `torch_geometric.transforms` [3/n]
  torch_geometric/data/storage.py
  torch_geometric/transforms/remove_isolated_nodes.py
  torch_geometric/transforms/sample_points.py
  torch_geometric/transforms/sign.py
  torch_geometric/transforms/svd_feature_reduction.py
  torch_geometric/transforms/target_indegree.py
  torch_geometric/transforms/to_dense.py
  torch_geometric/transforms/to_device.py
  torch_geometric/transforms/to_sparse_tensor.py
  torch_geometric/transforms/two_hop.py
  torch_geometric/transforms/virtual_node.py
  torch_geometric/utils/sparse.py
Labels: 0 - Priority P0, refactor, data, transform, skip-changelog, utils, type hints

#8620 Support `mypy` in `torch_geometric.transforms` [4/n]
  torch_geometric/transforms/add_positional_encoding.py
  torch_geometric/transforms/gdc.py
  torch_geometric/transforms/grid_sampling.py
  torch_geometric/transforms/half_hop.py
  torch_geometric/transforms/laplacian_lambda_max.py
  torch_geometric/transforms/largest_connected_components.py
  torch_geometric/transforms/line_graph.py
  torch_geometric/transforms/random_node_split.py
Labels: 0 - Priority P0, refactor, transform, skip-changelog, type hints

#8621 Support `mypy` in `torch_geometric.transforms` [5/n]
  torch_geometric/transforms/random_jitter.py
  torch_geometric/transforms/random_link_split.py
  torch_geometric/transforms/random_rotate.py
  torch_geometric/transforms/random_scale.py
  torch_geometric/transforms/random_shear.py
  torch_geometric/transforms/remove_duplicated_edges.py
  torch_geometric/transforms/to_superpixels.py
Labels: 0 - Priority P0, refactor, transform, skip-changelog, type hints

#8622 Support `mypy` in `torch_geometric.transforms` [6/6]
  pyproject.toml
  test/transforms/test_pad.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/transforms/pad.py
  torch_geometric/transforms/rooted_subgraph.py
Labels: 0 - Priority P0, refactor, data, transform, skip-changelog, type hints

#8629 `mypy` support in `torch_geometric.data` [1/n]
  torch_geometric/data/collate.py
  torch_geometric/data/dataset.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/storage.py
  torch_geometric/data/view.py
  torch_geometric/loader/dataloader.py
  torch_geometric/transforms/remove_duplicated_edges.py
Labels: 0 - Priority P0, refactor, loader, data, transform, skip-changelog, type hints

#8632 Implement batch-loading via `OnDiskDataset.__getitems__`
  torch_geometric/data/on_disk_dataset.py
  torch_geometric/loader/dataloader.py
Labels: 0 - Priority P0, refactor, loader, data, skip-changelog

#8636 Update mixin.py - fix typo in `AffinityMixin`
  torch_geometric/loader/mixin.py
Labels: bug, loader, skip-changelog

#8639 Add `EdgeIndex` to `TwoHop` transform
  torch_geometric/transforms/two_hop.py
Labels: 0 - Priority P0, refactor, transform, skip-changelog

#8640 Inherit metadata for `EdgeIndex(edge_index)`
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: feature, 0 - Priority P0, skip-changelog

#8641 Expose `EdgeIndex` in `Planetoid`
  test/datasets/test_planetoid.py
  test/test_edge_index.py
  torch_geometric/edge_index.py
  torch_geometric/io/planetoid.py
  torch_geometric/utils/_coalesce.py
  torch_geometric/utils/_sort_edge_index.py
  torch_geometric/utils/loop.py
Labels: 0 - Priority P0, dataset, skip-changelog, utils

#8643 In-place support of `EdgeIndex` ops
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: feature, 0 - Priority P0, skip-changelog

#8591 Collect memory statistics in distributed XPU example
  examples/multi_gpu/distributed_sampling_xpu.py
  torch_geometric/profile/profile.py
  torch_geometric/profile/utils.py
Labels: example, skip-changelog

#8637 Fix RPC timeout issues caused by premature worker closing
  CHANGELOG.md
  test/distributed/test_dist_link_neighbor_loader.py
  test/distributed/test_dist_neighbor_loader.py
  test/distributed/test_dist_neighbor_sampler.py
  test/distributed/test_rpc.py
  torch_geometric/distributed/dist_link_neighbor_loader.py
  torch_geometric/distributed/dist_loader.py
  torch_geometric/distributed/dist_neighbor_loader.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/distributed/event_loop.py
  torch_geometric/distributed/rpc.py
  torch_geometric/loader/base.py
Labels: bug, 0 - Priority P0, loader, distributed

#8375 Enable homo distributed link sampling
  CHANGELOG.md
  test/distributed/test_dist_link_neighbor_loader.py
  test/distributed/test_dist_link_neighbor_sampler.py
  torch_geometric/distributed/dist_neighbor_sampler.py
Labels: feature, 0 - Priority P0, distributed

#8646 Fix broken master
  test/distributed/test_dist_link_neighbor_sampler.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#8649 Added support for `EdgeIndex.add`
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: feature, 0 - Priority P0, skip-changelog

#8650 Added support for `EdgeIndex.sub`
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: feature, 0 - Priority P0, skip-changelog

#8652 Fix Windows test
  torch_geometric/distributed/rpc.py
Labels: bug, 0 - Priority P0, skip-changelog, distributed

#8653 Init event loop in `sample_from_edges`
  torch_geometric/distributed/dist_neighbor_sampler.py
Labels: bug, skip-changelog, distributed

#8648 Added `num_graphs` option to `SBMDataset`
  CHANGELOG.md
  torch_geometric/datasets/sbm_dataset.py
Labels: feature, 0 - Priority P0, dataset

#8647 Add `f1@k` and `map@k` metrics
  CHANGELOG.md
  test/nn/test_metrics.py
  torch_geometric/nn/metrics.py
Labels: feature, 0 - Priority P0, nn

#8655 Support `EdgeIndex` in `remove_self_loops` and `segregate_self_loops`
  test/utils/test_loop.py
  torch_geometric/utils/loop.py
Labels: feature, 0 - Priority P0, skip-changelog, utils

#8663 Respect `OnDiskDataset.transform` in `multi_get`
  CHANGELOG.md
  torch_geometric/data/on_disk_dataset.py
Labels: bug, 0 - Priority P0, dataset

#8665 Support `EdgeIndex` in `add_self_loops`
  test/utils/test_loop.py
  torch_geometric/edge_index.py
  torch_geometric/utils/loop.py
  torch_geometric/utils/num_nodes.py
Labels: feature, 0 - Priority P0, skip-changelog, utils

#8666 Support `EdgeIndex` in `add_remaining_self_loops`
  test/utils/test_loop.py
  torch_geometric/utils/loop.py
Labels: feature, 0 - Priority P0, skip-changelog, utils

#8667 Fix `num_workers` handling in `OnDiskDataset`
  torch_geometric/data/database.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#8669 Support for `EdgeIndex` in `DataLoader`
  test/loader/test_dataloader.py
  torch_geometric/data/collate.py
  torch_geometric/data/storage.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8670 Accelerate concatenation of `torch.sparse` tensors
  CHANGELOG.md
  test/data/test_batch.py
  test/utils/test_sparse.py
  torch_geometric/utils/sparse.py
Labels: feature, 0 - Priority P0, utils

#8671 Support `mypy` in `torch_geometric.data` [2/n]
  torch_geometric/data/__init__.py
  torch_geometric/data/database.py
  torch_geometric/data/dataset.py
  torch_geometric/data/extract.py
  torch_geometric/data/remote_backend_utils.py
  torch_geometric/data/summary.py
Labels: 0 - Priority P0, refactor, data, skip-changelog, type hints

#8673 Support `mypy` in `torch_geometric.data` [3/n]
  torch_geometric/data/batch.py
  torch_geometric/data/collate.py
  torch_geometric/data/datapipes.py
  torch_geometric/data/hypergraph_data.py
  torch_geometric/data/lightning/datamodule.py
  torch_geometric/data/separate.py
  torch_geometric/utils/_subgraph.py
Labels: 0 - Priority P0, refactor, data, skip-changelog, utils, type hints

#8679 Drop `SparseTensor` node features in favor of `torch.sparse_csr_tensor`
  CHANGELOG.md
  torch_geometric/data/collate.py
  torch_geometric/datasets/attributed_graph_dataset.py
  torch_geometric/io/planetoid.py
  torch_geometric/nn/conv/fused_gat_conv.py
  torch_geometric/transforms/add_metapaths.py
Labels: 0 - Priority P0, refactor, nn, dataset, data, transform

#8680 Remove `SparseTensor` dependency in `FusedGATConv`
  test/nn/conv/test_fused_gat_conv.py
  torch_geometric/nn/conv/fused_gat_conv.py
  torch_geometric/testing/decorators.py
  torch_geometric/utils/sparse.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog, utils

#8681 Drop `torch-sparse` requirement in `AddMetaPaths`
  test/test_edge_index.py
  test/transforms/test_add_metapaths.py
  torch_geometric/edge_index.py
  torch_geometric/transforms/add_metapaths.py
Labels: 0 - Priority P0, refactor, transform, skip-changelog

#8684 `EdgeIndex` support in `Dataset` and `Batch`
  test/data/test_batch.py
  test/data/test_dataset.py
  test/test_edge_index.py
  torch_geometric/data/separate.py
  torch_geometric/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8686 `EdgeIndex` integration in `NeighborLoader`
  test/loader/test_neighbor_loader.py
  test/test_edge_index.py
  torch_geometric/edge_index.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/utils.py
Labels: feature, 0 - Priority P0, loader, skip-changelog, sampler

#8687 `EdgeIndex` support in `Database`
  test/data/test_database.py
  torch_geometric/data/database.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8689 Use `EdgeIndex` in `utils.ppr`
  torch_geometric/datasets/nell.py
  torch_geometric/utils/ppr.py
Labels: 0 - Priority P0, refactor, dataset, skip-changelog, utils

#8690 Allow `EdgeIndex` creation from `torch.sparse` tensors
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: feature, 0 - Priority P0, skip-changelog

#8691 Integrate `EdgeIndex` into `transform.SIGN`
  torch_geometric/transforms/sign.py
Labels: 0 - Priority P0, refactor, transform, skip-changelog

#8692 Fix loading of `InMemoryDataset` in case a `pre_transform` modifies the underlying `Data` class
  CHANGELOG.md
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/datasets/tu_dataset.py
Labels: bug, 0 - Priority P0, dataset, data

#8624 Distributed node-level and edge-level temporal sampling for hetero
  CHANGELOG.md
  test/distributed/test_dist_neighbor_sampler.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/distributed/utils.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: loader, sampler, distributed

#8694 `mypy` support in `MessagePassing`
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/utils/typing.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog, type hints

#8695 Move `@overload`s to `MessagePassing`
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#8696 `mypy` support in `collate`
  torch_geometric/data/collate.py
  torch_geometric/datasets/fake.py
Labels: 0 - Priority P0, refactor, dataset, data, skip-changelog, type hints
