Repository pyg-team/pytorch_geometric, pull requests merged in 2023-10, with the labels that each got.

#8106 `OnDiskDataset`: Benchmarks and minor fixes
  CHANGELOG.md
  test/loader/test_dataloader.py
  torch_geometric/data/database.py
  torch_geometric/datasets/pcqm4m.py
Labels: bug, 0 - Priority P0, dataset, data

#8107 Documentation improvements of `WikipediaNetwork`
  torch_geometric/datasets/wikipedia_network.py
Labels: 0 - Priority P0, refactor, dataset, skip-changelog

#7611 Hypergraph data object
  CHANGELOG.md
  test/data/test_hypergraph_data.py
  torch_geometric/data/hypergraph_data.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/subgraph.py
Labels: feature, 0 - Priority P0, data

#8079 Add base class `DistLoader`
  CHANGELOG.md
  torch_geometric/distributed/dist_loader.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/distributed/rpc.py
  torch_geometric/distributed/utils.py
Labels: 0 - Priority P0, distributed

#8110 Add TensorFrame support for`Data`
  CHANGELOG.md
  test/data/test_data.py
  torch_geometric/data/data.py
  torch_geometric/data/storage.py
  torch_geometric/typing.py
  torch_geometric/utils/mask.py
  torch_geometric/utils/select.py
Labels: feature, 0 - Priority P0, data, utils

#8116 `InMemoryDataset.to_on_disk_dataset()` conversion
  CHANGELOG.md
  test/data/test_dataset.py
  test/loader/test_dataloader.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/data/on_disk_dataset.py
  torch_geometric/datasets/ba_shapes.py
  torch_geometric/datasets/fake.py
  torch_geometric/datasets/karate.py
Labels: feature, 0 - Priority P0, dataset, data

#8117 Added `mask` argument to `dense_to_sparse`
  CHANGELOG.md
  test/utils/test_sparse.py
  torch_geometric/utils/sparse.py
Labels: feature, 0 - Priority P0, utils

#8118 Add support for `TensorFrame` in `HeteroData`
  CHANGELOG.md
  test/conftest.py
  test/data/test_data.py
  test/data/test_hetero_data.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/storage.py
Labels: data

#8122 Adding NeuroGraph: Benchmarks for Graph Machine Learning in Brain Connectomics (NeurIPS23)
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/neurograph.py
Labels: feature, 0 - Priority P0, dataset

#8124 Fix `NeuroGraphDataset` documentation
  torch_geometric/datasets/neurograph.py
Labels: bug, 0 - Priority P0, dataset, skip-changelog

#8127 Fix weight type for `segment_matmul`
  torch_geometric/typing.py
Labels: bug, 0 - Priority P0, skip-changelog

#8137 Raise error if `len(DynamicBatchSampler())` is ambiguous
  CHANGELOG.md
  test/loader/test_dynamic_batch_sampler.py
  torch_geometric/loader/dynamic_batch_sampler.py
Labels: bug, 0 - Priority P0, loader

#8138 Do not expose `hypergraph_subgraph` yet
  torch_geometric/data/hypergraph_data.py
  torch_geometric/utils/__init__.py
Labels: 0 - Priority P0, refactor, skip-changelog, utils

#8142 Added some comments about `MLP` execution
  torch_geometric/nn/models/mlp.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#8143 Introduce dense eigenvalue computation in `AddLaplacianEigenvectorPE` for small-scale graphs
  CHANGELOG.md
  test/transforms/test_add_positional_encoding.py
  torch_geometric/transforms/add_positional_encoding.py
Labels: feature, 0 - Priority P0, transform

#8147 Add a note about `add_self_loops=False` to the `to_hetero` documentation
  docs/source/tutorial/heterogeneous.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#8148 Introduce global `torch_geometric.backend.use_segment_matmul` flag
  CHANGELOG.md
  test/nn/dense/test_linear.py
  torch_geometric/backend.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/utils/hetero.py
Labels: 0 - Priority P0, refactor, nn, utils

#8149 Remove `torch.compile` warning about non-supported hooks
  .github/workflows/prev_testing.yml
  README.md
  docs/source/install/installation.rst
  test/nn/dense/test_linear.py
  test/transforms/test_rooted_subgraph.py
  torch_geometric/nn/dense/linear.py
Labels: documentation, 0 - Priority P0, refactor, nn, skip-changelog

#8151 Add `TensorFrame` support in `DataLoader`
  CHANGELOG.md
  test/loader/test_dataloader.py
  torch_geometric/data/collate.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/separate.py
  torch_geometric/loader/dataloader.py
  torch_geometric/typing.py
Labels: feature, 0 - Priority P0, loader, data

#8152 Support `TensorFrame` in `NeighborLoader`
  CHANGELOG.md
  test/conftest.py
  test/data/test_data.py
  test/data/test_hetero_data.py
  test/loader/test_dataloader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/data/storage.py
  torch_geometric/loader/utils.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/data.py
Labels: feature, 0 - Priority P0, loader, data

#8157 Fix TorchScript support in `RGCNConv`
  torch_geometric/nn/conv/rgcn_conv.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#7931 [Documentation] `NeighborLoader` Tutorial
  CHANGELOG.md
  docs/source/tutorial/application.rst
  docs/source/tutorial/neighbor_loader.rst
Labels: feature, documentation, 0 - Priority P0

#8158 Add thumbnail for `NeighborLoader` tutorial
  docs/source/_static/thumbnails/neighbor_loader.png
  docs/source/conf.py
  docs/source/tutorial/neighbor_loader.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#7974 Add `DistNeighborSampler`
  CHANGELOG.md
  test/distributed/test_dist_utils.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/distributed/event_loop.py
  torch_geometric/distributed/utils.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: 0 - Priority P0, sampler, distributed

#8164 Fix the computation of `associated_legendre_polynomials` in `DimeNet`
  torch_geometric/nn/models/dimenet_utils.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#8165 Fix `torch.sparse.tensor` creation on ARM-based systems
  torch_geometric/typing.py
  torch_geometric/utils/sparse.py
Labels: bug, 0 - Priority P0, skip-changelog, utils

#8166 Fix `HeteroConv` for layers that have a non-default argument order
  CHANGELOG.md
  test/explain/algorithm/test_explain_algorithm_utils.py
  test/nn/conv/test_hetero_conv.py
  torch_geometric/explain/algorithm/utils.py
  torch_geometric/nn/conv/hetero_conv.py
  torch_geometric/nn/conv/utils/cheatsheet.py
Labels: bug, 0 - Priority P0, nn, explain

#8168 Add ``ogc`` method as example
  CHANGELOG.md
  examples/ogc.py
Labels: feature, 0 - Priority P0, example

#8182 Bump up version
  CHANGELOG.md
Labels: installation, 0 - Priority P0, skip-changelog

#8183 Update CHANGELOG.md
  CHANGELOG.md
Labels: 0 - Priority P0, refactor, skip-changelog

#8188 Update `torch.compile(dynamic=...)` documentation
  docs/source/advanced/compile.rst
Labels: documentation, 0 - Priority P0, refactor, skip-changelog

#8198 minor correction: `args.device` --> `device`
  examples/hetero/hierarchical_sage.py
Labels: bug, example, skip-changelog

#8184 Build conda packages
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
Labels: installation, feature, 0 - Priority P0, skip-changelog

#8202 Add verbose and durations options to `pytest`
  .github/workflows/testing.yml
  pyproject.toml
Labels: feature, 0 - Priority P0, test, skip-changelog

#8206 Test `to_hetero` on static graphs
  test/nn/test_to_hetero_transformer.py
Labels: 0 - Priority P0, test, skip-changelog

#8204 Fix `to_networkx` when `to_undirected=True`
  CHANGELOG.md
  test/utils/test_convert.py
  torch_geometric/utils/convert.py
Labels: bug, 0 - Priority P0, utils

#8207 [Documentation] remove legacy argument from `HGTConv` docstring
  torch_geometric/nn/conv/hgt_conv.py
Labels: documentation, 2 - Priority P2, refactor, skip-changelog

#8196 Added an industrial-scale heterogeneous dataset `RCDD`
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/rcdd.py
Labels: feature, 1 - Priority P1, dataset

#8216 Allow skipping `MessagePassing` layers in `Explainer`; Fix `GNNExplainer+AttentiveFP`
  CHANGELOG.md
  test/explain/algorithm/test_gnn_explainer.py
  torch_geometric/explain/algorithm/utils.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/models/attentive_fp.py
Labels: bug, feature, 0 - Priority P0, nn, explain

#8215 Add note for `edge_size` coefficient in `GNNExplainer`
  torch_geometric/explain/algorithm/gnn_explainer.py
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#8220 Extend `torch.compile` benchmark to `dynamic=True`; Add `assert_indirect_indexing = False`
  CHANGELOG.md
  test/nn/models/test_basic_gnn.py
  torch_geometric/compile.py
  torch_geometric/profile/benchmark.py
Labels: 0 - Priority P0, benchmark

#8222 Fix URL typo in `PCMQ4Mv2` dataset
  torch_geometric/datasets/pcqm4m.py
Labels: bug, 0 - Priority P0, dataset, skip-changelog

#8225 [Transforms] Fix sparse-sparse matrix multiplication support on Windows (Part 2)
  CHANGELOG.md
  torch_geometric/transforms/add_positional_encoding.py
  torch_geometric/utils/sparse.py
Labels: bug, 0 - Priority P0, transform, skip-changelog

#8233 Add Python and Conda icons
  docs/source/advanced/jit.rst
  docs/source/install/installation.rst
  torch_geometric/data/batch.py
  torch_geometric/data/data.py
  torch_geometric/data/database.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/data/temporal.py
  torch_geometric/graphgym/register.py
  torch_geometric/graphgym/utils/io.py
  torch_geometric/loader/data_list_loader.py
  torch_geometric/profile/utils.py
  torch_geometric/seed.py
  torch_geometric/testing/decorators.py
Labels: feature, documentation, 1 - Priority P1, graphgym, benchmark, loader, data, skip-changelog

#8218 Added an assertion in `MetaPath2Vec` to ensure valid metapath input
  torch_geometric/nn/models/metapath2vec.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#8210 Disallow `add_self_loops=True` in `GCNConv` when `normalize=False`
  CHANGELOG.md
  test/nn/conv/test_gcn_conv.py
  torch_geometric/nn/conv/gcn_conv.py
Labels: 1 - Priority P1, refactor, nn

#8240 Fix `torch_geometric.compile` for PyTorch < 2.1
  torch_geometric/compile.py
Labels: bug, 0 - Priority P0, skip-changelog

#8201 [Documentation] make documentation of `GATConv` and `GATv2Conv` more explicit and accurate
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
Labels: documentation, 0 - Priority P0, refactor, skip-changelog

#8239 Fix Pre-trained `DimeNet++` performance on QM9
  CHANGELOG.md
  torch_geometric/nn/models/dimenet.py
Labels: bug, 0 - Priority P0, nn

#8242 Fix `load_from_state_dict` in lazy `Linear` modules
  CHANGELOG.md
  test/nn/dense/test_linear.py
  torch_geometric/nn/dense/linear.py
Labels: bug, 0 - Priority P0, nn

#8245 [nit] Remove unnecessary codes in `AddRandomWalkPE`
  torch_geometric/transforms/add_positional_encoding.py
Labels: 0 - Priority P0, refactor, transform, skip-changelog

#8244 Fix `AttentionExplainer` for `AttentiveFP`
  CHANGELOG.md
  test/explain/algorithm/test_attention_explainer.py
  torch_geometric/explain/algorithm/attention_explainer.py
  torch_geometric/nn/models/attentive_fp.py
Labels: bug, 0 - Priority P0, nn, explain

#8247 Allow `to_hetero_with_bases` to be applied on static graphs
  CHANGELOG.md
  test/nn/test_to_hetero_transformer.py
  test/nn/test_to_hetero_with_bases_transformer.py
  torch_geometric/nn/to_hetero_with_bases_transformer.py
Labels: feature, 0 - Priority P0, nn

#8248 Fix empty edge handling in `MetaPath2Vec`
  CHANGELOG.md
  test/nn/models/test_metapath2vec.py
  torch_geometric/nn/models/metapath2vec.py
Labels: nn

#8251 Temporarily fix broken master
  test/nn/conv/test_hgt_conv.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#8250 Add a warning on usage of `torch_geometric.nn.DataParallel`
  CHANGELOG.md
  test/nn/test_data_parallel.py
  torch_geometric/nn/data_parallel.py
Labels: 0 - Priority P0, refactor, nn

#8253 Update multi-GPU `ogbn-papers100M` example
  examples/multi_gpu/papers100m_multigpu.py
Labels: 0 - Priority P0, refactor, example, skip-changelog

#8070 Multi-node+multi-GPU `papers100m`+`GCN` example
  CHANGELOG.md
  examples/multi_gpu/multinode_multigpu_papers100m_gcn.py
  examples/multi_gpu/singlenode_multigpu_papers100m_gcn.py
  examples/ogbn_papers_100m.py
Labels: 0 - Priority P0, example, distributed

#8071 Multi-Node-Multi-GPU Tutorial
  CHANGELOG.md
  docs/source/tutorial/multi_gpu.rst
  docs/source/tutorial/multi_gpu_vanilla.rst
  docs/source/tutorial/multi_node_multi_gpu_vanilla.rst
  examples/multi_gpu/multinode_multigpu_papers100m_gcn.py
Labels: feature, documentation, 1 - Priority P1, example

#8255 Add thumbnail to multi-node-multi-GPU example
  docs/source/conf.py
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#8259 Fix typos in tutorial
  docs/source/tutorial/multi_node_multi_gpu_vanilla.rst
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#8267 Only check for equality on materialized `bias` in lazy `Linear` tests
  test/nn/dense/test_linear.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#8268 Update instruction to fork the pyg repository and clone the forked repo
  .github/CONTRIBUTING.md
Labels: documentation, 1 - Priority P1, skip-changelog

#8274 Fix Kuzu papers-100m example
  examples/kuzu/papers_100M/train.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#8275 Test usage of invalid keys in `HeteroData`
  test/data/test_hetero_data.py
Labels: 0 - Priority P0, test, skip-changelog

#8277 Fix `subgraph` method in case `edge_index` is not defined
  CHANGELOG.md
  test/data/test_data.py
  test/data/test_hetero_data.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
Labels: bug, 0 - Priority P0, data

#8269 Add alternative edge indices shape to `GCNConv` input description
  torch_geometric/nn/conv/gcn_conv.py
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#8281 Fix `hyper_subgraph` documentation
  torch_geometric/utils/subgraph.py
  torch_geometric/utils/undirected.py
Labels: bug, 0 - Priority P0, skip-changelog, utils

#8292 Quick Clean Ups for Multinode Examples
  docs/source/tutorial/multi_node_multi_gpu_vanilla.rst
  examples/multi_gpu/multinode_multigpu_papers100m_gcn.py
Labels: documentation, 0 - Priority P0, refactor, example, skip-changelog

#8223 Allow for device agnostic testing
  torch_geometric/testing/decorators.py
Labels: 0 - Priority P0, test, skip-changelog

#8297 Do not silently override configurations in `ConfigStore`; make duplicate node logic more robust
  test/test_config_store.py
  torch_geometric/config_store.py
Labels: bug, 0 - Priority P0, skip-changelog
