Repository pyg-team/pytorch_geometric, pull requests merged in 2023-05, with the labels that each got.

#7267 gh: move `CODEOWNERS` inside the `.github/` dir
  .github/CODEOWNERS
Labels: documentation, 1 - Priority P1, refactor, skip-changelog

#7272 Minor equation update in documentation
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/conv/pdn_conv.py
Labels: bug, documentation, 0 - Priority P0, nn, skip-changelog

#7274 Fix out-dated GraphGym doc on CPU usage
  docs/source/advanced/graphgym.rst
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#7275 Option to preserve directed graphs in `CitationFull` datasets
  CHANGELOG.md
  torch_geometric/datasets/amazon.py
  torch_geometric/datasets/citation_full.py
  torch_geometric/datasets/coauthor.py
  torch_geometric/io/npz.py
Labels: feature, 0 - Priority P0, dataset

#7276 Use `pyg_lib.random_walk` implementation in `Node2Vec` (if applicable)
  examples/node2vec.py
  test/nn/models/test_node2vec.py
  torch_geometric/nn/models/node2vec.py
Labels: 0 - Priority P0, refactor, nn, example, skip-changelog

#6894 [Transforms] Add `NodePropertySplit` transform
  CHANGELOG.md
  test/transforms/test_node_property_split.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/node_property_split.py
Labels: feature, 1 - Priority P1, transform

#7294 Allow tuples as keys in `ModuleDict`/`ParameterDict`
  CHANGELOG.md
  test/nn/test_module_dict.py
  test/nn/test_parameter_dict.py
  torch_geometric/nn/module_dict.py
  torch_geometric/nn/parameter_dict.py
Labels: feature, 0 - Priority P0, nn

#7313 Update quick-start.html
  CHANGELOG.md
  docs/source/install/quick-start.html
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#7316 Fix `GraphStore` conversion in `Data` for isolated nodes
  CHANGELOG.md
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#7307 `Pooling`: Update base classes
  test/nn/pool/test_pooling_base.py
  torch_geometric/nn/pool/base.py
  torch_geometric/nn/pool/connect/__init__.py
  torch_geometric/nn/pool/connect/base.py
  torch_geometric/nn/pool/select/__init__.py
  torch_geometric/nn/pool/select/base.py
Labels: 1 - Priority P1, nn, skip-changelog

#7308 Refactor `TopkPooling` into `SelectTopK`
  CHANGELOG.md
  test/nn/pool/select/test_select_topk.py
  test/nn/pool/test_topk_pool.py
  torch_geometric/nn/pool/asap.py
  torch_geometric/nn/pool/pan_pool.py
  torch_geometric/nn/pool/sag_pool.py
  torch_geometric/nn/pool/select/__init__.py
  torch_geometric/nn/pool/select/base.py
  torch_geometric/nn/pool/select/topk.py
  torch_geometric/nn/pool/topk_pool.py
Labels: 1 - Priority P1, refactor, nn

#7311 Add `inter_cluster_edges` argument to `ClusterData` to keep inter-subgraph edge connection when do graph partitioning
  CHANGELOG.md
  test/loader/test_cluster.py
  torch_geometric/loader/cluster.py
Labels: feature, 0 - Priority P0, loader

#7324 Support `MultiAggregation` in `aggregation_resolver`
  test/nn/test_resolver.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/resolver.py
Labels: feature, 0 - Priority P0, nn, skip-changelog

#7327 Allow GraphGym modules to be used in isolation
  torch_geometric/graphgym/model_builder.py
  torch_geometric/graphgym/models/head.py
Labels: bug, 0 - Priority P0, graphgym, skip-changelog

#7338 Drop sampling info for `SubgraphType.bidirectional`
  test/loader/test_neighbor_loader.py
  torch_geometric/sampler/base.py
Labels: bug, 0 - Priority P0, skip-changelog, sampler

#7339 Add `add_pad_mask` argument to `Pad` transform
  CHANGELOG.md
  test/transforms/test_pad.py
  torch_geometric/transforms/pad.py
Labels: feature, 0 - Priority P0, transform

#7334 [Aggregation] Clamp `StdAggregation` if there are edges for aggregation
  test/nn/aggr/test_basic.py
  test/nn/aggr/test_fused.py
  torch_geometric/nn/aggr/basic.py
  torch_geometric/nn/aggr/fused.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#7298 Add Kùzu remote backend examples
  CHANGELOG.md
  docs/source/advanced/remote.rst
  docs/source/external/resources.rst
  examples/kuzu/README.md
  examples/kuzu/papers_100M/README.md
  examples/kuzu/papers_100M/prepare_data.py
  examples/kuzu/papers_100M/train.py
Labels: feature, 0 - Priority P0, example

#7344 Fix TorchScript support in `TopKPooling`
  docs/requirements.txt
  torch_geometric/nn/pool/connect/base.py
  torch_geometric/nn/pool/select/base.py
  torch_geometric/nn/pool/topk_pool.py
Labels: bug, documentation, 0 - Priority P0, nn, skip-changelog

#7348 Do not load `node_default` and `edge_default` attributes in `from_networkx`
  CHANGELOG.md
  torch_geometric/utils/convert.py
Labels: bug, 0 - Priority P0, utils

#7351 Test PyTorch `coalesce` bug on `torch.load`
  examples/multi_gpu/distributed_batching.py
  test/utils/test_sparse.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#7355 Fix typo in molecule_net.py
  torch_geometric/datasets/molecule_net.py
Labels: bug, 0 - Priority P0, dataset, skip-changelog

#7359 Add documentation for `SelectTopk`
  torch_geometric/nn/pool/select/topk.py
  torch_geometric/nn/pool/topk_pool.py
Labels: 1 - Priority P1, nn, skip-changelog

#6854 Group datasets in documentation according to different categories
  docs/source/cheatsheet/data_cheatsheet.rst
  docs/source/modules/datasets.rst
  docs/source/notes/data_cheatsheet.rst
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/dblp.py
  torch_geometric/datasets/utils/__init__.py
  torch_geometric/datasets/utils/cheatsheet.py
Labels: feature, documentation, 1 - Priority P1, dataset, skip-changelog

#7363 Do not modify input in-place in `to_hetero_with_bases`
  CHANGELOG.md
  test/nn/test_to_hetero_with_bases_transformer.py
  torch_geometric/nn/to_hetero_with_bases_transformer.py
Labels: bug, 0 - Priority P0, nn

#7258 Heuristic for `segment_matmul`
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/nn/to_hetero_module.py
  torch_geometric/utils/hetero.py
Labels: feature, 1 - Priority P1, nn, utils

#7375 Use recommended `script_if_tracing` in library code
  test/nn/pool/select/test_select_topk.py
  torch_geometric/nn/pool/connect/base.py
  torch_geometric/nn/pool/select/base.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#7376 Add first version of `GPUPrefetcher`
  CHANGELOG.md
  test/loader/test_prefetch.py
  torch_geometric/loader/prefetch.py
Labels: feature, 0 - Priority P0, loader

#7377 Update GraphGPS example
  CHANGELOG.md
  examples/graph_gps.py
Labels: bug, 0 - Priority P0, example

#7381 Fix broken link in documentation
  docs/source/tutorial/explain.rst
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#7380 Address CUDA numerical mismatch in test
  test/nn/dense/test_linear.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#7379 Remove warning in `segmatmul_heuristic`
  torch_geometric/nn/pool/__init__.py
  torch_geometric/utils/hetero.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog, utils

#7383 Drop multi-threading in `PrefetchLoader`
  CHANGELOG.md
  test/loader/test_prefetch.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/prefetch.py
Labels: 0 - Priority P0, refactor, loader

#7374 Add padding capabilities to `HeteroData.to_homogeneous()`
  CHANGELOG.md
  test/data/test_hetero_data.py
  torch_geometric/data/hetero_data.py
Labels: feature, 0 - Priority P0, data

#7387 Added `from_dense` method to `SparseTensor`
  CHANGELOG.md
  torch_geometric/typing.py
Labels: bug, installation, 0 - Priority P0, skip-changelog

#7370 `PMLP` implementation
  CHANGELOG.md
  README.md
  test/nn/conv/test_simple_conv.py
  test/nn/models/test_pmlp.py
  test/nn/models/test_rect.py
  torch_geometric/nn/conv/simple_conv.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/pmlp.py
Labels: feature, 1 - Priority P1, nn

#7388 Fix `graph_gps` example minor error
  examples/graph_gps.py
Labels: 1 - Priority P1, example, skip-changelog

#7391 Update initialization of `attribution_method` in `CaptumExplainer`
  CHANGELOG.md
  torch_geometric/explain/algorithm/captum_explainer.py
Labels: bug, 0 - Priority P0, explain

#7392 Fix broken master
  test/nn/pool/select/test_select_topk.py
  test/utils/test_to_dense_batch.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/pool/connect/base.py
  torch_geometric/nn/pool/select/base.py
  torch_geometric/utils/to_dense_batch.py
Labels: bug, 0 - Priority P0, test, nn, skip-changelog, utils

#7400 Fix `test_inits` thresholds
  test/nn/test_inits.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#7399 Infer `filter_per_worker` option
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/loader/neighbor_loader.py
  benchmark/training/training_benchmark.py
  docs/source/advanced/cpu_affinity.rst
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  test/loader/test_prefetch.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/loader/zip_loader.py
Labels: feature, documentation, 0 - Priority P0, benchmark, loader

#7398 Add MovieLens-100K heterogeneous dataset
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/movie_lens_100k.py
Labels: feature, 1 - Priority P1, dataset

#7412 Fix `SortAggregation` when `fill_value` requires gradients
  benchmark/kernel/sort_pool.py
  examples/seal_link_pred.py
  torch_geometric/nn/aggr/sort.py
Labels: bug, 0 - Priority P0, benchmark, nn, example, skip-changelog

#7413 Intrdouce `pickle`-agnostic `save/load` logic in `Planetoid`/`TUDataset`
  CHANGELOG.md
  torch_geometric/datasets/planetoid.py
  torch_geometric/datasets/tu_dataset.py
Labels: 0 - Priority P0, refactor, dataset

#7419 ARM support in AffinityMixin
  torch_geometric/loader/mixin.py
Labels: feature, 0 - Priority P0, loader, skip-changelog

#7422 Fix `atol` in `RGCNConv` test
  test/nn/conv/test_rgcn_conv.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#7416 Re-factor `ClusterLoader` + Integrate `pyg-lib` metis computation
  CHANGELOG.md
  test/data/test_data.py
  test/data/test_hetero_data.py
  test/loader/test_cluster.py
  test/utils/test_map.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/loader/cluster.py
  torch_geometric/typing.py
  torch_geometric/utils/map.py
Labels: 0 - Priority P0, refactor, loader, data, utils

#7415 Adds support for benchmarking bidirectional sampling
  benchmark/loader/neighbor_loader.py
Labels: 0 - Priority P0, benchmark, loader, skip-changelog

#7428 Fix gradient computation of edge weights in `utils.spmm`
  CHANGELOG.md
  torch_geometric/typing.py
  torch_geometric/utils/spmm.py
Labels: bug, 0 - Priority P0, utils

#7426 `QuantileAggregation` - pass `output_size` to the `repeat_interleave` operation
  CHANGELOG.md
  torch_geometric/nn/aggr/quantile.py
Labels: 0 - Priority P0, refactor, nn

#7433 Ensure that `BasicGNN` models do not lead to graph breaks during compilation
  test/nn/models/test_basic_gnn.py
Labels: 0 - Priority P0, test, skip-changelog

#7436 Fix TorchScript support in `HeteroDictLinear`
  test/nn/aggr/test_multi.py
  test/nn/dense/test_linear.py
  torch_geometric/nn/dense/linear.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#7430 `HeteroDictLinear` heuristic
  torch_geometric/nn/dense/linear.py
Labels: feature, 1 - Priority P1, nn, skip-changelog

#7440 Fix error message when invalid values are passed to `LinkNeighborLoader`
  torch_geometric/loader/link_neighbor_loader.py
Labels: bug, 0 - Priority P0, loader, skip-changelog

#7446 Drop bold text in `print(HeteroData)`
  torch_geometric/data/data.py
Labels: 0 - Priority P0, refactor, data, skip-changelog

#7447 Sparse `cross_entropy` implementation
  CHANGELOG.md
  test/utils/test_cross_entropy.py
  torch_geometric/utils/cross_entropy.py
Labels: feature, 1 - Priority P1, utils

#7448 Improve `import torch_geometric` speed
  test/nn/test_model_hub.py
  torch_geometric/datasets/pascal.py
  torch_geometric/datasets/willow_object_class.py
  torch_geometric/nn/__init__.py
  torch_geometric/nn/model_hub.py
  torch_geometric/transforms/feature_propagation.py
Labels: installation, 0 - Priority P0, refactor, nn, dataset, transform, skip-changelog

#7441 Add Douban, Flixster, and Yahoo-Music datasets from `IGMC`
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/igmc_dataset.py
Labels: feature, 0 - Priority P0, dataset

#7445 Make `GraphMaskExplainer` independent of `layer_type`
  CHANGELOG.md
  examples/contrib/graphmask_explainer.py
  torch_geometric/contrib/explain/graphmask_explainer.py
Labels: 1 - Priority P1, refactor, explain

#7421 Add support for approximate k-NN
  CHANGELOG.md
  pyproject.toml
  test/nn/pool/test_approx_knn.py
  torch_geometric/nn/pool/__init__.py
  torch_geometric/nn/pool/approx_knn.py
Labels: feature, 1 - Priority P1, nn

#7442 Add `GDELTLite` dataset
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/gdelt_lite.py
Labels: feature, 0 - Priority P0, dataset

#7451 Add `LocalGraphStore` for distributed training
  CHANGELOG.md
  test/distributed/test_local_graph_store.py
  torch_geometric/distributed/__init__.py
  torch_geometric/distributed/local_graph_store.py
Labels: feature, 0 - Priority P0, distributed

#7425 [Feature] HGAM hetero low-level example
  CHANGELOG.md
  examples/hetero/hierarchical_sage.py
  torch_geometric/utils/trim_to_layer.py
Labels: feature, 1 - Priority P1, example

#7456 Update warning message in `NeighborSampler`
  torch_geometric/sampler/neighbor_sampler.py
Labels: bug, 0 - Priority P0, loader, skip-changelog

#7468 Re-enable induced subgraph sampling with `torch-sparse` implementation
  test/loader/test_neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: bug, 0 - Priority P0, skip-changelog, sampler

#7452 Add `LocalFeatureStore` for distributed training
  CHANGELOG.md
  test/distributed/test_local_feature_store.py
  torch_geometric/distributed/__init__.py
  torch_geometric/distributed/local_feature_store.py
  torch_geometric/distributed/local_graph_store.py
  torch_geometric/testing/feature_store.py
Labels: feature, 0 - Priority P0, distributed

#7473 Fix `HeteroLinear` usage for mixed precision
  CHANGELOG.md
  test/nn/dense/test_linear.py
  torch_geometric/nn/dense/linear.py
Labels: bug, 0 - Priority P0, nn

#7471 Replace slow `index_add` call
  torch_geometric/utils/cross_entropy.py
Labels: 0 - Priority P0, refactor, skip-changelog, utils

#7480 Test batch-wise `ChebConv` correctness
  test/nn/conv/test_cheb_conv.py
Labels: 0 - Priority P0, test, skip-changelog
