Repository pyg-team/pytorch_geometric, pull requests merged in 2023-09, with the labels that each got.

#7885 Enhancing GraphGym Documentation
  examples/contrib/pgm_explainer_graph_classification.py
  examples/distributed/graphlearn_for_pytorch/dist_train_sage_supervised.py
  examples/infomax_inductive.py
  examples/kuzu/papers_100M/train.py
  examples/mnist_nn_conv.py
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/contrib/layer/generalconv.py
  torch_geometric/graphgym/init.py
  torch_geometric/graphgym/loader.py
  torch_geometric/graphgym/loss.py
  torch_geometric/graphgym/models/act.py
  torch_geometric/graphgym/models/encoder.py
  torch_geometric/graphgym/models/gnn.py
  torch_geometric/graphgym/models/head.py
  torch_geometric/graphgym/models/layer.py
  torch_geometric/graphgym/train.py
  torch_geometric/graphgym/utils/comp_budget.py
  torch_geometric/graphgym/utils/plot.py
  torch_geometric/nn/norm/graph_size_norm.py
Labels: feature, documentation, 0 - Priority P0, graphgym, skip-changelog

#7921 Added `papers100m` multi-GPU example
  CHANGELOG.md
  examples/multi_gpu/papers100m_multigpu.py
Labels: feature, 0 - Priority P0, example

#7959 Add `MyketDataset`
  CHANGELOG.md
  torch_geometric/data/temporal.py
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/myket.py
Labels: feature, 0 - Priority P0, dataset

#7937 [Code Coverage] `nn/conv/rgat_conv.py` and `transforms/compose.py`
  test/nn/conv/test_rgat_conv.py
  test/transforms/test_compose.py
Labels: 0 - Priority P0, test, nn, transform, skip-changelog

#7905 Add `BreastInvasiveCarcinoma` dataset
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/brca_tgca.py
Labels: feature, 1 - Priority P1, dataset

#7968 [Code Coverage] `loader/temporal_dataloader.py` and `nn/conv/transformer_conv.py`
  test/loader/test_temporal_dataloader.py
  test/nn/conv/test_transformer_conv.py
Labels: 0 - Priority P0, test, nn, loader, skip-changelog

#7971 Correctly reshape node features in `BrcaTcga` dataset
  torch_geometric/datasets/brca_tgca.py
Labels: bug, 0 - Priority P0, dataset, skip-changelog

#7973 Upgrade GitHub Action `checkout` version
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  .github/workflows/examples.yml
  .github/workflows/full_gpu_testing.yml
  .github/workflows/full_testing.yml
  .github/workflows/latest_testing.yml
  .github/workflows/linting.yml
  .github/workflows/minimal_testing.yml
  .github/workflows/nightly.yml
  .github/workflows/prev_testing.yml
  .github/workflows/testing.yml
Labels: bug, installation, 0 - Priority P0, skip-changelog

#7978 Support latest `pyg_lib.sampler.neighbor_sample`
  test/loader/test_neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/typing.py
Labels: bug, 0 - Priority P0, skip-changelog, sampler

#7967 No graph breaks in `nn.models.{EdgeCNN,PNA}` on CUDA devices
  .github/workflows/documentation.yml
  test/nn/models/test_basic_gnn.py
  test/test_warnings.py
  torch_geometric/utils/scatter.py
  torch_geometric/warnings.py
Labels: feature, 0 - Priority P0, skip-changelog, utils

#7990 Use `kwargs` when calling `Aggregation`
  test/loader/test_neighbor_loader.py
  test/nn/test_model_summary.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/transforms/random_link_split.py
Labels: 0 - Priority P0, refactor, nn, transform, skip-changelog, sampler

#7737 Simplify `TopKPooling`
  CHANGELOG.md
  torch_geometric/nn/pool/select/topk.py
Labels: 0 - Priority P0, refactor, nn

#7994 Added internal `cumsum` implementation
  CHANGELOG.md
  test/nn/dense/test_linear.py
  test/utils/test_functions.py
  torch_geometric/data/collate.py
  torch_geometric/datasets/upfd.py
  torch_geometric/io/tu.py
  torch_geometric/nn/aggr/quantile.py
  torch_geometric/nn/data_parallel.py
  torch_geometric/nn/pool/decimation.py
  torch_geometric/nn/pool/select/topk.py
  torch_geometric/nn/to_hetero_module.py
  torch_geometric/transforms/line_graph.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/augmentation.py
  torch_geometric/utils/dropout.py
  torch_geometric/utils/functions.py
  torch_geometric/utils/negative_sampling.py
  torch_geometric/utils/scatter.py
  torch_geometric/utils/to_dense_adj.py
  torch_geometric/utils/to_dense_batch.py
  torch_geometric/utils/unbatch.py
Labels: 0 - Priority P0, refactor, nn, dataset, data, transform, utils

#7995 Warn on isolated/non-existing node types in `HeteroData.validate()`
  CHANGELOG.md
  test/data/test_hetero_data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/utils/functions.py
Labels: feature, 0 - Priority P0, data, utils

#7996 Replace typ annotation List[str] with str for *args
  torch_geometric/data/data.py
  torch_geometric/data/storage.py
  torch_geometric/data/view.py
Labels: 0 - Priority P0, refactor, skip-changelog

#8014 Fix GPU tests by requiring latest `pyg-lib`
  .github/actions/setup/action.yml
Labels: bug, 0 - Priority P0, test, skip-changelog

#8016 Clarify how `to_dense_adj` deals with duplicated edges
  torch_geometric/utils/to_dense_adj.py
Labels: feature, 0 - Priority P0, skip-changelog, utils

#7942 Filter out empty tensors inside `trim_to_layer`
  CHANGELOG.md
  test/utils/test_trim_to_layer.py
  torch_geometric/utils/trim_to_layer.py
Labels: feature, 0 - Priority P0, nn

#7976 Implemented the Learnable Communitive Monoid Aggregation
  CHANGELOG.md
  test/nn/aggr/test_lcm.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/lcm.py
Labels: feature, 0 - Priority P0, nn

#8017 Catch all exceptions when looking for extension packages
  torch_geometric/typing.py
Labels: bug, installation, 0 - Priority P0, skip-changelog

#8013 PyTorch Sparse Tensor support: `WLConvContinuous`, `GeneralConv`, `PDNConv`, `ARMAConv`
  CHANGELOG.md
  test/nn/conv/test_arma_conv.py
  test/nn/conv/test_general_conv.py
  test/nn/conv/test_pdn_conv.py
  test/nn/conv/test_wl_conv_continuous.py
  torch_geometric/nn/conv/wl_conv_continuous.py
Labels: feature, 0 - Priority P0, nn

#8019 Make `DimeNet` pickleable
  CHANGELOG.md
  torch_geometric/nn/models/dimenet.py
Labels: bug, 0 - Priority P0, nn

#7919 Implementing Neural Fingerprint from Duvenaud et al.
  CHANGELOG.md
  test/nn/models/test_neural_fingerprint.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/neural_fingerprint.py
Labels: feature, 1 - Priority P1, nn

#6230 Add `IBMBBatchLoader` and `IBMBNodeLoader`
  CHANGELOG.md
  test/loader/test_ibmb_loader.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/ibmb_loader.py
Labels: feature, 0 - Priority P0, loader

#8023 Accelerated `LCMAggregation` by increasing parallelism
  CHANGELOG.md
  test/nn/aggr/test_lcm.py
  torch_geometric/nn/aggr/lcm.py
Labels: 0 - Priority P0, refactor, nn

#8026 Changed `view` to `reshape` in `LCMAggregation`
  CHANGELOG.md
  test/nn/aggr/test_lcm.py
  torch_geometric/nn/aggr/lcm.py
Labels: bug, 0 - Priority P0, nn

#8024 Added the option to pass keyword arguments to the underlying normalization layers within `BasicGNN` and `MLP`
  CHANGELOG.md
  test/nn/models/test_basic_gnn.py
  test/nn/models/test_mlp.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/nn/models/mlp.py
Labels: feature, 0 - Priority P0, nn

#8025 Add `MixHopConv` to `torch_geometric.nn.conv`
  CHANGELOG.md
  examples/gcn.py
  examples/mixhop.py
  test/nn/conv/test_mixhop_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/mixhop_conv.py
Labels: feature, 0 - Priority P0, nn

#8033 Adds the option to use batch-level normalization layers in `AttentionalAggregation`/`MLPAggregation`
  CHANGELOG.md
  torch_geometric/nn/aggr/attention.py
  torch_geometric/nn/aggr/mlp.py
Labels: feature, 0 - Priority P0, nn

#8035 Replace `einsum` with `matmul` in `Performer`
  torch_geometric/nn/attention/performer.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#8037 Add a test for `SAGEConv` with `MLPAggregation`
  test/nn/conv/test_sage_conv.py
Labels: 0 - Priority P0, test, skip-changelog

#8038 Weighted sampling in `NeighborLoader` and `LinkNeighborLoader`
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: feature, 0 - Priority P0, loader, sampler

#8028 `Database` implementation
  torch_geometric/data/database.py
Labels: feature, 0 - Priority P0, data

#8044 `Database` Updates and Tests
  CHANGELOG.md
  test/data/test_database.py
  torch_geometric/data/database.py
Labels: 0 - Priority P0, refactor, test, data

#8046 `SQLiteDatabase`: Better `multi_get` + syntactic sugar
  CHANGELOG.md
  test/data/test_database.py
  torch_geometric/data/database.py
Labels: feature, 0 - Priority P0, data

#8050 Temporarily disable broken Windows test
  test/explain/test_hetero_explanation.py
  test/nn/models/test_correct_and_smooth.py
  test/nn/models/test_rect.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: 0 - Priority P0, test, skip-changelog

#8049 Fix backward compatibility for `to_undirected`
  torch_geometric/utils/undirected.py
Labels: bug, 0 - Priority P0, skip-changelog, utils

#8051 `SQLiteDatabase` benchmark
  CHANGELOG.md
  test/data/test_database.py
  torch_geometric/data/database.py
Labels: 0 - Priority P0, data

#8052 `RocksDatabase` implementation
  CHANGELOG.md
  test/data/test_database.py
  torch_geometric/data/database.py
Labels: feature, 0 - Priority P0, data

#8054 Use raw `Tensor` data as `BLOB` in `SQLiteDatabase`
  CHANGELOG.md
  test/data/test_database.py
  torch_geometric/data/database.py
Labels: 0 - Priority P0, refactor, data, skip-changelog

#8057 Additional `Database` tests for all kinds of input data
  CHANGELOG.md
  test/data/test_database.py
  torch_geometric/data/database.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: 0 - Priority P0, test, data

#8048 Add `edge_attr` support for `ResGatedGraphConv`
  CHANGELOG.md
  test/nn/conv/test_res_gated_graph_conv.py
  torch_geometric/nn/conv/res_gated_graph_conv.py
Labels: feature, 0 - Priority P0, nn

#8058 `Database` Documentation
  CHANGELOG.md
  docs/source/modules/data.rst
  test/data/test_database.py
  torch_geometric/data/__init__.py
  torch_geometric/data/database.py
Labels: feature, documentation, 0 - Priority P0, data

#8060 Edi description of the `BrcaTcga` dataset
  torch_geometric/datasets/brca_tgca.py
Labels: documentation, 0 - Priority P0, refactor, dataset, skip-changelog

#7894 [Documentation] Multi-GPU training in Vanilla PyTorch Tutorial
  CHANGELOG.md
  docs/source/index.rst
  docs/source/tutorial/multi_gpu.rst
  docs/source/tutorial/multi_gpu_vanilla.rst
Labels: documentation

#8064 Add thumbnail to multi-GPU tutorial
  docs/source/_static/thumbnails/multi_gpu_vanilla.png
  docs/source/conf.py
  docs/source/tutorial/multi_gpu_vanilla.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#7938 [Documentation] `Node2Vec` and `MetaPath2Vec`
  CHANGELOG.md
  docs/source/_figures/shallow_node_embeddings.png
  docs/source/tutorial/application.rst
  docs/source/tutorial/shallow_node_embeddings.rst
Labels: feature, documentation, 0 - Priority P0

#8065 Add thumbnail to "Shallow Node Embedding" Tutorial
  docs/source/_static/thumbnails/shallow_node_embeddings.png
  docs/source/conf.py
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#8067 Update `Node2Vec` example
  examples/node2vec.py
  torch_geometric/nn/models/node2vec.py
Labels: 1 - Priority P1, refactor, nn, example, skip-changelog

#8066 `OnDiskDataset` class with `Database` integration
  CHANGELOG.md
  test/data/test_on_disk_dataset.py
  torch_geometric/data/__init__.py
  torch_geometric/data/dataset.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/data/on_disk_dataset.py
Labels: feature, 0 - Priority P0, data

#8047 [Code Coverage] `data/data.py` & `data/hetero_data.py` & `nn/conv/eg_conv.py`
  test/data/test_data.py
  test/data/test_hetero_data.py
  test/nn/conv/test_eg_conv.py
  test/nn/conv/test_hypergraph_conv.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/nn/conv/eg_conv.py
Labels: 0 - Priority P0, test, nn, data, skip-changelog

#8020 Added an Example for `LCMAggregation`: Second Minimum Task
  CHANGELOG.md
  examples/lcm_aggr_2nd_min.py
  test/nn/conv/test_eg_conv.py
Labels: feature, 0 - Priority P0, example

#8075 Added a random permutation transformation to the LCM 2nd minimum example
  CHANGELOG.md
  examples/lcm_aggr_2nd_min.py
Labels: bug, 0 - Priority P0, example

#8087 Test permutation invariance of `AddLaplacianEigenvectorsPE`
  test/transforms/test_add_metapaths.py
  test/transforms/test_add_positional_encoding.py
  test/transforms/test_fixed_points.py
  test/transforms/test_mask_transform.py
  test/transforms/test_pad.py
  torch_geometric/transforms/add_positional_encoding.py
Labels: 0 - Priority P0, test, transform, skip-changelog

#8089 Save memory in case of redundant `value` in PyTorch sparse tensors
  torch_geometric/utils/sparse.py
Labels: 0 - Priority P0, refactor, skip-changelog, utils

#8088 `OnDiskDataset`: `DataLoader` integration
  CHANGELOG.md
  test/loader/test_dataloader.py
  torch_geometric/loader/dataloader.py
Labels: feature, 0 - Priority P0, loader, data

#8092 Ensure `OnDiskDataset` can operate on `DataLoader(num_workers>0)`
  CHANGELOG.md
  test/loader/test_dataloader.py
Labels: 0 - Priority P0, test

#8093 Add `module_headers` property to `nn.Sequential` models
  CHANGELOG.md
  test/nn/test_sequential.py
  torch_geometric/nn/sequential.jinja
  torch_geometric/nn/sequential.py
Labels: feature, 0 - Priority P0, nn

#8102 `PCQM4Mv2` dataset: Reference implementation for `OnDiskDataset`
  CHANGELOG.md
  torch_geometric/data/database.py
  torch_geometric/data/on_disk_dataset.py
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/pcqm4m.py
Labels: feature, 0 - Priority P0, dataset, data
