Repository pyg-team/pytorch_geometric, pull requests merged in 2023-03, with the labels that each got.

#6825 Update benchmark README
  benchmark/inference/README.md
  benchmark/training/README.md
Labels: feature, 0 - Priority P0, benchmark, skip-changelog

#6824 [Code Coverage] `explain/pg_explainer.py`
  CHANGELOG.md
  test/explain/algorithm/test_explain_algorithm_utils.py
  test/explain/algorithm/test_pg_explainer.py
Labels: 0 - Priority P0, test, explain

#6829 Added `ZipLoader` to execute multiple `NodeLoader` or `LinkLoader` instances
  CHANGELOG.md
  test/loader/test_zip_loader.py
  test/nn/test_inits.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/zip_loader.py
Labels: feature, 0 - Priority P0, loader

#6830 Fix undefined `cat_dim` in `ClusterLoader`
  torch_geometric/loader/cluster.py
Labels: bug, 0 - Priority P0, loader, skip-changelog

#6831 Add `RandomLinkSplit` with pre-defined `edge_label` test
  test/transforms/test_random_link_split.py
Labels: 0 - Priority P0, test, transform, skip-changelog

#6832 fix(remote): improve support for numpy feature store responses
  torch_geometric/data/feature_store.py
Labels: data, skip-changelog

#6836 Refactor of duplicated `DataLoader` keyword arguments
  torch_geometric/data/feature_store.py
  torch_geometric/loader/data_list_loader.py
  torch_geometric/loader/dataloader.py
  torch_geometric/loader/dense_data_loader.py
  torch_geometric/loader/graph_saint.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/neighbor_sampler.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/temporal_dataloader.py
  torch_geometric/loader/zip_loader.py
Labels: 1 - Priority P1, refactor, loader, data, skip-changelog

#6834 Enable `NeighborLoader` to return number of sampled nodes and edges per hop
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/node_loader.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: feature, 0 - Priority P0, loader, sampler

#6844 Fix tests in case `pyg-lib` is not installed
  test/loader/test_neighbor_loader.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#6843 Add sparse tensor support in full batch mode
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/utils/__init__.py
  benchmark/utils/utils.py
Labels: feature, 1 - Priority P1, benchmark

#6845 Enable `persistent_workers` in GraphGym dataloaders
  torch_geometric/graphgym/loader.py
Labels: feature, 0 - Priority P0, graphgym, skip-changelog

#6846 Added the `HeterophilousGraphDataset` suite
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/github.py
  torch_geometric/datasets/heterophilous_graph_dataset.py
  torch_geometric/datasets/planetoid.py
Labels: dataset

#6851 Extended dataset cheatsheet in documentation: `Actor`, `GitHub`, `JODIEDataset`, `WebKB`, and `Twitch`
  torch_geometric/datasets/actor.py
  torch_geometric/datasets/github.py
  torch_geometric/datasets/jodie.py
  torch_geometric/datasets/twitch.py
  torch_geometric/datasets/webkb.py
Labels: feature, 1 - Priority P1, dataset, skip-changelog

#6852 Restructure examples folder (1/n)
  README.md
  examples/explain/captum_explainability.py
  examples/explain/gnn_explainer.py
  examples/explain/gnn_explainer_ba_shapes.py
  examples/explain/gnn_explainer_link_pred.py
  torch_geometric/datasets/explainer_dataset.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/nn/models/captum.py
Labels: nn, example, dataset, explain, skip-changelog

#6853 Use `tmp_path` in `pytest`
  test/data/test_batch.py
  test/explain/test_explanation.py
  test/graphgym/test_graphgym.py
  test/loader/test_neighbor_loader.py
  test/nn/models/test_basic_gnn.py
  test/nn/models/test_re_net.py
  test/transforms/test_to_superpixels.py
  test/visualization/test_graph_visualization.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#6855 Fix example CI path
  .github/workflows/examples.yml
Labels: bug, 0 - Priority P0, example, skip-changelog

#6863 Fix `to_hetero` when using an uninitialized submodule without implementing `reset_parameters`
  CHANGELOG.md
  test/nn/test_to_hetero_transformer.py
  torch_geometric/nn/to_hetero_transformer.py
Labels: bug, 0 - Priority P0, nn

#6847 Added PyTorch Sparse Tensor support for `remove_self_loops`, `add_self_loops`, and `maybe_num_nodes`
  CHANGELOG.md
  test/utils/test_loop.py
  test/utils/test_num_nodes.py
  torch_geometric/utils/loop.py
  torch_geometric/utils/num_nodes.py
Labels: feature, 1 - Priority P1, utils

#6868 Added `mean` reduction to `utils.spmm` for PyTorch Sparse Tensor
  CHANGELOG.md
  test/utils/test_spmm.py
  torch_geometric/utils/spmm.py
Labels: feature, 0 - Priority P0, utils

#6872 Solve `cugraph` test failures
  test/nn/conv/cugraph/test_cugraph_rgcn_conv.py
  test/utils/test_convert.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#6875 Changed the interface of `sort_edge_index` to only return single `edge_index` information in case the `edge_attr` argument is not specified
  CHANGELOG.md
  test/utils/test_convert.py
  test/utils/test_sort_edge_index.py
  torch_geometric/transforms/to_sparse_tensor.py
  torch_geometric/utils/sort_edge_index.py
Labels: 0 - Priority P0, refactor, transform, utils

#6877 Fix `DegreeScaler` to not divide by zero
  torch_geometric/nn/aggr/scaler.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#6874 Pytorch Sparse tensor support: `ClusterGCN`, `SAGEConv`, `AGNNConv`, `APPNP`, and `FeaStConv`
  CHANGELOG.md
  test/nn/conv/test_agnn_conv.py
  test/nn/conv/test_appnp.py
  test/nn/conv/test_cluster_gcn_conv.py
  test/nn/conv/test_feast_conv.py
  test/nn/conv/test_sage_conv.py
  torch_geometric/nn/conv/appnp.py
  torch_geometric/nn/conv/cluster_gcn_conv.py
  torch_geometric/utils/loop.py
Labels: feature, 1 - Priority P1, nn, utils

#6866 Fix GraphGym tests on Windows
  test/graphgym/test_graphgym.py
  test/nn/test_to_hetero_transformer.py
  torch_geometric/graphgym/config.py
  torch_geometric/utils/loop.py
Labels: bug, 0 - Priority P0, graphgym, skip-changelog, utils

#6881 Remove remaining warnings during full CI test
  pyproject.toml
  test/data/lightning/test_datamodule.py
  test/profile/test_profile.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#6892 Fix failing `PyGModelHubMixin` tests
  test/nn/test_model_hub.py
  torch_geometric/nn/model_hub.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#6882 Respect tuple of `data` objects in `Dataset.num_classes`
  test/data/test_dataset.py
  torch_geometric/data/dataset.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#6893 Add note in documentation about interface change in `sort_edge_index`, `coalesce` and `to_undirected`
  CHANGELOG.md
  torch_geometric/utils/coalesce.py
  torch_geometric/utils/sort_edge_index.py
  torch_geometric/utils/undirected.py
Labels: 0 - Priority P0, utils

#6888 Add option to save benchmark results to csv
  .gitignore
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/training/training_benchmark.py
  benchmark/utils/__init__.py
  benchmark/utils/utils.py
Labels: feature, 1 - Priority P1, benchmark

#6858 [Code Coverage] `data/lightning/datamodule.py`
  CHANGELOG.md
  test/data/lightning/test_datamodule.py
  torch_geometric/data/lightning/datamodule.py
Labels: test, data

#6901 Fix `DBLP` download, move `get_edge_index` to `testing` package
  test/conftest.py
  test/data/lightning/test_datamodule.py
  test/data/test_batch.py
  test/data/test_graph_store.py
  test/data/test_hetero_data.py
  test/data/test_remote_backend_utils.py
  test/explain/conftest.py
  test/loader/test_dataloader.py
  test/loader/test_hgt_loader.py
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  test/loader/test_random_node_loader.py
  test/nn/conv/test_hetero_conv.py
  test/transforms/test_random_link_split.py
  torch_geometric/nn/model_hub.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/data.py
Labels: 0 - Priority P0, refactor, test, nn, skip-changelog

#6904 Small typo in the `LightGCN` documentation
  torch_geometric/nn/models/lightgcn.py
Labels: documentation, 0 - Priority P0, skip-changelog

#6906 Bring back `EllipticBitcoinDataset` test
  test/conftest.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#6913 Fix distributed batching example
  examples/multi_gpu/distributed_batching.py
Labels: bug, 1 - Priority P1, example, skip-changelog

#6920 Enable `filter-per-worker` as argument in benchmarks
  benchmark/inference/inference_benchmark.py
  benchmark/loader/neighbor_loader.py
  benchmark/training/training_benchmark.py
Labels: feature, 0 - Priority P0, benchmark, skip-changelog

#6898 feat: Add `ComplEx` KGE
  CHANGELOG.md
  README.md
  examples/kge_fb15k_237.py
  test/nn/kge/test_complex.py
  torch_geometric/nn/kge/__init__.py
  torch_geometric/nn/kge/base.py
  torch_geometric/nn/kge/complex.py
  torch_geometric/nn/kge/transe.py
Labels: feature, 0 - Priority P0, nn

#6929 PyTorch Lightning 2.0 integration
  .github/actions/setup/action.yml
  .github/workflows/full_testing.yml
  .github/workflows/linting.yml
  .github/workflows/nightly.yml
  CHANGELOG.md
  examples/pytorch_lightning/gin.py
  examples/pytorch_lightning/graph_sage.py
  examples/pytorch_lightning/relational_gnn.py
  pyproject.toml
  test/data/lightning/test_datamodule.py
  torch_geometric/data/lightning/datamodule.py
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/logger.py
  torch_geometric/graphgym/train.py
Labels: feature, 0 - Priority P0, graphgym, example, data

#6934 PyTorch 2.0 test support
  .github/actions/setup/action.yml
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  .github/workflows/documentation.yml
  .github/workflows/full_testing.yml
  CHANGELOG.md
  test/nn/conv/test_graph_conv.py
  test/nn/conv/test_message_passing.py
  test/nn/models/test_linkx.py
  test/utils/test_spmm.py
  torch_geometric/utils/spmm.py
Labels: installation, 0 - Priority P0, test, utils

#6938 Fixx nightly tests on Windows
  .github/workflows/full_testing.yml
  test/nn/test_compile.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#6939 Fix PyTorch 2.0 warnings and add `torch.sparse_csr` utilities
  .github/workflows/install.yml
  CHANGELOG.md
  test/nn/kge/test_complex.py
  test/nn/models/test_basic_gnn.py
  test/nn/models/test_rev_gnn.py
  test/nn/norm/test_mean_subtraction_norm.py
  test/utils/test_sparse.py
  test/utils/test_spmm.py
  torch_geometric/nn/models/rev_gnn.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/sparse.py
Labels: 0 - Priority P0, test, nn, skip-changelog, utils

#6944 Fix typo in `AddRandomWalkPE` documentation
  torch_geometric/transforms/add_positional_encoding.py
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#6947 `torch.sparse_csr` support in `MessagePassing`
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/utils/sparse.py
  torch_geometric/utils/spmm.py
Labels: 0 - Priority P0, nn, utils

#6949 Introduce `index2ptr` and `ptr2index` helper functions
  torch_geometric/data/graph_store.py
  torch_geometric/nn/conv/cugraph/base.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/sampler/utils.py
  torch_geometric/transforms/gdc.py
  torch_geometric/utils/sparse.py
Labels: 0 - Priority P0, refactor, nn, data, transform, skip-changelog, utils, sampler

#6950 `torch.sparse.mm` benchmark script
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  test/nn/test_compile.py
  test/utils/test_spmm.py
  torch_geometric/profile/benchmark.py
  torch_geometric/utils/spmm.py
Labels: 0 - Priority P0, test, benchmark, utils

#6951 Added `to_torch_csc_tensor` functionality
  CHANGELOG.md
  test/utils/test_sparse.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/sparse.py
  torch_geometric/utils/spmm.py
Labels: feature, 0 - Priority P0, utils

#6957 Add support for sparse CSR tensors in `gcn_norm`
  CHANGELOG.md
  pyproject.toml
  test/nn/conv/test_agnn_conv.py
  test/nn/conv/test_antisymmetric_conv.py
  test/nn/conv/test_appnp.py
  test/nn/conv/test_cg_conv.py
  test/nn/conv/test_cluster_gcn_conv.py
  test/nn/conv/test_dna_conv.py
  test/nn/conv/test_edge_conv.py
  test/nn/conv/test_eg_conv.py
  test/nn/conv/test_fa_conv.py
  test/nn/conv/test_feast_conv.py
  test/nn/conv/test_gat_conv.py
  test/nn/conv/test_gated_graph_conv.py
  test/nn/conv/test_gcn2_conv.py
  test/nn/conv/test_gcn_conv.py
  test/nn/conv/test_gen_conv.py
  test/nn/conv/test_gin_conv.py
  test/nn/conv/test_graph_conv.py
  test/nn/conv/test_message_passing.py
  test/nn/conv/test_sage_conv.py
  test/nn/conv/test_sg_conv.py
  test/nn/conv/test_ssg_conv.py
  test/nn/conv/test_tag_conv.py
  test/nn/conv/test_transformer_conv.py
  torch_geometric/datasets/nell.py
  torch_geometric/nn/conv/appnp.py
  torch_geometric/nn/conv/cluster_gcn_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/utils/sparse.py
Labels: feature, 0 - Priority P0, nn, dataset, utils

#6959 Disable `torch.compile` logging in tests
  test/nn/test_compile.py
Labels: 0 - Priority P0, test, skip-changelog

#6961 Added `HeteroData.set_value_dict` functionality
  CHANGELOG.md
  test/data/test_hetero_data.py
  torch_geometric/data/hetero_data.py
Labels: feature, 0 - Priority P0, data

#6952 Added `torch.compile` tests and benchmarks
  CHANGELOG.md
  docs/source/modules/root.rst
  test/nn/test_compile_basic.py
  test/nn/test_compile_conv.py
  test/test_compile.py
  torch_geometric/__init__.py
  torch_geometric/compile.py
  torch_geometric/debug.py
  torch_geometric/experimental.py
  torch_geometric/home.py
  torch_geometric/seed.py
Labels: documentation, 0 - Priority P0, test

#6963 Evaluate `torch.compile` against custom GNN layer
  CHANGELOG.md
  test/nn/test_compile_conv.py
Labels: feature, 0 - Priority P0, test

#6932 PyTorch Sparse Tensor support: `HANConv`, `GATv2Conv`, `HGTConv`, `GMMConv`, `GPSConv`, and `RGATConv`
  CHANGELOG.md
  test/nn/conv/test_gatv2_conv.py
  test/nn/conv/test_gmm_conv.py
  test/nn/conv/test_gps_conv.py
  test/nn/conv/test_han_conv.py
  test/nn/conv/test_hgt_conv.py
  test/nn/conv/test_rgat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/gps_conv.py
  torch_geometric/nn/conv/rgat_conv.py
Labels: feature, 1 - Priority P1, nn

#6937 Pytorch Sparse Tensor support: `PointConv`, `PointGNNConv`, `PointTransformerConv`, `PPFConv`, and `ResGatedGraphConv`
  CHANGELOG.md
  test/nn/conv/test_point_conv.py
  test/nn/conv/test_point_gnn_conv.py
  test/nn/conv/test_point_transformer_conv.py
  test/nn/conv/test_ppf_conv.py
  test/nn/conv/test_res_gated_graph_conv.py
Labels: feature, 1 - Priority P1

#6958 feat: add `DistMult` KGE model
  CHANGELOG.md
  README.md
  examples/kge_fb15k_237.py
  test/nn/kge/test_distmult.py
  torch_geometric/nn/kge/__init__.py
  torch_geometric/nn/kge/complex.py
  torch_geometric/nn/kge/distmult.py
Labels: feature, 0 - Priority P0, nn

#6936 PyTorch Sparse Tensor support: `LEConv`, `LGConv`, `NNConv`, `PANConv`, `SignedConv`, and `WLConv`
  CHANGELOG.md
  test/nn/conv/test_le_conv.py
  test/nn/conv/test_lg_conv.py
  test/nn/conv/test_nn_conv.py
  test/nn/conv/test_pan_conv.py
  test/nn/conv/test_signed_conv.py
  test/nn/conv/test_wl_conv.py
  torch_geometric/nn/conv/pan_conv.py
  torch_geometric/nn/conv/signed_conv.py
  torch_geometric/nn/conv/wl_conv.py
  torch_geometric/utils/sparse.py
Labels: feature, 1 - Priority P1, nn, utils

#6974 Utilize `HeteroData.set_value_dict` in code base
  CHANGELOG.md
  torch_geometric/data/hetero_data.py
  torch_geometric/explain/algorithm/captum_explainer.py
  torch_geometric/explain/explainer.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/node_loader.py
Labels: loader, explain, data

#6930 Added PyTorch Sparse Tensor support for `ToSparseTensor`
  CHANGELOG.md
  test/transforms/test_to_sparse_tensor.py
  torch_geometric/transforms/to_sparse_tensor.py
Labels: feature, 1 - Priority P1, transform

#6922 Add documentation for CPU Affinity usage
  CHANGELOG.md
  docs/source/_figures/training_affinity.png
  docs/source/advanced/cpu_affinity.rst
  docs/source/index.rst
  torch_geometric/loader/__init__.py
  torch_geometric/loader/mixin.py
Labels: feature, documentation, 0 - Priority P0

#6661 Adding `trim_to_layer` utility function
  CHANGELOG.md
  benchmark/training/training_benchmark.py
  docs/source/advanced/cpu_affinity.rst
  test/nn/models/test_basic_gnn.py
  test/utils/test_trim_to_layer.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/nn/summary.py
  torch_geometric/sampler/base.py
  torch_geometric/typing.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/trim_to_layer.py
Labels: feature, 0 - Priority P0, benchmark, loader

#6968 Let `RandomLinkSplit` work on non-contiguous representations
  test/transforms/test_random_link_split.py
  torch_geometric/transforms/random_link_split.py
Labels: bug, 0 - Priority P0, transform, skip-changelog

#6980 Speed-up `torch.compile` PyG models
  CHANGELOG.md
  test/nn/test_compile_conv.py
Labels: 0 - Priority P0, test

#6982 Add default argument to `datapipe.py` example
  examples/datapipe.py
Labels: 0 - Priority P0, refactor, example, skip-changelog

#6983 Add `torch_geometric.compile`
  CHANGELOG.md
  test/nn/test_compile_basic.py
  test/nn/test_compile_conv.py
  test/test_compile.py
  test/utils/test_softmax.py
  torch_geometric/__init__.py
  torch_geometric/compile.py
  torch_geometric/utils/softmax.py
Labels: feature, 0 - Priority P0, utils

#6984 Add `BasicGNN` support for `torch_geometric.compile`
  CHANGELOG.md
  test/nn/models/test_basic_gnn.py
  torch_geometric/compile.py
Labels: feature, 0 - Priority P0

#6986 `torch_geometric.compile` tutorial
  CHANGELOG.md
  docs/source/index.rst
  docs/source/tutorial/compile.rst
Labels: feature, documentation, 0 - Priority P0

#6985 Test more models with `torch.compile`
  CHANGELOG.md
  test/nn/models/test_basic_gnn.py
  test/nn/test_compile_basic.py
  test/nn/test_compile_conv.py
  test/testing/test_decorators.py
  torch_geometric/compile.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: feature, 0 - Priority P0

#6989 `torch_geometric.compile` examples
  CHANGELOG.md
  docs/source/tutorial/compile.rst
  examples/compile/gcn.py
  examples/compile/gin.py
Labels: documentation, 0 - Priority P0, example

#6990 Fixed some typos in doc-strings
  torch_geometric/utils/spmm.py
Labels: bug, 0 - Priority P0, skip-changelog, utils

#6178 `pyg-lib` integration in `HGTConv`
  CHANGELOG.md
  test/nn/conv/test_fast_hgt_conv.py
  test/nn/dense/test_linear.py
  torch_geometric/data/hetero_data.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/fast_hgt_conv.py
  torch_geometric/nn/conv/hgt_conv.py
  torch_geometric/nn/dense/__init__.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/nn/to_hetero_module.py
  torch_geometric/typing.py
Labels: feature, 0 - Priority P0, nn, data, skip-changelog

#6991 Fix CI tests
  test/nn/conv/test_message_passing.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#6915 Fix CUDA error in `GATConv` on empty edges
  test/nn/conv/test_gat_conv.py
  torch_geometric/nn/conv/gat_conv.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#6993 Update type hints for `HeteroData`
  torch_geometric/data/hetero_data.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#6998 Fix `HeteroDictLinear` documentation
  CHANGELOG.md
  torch_geometric/nn/dense/__init__.py
Labels: bug, 0 - Priority P0, nn

#6997 Refactor `disableExtensions` decorator
  test/conftest.py
  test/nn/models/test_basic_gnn.py
  test/nn/test_compile_basic.py
  test/nn/test_compile_conv.py
  test/testing/test_decorators.py
  torch_geometric/testing/decorators.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#6999 Drop usage of `__dunder__` names
  CHANGELOG.md
  torch_geometric/contrib/explain/graphmask_explainer.py
  torch_geometric/loader/cluster.py
  torch_geometric/loader/graph_saint.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/utils/inspector.py
  torch_geometric/nn/models/tgn.py
  torch_geometric/nn/pool/edge_pool.py
Labels: 0 - Priority P0, nn, loader, contrib

#7000 PyTorch 2.0 installation intructions
  CHANGELOG.md
  README.md
  docs/source/index.rst
  docs/source/install/installation.rst
  docs/source/install/quick-start.html
  docs/source/modules/nn.rst
Labels: installation, feature, documentation, 0 - Priority P0

#7001 Fix typo in CPU affinity tutorial
  docs/source/advanced/cpu_affinity.rst
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#7002 `torch.compile(model, dynamic=True)` test
  CHANGELOG.md
  docs/source/tutorial/compile.rst
  examples/compile/gin.py
  test/nn/test_compile_basic.py
  test/nn/test_compile_dynamic.py
  torch_geometric/testing/data.py
Labels: bug, documentation, 0 - Priority P0, test, example

#7005 Memory-efficient `one_hot` implementation
  CHANGELOG.md
  test/nn/conv/test_wl_conv.py
  test/utils/test_one_hot.py
  torch_geometric/datasets/ged_dataset.py
  torch_geometric/datasets/linkx_dataset.py
  torch_geometric/datasets/qm9.py
  torch_geometric/io/sdf.py
  torch_geometric/io/tu.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/models/correct_and_smooth.py
  torch_geometric/nn/models/label_prop.py
  torch_geometric/transforms/grid_sampling.py
  torch_geometric/transforms/one_hot_degree.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/one_hot.py
Labels: feature, 0 - Priority P0, nn, dataset, transform, utils

#7007 Fix full test
  test/nn/conv/test_gen_conv.py
  test/nn/conv/test_graph_conv.py
  test/nn/dense/test_dense_gat_conv.py
  test/nn/dense/test_dense_gcn_conv.py
  test/nn/dense/test_linear.py
  test/utils/test_sparse.py
  torch_geometric/compile.py
  torch_geometric/nn/conv/cluster_gcn_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/utils/loop.py
  torch_geometric/utils/sparse.py
Labels: bug, 0 - Priority P0, test, nn, skip-changelog, utils

#7027 Fix typo in introduction tutorial
  docs/source/get_started/introduction.rst
Labels: bug, 0 - Priority P0, skip-changelog

#7028 Place message store on correct device in `TGN`
  torch_geometric/nn/models/tgn.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#7035 Fix `Iterator` types in `DataPipes`
  torch_geometric/data/datapipes.py
Labels: bug, 0 - Priority P0, data, skip-changelog, type hints

#7034 Fix storage warning
  torch_geometric/data/collate.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#7036 Test against nightly PyTorch releases
  .github/actions/setup/action.yml
  .github/workflows/latest_testing.yml
  test/profile/test_profile_utils.py
  test/utils/test_assortativity.py
  test/utils/test_homophily.py
  test/utils/test_segment.py
  test/utils/test_softmax.py
  test/utils/test_sparse.py
  test/utils/test_spmm.py
  torch_geometric/typing.py
Labels: 0 - Priority P0, test, skip-changelog

#7041 Drop `torch_sparse` dependency in tests (1/n)
  .github/workflows/latest_testing.yml
  CHANGELOG.md
  test/transforms/test_add_metapaths.py
  test/transforms/test_gcn_norm.py
  test/transforms/test_to_sparse_tensor.py
  torch_geometric/transforms/add_positional_encoding.py
  torch_geometric/transforms/feature_propagation.py
  torch_geometric/transforms/rooted_subgraph.py
  torch_geometric/transforms/sign.py
  torch_geometric/transforms/two_hop.py
Labels: 0 - Priority P0, refactor, transform

#7042 Accelerated sparse tensor conversions
  CHANGELOG.md
  test/utils/test_sparse.py
  torch_geometric/utils/num_nodes.py
  torch_geometric/utils/sparse.py
Labels: feature, 0 - Priority P0, utils

#7043 Drop `torch_sparse` dependency in tests (2/n)
  .github/workflows/latest_testing.yml
  CHANGELOG.md
  test/data/lightning/test_datamodule.py
  test/data/test_batch.py
  test/data/test_data.py
  test/data/test_dataset.py
  test/data/test_graph_store.py
  test/data/test_hetero_data.py
Labels: 0 - Priority P0, refactor, test

#7026 feat: add `RotatE` KGE model
  CHANGELOG.md
  README.md
  examples/kge_fb15k_237.py
  test/nn/kge/test_rotate.py
  torch_geometric/nn/kge/__init__.py
  torch_geometric/nn/kge/rotate.py
Labels: feature, 1 - Priority P1, nn

#7045 Drop `torch_sparse` dependency in tests (3/n)
  .github/workflows/latest_testing.yml
  examples/kge_fb15k_237.py
  test/loader/test_cluster.py
  test/loader/test_graph_saint.py
  test/loader/test_hgt_loader.py
  test/loader/test_imbalanced_sampler.py
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  test/loader/test_neighbor_sampler.py
  test/loader/test_shadow.py
  test/loader/test_zip_loader.py
  torch_geometric/nn/kge/rotate.py
  torch_geometric/nn/kge/transe.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: 0 - Priority P0, refactor, test, nn, example, skip-changelog

#7046 Drop `torch_sparse` dependency in tests (4/n)
  .github/workflows/latest_testing.yml
  test/nn/test_compile_dynamic.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7037 Adding unbatching support for `torch.sparse.Tensor`
  CHANGELOG.md
  test/data/test_batch.py
  torch_geometric/data/separate.py
  torch_geometric/utils/select.py
Labels: feature, 0 - Priority P0, data

#7050 Fix `FastHGTConv` to correctly call the value module
  CHANGELOG.md
  torch_geometric/nn/conv/fast_hgt_conv.py
Labels: bug, 0 - Priority P0, nn

#7048 Fix `bfloat16` conversion in `HeteroData` benchmark scripts
  benchmark/inference/inference_benchmark.py
  benchmark/training/training_benchmark.py
  benchmark/utils/__init__.py
  benchmark/utils/utils.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#7051 Drop `torch_sparse` dependency in tests (5/n)
  .github/workflows/latest_testing.yml
  test/nn/aggr/test_attention.py
  test/nn/aggr/test_basic.py
  test/nn/aggr/test_multi.py
  torch_geometric/nn/aggr/multi.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#7052 Drop `torch_sparse` dependency in tests (6/n)
  .github/workflows/latest_testing.yml
  test/nn/models/test_correct_and_smooth.py
  test/nn/models/test_label_prop.py
  test/nn/models/test_linkx.py
  test/nn/models/test_rect.py
  test/nn/pool/test_pan_pool.py
  torch_geometric/nn/pool/asap.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#7054 Drop `torch_sparse` dependency in tests (7/n)
  .github/workflows/latest_testing.yml
  test/nn/models/test_basic_gnn.py
  test/nn/models/test_correct_and_smooth.py
  test/nn/models/test_dimenet.py
  test/nn/models/test_gnnff.py
  test/nn/models/test_label_prop.py
  test/nn/models/test_linkx.py
  test/nn/models/test_metapath2vec.py
  test/nn/models/test_node2vec.py
  test/nn/models/test_tgn.py
  torch_geometric/nn/models/graph_unet.py
  torch_geometric/nn/models/metapath2vec.py
  torch_geometric/nn/models/node2vec.py
Labels: 0 - Priority P0, refactor, test, nn, skip-changelog

#7056 Move `torch.compile` tests to nightly tests
  test/nn/models/test_basic_gnn.py
  test/nn/test_compile_basic.py
  test/nn/test_compile_conv.py
  test/nn/test_compile_dynamic.py
Labels: refactor, test, skip-changelog

#7055 Update minimal required PyTorch version
  .github/workflows/documentation.yml
  .github/workflows/install.yml
  .github/workflows/latest_testing.yml
  .github/workflows/prev_testing.yml
  .github/workflows/testing.yml
  README.md
  docs/source/install/installation.rst
Labels: bug, installation, documentation, 0 - Priority P0, skip-changelog

#7058 Drop `torch_sparse` dependency in tests (8/n)
  .github/workflows/latest_testing.yml
  test/nn/test_model_summary.py
  test/nn/test_to_hetero_transformer.py
  test/nn/test_to_hetero_with_bases_transformer.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7059 Drop `torch_sparse` dependency in tests (9/n)
  test/nn/conv/test_agnn_conv.py
  test/nn/conv/test_antisymmetric_conv.py
  test/nn/conv/test_appnp.py
  test/nn/conv/test_arma_conv.py
  test/nn/conv/test_cg_conv.py
  test/nn/conv/test_cluster_gcn_conv.py
  test/nn/conv/test_dna_conv.py
  test/nn/conv/test_edge_conv.py
  test/nn/conv/test_eg_conv.py
  test/nn/conv/test_fa_conv.py
  test/nn/conv/test_feast_conv.py
  test/nn/conv/test_film_conv.py
  test/nn/conv/test_gat_conv.py
  test/nn/conv/test_gated_graph_conv.py
  test/nn/conv/test_gatv2_conv.py
  test/nn/conv/test_gcn2_conv.py
  test/nn/conv/test_gcn_conv.py
  test/nn/conv/test_gen_conv.py
  test/nn/conv/test_gin_conv.py
  test/nn/conv/test_gmm_conv.py
  test/nn/conv/test_gps_conv.py
  test/nn/conv/test_graph_conv.py
  test/nn/conv/test_han_conv.py
  test/nn/conv/test_heat_conv.py
  test/nn/conv/test_hgt_conv.py
  test/nn/conv/test_le_conv.py
  test/nn/conv/test_lg_conv.py
  test/nn/conv/test_message_passing.py
  test/nn/conv/test_mf_conv.py
  test/nn/conv/test_nn_conv.py
  test/nn/conv/test_pan_conv.py
  test/nn/conv/test_pdn_conv.py
  test/nn/conv/test_pna_conv.py
  test/nn/conv/test_point_conv.py
  test/nn/conv/test_point_gnn_conv.py
  test/nn/conv/test_point_transformer_conv.py
  test/nn/conv/test_ppf_conv.py
  test/nn/conv/test_res_gated_graph_conv.py
  test/nn/conv/test_rgat_conv.py
  test/nn/conv/test_rgcn_conv.py
  test/nn/conv/test_sage_conv.py
  test/nn/conv/test_sg_conv.py
  test/nn/conv/test_signed_conv.py
  test/nn/conv/test_simple_conv.py
  test/nn/conv/test_spline_conv.py
  test/nn/conv/test_ssg_conv.py
  test/nn/conv/test_supergat_conv.py
  test/nn/conv/test_tag_conv.py
  test/nn/conv/test_transformer_conv.py
  test/nn/conv/test_wl_conv.py
  test/nn/test_sequential.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7061 Drop `torch_sparse` dependency in tests (10/n)
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/utils/typing.py
  torch_geometric/nn/sequential.jinja
  torch_geometric/typing.py
Labels: 0 - Priority P0, refactor, test, nn

#7062 Drop `torch_sparse` dependency in tests (11/n)
  .github/workflows/latest_testing.yml
  CHANGELOG.md
  test/nn/test_sequential.py
  torch_geometric/typing.py
Labels: 0 - Priority P0, refactor, test

#7063 Drop `torch_sparse` dependency in tests (12/n)
  test/nn/conv/test_agnn_conv.py
  test/nn/conv/test_antisymmetric_conv.py
  test/nn/conv/test_appnp.py
  test/nn/conv/test_arma_conv.py
  test/nn/conv/test_cg_conv.py
  test/nn/conv/test_cluster_gcn_conv.py
  test/nn/conv/test_dna_conv.py
  test/nn/conv/test_edge_conv.py
  test/nn/conv/test_eg_conv.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7064 Drop `torch_sparse` dependency in tests (13/n)
  test/nn/conv/test_fa_conv.py
  test/nn/conv/test_feast_conv.py
  test/nn/conv/test_film_conv.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7066 Drop `torch_sparse` dependency in tests (14/n)
  test/nn/conv/test_gat_conv.py
  test/nn/conv/test_gated_graph_conv.py
  test/nn/conv/test_gatv2_conv.py
  test/nn/conv/test_gcn2_conv.py
  test/nn/conv/test_gcn_conv.py
  test/nn/conv/test_gen_conv.py
  test/nn/conv/test_gin_conv.py
  test/nn/conv/test_gmm_conv.py
  test/nn/conv/test_gps_conv.py
  test/nn/conv/test_graph_conv.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7067 Drop `torch_sparse` dependency in tests (15/n)
  test/nn/conv/test_han_conv.py
  test/nn/conv/test_heat_conv.py
  test/nn/conv/test_hgt_conv.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7068 Drop `torch_sparse` dependency in tests (16/n)
  test/nn/conv/test_le_conv.py
  test/nn/conv/test_lg_conv.py
  test/nn/conv/test_mf_conv.py
  test/nn/conv/test_nn_conv.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7069 Drop `torch_sparse` dependency in tests (17/n)
  test/nn/conv/test_pan_conv.py
  test/nn/conv/test_pdn_conv.py
  test/nn/conv/test_pna_conv.py
  test/nn/conv/test_point_conv.py
  test/nn/conv/test_point_gnn_conv.py
  test/nn/conv/test_point_transformer_conv.py
  test/nn/conv/test_ppf_conv.py
  torch_geometric/nn/conv/pan_conv.py
Labels: 0 - Priority P0, refactor, test, nn, skip-changelog

#7070 Drop `torch_sparse` dependency in tests (18/n)
  test/nn/conv/test_res_gated_graph_conv.py
  test/nn/conv/test_rgat_conv.py
  test/nn/conv/test_rgcn_conv.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7071 Drop `torch_sparse` dependency in tests (19/n)
  test/nn/conv/test_sg_conv.py
  test/nn/conv/test_signed_conv.py
  test/nn/conv/test_simple_conv.py
  test/nn/conv/test_spline_conv.py
  test/nn/conv/test_ssg_conv.py
  test/nn/conv/test_supergat_conv.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7072 Drop `torch_sparse` dependency in tests (20/n)
  .github/workflows/latest_testing.yml
  test/nn/conv/test_eg_conv.py
  test/nn/conv/test_gatv2_conv.py
  test/nn/conv/test_pna_conv.py
  test/nn/conv/test_point_conv.py
  test/nn/conv/test_ppf_conv.py
  test/nn/conv/test_rgat_conv.py
  test/nn/conv/test_sage_conv.py
  test/nn/conv/test_signed_conv.py
  test/nn/conv/test_tag_conv.py
  test/nn/conv/test_transformer_conv.py
  test/nn/conv/test_wl_conv.py
  test/nn/conv/test_wl_conv_continuous.py
  torch_geometric/typing.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7074 Replace `tolist()` equality checks with `torch.allclose()`
  test/io/test_off.py
  test/nn/aggr/test_sort.py
  test/nn/conv/test_agnn_conv.py
  test/nn/conv/test_cheb_conv.py
  test/nn/conv/test_dna_conv.py
  test/nn/conv/test_edge_conv.py
  test/nn/conv/test_feast_conv.py
  test/nn/conv/test_gated_graph_conv.py
  test/nn/conv/test_gcn2_conv.py
  test/nn/conv/test_gcn_conv.py
  test/nn/conv/test_gin_conv.py
  test/nn/conv/test_gravnet_conv.py
  test/nn/conv/test_message_passing.py
  test/nn/conv/test_tag_conv.py
  test/nn/conv/test_x_conv.py
  test/nn/dense/test_linear.py
  test/nn/models/test_autoencoder.py
  test/nn/norm/test_diff_group_norm.py
  test/nn/pool/test_avg_pool.py
  test/nn/pool/test_glob.py
  test/nn/pool/test_max_pool.py
  test/nn/test_inits.py
  test/nn/test_reshape.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7073 Extend nightly tests to include different PyTorch versions
  .github/actions/setup/action.yml
  .github/workflows/full_testing.yml
  .github/workflows/latest_testing.yml
  test/nn/models/test_graph_unet.py
  test/nn/norm/test_diff_group_norm.py
  test/nn/pool/test_asap.py
  test/nn/pool/test_pool.py
  test/transforms/test_add_positional_encoding.py
  test/transforms/test_two_hop.py
  torch_geometric/nn/pool/asap.py
Labels: feature, 0 - Priority P0, test, nn, skip-changelog

#7065 Make edges in `HeterohilousGraphDataset` undirected
  CHANGELOG.md
  torch_geometric/datasets/heterophilous_graph_dataset.py
Labels: bug, 0 - Priority P0, dataset

#7053 Add `to_dgl` and `from_dgl` conversions
  CHANGELOG.md
  test/utils/test_convert.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/convert.py
Labels: feature, 0 - Priority P0, utils

#6880 feat: migrate to `pyproject.toml` for building package
  .github/actions/setup/action.yml
  .github/workflows/linting.yml
  .github/workflows/nightly.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  readthedocs.yml
  setup.py
Labels: installation, 0 - Priority P0, refactor

#7077 `MultiAggr` w/ `HeteroDictLinear`
  CHANGELOG.md
  test/nn/aggr/test_multi.py
  test/nn/conv/test_graph_conv.py
  test/nn/conv/test_signed_conv.py
  test/nn/dense/test_linear.py
  torch_geometric/nn/aggr/multi.py
  torch_geometric/nn/dense/linear.py
Labels: feature, 0 - Priority P0, nn

#7082 Fix nightly builds
  .github/workflows/linting.yml
  .github/workflows/nightly.yml
  MANIFEST.in
  pyproject.toml
Labels: bug, installation, 0 - Priority P0, skip-changelog

#7011 Temporal version of `EllipticBitcoinDataset`
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/elliptic.py
  torch_geometric/datasets/elliptic_temporal.py
Labels: feature, 0 - Priority P0, dataset

#7023 Update cugraph conv layers for `pylibcugraphops=23.04`
  torch_geometric/nn/conv/cugraph/base.py
  torch_geometric/nn/conv/cugraph/gat_conv.py
  torch_geometric/nn/conv/cugraph/rgcn_conv.py
  torch_geometric/nn/conv/cugraph/sage_conv.py
Labels: feature, 0 - Priority P0, nn, skip-changelog

#7087 Fix `HGTLoader` on disconnected graphs
  CHANGELOG.md
  test/loader/test_hgt_loader.py
  torch_geometric/loader/utils.py
Labels: bug, 0 - Priority P0, loader
