Repository pyg-team/pytorch_geometric, pull requests merged in 2023-04, with the labels that each got.

#7095 Fix `atol` precision tests
  test/nn/conv/test_point_gnn_conv.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#7104 Fix `data.num_edges` for `torch.sparse.Tensor`
  CHANGELOG.md
  torch_geometric/data/storage.py
Labels: bug, 0 - Priority P0, data

#7107 Fix `Dimenet` with `torch.int32` as an index Tensor for `Dataset`
  torch_geometric/nn/models/dimenet.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#7110 Clarify argument type
  torch_geometric/data/data.py
Labels: 1 - Priority P1, data, skip-changelog, type hints

#7141 Fix `numpy` incompatiblity when reading files for `Planetoid` datasets
  CHANGELOG.md
  torch_geometric/io/planetoid.py
Labels: bug, 0 - Priority P0, dataset

#7126 Additional GPU tests
  test/loader/test_dataloader.py
  test/nn/conv/test_nn_conv.py
  test/nn/conv/test_rgcn_conv.py
  test/nn/dense/test_linear.py
Labels: feature, 0 - Priority P0, test, skip-changelog

#7093 [Code Coverage] `data/view.py`
  CHANGELOG.md
  test/data/test_view.py
Labels: 1 - Priority P1, test, data

#7143 Add ROCm build instructions
  CHANGELOG.md
  README.md
  docs/source/install/installation.rst
Labels: installation, feature, 0 - Priority P0

#7135 Add `batch_size` argument to normalization layers
  CHANGELOG.md
  torch_geometric/nn/norm/graph_norm.py
  torch_geometric/nn/norm/graph_size_norm.py
  torch_geometric/nn/norm/instance_norm.py
  torch_geometric/nn/norm/layer_norm.py
  torch_geometric/nn/norm/pair_norm.py
  torch_geometric/utils/nested.py
Labels: feature, 0 - Priority P0, nn

#7128 Fix for `from_networkx` re-calling the constructor of the `nx.Graph`
  torch_geometric/utils/convert.py
Labels: bug, 0 - Priority P0, skip-changelog, utils

#7119 Optimize `from_networkx()`
  CHANGELOG.md
  torch_geometric/utils/convert.py
Labels: feature, 0 - Priority P0, utils

#7144 Helper assert function to test for module equivalence and invariance
  test/nn/conv/test_sage_conv.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/asserts.py
  torch_geometric/utils/spmm.py
Labels: feature, 0 - Priority P0, test, skip-changelog, utils

#7145 Update batching tutorial to contain cleaner code
  docs/source/advanced/batching.rst
  test/data/test_batch.py
Labels: documentation, 0 - Priority P0, refactor, skip-changelog

#7089 `SparseTensor` support for `trim_to_layer`
  CHANGELOG.md
  test/utils/test_trim_to_layer.py
  torch_geometric/typing.py
  torch_geometric/utils/trim_to_layer.py
Labels: feature, 0 - Priority P0, loader

#7155 PyTorch Sparse Tensor support for `LightGCN`
  CHANGELOG.md
  torch_geometric/nn/models/lightgcn.py
Labels: feature, 1 - Priority P1, nn

#7158 Fix tolerance in tests with conv
  test/nn/conv/test_ppf_conv.py
  test/nn/conv/test_rgcn_conv.py
  test/nn/dense/test_linear.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7159 Add `ClusterLoader` correctness test
  test/loader/test_cluster.py
Labels: 0 - Priority P0, test, skip-changelog

#7164 skipping examples that need `torch-cluster`/`torch-sparse` for now if its not available
  examples/correct_and_smooth.py
  examples/egc.py
  examples/gcn2_ppi.py
  examples/graph_saint.py
  examples/mnist_nn_conv.py
  examples/node2vec.py
  torch_geometric/typing.py
Labels: 0 - Priority P0, refactor, example, skip-changelog

#7117 Replacing `HGTConv` with `FastHGTConv`
  test/nn/conv/test_fast_hgt_conv.py
  test/nn/conv/test_hgt_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/fast_hgt_conv.py
  torch_geometric/nn/conv/hetero_conv.py
  torch_geometric/nn/conv/hgt_conv.py
  torch_geometric/utils/hetero.py
Labels: feature, 1 - Priority P1, nn, utils

#7168 Add `HGTConv` test for missing destination node types
  test/nn/conv/test_hgt_conv.py
  torch_geometric/utils/hetero.py
Labels: 1 - Priority P1, test, skip-changelog, utils

#7172 Fix typo in documentation
  docs/source/tutorial/compile.rst
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#7176 Can't use `deepcopy` on `Explanation`
  torch_geometric/explain/explanation.py
Labels: bug, explain, skip-changelog

#7183 Fix empty `dst_type` handling in `HGTConv`
  CHANGELOG.md
  torch_geometric/nn/conv/hgt_conv.py
Labels: bug, 0 - Priority P0, nn

#7185 Fix `HeteroDictLinear` crashes if some node types are absent
  CHANGELOG.md
  torch_geometric/nn/dense/linear.py
Labels: bug, 0 - Priority P0, nn

#7187 Fix `subgraph` on unordered inputs
  CHANGELOG.md
  torch_geometric/utils/subgraph.py
Labels: bug, 0 - Priority P0, utils

#7195 [Code Coverage] `data/datapipes.py`
  CHANGELOG.md
  pyproject.toml
  test/data/test_datapipes.py
Labels: test, data

#7197 Add manual sampling interface to `NodeLoader` and `LinkLoader`
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/node_loader.py
Labels: feature, 1 - Priority P1, loader

#7198 Support for `scatter(..., reduce="any")`
  CHANGELOG.md
  test/utils/test_scatter.py
  torch_geometric/utils/coalesce.py
  torch_geometric/utils/scatter.py
Labels: feature, 0 - Priority P0, utils

#7199 Add `GraphMode` with `bidirectional` sampling support (1/2)
  CHANGELOG.md
  test/sampler/test_sampler_base.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/utils.py
  torch_geometric/testing/data.py
  torch_geometric/utils/coalesce.py
Labels: feature, 0 - Priority P0, utils, sampler

#7200 Add `SubgraphType` with bidirectional sampling support (2/2)
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  test/sampler/test_sampler_base.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: 0 - Priority P0, loader, sampler

#7202 Fix optional `edge_id` handling in `SamplerOutput`
  torch_geometric/sampler/base.py
Labels: bug, 0 - Priority P0, skip-changelog, sampler

#7204 refactor: migrate to `Flake8-pyproject`
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Labels: installation, 1 - Priority P1, refactor, skip-changelog

#7114 Save PyTorch profile data to CSV
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/training/training_benchmark.py
  benchmark/utils/utils.py
  torch_geometric/profile/__init__.py
  torch_geometric/profile/profile.py
Labels: feature, 0 - Priority P0, benchmark

#7208 Introduce `type_ptr` argument to `HeteroLayerNorm`
  CHANGELOG.md
  test/nn/norm/test_layer_norm.py
  torch_geometric/nn/norm/layer_norm.py
Labels: feature, 0 - Priority P0, nn

#7209 Added `optimizer_resolver`
  CHANGELOG.md
  test/nn/test_resolver.py
  torch_geometric/nn/resolver.py
  torch_geometric/resolver.py
Labels: feature, 0 - Priority P0, nn

#7192 Add `AddRemainingSelfLoops` transform
  CHANGELOG.md
  test/transforms/test_add_remaining_self_loops.py
  test/transforms/test_add_self_loops.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/add_remaining_self_loops.py
Labels: feature, 0 - Priority P0, transform

#7210 Update `LabelPropagation` reference
  torch_geometric/nn/models/label_prop.py
Labels: documentation, 0 - Priority P0, nn, skip-changelog

#7211 Add `RandomLinkSplit` test on a dataset of graphs
  test/transforms/test_random_link_split.py
Labels: 0 - Priority P0, test, skip-changelog

#7214 Respect empty tensors in `NormalizeFeatures`
  torch_geometric/transforms/normalize_features.py
Labels: bug, 0 - Priority P0, transform, skip-changelog

#7215 Add `segment_matmul` micro-benchmark
  test/nn/dense/test_linear.py
  torch_geometric/profile/benchmark.py
Labels: 0 - Priority P0, benchmark, skip-changelog

#7216 Add `batch_size` argument to `avg_pool_x` and `max_pool_x`
  CHANGELOG.md
  test/nn/pool/test_avg_pool.py
  test/nn/pool/test_max_pool.py
  torch_geometric/nn/pool/avg_pool.py
  torch_geometric/nn/pool/max_pool.py
Labels: feature, 0 - Priority P0, nn

#7219 Skip `dgl` in benchmark if not available
  test/nn/dense/test_linear.py
Labels: 0 - Priority P0, skip-changelog

#7221 Test `return_emb` in `MLP`
  test/nn/models/test_mlp.py
  torch_geometric/nn/models/mlp.py
Labels: feature, 0 - Priority P0, test, skip-changelog

#7203 Extend dataset summary to create stats for each node/edge type
  CHANGELOG.md
  test/data/test_dataset_summary.py
  torch_geometric/data/summary.py
Labels: feature, 1 - Priority P1, dataset

#7194 Fix `HGTConv` `edge_type_vec` construction
  CHANGELOG.md
  test/nn/conv/test_hgt_conv.py
  torch_geometric/nn/conv/hgt_conv.py
  torch_geometric/nn/dense/linear.py
Labels: bug, 0 - Priority P0, nn

#7228 minor fix for `qm9_pretrained_schnet.py`
  examples/qm9_pretrained_schnet.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#7239 Add `batch_size` and `max_num_nodes` argument in `MemPooling` layer
  CHANGELOG.md
  torch_geometric/nn/pool/mem_pool.py
Labels: feature, 0 - Priority P0, nn

#7247 Drop `object` inheritance specification
  benchmark/kernel/datasets.py
  benchmark/runtime/dgl/hidden.py
  docs/source/tutorial/load_csv.rst
  examples/attentive_fp.py
  examples/colors_topk_pool.py
  examples/hetero/load_csv.py
  examples/proteins_diff_pool.py
  examples/qm9_nn_conv.py
  examples/triangles_sag_pool.py
  torch_geometric/data/batch.py
  torch_geometric/data/data.py
  torch_geometric/data/view.py
  torch_geometric/datasets/entities.py
  torch_geometric/graphgym/logger.py
  torch_geometric/nn/conv/utils/inspector.py
  torch_geometric/nn/fx.py
  torch_geometric/nn/models/re_net.py
  torch_geometric/nn/models/tgn.py
Labels: documentation, 0 - Priority P0, graphgym, refactor, benchmark, nn, example, dataset, data, skip-changelog

#7245 Create `CODEOWNERS`
  CODEOWNERS
Labels: 1 - Priority P1, skip-changelog

#7250 Introduce `InMemoryDataset.save` and `InMemoryDataset.load`
  CHANGELOG.md
  test/data/test_dataset.py
  test/data/test_hetero_data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/data/storage.py
Labels: feature, 0 - Priority P0, data

#7255 Update `HGTConv` doc
  torch_geometric/nn/conv/hgt_conv.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#7152 Deprecate `NeighborSampler` and `SplineConv` in examples
  CHANGELOG.md
  examples/cora.py
  examples/faust.py
  examples/infomax_inductive.py
  examples/mnist_graclus.py
  examples/mnist_voxel_grid.py
  examples/multi_gpu/data_parallel.py
  examples/ogbn_products_gat.py
  examples/ogbn_products_sage.py
  examples/point_transformer_classification.py
  examples/point_transformer_segmentation.py
  examples/pointnet2_classification.py
  examples/pointnet2_segmentation.py
  examples/randlanet_classification.py
  examples/randlanet_segmentation.py
  torch_geometric/loader/utils.py
  torch_geometric/typing.py
Labels: 0 - Priority P0, refactor, example, loader

#7252 Added support for `torch.sparse.Tensor` in `DataLoader`
  CHANGELOG.md
  examples/gcn2_ppi.py
  test/data/test_batch.py
  torch_geometric/data/collate.py
  torch_geometric/data/data.py
  torch_geometric/data/separate.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/sparse.py
Labels: 0 - Priority P0, example, data, utils
