Repository pyg-team/pytorch_geometric, pull requests merged in 2023-07, with the labels that each got.

#7673 Remove `torch.jit.trace` warnings
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/utils/loop.py
Labels: bug, 0 - Priority P0, nn, skip-changelog, utils

#7674 Allow `xfail` of `SNAPDataset` tests
  .github/workflows/full_testing.yml
  test/datasets/test_snap_dataset.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#7675 Remove invalid cast warning in `to_dense_batch`
  torch_geometric/utils/to_dense_batch.py
Labels: bug, 0 - Priority P0, skip-changelog, utils

#7677 Fix full tests for PyTorch < 1.13
  test/nn/models/test_basic_gnn.py
  test/nn/models/test_node2vec.py
  test/nn/models/test_rect.py
  test/nn/pool/connect/test_filter_edges.py
  test/nn/pool/test_asap.py
  test/nn/pool/test_pan_pool.py
  test/nn/pool/test_sag_pool.py
  test/nn/pool/test_topk_pool.py
  test/transforms/test_pad.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#7680 Fix custom `NeighborLoader` test
  test/loader/test_neighbor_loader.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#7679 Fix `RECT_L` TorchScript test
  test/nn/models/test_rect.py
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/models/rect.py
Labels: bug, 0 - Priority P0, test, nn, skip-changelog

#7693 Add `FlopsCount` support via `fvcore`
  CHANGELOG.md
  test/nn/test_fvcore.py
  torch_geometric/nn/dense/linear.py
Labels: feature, 0 - Priority P0, nn

#7694 Replace `torch.Tensor`calls (1/3)
  torch_geometric/data/feature_store.py
  torch_geometric/graphgym/contrib/layer/generalconv.py
  torch_geometric/nn/aggr/basic.py
  torch_geometric/nn/aggr/quantile.py
  torch_geometric/nn/aggr/scaler.py
  torch_geometric/nn/aggr/utils.py
  torch_geometric/nn/conv/agnn_conv.py
  torch_geometric/nn/conv/antisymmetric_conv.py
  torch_geometric/nn/conv/arma_conv.py
  torch_geometric/nn/conv/cugraph/gat_conv.py
  torch_geometric/nn/conv/cugraph/rgcn_conv.py
  torch_geometric/nn/conv/dna_conv.py
  torch_geometric/nn/conv/eg_conv.py
  torch_geometric/nn/conv/feast_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/gcn2_conv.py
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/conv/general_conv.py
  torch_geometric/nn/conv/gin_conv.py
  torch_geometric/nn/conv/gmm_conv.py
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/nn/conv/hgt_conv.py
  torch_geometric/nn/conv/hypergraph_conv.py
  torch_geometric/nn/conv/nn_conv.py
  torch_geometric/nn/conv/pan_conv.py
  torch_geometric/nn/conv/pdn_conv.py
  torch_geometric/nn/conv/rgat_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/conv/spline_conv.py
  torch_geometric/nn/conv/supergat_conv.py
  torch_geometric/nn/conv/tag_conv.py
  torch_geometric/nn/dense/dense_gat_conv.py
  torch_geometric/nn/dense/dense_gcn_conv.py
  torch_geometric/nn/dense/dense_gin_conv.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/nn/models/attentive_fp.py
  torch_geometric/nn/models/deep_graph_infomax.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/models/linkx.py
  torch_geometric/nn/models/re_net.py
  torch_geometric/nn/norm/batch_norm.py
  torch_geometric/nn/norm/graph_norm.py
  torch_geometric/nn/norm/layer_norm.py
  torch_geometric/nn/norm/msg_norm.py
  torch_geometric/nn/pool/__init__.py
  torch_geometric/nn/pool/mem_pool.py
  torch_geometric/nn/pool/pan_pool.py
  torch_geometric/nn/pool/select/topk.py
  torch_geometric/nn/to_hetero_with_bases_transformer.py
  torch_geometric/transforms/gdc.py
  torch_geometric/utils/geodesic.py
  torch_geometric/utils/to_dense_adj.py
Labels: 0 - Priority P0, graphgym, refactor, nn, data, transform, skip-changelog, utils

#7695 Replace `torch.Tensor`calls (2/3)
  benchmark/runtime/dgl/gat.py
  benchmark/runtime/dgl/gcn.py
  benchmark/runtime/dgl/rgcn.py
  docs/source/tutorial/create_gnn.rst
  examples/hetero/dmgi_unsup.py
  examples/rgcn_link_pred.py
  graphgym/custom_graphgym/layer/example.py
Labels: documentation, 0 - Priority P0, graphgym, refactor, benchmark, example, skip-changelog

#7703 Modify `dtype` in `ogbn-products` GraphSAGE example
  examples/ogbn_products_sage.py
Labels: refactor, example, skip-changelog

#7704 Revert `xfail` option in `SNAPDataset` tests
  test/datasets/test_snap_dataset.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7697 Replace `torch.Tensor`calls (3/4)
  test/data/test_feature_store.py
  test/distributed/test_local_feature_store.py
  test/loader/test_dataloader.py
  test/nn/dense/test_dense_gat_conv.py
  test/nn/dense/test_dense_gcn_conv.py
  test/nn/dense/test_dense_gin_conv.py
  test/nn/dense/test_dense_graph_conv.py
  test/nn/dense/test_dense_sage_conv.py
  test/nn/pool/select/test_select_topk.py
  test/nn/pool/test_edge_pool.py
  test/nn/pool/test_topk_pool.py
  test/nn/test_model_hub.py
  test/nn/test_parameter_dict.py
  test/nn/test_resolver.py
  test/nn/unpool/test_knn_interpolate.py
  test/transforms/test_compose.py
  test/transforms/test_distance.py
  test/transforms/test_generate_mesh_normals.py
  test/transforms/test_grid_sampling.py
  test/transforms/test_linear_transformation.py
  test/transforms/test_one_hot_degree.py
  test/transforms/test_polar.py
  test/transforms/test_random_flip.py
  test/transforms/test_random_jitter.py
  test/transforms/test_random_shear.py
  test/transforms/test_sample_points.py
  test/utils/test_convert.py
  test/utils/test_dropout.py
  test/utils/test_geodesic.py
  test/utils/test_normalized_cut.py
  test/utils/test_sparse.py
  test/utils/test_subgraph.py
  test/utils/test_to_dense_adj.py
Labels: 0 - Priority P0, refactor, skip-changelog

#7707 Replace `torch.Tensor`calls (4/4)
  test/data/test_dataset.py
  test/data/test_dataset_summary.py
  test/loader/test_cluster.py
  test/loader/test_graph_saint.py
  test/nn/models/test_autoencoder.py
  test/nn/pool/test_avg_pool.py
  test/nn/pool/test_max_pool.py
  test/nn/pool/test_voxel_grid.py
  test/transforms/test_cartesian.py
  test/transforms/test_center.py
  test/transforms/test_knn_graph.py
  test/transforms/test_local_cartesian.py
  test/transforms/test_local_degree_profile.py
  test/transforms/test_normalize_rotation.py
  test/transforms/test_point_pair_features.py
  test/transforms/test_radius_graph.py
  test/transforms/test_random_rotate.py
  test/transforms/test_random_scale.py
  test/transforms/test_spherical.py
  test/transforms/test_target_indegree.py
  test/transforms/test_to_dense.py
  test/utils/test_convert.py
  test/utils/test_to_dense_batch.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7708 Rename `dest` to `dst` in `geodesic_distance`
  CHANGELOG.md
  test/nn/models/test_meta.py
  test/utils/test_geodesic.py
  torch_geometric/nn/models/meta.py
  torch_geometric/utils/geodesic.py
Labels: 0 - Priority P0, refactor, nn, utils

#7700 Add `interval` argument to `transforms.Distance`
  CHANGELOG.md
  torch_geometric/transforms/distance.py
Labels: feature, 0 - Priority P0, transform

#7713 `HeteroData` support in `to_networkx`
  CHANGELOG.md
  test/utils/test_convert.py
  torch_geometric/data/data.py
  torch_geometric/utils/convert.py
  torch_geometric/utils/geodesic.py
Labels: feature, 0 - Priority P0, data, utils

#7714 Raise error when collecting non-existing attributes in `HeteroData`
  CHANGELOG.md
  benchmark/training/training_benchmark.py
  benchmark/utils/hetero_gat.py
  benchmark/utils/hetero_sage.py
  benchmark/utils/utils.py
  test/data/test_hetero_data.py
  test/explain/test_hetero_explanation.py
  torch_geometric/data/hetero_data.py
  torch_geometric/explain/explanation.py
Labels: 0 - Priority P0, refactor, benchmark, explain, data

#7734 Don't implicitly chain exceptions when accessing non-existent storage attributes
  CHANGELOG.md
  test/data/test_storage.py
  torch_geometric/data/storage.py
Labels: 0 - Priority P0, refactor, data

#7735 Modify `dtype` in `ogbn-products` GAT example #7703
  examples/ogbn_products_gat.py
Labels: refactor, example, skip-changelog

#7749 Prevent commits to master branch
  .pre-commit-config.yaml
Labels: 0 - Priority P0, skip-changelog

#7753 Test `ImbalancedSampler` with `HeteroData`
  test/loader/test_imbalanced_sampler.py
Labels: 0 - Priority P0, test, skip-changelog

#7705 Add possibility to run inference benchmarks on XPU device
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  test/profile/test_profile.py
  torch_geometric/profile/__init__.py
  torch_geometric/profile/profile.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: feature, 0 - Priority P0, benchmark

#7769 Fix flaky shared memory test
  test/data/test_data.py
Labels: 0 - Priority P0, test, skip-changelog

#7750 Replace `F.dropout` with `nn.Dropout` when used with `to_hetero`
  examples/pytorch_lightning/relational_gnn.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#7739 Add `device` in `rgcn_link_pred` example
  examples/rgcn_link_pred.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#7759 Add `.gitattributes` for consistent line endings in the repo
  .gitattributes
  examples/rect.py
  test/nn/conv/test_han_conv.py
  test/utils/test_get_mesh_laplacian.py
  torch_geometric/datasets/movie_lens.py
  torch_geometric/datasets/movie_lens_100k.py
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/nn/models/rect.py
  torch_geometric/transforms/remove_training_classes.py
  torch_geometric/transforms/svd_feature_reduction.py
  torch_geometric/utils/get_mesh_laplacian.py
Labels: refactor, nn, example, dataset, transform, skip-changelog, utils

#7766 Replace broadcast+reduce with matmul for faster operation both on CPU and CUDA devices
  torch_geometric/nn/models/attentive_fp.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#7754 Fix `bf16` data type failure in `spmm`
  torch_geometric/utils/spmm.py
Labels: bug, 0 - Priority P0, skip-changelog, utils

#7773 Do not account for `face` in `HeteroData.__cat_dim__`
  torch_geometric/data/hetero_data.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#7772 Warn user when using `training` flag in `to_hetero`
  CHANGELOG.md
  test/nn/test_fx.py
  test/nn/test_model_summary.py
  test/nn/test_to_hetero_transformer.py
  torch_geometric/nn/fx.py
  torch_geometric/nn/models/basic_gnn.py
Labels: bug, 0 - Priority P0, nn

#7770 Apple Silicon "MPS" support main examples
  CHANGELOG.md
  examples/argva_node_clustering.py
  examples/arma.py
  examples/autoencoder.py
  examples/dna.py
  examples/film.py
  examples/gcn.py
  examples/glnn.py
  examples/infomax_transductive.py
  examples/link_pred.py
  examples/linkx.py
  examples/mutag_gin.py
  examples/proteins_diff_pool.py
  examples/rect.py
  examples/rgcn.py
  examples/sgc.py
  examples/signed_gcn.py
  examples/tagcn.py
  examples/tensorboard_logging.py
Labels: feature, 0 - Priority P0, example

#7780 Added `output_initializer` argument to `DimeNet` models
  CHANGELOG.md
  torch_geometric/nn/models/dimenet.py
Labels: bug, 0 - Priority P0, nn

#7784 Update `hetero_link_pred.py` example to support MPS
  CHANGELOG.md
  examples/hetero/hetero_link_pred.py
Labels: feature, 0 - Priority P0, example

#7781 Update `gnn_explainer_link_pred.py` example to support MPS
  CHANGELOG.md
  examples/explain/gnn_explainer_link_pred.py
Labels: feature, 0 - Priority P0, example

#7785 Added a detailed warning if `torch_cluster` is not installed
  torch_geometric/nn/pool/__init__.py
  torch_geometric/typing.py
  torch_geometric/utils/dropout.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog, utils

#7787 Fix `CaptumExplainer` for `binary_classification` tasks
  CHANGELOG.md
  test/explain/algorithm/test_captum_explainer.py
  torch_geometric/explain/algorithm/captum.py
  torch_geometric/explain/algorithm/captum_explainer.py
Labels: bug, 0 - Priority P0, explain

#7791 Fix `edge_label_index` in homogeneous+`disjoint` mode
  CHANGELOG.md
  torch_geometric/sampler/neighbor_sampler.py
Labels: bug, 0 - Priority P0, sampler

#7671 Add `dist_context`/RPC for distributed training
  CHANGELOG.md
  test/distributed/test_rpc.py
  torch_geometric/distributed/dist_context.py
  torch_geometric/distributed/rpc.py
Labels: feature, 0 - Priority P0, distributed

#7808 Make `FieldStatus` enum picklable for multi-processing
  CHANGELOG.md
  test/data/test_feature_store.py
  torch_geometric/data/data.py
  torch_geometric/data/feature_store.py
  torch_geometric/distributed/local_feature_store.py
Labels: bug, 0 - Priority P0, data

#7818 Fix broken Windows build due to `distributed` package
  torch_geometric/distributed/rpc.py
Labels: bug, 0 - Priority P0, skip-changelog, distributed

#7819 Add disclaimer on default mini-batching behavior
  docs/source/advanced/batching.rst
  torch_geometric/data/batch.py
Labels: documentation, 0 - Priority P0, data, skip-changelog

#7814 Let `coalesce()` and `sort_edge_index()` accept `edge_index` as a tuple of tensors
  test/utils/test_coalesce.py
  test/utils/test_sort_edge_index.py
  torch_geometric/utils/coalesce.py
  torch_geometric/utils/num_nodes.py
  torch_geometric/utils/sort_edge_index.py
Labels: 1 - Priority P1, refactor, skip-changelog, utils

#7811 Create a small demo dataset by parsing JSON files created from OSE wiki GVCS product ecology
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/ose_gvcs.py
Labels: feature, 1 - Priority P1, dataset
