Repository pyg-team/pytorch_geometric, pull requests merged in 2023-11, with the labels that each got.

#8311 Respect current device when deep-copying `Linear` layers
  CHANGELOG.md
  test/nn/dense/test_linear.py
  test/nn/test_to_hetero_transformer.py
  torch_geometric/nn/dense/linear.py
Labels: bug, 0 - Priority P0, nn

#8312 `[NeighborLoader]` Fix `input_id` computation in case a `mask` is given
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/utils.py
Labels: bug, 0 - Priority P0, loader

#8309 Added an example for model parallelism
  CHANGELOG.md
  examples/multi_gpu/model_parallel.py
Labels: feature, 0 - Priority P0, example

#8298 Add mean reciprocal rank (MRR) computation in `KGEModel`
  CHANGELOG.md
  examples/kge_fb15k_237.py
  test/nn/kge/test_complex.py
  test/nn/kge/test_distmult.py
  test/nn/kge/test_rotate.py
  test/nn/kge/test_transe.py
  torch_geometric/nn/kge/base.py
Labels: feature, 0 - Priority P0, nn

#8321 Update `Creating Graph Datasets` tutorial
  docs/source/tutorial/create_dataset.rst
Labels: documentation, 0 - Priority P0, skip-changelog

#8331 Format via `ruff` [2/n]
  examples/lcm_aggr_2nd_min.py
  pyproject.toml
  torch_geometric/backend.py
  torch_geometric/config_store.py
  torch_geometric/contrib/nn/models/rbcd_attack.py
  torch_geometric/data/batch.py
  torch_geometric/data/data.py
  torch_geometric/data/dataset.py
  torch_geometric/data/feature_store.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/data/on_disk_dataset.py
  torch_geometric/data/remote_backend_utils.py
  torch_geometric/data/storage.py
  torch_geometric/data/temporal.py
  torch_geometric/datasets/motif_generator/house.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/distributed/local_feature_store.py
  torch_geometric/distributed/local_graph_store.py
  torch_geometric/distributed/rpc.py
  torch_geometric/distributed/utils.py
  torch_geometric/experimental.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/captum.py
  torch_geometric/explain/algorithm/dummy_explainer.py
  torch_geometric/explain/algorithm/graphmask_explainer.py
  torch_geometric/explain/algorithm/utils.py
  torch_geometric/explain/explainer.py
  torch_geometric/explain/explanation.py
  torch_geometric/loader/mixin.py
  torch_geometric/loader/utils.py
  torch_geometric/nn/attention/performer.py
  torch_geometric/nn/conv/pna_conv.py
  torch_geometric/nn/conv/wl_conv.py
  torch_geometric/nn/fx.py
  torch_geometric/nn/models/autoencoder.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/nn/models/deep_graph_infomax.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/models/graph_mixer.py
  torch_geometric/nn/models/metapath2vec.py
  torch_geometric/nn/models/node2vec.py
  torch_geometric/nn/models/re_net.py
  torch_geometric/nn/models/schnet.py
  torch_geometric/nn/models/tgn.py
  torch_geometric/profile/utils.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/hgt_sampler.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/testing/decorators.py
  torch_geometric/transforms/center.py
  torch_geometric/transforms/delaunay.py
  torch_geometric/transforms/generate_mesh_normals.py
  torch_geometric/transforms/remove_isolated_nodes.py
  torch_geometric/transforms/two_hop.py
  torch_geometric/typing.py
  torch_geometric/utils/get_mesh_laplacian.py
  torch_geometric/utils/mask.py
  torch_geometric/utils/trim_to_layer.py
Labels: 0 - Priority P0, benchmark, nn, example, dataset, loader, explain, data, transform, skip-changelog, utils, sampler, contrib

#8332 `[ruff]` Add missing doc-string arguments [3/n]
  pyproject.toml
  torch_geometric/contrib/explain/pgm_explainer.py
  torch_geometric/data/download.py
  torch_geometric/data/feature_store.py
  torch_geometric/data/graph_store.py
  torch_geometric/data/summary.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/explain/explanation.py
  torch_geometric/explain/metric/basic.py
  torch_geometric/nn/conv/cugraph/base.py
  torch_geometric/nn/conv/dna_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/fused_gat_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/rgat_conv.py
  torch_geometric/nn/conv/supergat_conv.py
  torch_geometric/nn/conv/transformer_conv.py
  torch_geometric/nn/models/autoencoder.py
  torch_geometric/nn/models/lightgcn.py
  torch_geometric/nn/models/signed_gcn.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/hgt_sampler.py
  torch_geometric/testing/asserts.py
  torch_geometric/transforms/gdc.py
  torch_geometric/utils/cross_entropy.py
  torch_geometric/utils/geodesic.py
  torch_geometric/utils/grid.py
  torch_geometric/utils/to_dense_adj.py
  torch_geometric/utils/unbatch.py
Labels: 0 - Priority P0, refactor, nn, explain, data, transform, skip-changelog, utils, sampler, contrib

#8333 `[ruff]` Doc-string should start at the first line [4/n]
  examples/contrib/pgm_explainer_graph_classification.py
  examples/contrib/pgm_explainer_node_classification.py
  examples/equilibrium_median.py
  examples/multi_gpu/distributed_sampling_xpu.py
  examples/multi_gpu/multinode_multigpu_papers100m_gcn.py
  examples/randlanet_classification.py
  examples/randlanet_segmentation.py
  graphgym/custom_graphgym/encoder/example.py
  pyproject.toml
  torch_geometric/data/feature_store.py
  torch_geometric/data/graph_store.py
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/init.py
  torch_geometric/graphgym/loader.py
  torch_geometric/graphgym/logger.py
  torch_geometric/graphgym/loss.py
  torch_geometric/graphgym/models/transform.py
  torch_geometric/graphgym/utils/agg_runs.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/equilibrium.py
  torch_geometric/nn/attention/performer.py
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/nn/dense/dense_gat_conv.py
  torch_geometric/nn/dense/dense_gcn_conv.py
  torch_geometric/nn/dense/dense_gin_conv.py
  torch_geometric/nn/dense/dense_graph_conv.py
  torch_geometric/nn/dense/dense_sage_conv.py
  torch_geometric/nn/dense/dmon_pool.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/nn/models/correct_and_smooth.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/models/graph_mixer.py
  torch_geometric/nn/models/jumping_knowledge.py
  torch_geometric/nn/models/label_prop.py
  torch_geometric/nn/models/meta.py
  torch_geometric/nn/models/mlp.py
  torch_geometric/nn/models/schnet.py
  torch_geometric/nn/norm/batch_norm.py
  torch_geometric/nn/norm/diff_group_norm.py
  torch_geometric/nn/norm/graph_norm.py
  torch_geometric/nn/norm/graph_size_norm.py
  torch_geometric/nn/norm/instance_norm.py
  torch_geometric/nn/norm/layer_norm.py
  torch_geometric/nn/norm/mean_subtraction_norm.py
  torch_geometric/nn/norm/msg_norm.py
  torch_geometric/nn/norm/pair_norm.py
  torch_geometric/nn/pool/asap.py
  torch_geometric/nn/pool/connect/base.py
  torch_geometric/nn/pool/edge_pool.py
  torch_geometric/nn/pool/mem_pool.py
  torch_geometric/nn/pool/pan_pool.py
  torch_geometric/nn/pool/sag_pool.py
  torch_geometric/nn/pool/topk_pool.py
Labels: 0 - Priority P0, graphgym, refactor, nn, example, data, skip-changelog

#8083 Update `GraphStore` and `FeatureStore` [1/6]
  CHANGELOG.md
  test/distributed/test_local_graph_store.py
  torch_geometric/data/graph_store.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/distributed/local_feature_store.py
  torch_geometric/distributed/local_graph_store.py
  torch_geometric/distributed/partition.py
  torch_geometric/distributed/utils.py
Labels: 0 - Priority P0, data, distributed

#8288 Add multi GPU training benchmarks
  CHANGELOG.md
  benchmark/multi_gpu/training/README.md
  benchmark/multi_gpu/training/training_benchmark.py
Labels: feature, 0 - Priority P0, benchmark

#8340 Added support for weighted `sparse_cross_entropy`
  CHANGELOG.md
  test/utils/test_cross_entropy.py
  torch_geometric/utils/cross_entropy.py
Labels: feature, 0 - Priority P0, utils

#8343 Evaluate `is_compiling()` lazily
  torch_geometric/warnings.py
Labels: bug, 0 - Priority P0, skip-changelog

#8344 Support `torch.compile` in `HeteroConv`
  CHANGELOG.md
  test/nn/conv/test_hetero_conv.py
  torch_geometric/nn/conv/hetero_conv.py
Labels: feature, 0 - Priority P0, nn

#8345 Support for multiple aggregations in `torch.compile`
  CHANGELOG.md
  test/nn/conv/test_sage_conv.py
  torch_geometric/nn/aggr/fused.py
Labels: bug, 0 - Priority P0, nn

#8352 Added `force_reload` option to `Dataset` and `InMemoryDataset` [1/n]
  CHANGELOG.md
  torch_geometric/data/dataset.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/datasets/actor.py
Labels: 0 - Priority P0, refactor, dataset, data

#8357 Added `force_reload` option to `Dataset` and `InMemoryDataset` [2/n]
  CHANGELOG.md
  torch_geometric/datasets/airfrans.py
  torch_geometric/datasets/airports.py
  torch_geometric/datasets/amazon.py
  torch_geometric/datasets/amazon_book.py
  torch_geometric/datasets/amazon_products.py
  torch_geometric/datasets/aminer.py
  torch_geometric/datasets/aqsol.py
  torch_geometric/datasets/attributed_graph_dataset.py
  torch_geometric/datasets/ba_multi_shapes.py
  torch_geometric/datasets/brca_tgca.py
  torch_geometric/datasets/coma.py
  torch_geometric/datasets/dynamic_faust.py
  torch_geometric/datasets/faust.py
  torch_geometric/datasets/gdelt.py
  torch_geometric/datasets/ged_dataset.py
  torch_geometric/datasets/geometry.py
  torch_geometric/datasets/gnn_benchmark_dataset.py
  torch_geometric/datasets/icews.py
  torch_geometric/datasets/lrgb.py
  torch_geometric/datasets/malnet_tiny.py
  torch_geometric/datasets/md17.py
  torch_geometric/datasets/mnist_superpixels.py
  torch_geometric/datasets/modelnet.py
  torch_geometric/datasets/molecule_net.py
  torch_geometric/datasets/neurograph.py
  torch_geometric/datasets/omdb.py
  torch_geometric/datasets/pascal.py
  torch_geometric/datasets/pascal_pf.py
  torch_geometric/datasets/pcpnet_dataset.py
  torch_geometric/datasets/ppi.py
  torch_geometric/datasets/qm7.py
  torch_geometric/datasets/qm9.py
  torch_geometric/datasets/s3dis.py
  torch_geometric/datasets/shapenet.py
  torch_geometric/datasets/shrec2016.py
  torch_geometric/datasets/snap_dataset.py
  torch_geometric/datasets/tosca.py
  torch_geometric/datasets/tu_dataset.py
  torch_geometric/datasets/upfd.py
  torch_geometric/datasets/willow_object_class.py
  torch_geometric/datasets/zinc.py
Labels: 0 - Priority P0, refactor, dataset

#8356 Fix batching issue for `HeteroData` that is converted using `ToSparseTensor` when `torch_sparse` is not installed
  CHANGELOG.md
  torch_geometric/data/hetero_data.py
Labels: bug, 0 - Priority P0, data

#8358 `[ruff]` One-line docstring should fit on one line
  pyproject.toml
  torch_geometric/data/data.py
  torch_geometric/data/feature_store.py
  torch_geometric/data/graph_store.py
  torch_geometric/data/hypergraph_data.py
  torch_geometric/distributed/event_loop.py
  torch_geometric/graphgym/contrib/layer/generalconv.py
  torch_geometric/graphgym/logger.py
  torch_geometric/nn/conv/cugraph/base.py
  torch_geometric/profile/profiler.py
  torch_geometric/testing/decorators.py
Labels: 0 - Priority P0, graphgym, benchmark, nn, data, skip-changelog

#8360 Update `torch_geometric.testing.withCUDA`
  torch_geometric/testing/decorators.py
Labels: 0 - Priority P0, test, skip-changelog

#8359 `[ruff]` Further clean up of documentation
  pyproject.toml
  test/utils/test_undirected.py
  torch_geometric/nn/conv/utils/__init__.py
  torch_geometric/nn/dense/__init__.py
  torch_geometric/nn/functional/__init__.py
  torch_geometric/nn/kge/__init__.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/norm/__init__.py
  torch_geometric/nn/pool/__init__.py
  torch_geometric/nn/pool/connect/__init__.py
  torch_geometric/nn/pool/select/__init__.py
  torch_geometric/nn/unpool/__init__.py
  torch_geometric/profile/__init__.py
  torch_geometric/sampler/__init__.py
  torch_geometric/testing/__init__.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/coalesce.py
  torch_geometric/utils/sort_edge_index.py
  torch_geometric/utils/undirected.py
  torch_geometric/visualization/__init__.py
Labels: 0 - Priority P0, benchmark, nn, skip-changelog, utils, sampler

#8361 Clean-up `noqa` usage
  examples/renet.py
  examples/rev_gnn.py
  examples/rgcn.py
  test/nn/dense/test_linear.py
  test/nn/test_to_hetero_module.py
  torch_geometric/data/storage.py
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/airfrans.py
  torch_geometric/datasets/snap_dataset.py
  torch_geometric/explain/algorithm/captum_explainer.py
  torch_geometric/loader/prefetch.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/captum.py
  torch_geometric/profile/utils.py
Labels: 0 - Priority P0, refactor, benchmark, nn, example, dataset, loader, explain, data, skip-changelog

#8362 `[flake8]` Drop ignored options
  pyproject.toml
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/models/linkx.py
  torch_geometric/nn/models/rect.py
  torch_geometric/utils/coalesce.py
  torch_geometric/utils/loop.py
  torch_geometric/utils/num_nodes.py
  torch_geometric/utils/spmm.py
  torch_geometric/utils/undirected.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog, utils

#8209 Update `DistNeighborSampler` for homo graphs [2/6]
  CHANGELOG.md
  test/distributed/test_dist_neighbor_sampler.py
  test/distributed/test_rpc.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/distributed/local_graph_store.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: sampler, distributed

#8080 Add `DistributedNeighborLoader` [3/6]
  test/distributed/test_dist_neighbor_loader.py
  torch_geometric/distributed/__init__.py
  torch_geometric/distributed/dist_neighbor_loader.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/loader/node_loader.py
Labels: feature, 0 - Priority P0, loader, skip-changelog, distributed

#8367 Fix homo temporal distributed sampling
  CHANGELOG.md
  torch_geometric/sampler/neighbor_sampler.py
Labels: sampler, distributed

#8363 Avoid a graph break in `ModuleDict` and `ParameterDict`
  CHANGELOG.md
  test/nn/conv/test_sage_conv.py
  torch_geometric/nn/module_dict.py
  torch_geometric/nn/parameter_dict.py
Labels: 0 - Priority P0, nn

#8369 Add faster `mask_select` method
  CHANGELOG.md
  torch_geometric/utils/mask.py
Labels: feature, 1 - Priority P1, utils

#8368 Cleanup multinode papers100m `get_num_workers`
  examples/multi_gpu/multinode_multigpu_papers100m_gcn.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#8381 Fix for new `pyg_lib.neighbor_sample` argument order
  .github/workflows/full_gpu_testing.yml
  .github/workflows/full_testing.yml
  .github/workflows/latest_testing.yml
  .github/workflows/minimal_testing.yml
  .github/workflows/prev_testing.yml
  .github/workflows/testing.yml
  test/loader/test_neighbor_loader.py
  test/test_config_store.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/typing.py
Labels: bug, 0 - Priority P0, skip-changelog, sampler

#8372 Edge-based temporal sampling
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  torch_geometric/datasets/movie_lens.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
  torch_geometric/typing.py
Labels: feature, 0 - Priority P0, example, dataset, loader, sampler

#8387 Better printing of `TensorFrame`
  docs/source/conf.py
  torch_geometric/data/data.py
Labels: documentation, 0 - Priority P0, refactor, data, skip-changelog

#8388 Fix `LatexBuilder` in documentatin
  docs/source/conf.py
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#8353 Improve multi-node multi-gpu tutorial
  docs/source/tutorial/multi_gpu_vanilla.rst
  docs/source/tutorial/multi_node_multi_gpu_vanilla.rst
  examples/multi_gpu/distributed_sampling_multinode.py
  examples/multi_gpu/distributed_sampling_multinode.sbatch
Labels: documentation, 1 - Priority P1, example, skip-changelog

#8386 Add cuda to multigpu (xpu) bench
  CHANGELOG.md
  benchmark/multi_gpu/training/README.md
  benchmark/multi_gpu/training/common.py
  benchmark/multi_gpu/training/training_benchmark_cuda.py
  benchmark/multi_gpu/training/training_benchmark_xpu.py
Labels: benchmark

#8392 Fix typo in `ReNet` example
  examples/renet.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#8395 Fix some typos in the tutorial
  docs/source/tutorial/multi_gpu_vanilla.rst
  docs/source/tutorial/multi_node_multi_gpu_vanilla.rst
  examples/multi_gpu/distributed_sampling_multinode.py
  examples/multi_gpu/distributed_sampling_multinode.sbatch
Labels: documentation, 0 - Priority P0, refactor, example, skip-changelog

#8394 Default to `None` for `input_ids`
  torch_geometric/loader/utils.py
Labels: bug, 0 - Priority P0, loader, skip-changelog

#8396 Fix nightly CI
  test/nn/conv/test_hetero_conv.py
  test/utils/test_trim_to_layer.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#8397 Fix issue with uninitialized module in `GAT+hetero+DDP` scenario
  CHANGELOG.md
  test/nn/conv/test_point_conv.py
  test/nn/dense/test_dense_gat_conv.py
  torch_geometric/nn/conv/gat_conv.py
Labels: nn

#8401 Fix `GraphMaskExplainer` for deep GNNs
  CHANGELOG.md
  torch_geometric/explain/algorithm/graphmask_explainer.py
Labels: bug, 0 - Priority P0, explain

#8402 `torch.compile` benchmark for `HeteroConv`; Allow device conversions of datasets
  CHANGELOG.md
  test/nn/conv/test_hetero_conv.py
  torch_geometric/data/in_memory_dataset.py
Labels: feature, 0 - Priority P0, data

#8382 Add support for heterogeneous workloads in multi XPU benchmarks
  CHANGELOG.md
  benchmark/multi_gpu/training/common.py
Labels: benchmark

#8406 Fix TorchScript support in `AttentionalAggregation` and `DeepSetsAggregation`
  CHANGELOG.md
  test/nn/aggr/test_attention.py
  torch_geometric/nn/aggr/attention.py
  torch_geometric/nn/aggr/deep_sets.py
  torch_geometric/nn/aggr/mlp.py
Labels: bug, 0 - Priority P0, nn

#8404 Allow `avg_degree` in `FakeDataset` to be float instead of int
  CHANGELOG.md
  torch_geometric/datasets/fake.py
Labels: bug, 0 - Priority P0, dataset

#8399 Use optimized implementation in softmax operation
  CHANGELOG.md
  test/utils/test_softmax.py
  torch_geometric/typing.py
  torch_geometric/utils/softmax.py
Labels: feature, 0 - Priority P0, utils

#8413 Fix `edge_index` construction in `UPFD` dataset
  CHANGELOG.md
  torch_geometric/datasets/upfd.py
Labels: bug, 0 - Priority P0, dataset

#8379 Add filesystem abstraction using `fsspec`
  CHANGELOG.md
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
  pyproject.toml
  test/conftest.py
  torch_geometric/data/dataset.py
  torch_geometric/data/download.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/data/makedirs.py
  torch_geometric/datasets/tu_dataset.py
  torch_geometric/io/fs.py
  torch_geometric/io/planetoid.py
  torch_geometric/io/tu.py
  torch_geometric/io/txt_array.py
Labels: feature, 0 - Priority P0

#8421 Deprecate `makedirs` in favor of `os.makedirs`
  CHANGELOG.md
  test/transforms/test_to_superpixels.py
  torch_geometric/data/dataset.py
  torch_geometric/data/download.py
  torch_geometric/data/makedirs.py
  torch_geometric/datasets/snap_dataset.py
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/logger.py
  torch_geometric/graphgym/utils/io.py
  torch_geometric/nn/conv/utils/jit.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/models/schnet.py
Labels: 0 - Priority P0, graphgym, refactor, nn, dataset, data

#8426 Adjust `fs.cp` and let `fs.mv` and `fs.glob` return protocols
  CHANGELOG.md
  test/conftest.py
  torch_geometric/data/dataset.py
  torch_geometric/io/fs.py
Labels: feature, 0 - Priority P0, dataset, data

#8429 Revert master change by accident
  test/nn/models/test_node2vec.py
Labels: 0 - Priority P0, skip-changelog

#8430 Do not modify `node_offsets` in-place
  torch_geometric/data/data.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#8015 [Documentation] Tutorial on Point Cloud Processing
  CHANGELOG.md
  docs/source/_figures/point_cloud1.png
  docs/source/_figures/point_cloud2.png
  docs/source/_figures/point_cloud3.png
  docs/source/_figures/point_cloud4.png
  docs/source/_static/thumbnails/point_cloud.png
  docs/source/conf.py
  docs/source/tutorial/application.rst
  docs/source/tutorial/point_cloud.rst
Labels: feature, documentation, 0 - Priority P0

#8431 Add dense computation graph for `AddRandomWalkPE`
  CHANGELOG.md
  torch_geometric/transforms/add_positional_encoding.py
  torch_geometric/utils/loop.py
Labels: feature, 0 - Priority P0, transform, utils

#8434 Fix tests; drop `shutil.rmtree` in favor of `torch_geometric.io`
  CHANGELOG.md
  test/conftest.py
  test/nn/conv/test_gen_conv.py
  torch_geometric/datasets/aminer.py
  torch_geometric/datasets/aqsol.py
  torch_geometric/datasets/attributed_graph_dataset.py
  torch_geometric/datasets/brca_tgca.py
  torch_geometric/datasets/dbp15k.py
  torch_geometric/datasets/faust.py
  torch_geometric/datasets/lrgb.py
  torch_geometric/datasets/modelnet.py
  torch_geometric/datasets/movie_lens_100k.py
  torch_geometric/datasets/movie_lens_1m.py
  torch_geometric/datasets/nell.py
  torch_geometric/datasets/neurograph.py
  torch_geometric/datasets/ogb_mag.py
  torch_geometric/datasets/pascal.py
  torch_geometric/datasets/pascal_pf.py
  torch_geometric/datasets/s3dis.py
  torch_geometric/datasets/shapenet.py
  torch_geometric/datasets/willow_object_class.py
  torch_geometric/datasets/zinc.py
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/utils/io.py
Labels: 0 - Priority P0, graphgym, refactor, dataset

#8435 Align `os.path` usage
  graphgym/configs_gen.py
  test/profile/test_profile.py
  torch_geometric/datasets/dgraph.py
  torch_geometric/datasets/neurograph.py
  torch_geometric/datasets/rel_link_pred_dataset.py
  torch_geometric/datasets/sbm_dataset.py
  torch_geometric/distributed/partition.py
  torch_geometric/graphgym/utils/agg_runs.py
  torch_geometric/loader/mixin.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/model_hub.py
  torch_geometric/nn/sequential.py
Labels: 0 - Priority P0, graphgym, refactor, nn, dataset, loader, skip-changelog

#8436 Added `force_reload` option to `Dataset` and `InMemoryDataset` [3/n]
  CHANGELOG.md
  torch_geometric/datasets/ba2motif_dataset.py
  torch_geometric/datasets/bitcoin_otc.py
  torch_geometric/datasets/citation_full.py
  torch_geometric/datasets/coauthor.py
  torch_geometric/datasets/dblp.py
  torch_geometric/datasets/dbp15k.py
  torch_geometric/datasets/deezer_europe.py
  torch_geometric/datasets/dgraph.py
  torch_geometric/datasets/elliptic.py
  torch_geometric/datasets/elliptic_temporal.py
  torch_geometric/datasets/email_eu_core.py
  torch_geometric/datasets/entities.py
  torch_geometric/datasets/facebook.py
  torch_geometric/datasets/flickr.py
  torch_geometric/datasets/freebase.py
  torch_geometric/datasets/gdelt_lite.py
  torch_geometric/datasets/gemsec.py
  torch_geometric/datasets/github.py
  torch_geometric/datasets/heterophilous_graph_dataset.py
  torch_geometric/datasets/hgb_dataset.py
  torch_geometric/datasets/hm.py
  torch_geometric/datasets/hydro_net.py
  torch_geometric/datasets/igmc_dataset.py
  torch_geometric/datasets/imdb.py
  torch_geometric/datasets/jodie.py
  torch_geometric/datasets/last_fm.py
  torch_geometric/datasets/lastfm_asia.py
  torch_geometric/datasets/linkx_dataset.py
  torch_geometric/datasets/mixhop_synthetic_dataset.py
  torch_geometric/datasets/movie_lens.py
  torch_geometric/datasets/movie_lens_100k.py
  torch_geometric/datasets/movie_lens_1m.py
  torch_geometric/datasets/myket.py
  torch_geometric/datasets/nell.py
  torch_geometric/datasets/ogb_mag.py
  torch_geometric/datasets/ose_gvcs.py
  torch_geometric/datasets/planetoid.py
  torch_geometric/datasets/polblogs.py
  torch_geometric/datasets/rcdd.py
  torch_geometric/datasets/reddit.py
  torch_geometric/datasets/reddit2.py
  torch_geometric/datasets/rel_link_pred_dataset.py
  torch_geometric/datasets/sbm_dataset.py
  torch_geometric/datasets/suite_sparse.py
  torch_geometric/datasets/taobao.py
  torch_geometric/datasets/twitch.py
  torch_geometric/datasets/webkb.py
  torch_geometric/datasets/wikics.py
  torch_geometric/datasets/wikidata.py
  torch_geometric/datasets/wikipedia_network.py
  torch_geometric/datasets/word_net.py
  torch_geometric/datasets/yelp.py
Labels: 0 - Priority P0, refactor, dataset

#8440 Fix `CaptumExplainer` in case no `index` is passed
  CHANGELOG.md
  torch_geometric/explain/algorithm/captum.py
  torch_geometric/explain/algorithm/captum_explainer.py
Labels: bug, 0 - Priority P0, explain

#8441 Introduce `EdgeIndex` sub-class
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8442 Introduce `HANDLED_FUNCTIONS` to `EdgeIndex`
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8445 `EdgeIndex` device transfers
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8446 `EdgeIndex` fill cache
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8447 Properly handle data type conversion in `EdgeIndex`
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: 0 - Priority P0, refactor, data, skip-changelog

#8448 Add support for `torch.flip` in `EdgeIndex`
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8450 `EdgeIndex.index_select` and `EdgeIndex.narrow`
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8451 `torch.save` and `torch.load` tests for `EdgeIndex`
  test/data/test_edge_index.py
Labels: feature, 0 - Priority P0, skip-changelog

#8453 Test `EdgeIndex` in `DataLoader` routines
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: 0 - Priority P0, test, data, skip-changelog

#8455 `EdgeIndex.__getitem__` support
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8462 Add `mdformat` as a markdown formatter
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  benchmark/citation/README.md
  benchmark/inference/README.md
  benchmark/kernel/README.md
  benchmark/multi_gpu/training/README.md
  benchmark/points/README.md
  benchmark/training/README.md
  docker/README.md
  docs/README.md
  examples/cpp/README.md
  examples/distributed/graphlearn_for_pytorch/README.md
  examples/kuzu/papers_100M/README.md
Labels: documentation, benchmark, example, skip-changelog

#8461 Add `EdgeIndex` tests for `torch.compile` and `torch.jit.script`; Add `is_torch_instance`
  CHANGELOG.md
  pyproject.toml
  test/data/test_edge_index.py
  test/test_isinstance.py
  torch_geometric/__init__.py
  torch_geometric/isinstance.py
Labels: feature, 0 - Priority P0

#8463 Update markdown for `CHANGELOG.md` and `README.md`
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
Labels: 0 - Priority P0, refactor, skip-changelog

#8464 Fix `CuGraphGATConv` tests
  test/nn/conv/cugraph/test_cugraph_gat_conv.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#8458 Add tests for `io.fs` and fix `fs` edge cases
  test/io/test_fs.py
  torch_geometric/io/fs.py
Labels: bug, 0 - Priority P0, skip-changelog

#8466 Update `io.fs` tests
  test/io/test_fs.py
Labels: 0 - Priority P0, test, skip-changelog

#8469 Add doc-string to `EdgeIndex`
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8476 `EdgeIndex.contiguous()` support
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8471 remove `fullgraph` to fix `cach_size_limit` failure
  examples/compile/gcn.py
  examples/compile/gin.py
Labels: 0 - Priority P0, refactor, example, skip-changelog

#8474 Add `use_cache` option in `fs.cp`
  CHANGELOG.md
  torch_geometric/io/fs.py
Labels: bug, 0 - Priority P0

#8477 `EdgeIndex` conversions
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8478 `EdgeIndex.matmul()` and `EdgeIndex.to_dense()`
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8479 Fix `NaN` handling in `SQLDatabase`
  CHANGELOG.md
  test/data/test_database.py
  torch_geometric/data/database.py
Labels: bug, 0 - Priority P0, data

#8428 Enable edge based temporal sampling in `torch_geometric.distributed`
  CHANGELOG.md
  test/distributed/test_dist_neighbor_sampler.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: feature, 0 - Priority P0, sampler, distributed

#8482 Fix `disjoint` mode to only operate in temporal sampling cases
  torch_geometric/distributed/dist_neighbor_sampler.py
Labels: bug, 0 - Priority P0, skip-changelog, distributed

#8481 Test `EdgeIndex.matmul` backward
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: 0 - Priority P0, test, data, skip-changelog

#8487 Check for `np.ndarray` in `Storage.num_edges`
  torch_geometric/data/storage.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#8483 Update `bug-report.yml`
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: 0 - Priority P0, skip-changelog

#8486 Fix: `LayerConfig.inner_dim` default handling
  torch_geometric/graphgym/models/layer.py
Labels: bug, 0 - Priority P0, graphgym, skip-changelog

#8490 Faster sparse-dense matrix multiplication in `EdgeIndex`
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#8493 `[EdgeIndex]` Do not use `SparseTensor` in CPU `matmul` code path
  torch_geometric/data/edge_index.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#8497 `EdgeIndex.is_sorted` and `torch.sparse.mm` support
  test/data/test_edge_index.py
  torch_geometric/data/edge_index.py
Labels: feature, 0 - Priority P0, data, skip-changelog
