Repository pyg-team/pytorch_geometric, pull requests merged in 2023-08, with the labels that each got.

#7823 Measure test coverage of exceptions
  pyproject.toml
Labels: 0 - Priority P0, test, skip-changelog

#7825 Update contributing documentation to signal that extension packages are optional
  .github/CONTRIBUTING.md
  torch_geometric/datasets/ose_gvcs.py
Labels: 0 - Priority P0, dataset, skip-changelog

#7826 Fix RPC tests on Windows
  test/distributed/test_rpc.py
  torch_geometric/distributed/rpc.py
Labels: bug, 0 - Priority P0, test, skip-changelog, distributed

#7832 Move "Compiled Graph Neural Networks" tutorial to advanced concepts
  docs/source/advanced/compile.rst
  docs/source/index.rst
  docs/source/tutorial/compile.rst
Labels: documentation, 0 - Priority P0, refactor, skip-changelog

#7834 Add tutorial gallery view
  .github/workflows/documentation.yml
  README.md
  docs/requirements.txt
  docs/source/_static/thumbnails/create_dataset.png
  docs/source/_static/thumbnails/create_gnn.svg
  docs/source/_static/thumbnails/explain.png
  docs/source/_static/thumbnails/heterogeneous.png
  docs/source/_static/thumbnails/load_csv.png
  docs/source/conf.py
  docs/source/index.rst
  docs/source/tutorial/application.rst
  docs/source/tutorial/create_dataset.rst
  docs/source/tutorial/dataset.rst
  docs/source/tutorial/explain.rst
  docs/source/tutorial/gnn_design.rst
Labels: documentation, 0 - Priority P0, refactor, skip-changelog

#7835 Replace image in gallery view
  docs/source/_static/thumbnails/create_gnn.png
  docs/source/_static/thumbnails/create_gnn.svg
  docs/source/conf.py
Labels: documentation, 0 - Priority P0, refactor, skip-changelog

#7829 Add possibility to use main device memory for storing embeddings
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
Labels: feature, 1 - Priority P1, benchmark

#7839 Fix typo in documentation
  torch_geometric/data/graph_store.py
Labels: 0 - Priority P0, data, skip-changelog

#7836 Build PyG 2.3.1 for conda
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  docs/source/install/quick-start.html
Labels: installation, documentation, 0 - Priority P0, skip-changelog

#7841 Update thumbnail images
  docs/source/_static/thumbnails/create_dataset.png
  docs/source/_static/thumbnails/create_gnn.png
  docs/source/_static/thumbnails/explain.png
  docs/source/_static/thumbnails/heterogeneous.png
Labels: documentation, 0 - Priority P0, refactor, skip-changelog

#7842 Add `faiss`-based `KNNIndex` classes
  .github/actions/setup/action.yml
  CHANGELOG.md
  test/nn/pool/test_knn.py
  torch_geometric/nn/pool/__init__.py
  torch_geometric/nn/pool/knn.py
Labels: feature, 0 - Priority P0, nn

#7843 Fix unused argument `to_undirected` in `read_npz`
  torch_geometric/io/npz.py
Labels: bug, 0 - Priority P0, dataset, skip-changelog

#7765 `CUDF` for `bipartite_subgraph`
  CHANGELOG.md
  test/utils/test_subgraph.py
  torch_geometric/utils/subgraph.py
Labels: 0 - Priority P0, refactor, utils

#7764 Utilize `cudf` for `relabel_nodes` pathway in `utils.subgraph`
  CHANGELOG.md
  test/utils/test_subgraph.py
  torch_geometric/utils/subgraph.py
Labels: 0 - Priority P0, refactor, utils

#7711 Add Apple Silicon GPU Acceleration Benchmark
  CHANGELOG.md
  benchmark/citation/train_eval.py
  benchmark/kernel/main_performance.py
  benchmark/kernel/train_eval.py
  benchmark/points/train_eval.py
  benchmark/runtime/dgl/main.py
  benchmark/runtime/dgl/train.py
  benchmark/runtime/main.py
  benchmark/runtime/train.py
  benchmark/training/training_benchmark.py
Labels: feature, 0 - Priority P0, benchmark

#7725 Measure time per epoch in some examples
  examples/autoencoder.py
  examples/cluster_gcn_ppi.py
  examples/cluster_gcn_reddit.py
  examples/gat.py
  examples/gcn.py
  examples/gcn2_cora.py
  examples/gcn2_ppi.py
  examples/geniepath.py
  examples/glnn.py
  examples/graph_sage_unsup.py
  examples/graph_sage_unsup_ppi.py
  examples/mem_pool.py
  examples/ppi.py
  examples/proteins_diff_pool.py
  examples/proteins_dmon_pool.py
  examples/proteins_gmt.py
  examples/proteins_mincut_pool.py
  examples/reddit.py
  examples/renet.py
  examples/rev_gnn.py
  examples/rgat.py
  examples/rgcn.py
  examples/rgcn_link_pred.py
  examples/seal_link_pred.py
  examples/super_gat.py
Labels: 0 - Priority P0, benchmark, example, skip-changelog

#7644 Clean-up `TGN` example
  CHANGELOG.md
  examples/tgn.py
  test/nn/models/test_tgn.py
  torch_geometric/loader/temporal_dataloader.py
Labels: example, loader

#7402 Add GraphLearn-for-PyTorch(GLT) distributed examples
  CHANGELOG.md
  examples/distributed/graphlearn_for_pytorch/README.md
  examples/distributed/graphlearn_for_pytorch/dist_train_sage_sup_config.yml
  examples/distributed/graphlearn_for_pytorch/dist_train_sage_supervised.py
  examples/distributed/graphlearn_for_pytorch/launch.py
  examples/distributed/graphlearn_for_pytorch/partition_ogbn_dataset.py
Labels: feature, 0 - Priority P0, example

#7851 Add `batch_size` argument to `unbatch` functionalities
  CHANGELOG.md
  torch_geometric/utils/unbatch.py
Labels: bug, 0 - Priority P0, utils

#7853 Fix `ONNX` test on PyTorch nightly
  test/nn/models/test_basic_gnn.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#7715 Add distributed feature info for distributed training
  CHANGELOG.md
  test/distributed/test_rpc.py
  torch_geometric/data/hetero_data.py
  torch_geometric/distributed/local_feature_store.py
  torch_geometric/distributed/local_graph_store.py
  torch_geometric/distributed/rpc.py
  torch_geometric/typing.py
Labels: feature, 0 - Priority P0, distributed

#7865 `BasicGNN.jittable()` support
  CHANGELOG.md
  test/nn/models/test_basic_gnn.py
  test/nn/test_model_summary.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/nn/models/linkx.py
  torch_geometric/nn/models/rect.py
  torch_geometric/utils/trim_to_layer.py
Labels: feature, 0 - Priority P0, nn, utils

#7857 [Code Coverage] `loader/utils.py`
  test/loader/test_utils.py
  torch_geometric/loader/utils.py
Labels: 1 - Priority P1, test, loader, skip-changelog

#7867 Add smiles string to `QM9` dataset
  CHANGELOG.md
  torch_geometric/datasets/qm9.py
Labels: feature, 0 - Priority P0, dataset

#7872 Fix typos in `pyproject.toml`
  codecov.yml
  pyproject.toml
Labels: bug, installation, 0 - Priority P0, skip-changelog

#7878 Fix broken `RECT` and `LINKX` tests
  test/nn/models/test_linkx.py
  test/nn/models/test_rect.py
Labels: bug, 0 - Priority P0, test, loader, skip-changelog

#7822 Multi-GPU Taobao example
  examples/multi_gpu/taobao_multigpu_large.py
Labels: feature, 1 - Priority P1, example

#7884 Fix `model_summary` on modules with uninitialized parameters
  CHANGELOG.md
  test/nn/test_model_summary.py
  torch_geometric/nn/summary.py
Labels: bug, 0 - Priority P0, nn

#7889 Add note for broken URLs in `ShapeNet` and `S3DIS`
  torch_geometric/datasets/s3dis.py
  torch_geometric/datasets/shapenet.py
Labels: feature, 0 - Priority P0, dataset, skip-changelog

#7864 `Wikidata5M` dataset
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/wikidata.py
Labels: feature, 0 - Priority P0, dataset

#7827 Added `HalfHop` graph upsampling augmentation
  CHANGELOG.md
  test/transforms/test_half_hop.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/half_hop.py
Labels: feature, 1 - Priority P1, transform

#7895 Add nightly GPU tests
  .github/actions/setup/action.yml
  .github/workflows/full_gpu_testing.yml
  .github/workflows/full_testing.yml
  CHANGELOG.md
  test/nn/conv/test_gen_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/transforms/half_hop.py
  torch_geometric/typing.py
Labels: installation, feature, 0 - Priority P0, nn, transform

#7888 Enable sorted recommendations in `LightGCN` model
  torch_geometric/nn/models/lightgcn.py
Labels: feature, 0 - Priority P0, nn, skip-changelog

#7820 [Explain] Clarify target usage for `CaptumExplainer`
  test/explain/algorithm/test_captum_explainer.py
  torch_geometric/explain/algorithm/captum_explainer.py
  torch_geometric/explain/explainer.py
Labels: bug, 0 - Priority P0, explain, skip-changelog

#7902 Fix `NaN` issue in `SetTransformerAggregation`
  CHANGELOG.md
  test/nn/aggr/test_set_transformer.py
  torch_geometric/nn/aggr/set_transformer.py
Labels: bug, 0 - Priority P0, nn

#7908 Fix to_cugraph and from_cugraph tests in test_convert
  test/utils/test_convert.py
  torch_geometric/utils/convert.py
Labels: feature, 0 - Priority P0, skip-changelog, utils

#7907 Fix broken URLs in `HGBDataset`
  CHANGELOG.md
  torch_geometric/datasets/hgb_dataset.py
Labels: bug, 0 - Priority P0, dataset

#7910 using global node ids for partitioned graph's row/col
  torch_geometric/distributed/partition.py
Labels: 0 - Priority P0, refactor, skip-changelog, distributed

#7911 Fix `ReferenceError: weakly-referenced object no longer exists` from PyTorch nightly
  test/transforms/test_rooted_subgraph.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#7915 Allow floating-point slicing in `Dataset`
  CHANGELOG.md
  test/datasets/test_enzymes.py
  torch_geometric/data/dataset.py
Labels: feature, 0 - Priority P0, data

#7918 Add support for XPU device in `PrefetchLoader`
  CHANGELOG.md
  torch_geometric/loader/prefetch.py
  torch_geometric/typing.py
Labels: feature, 0 - Priority P0, loader

#7922 Add GPU information to GPU runner
  .github/workflows/full_gpu_testing.yml
Labels: installation, feature, 0 - Priority P0, skip-changelog

#7923 Fix `bias_initializer` in `HeteroLinear`
  CHANGELOG.md
  test/nn/dense/test_linear.py
  torch_geometric/nn/dense/linear.py
Labels: bug, 0 - Priority P0, nn

#7924 [Test] PyTorch 2.1 supports gradients on CSR matrices
  test/nn/conv/test_gcn_conv.py
  test/nn/models/test_rev_gnn.py
  test/utils/test_sparse.py
  torch_geometric/data/collate.py
  torch_geometric/loader/utils.py
  torch_geometric/nn/models/rev_gnn.py
  torch_geometric/typing.py
  torch_geometric/utils/spmm.py
Labels: 0 - Priority P0, test, nn, loader, data, skip-changelog, utils

#7927 Added a test with `to_hetero` for `Sequential` models
  test/nn/test_sequential.py
Labels: 0 - Priority P0, test, skip-changelog

#7779 Moved `GraphMaskExplainer` to `torch_geometric.explain`
  CHANGELOG.md
  examples/explain/graphmask_explainer.py
  test/contrib/explain/test_graphmask_explainer.py
  test/explain/algorithm/test_graphmask_explainer.py
  torch_geometric/contrib/explain/__init__.py
  torch_geometric/explain/algorithm/__init__.py
  torch_geometric/explain/algorithm/graphmask_explainer.py
Labels: 1 - Priority P1, refactor, explain

#7940 Fix broken link in documentation
  torch_geometric/contrib/explain/__init__.py
  torch_geometric/explain/algorithm/graphmask_explainer.py
Labels: bug, 0 - Priority P0, explain, skip-changelog, contrib

#7941 Fix `from_networkx` conversion from `nx.stochastic_block_model` graphs
  CHANGELOG.md
  test/utils/test_convert.py
  torch_geometric/utils/convert.py
Labels: bug, 0 - Priority P0, utils

#7939 Drop Python 3.7 support
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  CHANGELOG.md
  README.md
  docs/source/install/installation.rst
  torch_geometric/datasets/hydro_net.py
  torch_geometric/io/planetoid.py
Labels: documentation, refactor, dataset

#7925 Add possibility to run training benchmarks on XPU device
  CHANGELOG.md
  benchmark/training/training_benchmark.py
Labels: feature, 0 - Priority P0, benchmark

#7943 Check that local `edge_label_index` maps to global `edge_label_index` in `LinkNeighborLoader`
  test/loader/test_link_neighbor_loader.py
Labels: 0 - Priority P0, test, skip-changelog

#7944 Test for zero graph breaks on CUDA
  test/nn/models/test_basic_gnn.py
Labels: 0 - Priority P0, test, skip-changelog

#7896 Improve inference loop on GPU devices
  CHANGELOG.md
  test/loader/test_cache.py
  test/nn/models/test_basic_gnn.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/cache.py
  torch_geometric/nn/models/basic_gnn.py
Labels: feature, nn, loader

#7947 Update graph break tests
  test/nn/models/test_basic_gnn.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#7948 Add `group_argsort` implementation
  CHANGELOG.md
  test/utils/test_scatter.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/scatter.py
Labels: feature, 0 - Priority P0, utils

#7950 Catch any `numba` import error
  torch_geometric/utils/ppr.py
Labels: bug, 0 - Priority P0, skip-changelog, utils

#7953 Account for unsorted inputs when computing `e_id` in `NeighborSampler`
  CHANGELOG.md
  test/explain/algorithm/test_graphmask_explainer.py
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/node_loader.py
Labels: bug, 0 - Priority P0, loader

#7954 Clean-up `papers100M` example
  examples/ogbn_papers_100m.py
Labels: 0 - Priority P0, refactor, example, skip-changelog

#7956 Fix errors in benchmarks
  CHANGELOG.md
  benchmark/training/training_benchmark.py
  benchmark/utils/hetero_gat.py
  benchmark/utils/hetero_sage.py
Labels: bug, benchmark
