Repository pyg-team/pytorch_geometric, pull requests merged in 2024-10, with the labels that each got.

#9686 Fix g-retriever example
  examples/llm/g_retriever.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#9696 Drop support for Python 3.8
  .github/actions/setup/action.yml
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  .github/workflows/full_testing.yml
  .github/workflows/nightly.yml
  .github/workflows/testing.yml
  CHANGELOG.md
  README.md
  docs/requirements.txt
  docs/source/install/installation.rst
  pyproject.toml
  readthedocs.yml
  torch_geometric/distributed/partition.py
Labels: installation, documentation, 0 - Priority P0, distributed

#9702 Build PyG 2.6 for conda
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  conda/pyg/build_conda.sh
  conda/pyg/meta.yaml
  conda/pytorch-geometric/build_conda.sh
  conda/pytorch-geometric/meta.yaml
Labels: installation, 0 - Priority P0, skip-changelog

#9690 Auto-document type hints
  docs/source/conf.py
  docs/source/modules/root.rst
  torch_geometric/_compile.py
  torch_geometric/datasets/actor.py
  torch_geometric/datasets/airfrans.py
  torch_geometric/datasets/airports.py
  torch_geometric/datasets/amazon.py
  torch_geometric/datasets/amazon_book.py
  torch_geometric/datasets/amazon_products.py
  torch_geometric/datasets/aminer.py
  torch_geometric/datasets/aqsol.py
  torch_geometric/datasets/attributed_graph_dataset.py
  torch_geometric/datasets/ba_multi_shapes.py
  torch_geometric/datasets/ba_shapes.py
Labels: feature, documentation, 1 - Priority P1, dataset, skip-changelog

#9467 Consolidate `ogbn-papers100M` and `ogbn-products` examples and increase test acc to 61.76%
  CHANGELOG.md
  README.md
  examples/README.md
  examples/ogbn_papers_100m.py
  examples/ogbn_products_gat.py
  examples/ogbn_products_sage.py
  examples/ogbn_train.py
  torch_geometric/loader/neighbor_sampler.py
Labels: feature, 0 - Priority P0, refactor, example

#9705 Fix documentation for `torch_geometric._compile`
  docs/source/modules/root.rst
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#9707 [UserWarning] Addressing the TorchScript warning in `RGCNConv`
  torch_geometric/nn/conv/rgcn_conv.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#9718 Upgrade `networkx` dependency
  torch_geometric/config_mixin.py
  torch_geometric/metrics/link_pred.py
  torch_geometric/transforms/add_positional_encoding.py
  torch_geometric/transforms/mask.py
  torch_geometric/visualization/graph.py
Labels: bug, installation, 0 - Priority P0, transform, skip-changelog

#9735 [FIX] Typo on `SetTransformerAggregation` docstring/docs
  torch_geometric/nn/aggr/set_transformer.py
Labels: bug, 0 - Priority P0, skip-changelog

#9737 [ENH] Allow users to pass `edge_weight` to `GraphUNet` model
  CHANGELOG.md
  torch_geometric/nn/models/graph_unet.py
Labels: feature, 0 - Priority P0, nn

#9722 Add no PCST option in `WebQSPDataset`
  CHANGELOG.md
  torch_geometric/datasets/web_qsp_dataset.py
Labels: feature, 0 - Priority P0, dataset

#9747 Resolve `type_repr` function bug for objects missing `_name` attribute.
  torch_geometric/inspector.py
Labels: bug, 0 - Priority P0, skip-changelog

#9752 Replace numpy math factorial function with standard math module
  torch_geometric/nn/models/dimenet_utils.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#9742 Add extra condition to `GraphUNet` edge weights assert
  torch_geometric/nn/models/graph_unet.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog
