Repository pyg-team/pytorch_geometric, pull requests merged in 2024-09, with the labels that each got.

#9627 Added the `ClusterPooling` layer
  CHANGELOG.md
  test/nn/pool/test_cluster_pool.py
  torch_geometric/nn/pool/__init__.py
  torch_geometric/nn/pool/cluster_pool.py
  torch_geometric/nn/pool/edge_pool.py
Labels: feature, 0 - Priority P0

#9480 Add `nn.models.GRetriever`
  CHANGELOG.md
  test/nn/models/test_g_retriever.py
  test/nn/nlp/test_llm.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/g_retriever.py
  torch_geometric/nn/nlp/llm.py
Labels: feature, 0 - Priority P0, nn

#9481 Add `WebQSPDataset`
  CHANGELOG.md
  test/nn/nlp/test_sentence_transformer.py
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/web_qsp_dataset.py
  torch_geometric/nn/nlp/sentence_transformer.py
Labels: feature, 0 - Priority P0, nn, dataset

#9167 Add G-retriever (GNN+LLM) example
  CHANGELOG.md
  examples/llm/README.md
  examples/llm/g_retriever.py
  torch_geometric/nn/models/g_retriever.py
  torch_geometric/nn/nlp/llm.py
Labels: nn, example

#9656 Version bump to `torch-geometric==2.7.0`
  CHANGELOG.md
  pyproject.toml
  torch_geometric/__init__.py
  torch_geometric/edge_index.py
  torch_geometric/index.py
Labels: installation, 0 - Priority P0, skip-changelog

#9667 Fix docs build in CI
  docs/source/conf.py
Labels: documentation, skip-changelog

#9668 Make `ConfigMixin.from_config` no-op if dataclass resolution is unnecessary
  torch_geometric/config_mixin.py
Labels: bug, 0 - Priority P0, skip-changelog

#9665 Fix for empty `pd.DataFrame` in `WebQSPDataset`
  CHANGELOG.md
  torch_geometric/datasets/web_qsp_dataset.py
Labels: bug, 0 - Priority P0, dataset

#9550 Add args to Taobao multi-GPU example and move item-item compute to dataset
  CHANGELOG.md
  examples/multi_gpu/taobao.py
Labels: feature, 0 - Priority P0, example

#9674 [FutureWarning] Addressing the warning related to use of a deprecated function.
  torch_geometric/nn/nlp/llm.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#9676 fix a typo in explainability docs
  docs/source/modules/explain.rst
Labels: documentation, 0 - Priority P0, skip-changelog
