Repository pyg-team/pytorch_geometric, pull requests merged in 2024-03, with the labels that each got.

#8999 Fix metaclass conflict in `Dataset`
  CHANGELOG.md
  torch_geometric/data/dataset.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/metrics/link_pred.py
  torch_geometric/nn/models/rev_gnn.py
Labels: bug, 0 - Priority P0, nn, data

#9002 fix(data): make `FeatureStore` and `GraphStore` proper abstract base classes
  torch_geometric/data/feature_store.py
  torch_geometric/data/graph_store.py
  torch_geometric/datasets/entities.py
Labels: bug, 0 - Priority P0, dataset, data, skip-changelog

#9006 Drop `__len__` from required `FeatureStore` interface
  torch_geometric/data/feature_store.py
  torch_geometric/testing/feature_store.py
Labels: bug, 0 - Priority P0, data

#9007 Support `torch.compile` with `EdgeIndex`
  CHANGELOG.md
  test/nn/test_compile_conv.py
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: feature, 0 - Priority P0

#9008 Added `EdgeIndex` support in `MessagePassing`
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  test/test_edge_index.py
  torch_geometric/edge_index.py
  torch_geometric/nn/conv/collect.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/utils/_trim_to_layer.py
Labels: feature, 0 - Priority P0, nn, utils

#9009 Only use `segment` in case `torch.use_deterministic_algorithms` is set
  CHANGELOG.md
  test/nn/aggr/test_attention.py
  test/nn/aggr/test_basic.py
  test/nn/aggr/test_multi.py
  test/nn/models/test_basic_gnn.py
  test/utils/test_softmax.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/utils/_segment.py
  torch_geometric/utils/_softmax.py
  torch_geometric/utils/loop.py
Labels: feature, 0 - Priority P0, nn, utils

#9019 Distributed `launch.py` kill procs at exit
  examples/distributed/pyg/launch.py
  examples/distributed/pyg/run_dist.sh
Labels: feature, example

#9020 Fix macOS ARM tests
  test/loader/test_dataloader.py
  test/test_edge_index.py
  torch_geometric/edge_index.py
  torch_geometric/transforms/add_positional_encoding.py
  torch_geometric/typing.py
Labels: bug, 0 - Priority P0, test, transform, skip-changelog

#9021 Remove filtering of node/edge types in `trim_to_layer`
  CHANGELOG.md
  test/utils/test_trim_to_layer.py
  torch_geometric/utils/_trim_to_layer.py
Labels: bug, 0 - Priority P0, utils

#9027 Fix MKL issue on Windows
  test/test_edge_index.py
  torch_geometric/edge_index.py
  torch_geometric/transforms/add_positional_encoding.py
  torch_geometric/typing.py
Labels: bug, 0 - Priority P0, transform, skip-changelog

#9031 Added information on how to pin conda install to CUDA version
  README.md
  docs/requirements.txt
  docs/source/index.rst
  docs/source/install/installation.rst
Labels: installation, documentation, 0 - Priority P0, skip-changelog

#9032 `[MessagePassing]` Fix `OSError` on read-only file systems
  CHANGELOG.md
  torch_geometric/inspector.py
  torch_geometric/nn/conv/message_passing.py
Labels: bug, 0 - Priority P0, nn

#9033 Introduce `withMETIS` decorator
  test/distributed/test_dist_link_neighbor_loader.py
  test/distributed/test_dist_link_neighbor_sampler.py
  test/distributed/test_dist_neighbor_loader.py
  test/distributed/test_dist_neighbor_sampler.py
  test/distributed/test_partition.py
  test/loader/test_cluster.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#9024 feat(pyproject.toml): update & sort
  pyproject.toml
Labels: installation, 0 - Priority P0, skip-changelog

#9042 Fix `Aggregation` class names in documentation
  torch_geometric/nn/aggr/gru.py
  torch_geometric/nn/aggr/mlp.py
Labels: bug, 0 - Priority P0, nn

#9043 [Test] Create `EdgeIndex` inside `torch.compile` routine
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: bug, 0 - Priority P0

#9044 Ignore `self.propagate` appearances in comments when parsing `MessagePassing`
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  torch_geometric/inspector.py
Labels: bug, 0 - Priority P0

#9046 Reserve memory option in `ApproxKNN`
  CHANGELOG.md
  test/nn/pool/test_knn.py
  torch_geometric/nn/pool/knn.py
Labels: feature, 0 - Priority P0, nn

#9026 Support `EdgeIndex` in `spmm`
  CHANGELOG.md
  test/utils/test_spmm.py
  torch_geometric/utils/_spmm.py
Labels: utils

#8978 Improved distributed tests
  CHANGELOG.md
  test/distributed/test_dist_link_neighbor_loader.py
  test/distributed/test_dist_link_neighbor_sampler.py
  test/distributed/test_dist_neighbor_loader.py
  test/distributed/test_dist_neighbor_sampler.py
  torch_geometric/testing/distributed.py
Labels: feature, 0 - Priority P0, test

#9029 Add `group_cat` functionality
  CHANGELOG.md
  test/utils/test_scatter.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/_scatter.py
Labels: feature, 1 - Priority P1, utils

#9049 Fix type hints in `group_cat`
  torch_geometric/utils/_scatter.py
Labels: bug, 0 - Priority P0, utils

#9051 PyG 2.5.1 conda build
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
  pyproject.toml
  torch_geometric/__init__.py
Labels: installation, 0 - Priority P0, skip-changelog

#9052 Fix `MAG240M` example
  examples/multi_gpu/mag240m_graphsage.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#9053 Drop `import torch.mps` in benchmark
  benchmark/citation/train_eval.py
  benchmark/kernel/train_eval.py
  benchmark/points/train_eval.py
  benchmark/runtime/dgl/train.py
  benchmark/runtime/train.py
Labels: bug, 0 - Priority P0, benchmark, skip-changelog

#9057 Update typo in doc-string
  torch_geometric/nn/aggr/base.py
Labels: bug, documentation, 0 - Priority P0, nn, skip-changelog

#9066 Update `@withMETIS` decorator to test against `torch-sparse`
  torch_geometric/testing/decorators.py
Labels: bug, 0 - Priority P0, test

#9068 Raise error in case `inspect.get_source` is not supported
  torch_geometric/inspector.py
Labels: bug, 0 - Priority P0, skip-changelog

#9071 Add M1 macOS runner
  .github/actions/setup/action.yml
  .github/workflows/full_testing.yml
  .github/workflows/testing.yml
  test/graphgym/test_graphgym.py
Labels: installation, feature, 0 - Priority P0, skip-changelog

#9080 Enable `pyg-lib` installation for macOS Apple Silicon
  .github/actions/setup/action.yml
Labels: installation, feature, 0 - Priority P0

#9078 Build PyG 2.5.2 for conda
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
Labels: installation, 0 - Priority P0

#9079 Prevent model compilation on custom `propagate` functions
  CHANGELOG.md
  torch_geometric/nn/conv/message_passing.py
Labels: bug, 0 - Priority P0, nn

#9082 Replace `withCUDA` decorator: `withDevice`
  test/loader/test_cache.py
  test/loader/test_dataloader.py
  test/nn/conv/test_gat_conv.py
  test/nn/conv/test_hetero_conv.py
  test/nn/conv/test_rgcn_conv.py
  test/nn/conv/test_sage_conv.py
  test/nn/dense/test_linear.py
  test/nn/models/test_basic_gnn.py
  test/nn/models/test_deep_graph_infomax.py
  test/nn/models/test_metapath2vec.py
  test/nn/models/test_node2vec.py
  test/nn/norm/test_batch_norm.py
  test/nn/norm/test_layer_norm.py
  test/nn/pool/test_knn.py
  test/nn/test_compile_basic.py
  test/nn/test_compile_conv.py
  test/nn/test_compile_dynamic.py
  test/nn/test_encoding.py
  test/profile/test_profile.py
  test/profile/test_profiler.py
  test/transforms/test_to_device.py
  test/utils/test_index_sort.py
  test/utils/test_map.py
  test/utils/test_scatter.py
  test/utils/test_subgraph.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
  torch_geometric/utils/map.py
Labels: feature, test, skip-changelog, utils

#9073 Custom `from_smiles` function in `PCQM4Mv2` and `MoleculeNet`
  CHANGELOG.md
  test/nn/pool/test_knn.py
  torch_geometric/datasets/molecule_net.py
  torch_geometric/datasets/pcqm4m.py
Labels: feature, 1 - Priority P1, dataset

#9098 Fix broken full test suite
  test/distributed/test_dist_neighbor_loader.py
  test/nn/aggr/test_attention.py
  test/nn/aggr/test_basic.py
  test/nn/aggr/test_multi.py
  test/test_edge_index.py
  test/utils/test_segment.py
Labels: bug, 0 - Priority P0, test

#9075 Added variance-preserving Aggregation
  CHANGELOG.md
  test/nn/aggr/test_variance_preserving.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/variance_preserving.py
  torch_geometric/utils/_scatter.py
Labels: feature, 0 - Priority P0, nn, utils

#9076 add warnings when `radius` or `radius_graph` are called on CPU with `max_num_neighbors`
  torch_geometric/nn/pool/__init__.py
Labels: documentation, 0 - Priority P0, nn, skip-changelog

#9099 Allow mini-batching of uncoalesced sparse matrices
  CHANGELOG.md
  test/loader/test_dataloader.py
  torch_geometric/utils/sparse.py
Labels: utils

#9100 Fix `ModelHub` tests
  test/nn/test_model_hub.py
Labels: bug, 0 - Priority P0, test

#9101 Fix macOS test for `VariancePreservingAggregation`
  test/nn/aggr/test_variance_preserving.py
Labels: bug, 0 - Priority P0, test

#9102 Allow `None` outputs in `FeatureStore`
  CHANGELOG.md
  torch_geometric/data/feature_store.py
  torch_geometric/testing/feature_store.py
Labels: 0 - Priority P0, data

#9105 Ensure backward compatibility in `MessagePassing` via `torch.load`
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/message_passing.py
Labels: nn

#9113 Chang SGDClassifier loss from 'log' to 'log_loss'
  examples/graph_sage_unsup_ppi.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#9119 Fix `GNNBenchmarkDataset` dataset statistics
  torch_geometric/datasets/gnn_benchmark_dataset.py
Labels: bug, documentation, 0 - Priority P0, dataset, skip-changelog

#9116 Add `reduce` argument to `nn.pool.pool.pool_edge`
  torch_geometric/nn/pool/pool.py
Labels: feature, 1 - Priority P1, nn, skip-changelog

#9122 Fix broken master tests
  test/datasets/test_explainer_dataset.py
  test/distributed/test_dist_neighbor_loader.py
  test/nn/aggr/test_basic.py
Labels: bug, 0 - Priority P0, test, skip-changelog
