Repository pyg-team/pytorch_geometric, pull requests merged in 2024-05, with the labels that each got.

#9267 Add temporal leakage test
  test/loader/test_neighbor_loader.py
Labels: 0 - Priority P0, test

#9269 Fix `map_annotation` when annotation is `{list,dict}` instead of `typing.{List,Dict}`
  test/test_config_store.py
  torch_geometric/config_store.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: bug, 0 - Priority P0

#9270 Fix `mypy`
  torch_geometric/config_store.py
Labels: bug, 0 - Priority P0, skip-changelog

#9271 Add `EdgeIndex.to_vector()`
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: feature, 0 - Priority P0, skip-changelog

#9246 Fix `test_profiler`
  test/profile/test_profiler.py
  torch_geometric/profile/profiler.py
Labels: bug, 0 - Priority P0, benchmark, skip-changelog

#9272 Remove warnings and remove old PyTorch test filters
  .github/workflows/full_testing.yml
  test/data/test_batch.py
  test/data/test_graph_store.py
  test/nn/conv/test_heat_conv.py
  test/nn/conv/test_hgt_conv.py
  test/nn/conv/test_message_passing.py
  test/nn/conv/test_rgcn_conv.py
  test/nn/dense/test_linear.py
  test/nn/models/test_basic_gnn.py
  test/nn/models/test_graph_unet.py
  test/nn/pool/test_asap.py
  test/nn/test_to_hetero_module.py
  test/nn/test_to_hetero_transformer.py
  test/test_edge_index.py
  test/transforms/test_feature_propagation.py
  test/transforms/test_sign.py
  test/utils/test_nested.py
  test/utils/test_scatter.py
  test/utils/test_sparse.py
  test/utils/test_spmm.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/dense/linear.py
Labels: 1 - Priority P1, test, nn, skip-changelog

#9273 Fix broken master
  .github/actions/setup/action.yml
  test/nn/models/test_basic_gnn.py
Labels: bug, 0 - Priority P0, skip-changelog

#9275 Move common utils out of `EdgeIndex`
  test/test_edge_index.py
  test/utils/test_segment.py
  torch_geometric/data/graph_store.py
  torch_geometric/edge_index.py
  torch_geometric/index.py
  torch_geometric/loader/cluster.py
  torch_geometric/nn/conv/collect.jinja
  torch_geometric/nn/conv/fused_gat_conv.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/nn/models/metapath2vec.py
  torch_geometric/nn/models/node2vec.py
  torch_geometric/sampler/utils.py
  torch_geometric/typing.py
  torch_geometric/utils/sparse.py
Labels: 0 - Priority P0, refactor, nn, loader, data, skip-changelog, utils, sampler

#9276 Introduce `torch_geometric.Index`
  CHANGELOG.md
  test/test_edge_index.py
  torch_geometric/edge_index.py
  torch_geometric/index.py
Labels: feature, 0 - Priority P0

#9278 Add `validate()` and `fill_cache_()` to `torch_geometric.Index`
  CHANGELOG.md
  test/test_index.py
  torch_geometric/index.py
Labels: feature, 0 - Priority P0

#9279 Add `torch_geometric.Index.dim_resize_()`
  CHANGELOG.md
  test/test_edge_index.py
  test/test_index.py
  torch_geometric/edge_index.py
  torch_geometric/index.py
Labels: feature, 0 - Priority P0

#9281 Add `Index.sort()`
  CHANGELOG.md
  test/test_index.py
  torch_geometric/index.py
Labels: feature, 0 - Priority P0

#9284 Add `torch.cat` support for `torch_geometric.Index`
  CHANGELOG.md
  test/test_index.py
  torch_geometric/edge_index.py
  torch_geometric/index.py
Labels: feature, 0 - Priority P0

#9286 Add `Index.index_select()`
  CHANGELOG.md
  test/test_index.py
  torch_geometric/index.py
Labels: feature, 0 - Priority P0

#9287 Add `Index.narrow()`
  CHANGELOG.md
  test/test_index.py
  torch_geometric/index.py
Labels: feature, 0 - Priority P0

#9288 Add `Index[...]` support
  CHANGELOG.md
  test/test_index.py
  torch_geometric/edge_index.py
  torch_geometric/index.py
Labels: feature, 0 - Priority P0

#9289 Add `Index.add` and `Index.sub`
  CHANGELOG.md
  test/test_edge_index.py
  test/test_index.py
  torch_geometric/index.py
Labels: feature, 0 - Priority P0

#9290 Add more `EdgeIndex` tests
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: 0 - Priority P0, test, skip-changelog

#9291 Support `EdgeIndex.sparse_narrow` for non-sorted edge indices
  CHANGELOG.md
  test/test_edge_index.py
  test/test_index.py
  torch_geometric/edge_index.py
Labels: bug, 0 - Priority P0

#9293 Integrate `Index` into common data utils
  test/data/test_batch.py
  test/data/test_database.py
  test/data/test_dataset.py
  test/loader/test_dataloader.py
  torch_geometric/data/collate.py
  torch_geometric/data/data.py
  torch_geometric/data/database.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/separate.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#9295 Fix `dtype` conversion for `Index|EdgeIndex` in multi-process `DataLoader`
  test/loader/test_dataloader.py
  torch_geometric/edge_index.py
  torch_geometric/index.py
Labels: bug, 0 - Priority P0

#9297 Add documentation to `torch_geometric.Index`
  CHANGELOG.md
  docs/source/modules/root.rst
  torch_geometric/edge_index.py
  torch_geometric/index.py
Labels: feature, documentation, 0 - Priority P0

#9298 Support `EdgeIndex.unbind`
  CHANGELOG.md
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: feature, 0 - Priority P0

#9300 Support `pin_memory` in tensor subclasses
  test/test_edge_index.py
  test/test_index.py
  torch_geometric/edge_index.py
  torch_geometric/index.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: feature, 0 - Priority P0, skip-changelog

#9314 Fix `test_profiler` on PyTorch nightly
  test/profile/test_profiler.py
  torch_geometric/typing.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#9316 Separate source and destination weight in negative sampling
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: bug, 0 - Priority P0, sampler

#9317 Correctly batch sparse tensors saved via `data.edge_index`
  CHANGELOG.md
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
Labels: data, sampler

#9318 Skip zero atom molecules in `MoleculeNet`
  CHANGELOG.md
  torch_geometric/datasets/molecule_net.py
Labels: bug, 0 - Priority P0, dataset

#9343 Fix `fsspec.mv` on Windows
  torch_geometric/io/fs.py
Labels: bug, 0 - Priority P0, dataset, skip-changelog

#9334 Fix and add missing syntax highlighting for code blocks in documentation
  docs/source/tutorial/distributed_pyg.rst
  torch_geometric/data/lightning/datamodule.py
  torch_geometric/distributed/partition.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/transforms/node_property_split.py
  torch_geometric/transforms/pad.py
  torch_geometric/transforms/random_link_split.py
Labels: documentation, nn, data, transform, skip-changelog, distributed

#9350 GNN+LLM example (part 1)
  CHANGELOG.md
  examples/README.md
  examples/llm/README.md
  test/nn/nlp/test_sentence_transformer.py
  torch_geometric/nn/nlp/__init__.py
  torch_geometric/nn/nlp/sentence_transformer.py
Labels: feature, 0 - Priority P0, nn, example

#9360 Fix `GATConv` documentation
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/models/lightgcn.py
Labels: bug, 0 - Priority P0, nn

#9362 Fix `SentenceTransformer` test
  test/nn/nlp/test_sentence_transformer.py
Labels: bug, 0 - Priority P0, test

#9368 Fix `pickle.load` in combination with `torch.jit.script` for `MessagePassing` modules
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/message_passing.py
Labels: bug, 0 - Priority P0, nn

#9369 Refactor `Sequential`: Allow pickling
  CHANGELOG.md
  test/nn/test_sequential.py
  torch_geometric/nn/sequential.jinja
  torch_geometric/nn/sequential.py
Labels: bug, 0 - Priority P0, refactor, nn

#9376 Align sent trans
  examples/llm_plus_gnn/g_retriever.py
  torch_geometric/datasets/web_qsp_dataset.py
  torch_geometric/nn/models/g_retriever.py
  torch_geometric/nn/nlp/__init__.py
  torch_geometric/nn/nlp/llm.py
  torch_geometric/nn/nlp/sentence_transformer.py
  torch_geometric/nn/text/__init__.py
  torch_geometric/nn/text/sentence_transformer_embedding.py
Labels: nn, example, dataset
