Repository pyg-team/pytorch_geometric, pull requests merged in 2024-11, with the labels that each got.

#9753 Ensure *_idx are fully distributed across nodes/devices
  examples/multi_gpu/distributed_sampling.py
  examples/multi_gpu/distributed_sampling_multinode.py
  examples/multi_gpu/pcqm4m_ogb.py
  examples/quiver/multi_gpu_quiver.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#9766 Fix `utils.group_cat` concatenating dimension
  CHANGELOG.md
  torch_geometric/utils/_scatter.py
Labels: bug, 0 - Priority P0, utils

#9743 Add an error message for batching when `num_nodes` is unknown
  torch_geometric/data/data.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#9778 Improve `__inc__` error message and add tests
  test/data/test_data.py
  torch_geometric/data/data.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#9773 Fix arrow direction in `_visualize_graph_via_networkx`
  torch_geometric/visualization/graph.py
Labels: bug, 0 - Priority P0, skip-changelog

#9776 Added functionality of `FaceToEdge` transform to work for 3D tetrahedral mesh elements
  CHANGELOG.md
  test/transforms/test_face_to_edge.py
  torch_geometric/transforms/face_to_edge.py
Labels: feature, 0 - Priority P0, transform

#9779 Upgrade CI to PyTorch 2.5
  .github/actions/setup/action.yml
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  .github/workflows/full_testing.yml
  .github/workflows/minimal_testing.yml
  .github/workflows/prev_testing.yml
  .github/workflows/testing.yml
  CHANGELOG.md
  test/utils/test_convert.py
  torch_geometric/_compile.py
Labels: installation, feature, 0 - Priority P0

#9781 Cancel intermediate CI builds
  .github/workflows/dist_testing.yml
  .github/workflows/documentation.yml
  .github/workflows/latest_testing.yml
  .github/workflows/linting.yml
  .github/workflows/minimal_testing.yml
  .github/workflows/nightly.yml
  .github/workflows/prev_testing.yml
  .github/workflows/testing.yml
Labels: installation, feature, 0 - Priority P0, skip-changelog

#9748 Add support for `torch_delaunay` package in `Delaunay` transformation
  CHANGELOG.md
  test/transforms/test_delaunay.py
  torch_geometric/transforms/delaunay.py
Labels: feature, 0 - Priority P0, transform

#9756 Fixing `edge_mask` handling for directed graphs in `k_hop_subgraph`
  CHANGELOG.md
  test/utils/test_subgraph.py
  torch_geometric/utils/_subgraph.py
Labels: bug, 0 - Priority P0, utils

#9780 Added PyTorch 2.5 support
  CHANGELOG.md
  README.md
  docker/Dockerfile.xpu
  docs/source/install/installation.rst
  docs/source/install/quick-start.html
  torch_geometric/typing.py
Labels: installation, feature, documentation, 0 - Priority P0

#9782 Drop `TensorAttr.fully_specify`
  test/data/test_feature_store.py
  torch_geometric/data/feature_store.py
Labels: 0 - Priority P0, refactor, data, skip-changelog

#9790 solve issue 9755 (fix typo)
  torch_geometric/loader/neighbor_loader.py
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#9662 add GLEM model, TAGDataset and example of GLEM
  CHANGELOG.md
  examples/llm/README.md
  examples/llm/glem.py
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/tag_dataset.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/glem.py
Labels: feature, example

#9797 Add comment in `g_retriever.py` pointing to `Neo4j` Graph DB integration demo
  CHANGELOG.md
  examples/llm/g_retriever.py
Labels: example

#9804 Run `GitMolDataset` tests only in full test mode
  test/datasets/test_git_mol_dataset.py
Labels: 0 - Priority P0, test, skip-changelog

#9803 fix for cugraph
  examples/multi_gpu/papers100m_gcn_cugraph.py
  examples/multi_gpu/papers100m_gcn_cugraph_multinode.py
  examples/ogbn_papers_100m_cugraph.py
Labels: example, auto-skip-changelog

#9807 Check that custom edge types actually exist in `NumNeighbors` definition
  CHANGELOG.md
  test/sampler/test_sampler_base.py
  torch_geometric/sampler/base.py
Labels: feature, 0 - Priority P0, sampler

#9813 Fix typo in Dataset docstring
  torch_geometric/data/dataset.py
Labels: bug, documentation, 0 - Priority P0, skip-changelog
