Repository pyg-team/pytorch_geometric, pull requests merged in 2024-12, with the labels that each got.

#9837 Fix Docstring Typos for LargeGraphIndexer
  torch_geometric/data/large_graph_indexer.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/rag_loader.py
Labels: auto-skip-changelog

#9842 adding better chunking for txt2kg
  torch_geometric/nn/nlp/txt2kg.py
Labels: nn

#9844 feat: store reverse mapping within `EdgeTypeStr`
  torch_geometric/typing.py
Labels: bug, 0 - Priority P0, skip-changelog

#9848 Improve system prompt for TXT2KG
  examples/llm/g_retriever_utils/rag_backend_utils.py
  examples/llm/g_retriever_utils/rag_feature_store.py
  examples/llm/g_retriever_utils/rag_graph_store.py
  examples/llm/hotpot_qa.py
  torch_geometric/nn/nlp/__init__.py
  torch_geometric/nn/nlp/txt2kg.py
  torch_geometric/utils/rag/backend_utils.py
Labels: nn, example, utils

#9900 Don't iterate over samples in the same order every epoch in a distributed training example
  examples/multi_gpu/distributed_batching.py
Labels: example, skip-changelog

#9896 Fix broken metrics in a `DistributedDataParallel` example
  examples/multi_gpu/distributed_sampling.py
Labels: example, skip-changelog

#9905 Graphgym documentation completion
  torch_geometric/graphgym/loss.py
Labels: documentation, skip-changelog
