Repository pyg-team/pytorch_geometric, pull requests merged in 2024-04, with the labels that each got.

#9140 Fix parallelism for `OnDiskDataset`
  CHANGELOG.md
  torch_geometric/data/database.py
Labels: bug, 0 - Priority P0, data

#9145 Fix `MetaPath2Vec` in case the last node is isolated
  CHANGELOG.md
  torch_geometric/datasets/pascal.py
  torch_geometric/nn/models/metapath2vec.py
Labels: bug, 0 - Priority P0, nn, dataset

#9146 Fix bug in `to_scipy_sparse_matrix`
  CHANGELOG.md
  torch_geometric/utils/convert.py
Labels: bug, 0 - Priority P0, utils

#9090 feat: add `CornellTemporalHyperGraphDatasets`
  CHANGELOG.md
  docs/source/modules/datasets.rst
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/cornell.py
Labels: feature, documentation, 0 - Priority P0, dataset

#9151 Flush template file before closing
  torch_geometric/template.py
Labels: bug, 0 - Priority P0

#9131 Use `message_and_aggregate` in `MessagePassing` for `EdgeIndex`
  CHANGELOG.md
  test/nn/conv/test_graph_conv.py
  torch_geometric/nn/conv/graph_conv.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/propagate.jinja
Labels: nn

#9178 Remove warnings generated in `test_cugraph_[gat/sage/rgcn]_conv.py`.
  torch_geometric/nn/conv/cugraph/base.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#9179 Remove warnings generated in `test_graphmask_explainer.py` and `test_laplacian_lambda_max.py`
  torch_geometric/explain/algorithm/graphmask_explainer.py
  torch_geometric/transforms/laplacian_lambda_max.py
Labels: bug, 0 - Priority P0, explain, transform, skip-changelog

#9180 Skip tests that require torch-cluster to be installed when it's not available
  test/nn/models/test_dimenet.py
  test/nn/models/test_gnnff.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#9186 Remove warning generated in few examples
  examples/mem_pool.py
  examples/proteins_dmon_pool.py
  examples/proteins_mincut_pool.py
  examples/seal_link_pred.py
Labels: bug, 0 - Priority P0, example

#9187 Remove future warnings generated in `argva_node_clustering.py` example
  examples/argva_node_clustering.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#9193 Align `pyproject.toml` and PyPi package name
  pyproject.toml
Labels: installation, skip-changelog

#9163 style: update ruff `quote-style` to single
  pyproject.toml
Labels: 0 - Priority P0, skip-changelog

#9194 Fix `torch.sparse.check_sparse_tensor_invariants()` check
  torch_geometric/data/storage.py
  torch_geometric/edge_index.py
Labels: 0 - Priority P0, test, data, skip-changelog

#9198 Do not set jinja `propagate` method in `MessagePassing.__init__` twice
  torch_geometric/nn/conv/message_passing.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#9199 Ignore `edge_label` and `edge_label_index` in `ToSparseTensor()` transform
  CHANGELOG.md
  test/transforms/test_random_link_split.py
  torch_geometric/transforms/to_sparse_tensor.py
Labels: bug, 0 - Priority P0, transform

#9204 Fix typo in docstring of sequential.py
  torch_geometric/nn/sequential.py
Labels: bug, documentation, 0 - Priority P0, nn, skip-changelog

#9213 Respect hypen in package name when building nightly version
  .github/workflows/nightly.yml
Labels: bug, installation, 0 - Priority P0, skip-changelog

#9214 Fix `EdgeIndex.matmul` on macOS PyTorch 1.13
  torch_geometric/edge_index.py
Labels: bug, 0 - Priority P0, skip-changelog

#9216 Test `CaptumExplainer` and `GNNExplainer` with unused parameters
  test/explain/algorithm/test_captum_explainer.py
  test/explain/algorithm/test_gnn_explainer.py
Labels: 0 - Priority P0, test

#9215 Support `EdgeIndex` and `torch.compile()` in PyTorch 2.3
  test/nn/test_compile_conv.py
  test/profile/test_profiler.py
  test/test_edge_index.py
  test/transforms/test_two_hop.py
  test/utils/test_loop.py
  torch_geometric/data/collate.py
  torch_geometric/data/database.py
  torch_geometric/edge_index.py
  torch_geometric/transforms/add_metapaths.py
  torch_geometric/transforms/two_hop.py
Labels: bug, 0 - Priority P0, data, transform, skip-changelog

#9239 Add `EdgeIndex.add_` and `EdgeIndex.sub_`
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: feature, 0 - Priority P0, skip-changelog

#9240 Add PyTorch 2.3 support
  .github/actions/setup/action.yml
  .github/workflows/prev_testing.yml
  .github/workflows/testing.yml
  CHANGELOG.md
  test/nn/test_compile_conv.py
  test/test_edge_index.py
  torch_geometric/datasets/s3dis.py
  torch_geometric/io/tu.py
Labels: dataset

#9241 Drop GraphGym from README
  README.md
  docs/source/index.rst
Labels: documentation, 0 - Priority P0, skip-changelog

#9230 Fix the URL to the Karate Club paper in karate.py
  torch_geometric/datasets/karate.py
Labels: bug, documentation, 0 - Priority P0, dataset, skip-changelog

#9231 Fixing bugs in `model_parallel` example
  examples/multi_gpu/model_parallel.py
Labels: bug, 0 - Priority P0, example

#9234 Fixed node mapping in `RCDD` dataset
  CHANGELOG.md
  torch_geometric/datasets/rcdd.py
Labels: bug, 0 - Priority P0, dataset

#9245 Allow keyword arguments in arbitrary order in `MessagePassing.propagate`
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  torch_geometric/inspector.py
Labels: bug, 0 - Priority P0

#9242 Cleanup
  examples/llm_plus_gnn/g_retriever.py
  torch_geometric/datasets/web_qsp_dataset.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/g_retriever.py
  torch_geometric/nn/models/gnn_llm.py
  torch_geometric/nn/text/__init__.py
  torch_geometric/nn/text/llm.py
  torch_geometric/nn/text/sentence_transformer_embedding.py
Labels: nn, example, dataset

#9257 Add PyTorch 2.3 installation guide
  .github/actions/setup/action.yml
  README.md
  docs/source/install/installation.rst
  docs/source/install/quick-start.html
  torch_geometric/datasets/qm9.py
  torch_geometric/utils/smiles.py
Labels: installation, documentation, 0 - Priority P0, dataset, skip-changelog, utils
