Repository pyg-team/pytorch_geometric, pull requests merged in 2024-08, with the labels that each got.

#9564 Fix typing inconsistency in `_check_input`
  CHANGELOG.md
  torch_geometric/nn/conv/message_passing.py
Labels: bug, 0 - Priority P0, nn

#9569 Add OPF solution objective function value as a graph level property
  torch_geometric/datasets/opf.py
Labels: feature, 0 - Priority P0, dataset, skip-changelog

#9587 Support ONNX export for `scatter` with min/max reduction
  CHANGELOG.md
  torch_geometric/__init__.py
  torch_geometric/_onnx.py
  torch_geometric/utils/_scatter.py
Labels: feature, 0 - Priority P0, utils

#9578 Fixing `test_lightning_dataset` with multiple GPUs
  test/data/lightning/test_datamodule.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#9554 Add `normalize_edge_index` function to utils
  CHANGELOG.md
  test/utils/test_normalize_edge_index.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/_normalize_edge_index.py
Labels: feature, 1 - Priority P1, utils

#9594 Add PyTorch 2.4 support
  .github/actions/setup/action.yml
  .github/workflows/full_testing.yml
  .github/workflows/prev_testing.yml
  .github/workflows/testing.yml
  CHANGELOG.md
  README.md
  docker/Dockerfile.xpu
  docs/source/install/installation.rst
  docs/source/install/quick-start.html
  torch_geometric/typing.py
  torch_geometric/utils/geodesic.py
Labels: installation, feature, documentation, 0 - Priority P0, utils

#9595 Add `sphinx-lint`
  .pre-commit-config.yaml
  docs/source/tutorial/multi_node_multi_gpu_vanilla.rst
Labels: installation, feature, documentation, 0 - Priority P0, skip-changelog

#9601 Support for `sphinx_copybutton`
  docs/source/conf.py
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#9605 Fix `VirtualNode` for empty edge indices
  CHANGELOG.md
  test/transforms/test_virtual_node.py
  torch_geometric/transforms/virtual_node.py
Labels: bug, 0 - Priority P0, transform

#9598 Destroy process group in `graphgym` test
  test/data/lightning/test_datamodule.py
  test/graphgym/test_graphgym.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#9606 Fix nightly tests
  .github/workflows/full_testing.yml
Labels: bug, 0 - Priority P0, test, skip-changelog

#9607 Test `GeneralConv` without edge features
  test/nn/conv/test_general_conv.py
  torch_geometric/nn/conv/general_conv.py
Labels: 0 - Priority P0, test, nn, skip-changelog

#9611 Updated the link in GDC page
  torch_geometric/transforms/gdc.py
Labels: documentation, 0 - Priority P0, nn, skip-changelog

#9615 [FutureWarning] Fixing multiple warnings generated by `is_compiling()`
  torch_geometric/_compile.py
Labels: feature, 0 - Priority P0, skip-changelog, compile

#9617 [DeprecationWarning] Addressing warning related to `Tensor.pin_memory()` argument
  torch_geometric/loader/prefetch.py
Labels: bug, 0 - Priority P0, loader, skip-changelog

#9616 [FutureWarning] Addressing warnings related to `cuda_memory_*` and `cuda_time_*` attributes
  .github/workflows/full_testing.yml
  .github/workflows/minimal_testing.yml
  torch_geometric/profile/profiler.py
Labels: bug, 0 - Priority P0, benchmark, skip-changelog

#9618 Use `torch.load(weights_only=True)` by default
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  examples/distributed/graphlearn_for_pytorch/dist_train_sage_supervised.py
  examples/distributed/pyg/node_ogb_cpu.py
  examples/distributed/pyg/temporal_link_movielens_cpu.py
  examples/multi_gpu/papers100m_gcn_cugraph_multinode.py
  examples/multi_gpu/pcqm4m_ogb.py
  test/data/test_batch.py
  test/distributed/test_partition.py
  test/nn/conv/test_message_passing.py
  test/nn/models/test_basic_gnn.py
  test/nn/test_model_hub.py
  test/test_edge_index.py
  test/test_index.py
  test/utils/test_sparse.py
  torch_geometric/__init__.py
  torch_geometric/data/__init__.py
  torch_geometric/data/database.py
  torch_geometric/data/dataset.py
  torch_geometric/datasets/airfrans.py
  torch_geometric/datasets/brca_tgca.py
  torch_geometric/datasets/gdelt_lite.py
  torch_geometric/datasets/ged_dataset.py
  torch_geometric/datasets/gnn_benchmark_dataset.py
  torch_geometric/datasets/linkx_dataset.py
  torch_geometric/datasets/lrgb.py
  torch_geometric/datasets/malnet_tiny.py
  torch_geometric/datasets/mnist_superpixels.py
  torch_geometric/datasets/neurograph.py
  torch_geometric/datasets/ogb_mag.py
  torch_geometric/datasets/pascal_pf.py
  torch_geometric/datasets/pcqm4m.py
  torch_geometric/datasets/qm9.py
  torch_geometric/datasets/shrec2016.py
  torch_geometric/datasets/wikidata.py
  torch_geometric/distributed/local_feature_store.py
  torch_geometric/distributed/local_graph_store.py
  torch_geometric/distributed/partition.py
  torch_geometric/graphgym/checkpoint.py
  torch_geometric/io/fs.py
  torch_geometric/io/tu.py
  torch_geometric/loader/cluster.py
  torch_geometric/loader/graph_saint.py
  torch_geometric/nn/model_hub.py
  torch_geometric/nn/models/schnet.py
  torch_geometric/typing.py
Labels: feature, 0 - Priority P0, graphgym, benchmark, nn, example, dataset, loader, data, distributed

#9621 Control factor to limit data download in `OPFDataset`
  torch_geometric/datasets/opf.py
Labels: feature, 0 - Priority P0, dataset, skip-changelog

#9622 Fix nightly tests
  test/contrib/explain/test_pgm_explainer.py
  test/nn/aggr/test_set_transformer.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#9623 Bug fix in `OPFDataset` parsing
  torch_geometric/datasets/opf.py
Labels: bug, 0 - Priority P0, dataset, skip-changelog

#9625 Fix nightly tests
  .github/workflows/full_testing.yml
  test/contrib/explain/test_pgm_explainer.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#9626 Fix autograd for `torch_coo_tensor`
  torch_geometric/edge_index.py
  torch_geometric/utils/sparse.py
Labels: bug, 0 - Priority P0, skip-changelog, utils

#9628 `examples/multi_gpu/papers100m_gcn.py` Low CPU RAM Warning
  README.md
  examples/multi_gpu/papers100m_gcn.py
Labels: example, skip-changelog
