Repository pyg-team/pytorch_geometric, pull requests merged in 2024-06, with the labels that each got.

#9380 add `HeteroJK` class
  CHANGELOG.md
  test/nn/models/test_jumping_knowledge.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/jumping_knowledge.py
Labels: feature, 1 - Priority P1, nn

#9394 [FutureWarning] Fixing the warning that appears when calling the constructor of the `LogisticRegression` class
  torch_geometric/nn/models/deep_graph_infomax.py
  torch_geometric/nn/models/metapath2vec.py
  torch_geometric/nn/models/node2vec.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#9390 Full repr string for `BatchNorm`
  test/nn/norm/test_batch_norm.py
  torch_geometric/nn/norm/batch_norm.py
Labels: feature, 1 - Priority P1, nn, skip-changelog

#9396 Unit tests using `@onlyXPU` should only run on XPU devices
  test/profile/test_profile.py
Labels: bug, 0 - Priority P0, test

#9398 Added new XPU support to the `withDevice` API
  torch_geometric/testing/decorators.py
Labels: feature, 0 - Priority P0, test, skip-changelog

#9407 Add docs for environment setup on XPU device
  CHANGELOG.md
  benchmark/multi_gpu/training/README.md
  docker/Dockerfile.xpu
  docker/README.md
Labels: benchmark

#9424 Fix `ModuleDict`/`ParameterDict` in combination with `torch.jit.script`
  torch_geometric/nn/module_dict.py
  torch_geometric/nn/parameter_dict.py
Labels: bug, 0 - Priority P0, skip-changelog

#9410 [BUG] Fixing Bug in Version Handling
  torch_geometric/testing/decorators.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#9400 Introduce `auto-skip-changelog`
  .github/labeler.yml
  .github/workflows/changelog.yml
Labels: bug, 0 - Priority P0

#9408 Allow users to modify dataset summary table format
  CHANGELOG.md
  torch_geometric/data/dataset.py
  torch_geometric/data/summary.py
Labels: feature, 1 - Priority P1, data

#9429 Fix `test_model_hub.py`
  test/nn/test_model_hub.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#9430 Add `__call__` function to `ZipLoader`
  test/loader/test_zip_loader.py
  torch_geometric/loader/zip_loader.py
Labels: feature, 1 - Priority P1, loader, auto-skip-changelog

#9427 Add other pooling strategies to `SentenceTransformer`
  test/nn/nlp/test_sentence_transformer.py
  torch_geometric/nn/nlp/sentence_transformer.py
Labels: feature, 1 - Priority P1, nn, skip-changelog

#9431 Fix CI
  pyproject.toml
  torch_geometric/data/lightning/datamodule.py
  torch_geometric/nn/conv/edge_conv.py
  torch_geometric/nn/conv/gravnet_conv.py
  torch_geometric/nn/conv/spline_conv.py
  torch_geometric/nn/conv/x_conv.py
  torch_geometric/nn/pool/graclus.py
  torch_geometric/nn/pool/voxel_grid.py
  torch_geometric/testing/decorators.py
Labels: bug, 0 - Priority P0, test, nn, data, auto-skip-changelog

#9379 Add OPFData dataset
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/opf.py
Labels: feature, 1 - Priority P1, dataset

#9386 Improve the accuracy to 63% for papers100m with graphSage model
  CHANGELOG.md
  examples/ogbn_papers_100m.py
Labels: feature, 1 - Priority P1, example

#9433 Support other than two-dimensional inputs in `AttentionalAggregation`
  CHANGELOG.md
  test/nn/aggr/test_attention.py
  torch_geometric/nn/aggr/attention.py
Labels: feature, 0 - Priority P0, nn

#9445 Fix minor issues with `ogbn_papers_100m` example
  CHANGELOG.md
  examples/ogbn_papers_100m.py
Labels: example

#9448 Support `filename` in `ClusterLoader`
  CHANGELOG.md
  torch_geometric/loader/cluster.py
Labels: feature, 1 - Priority P1, loader

#9436 Fix argument count issue in `fs.mv` call within `TUDataset` download method
  torch_geometric/io/fs.py
Labels: bug, 0 - Priority P0, dataset, skip-changelog

#9446 Respect `torch.nn.Module.children` in `Sequential`
  test/nn/test_sequential.py
  torch_geometric/nn/sequential.py
Labels: 0 - Priority P0, nn, skip-changelog

#9450 Fix broken Windows CI due to `faiss==1.8.0`
  .github/actions/setup/action.yml
  .github/workflows/labeler.yml
Labels: bug, 0 - Priority P0, auto-skip-changelog

#9451 Test `GNNExplainer` with `TransformerConv`
  test/explain/algorithm/test_gnn_explainer.py
Labels: 0 - Priority P0, test, skip-changelog

#9421 Add XPU support to basic GNN examples
  CHANGELOG.md
  examples/gat.py
  examples/gcn.py
  examples/graph_sage_unsup.py
  examples/graph_sage_unsup_ppi.py
  examples/pna.py
  torch_geometric/__init__.py
  torch_geometric/device.py
  torch_geometric/testing/decorators.py
Labels: feature, 1 - Priority P1, example

#9439 Add XPU support for hetero examples
  CHANGELOG.md
  examples/hetero/bipartite_sage_unsup.py
  examples/hetero/dmgi_unsup.py
  examples/hetero/han_imdb.py
  examples/hetero/hetero_conv_dblp.py
  examples/hetero/hetero_link_pred.py
  examples/hetero/hgt_dblp.py
  examples/hetero/hierarchical_sage.py
  examples/hetero/metapath2vec.py
Labels: feature, 1 - Priority P1, example

#9447 Add `radd` and `rsub` in `Index`
  test/test_index.py
  torch_geometric/index.py
Labels: feature, 0 - Priority P0, skip-changelog

#9453 Update NVIDIA docker readme
  docker/README.md
Labels: skip-changelog

#9460 Add `ConfigMixin`
  test/test_config_mixin.py
  torch_geometric/config_mixin.py
Labels: feature, 0 - Priority P0, skip-changelog

#9461 Fix `ConfigMixin.from_config` when config is of type `dict`
  test/test_config_mixin.py
  torch_geometric/config_mixin.py
Labels: bug, 0 - Priority P0, skip-changelog

#9070 Add pcqm4m multi-gpu example: large scale graph regression
  CHANGELOG.md
  examples/multi_gpu/README.md
  examples/multi_gpu/pcqm4m_ogb.py
Labels: feature, 1 - Priority P1, example

#9463 [FutureWarning] Fixing warning generated by the use of `torch.cuda.amp.autocast(...)`
  benchmark/citation/train_eval.py
  benchmark/inference/inference_benchmark.py
  benchmark/kernel/main_performance.py
  benchmark/points/train_eval.py
  benchmark/training/training_benchmark.py
  test/nn/dense/test_linear.py
Labels: bug, 0 - Priority P0, skip-changelog
