Repository pyg-team/pytorch_geometric, pull requests merged in 2024-07, with the labels that each got.

#9473 `[PGExplainer]` Change default bias to `0.01`
  torch_geometric/explain/algorithm/pg_explainer.py
Labels: bug, 0 - Priority P0, skip-changelog

#9462 Integrate `LLM` class
  CHANGELOG.md
  test/nn/nlp/test_llm.py
  torch_geometric/nn/nlp/__init__.py
  torch_geometric/nn/nlp/llm.py
Labels: feature, 0 - Priority P0, nn

#9483 Move `scikit-learn` to optional dependency
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
  pyproject.toml
  test/nn/models/test_autoencoder.py
  test/nn/models/test_deep_graph_infomax.py
  test/nn/models/test_metapath2vec.py
  test/nn/models/test_node2vec.py
  test/nn/models/test_signed_gcn.py
Labels: installation, 0 - Priority P0, skip-changelog

#9484 Move `scipy` to optional dependency
  pyproject.toml
  test/conftest.py
  test/data/lightning/test_datamodule.py
  test/datasets/test_planetoid.py
  test/loader/test_neighbor_loader.py
  test/nn/models/test_basic_gnn.py
  test/profile/test_profile.py
  test/transforms/test_add_positional_encoding.py
  test/transforms/test_delaunay.py
  test/transforms/test_laplacian_lambda_max.py
  test/transforms/test_largest_connected_components.py
  test/transforms/test_node_property_split.py
  test/utils/test_convert.py
  torch_geometric/datasets/amazon_products.py
  torch_geometric/datasets/attributed_graph_dataset.py
  torch_geometric/datasets/dblp.py
  torch_geometric/datasets/flickr.py
  torch_geometric/datasets/imdb.py
  torch_geometric/datasets/last_fm.py
  torch_geometric/datasets/reddit.py
  torch_geometric/datasets/reddit2.py
  torch_geometric/datasets/upfd.py
  torch_geometric/datasets/yelp.py
  torch_geometric/io/npz.py
  torch_geometric/loader/ibmb_loader.py
  torch_geometric/nn/models/dimenet_utils.py
  torch_geometric/nn/models/signed_gcn.py
  torch_geometric/transforms/delaunay.py
  torch_geometric/transforms/gdc.py
  torch_geometric/transforms/laplacian_lambda_max.py
  torch_geometric/utils/_tree_decomposition.py
  torch_geometric/utils/convert.py
Labels: installation, 0 - Priority P0, nn, dataset, loader, transform, skip-changelog, utils

#9485 Minimal instead of full Windows tests
  .github/workflows/testing.yml
Labels: installation, 0 - Priority P0, skip-changelog

#9491 Drop orthogonality loss in `DMonPooling` example
  examples/proteins_dmon_pool.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#9493 Fix `load_state_dict` with lazy parameters in `HeteroDictLinear`
  CHANGELOG.md
  torch_geometric/nn/dense/linear.py
Labels: bug, 0 - Priority P0, nn

#9494 Allow optional but untyped tensors in `MessagePassing`
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/collect.jinja
Labels: bug, 0 - Priority P0, nn

#9502 Modularizing LLM (G-retriever) code
  torch_geometric/nn/models/g_retriever.py
  torch_geometric/nn/nlp/llm.py
Labels: nn

#9487 Adding `PatchTransformerAggregation`
  CHANGELOG.md
  test/nn/aggr/test_patch_transformer.py
  torch_geometric/nn/aggr/__init__.py
  torch_geometric/nn/aggr/patch_transformer.py
Labels: feature, 0 - Priority P0, nn

#9514 Fixing `test_logger::test_logger_callback`.
  test/graphgym/test_logger.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#9540 Ignore a typing error caught by the new `mypy==1.11.0`
  torch_geometric/config_mixin.py
Labels: 0 - Priority P0, skip-changelog, type hints

#9533 Fixed typo in NegativeSampling docstring
  torch_geometric/sampler/base.py
Labels: bug, documentation, skip-changelog

#9543 Fix empty `pad_token` in `SentenceTransformer`
  torch_geometric/nn/nlp/sentence_transformer.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#9517 Fixing `test_geodesic.py::test_geodesic_distance` test
  test/utils/test_geodesic.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#9499 Fix `visualize_feature_importance` in heterogenous graphs with single features
  torch_geometric/explain/explanation.py
Labels: bug, explain, skip-changelog

#9498 Render set attributes in `str(data)` correctly
  torch_geometric/data/data.py
Labels: feature, 0 - Priority P0, data, skip-changelog

#9515 Added the `residual` option for `GATConv` and `GATv2Conv`.
  CHANGELOG.md
  examples/ppi.py
  test/nn/conv/test_gat_conv.py
  test/nn/conv/test_gatv2_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
Labels: feature, 1 - Priority P1, nn

#9541 Adapt cuGraph examples to new API
  CHANGELOG.md
  examples/multi_gpu/README.md
  examples/multi_gpu/papers100m_gcn_cugraph.py
  examples/multi_gpu/papers100m_gcn_cugraph_multinode.py
  examples/ogbn_papers_100m_cugraph.py
Labels: feature, 1 - Priority P1, example
