Repository pyg-team/pytorch_geometric, pull requests merged in 2024-01, with the labels that each got.

#8698 Add `is_compiling()` checks instead of disabling extensions during `torch_geometric.compile`
  CHANGELOG.md
  docs/source/advanced/compile.rst
  test/nn/conv/test_hetero_conv.py
  test/nn/conv/test_sage_conv.py
  test/nn/models/test_basic_gnn.py
  test/nn/test_compile_basic.py
  test/nn/test_compile_conv.py
  test/nn/test_compile_dynamic.py
  test/test_edge_index.py
  test/test_warnings.py
  test/utils/test_scatter.py
  torch_geometric/__init__.py
  torch_geometric/_compile.py
  torch_geometric/edge_index.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/nn/to_hetero_module.py
  torch_geometric/utils/_index_sort.py
  torch_geometric/utils/_scatter.py
  torch_geometric/utils/_segment.py
  torch_geometric/utils/_softmax.py
  torch_geometric/utils/dropout.py
  torch_geometric/warnings.py
Labels: documentation, 0 - Priority P0, refactor, nn, utils

#8638 Rearrange partitions file structure
  examples/distributed/pyg/partition_graph.py
  examples/distributed/pyg/partition_hetero_graph.py
Labels: 0 - Priority P0, refactor, skip-changelog, distributed

#8700 Revert `EdgeIndex` usage in `Planetoid` datasets
  examples/compile/gcn.py
  examples/compile/gin.py
  test/datasets/test_planetoid.py
  torch_geometric/io/planetoid.py
Labels: bug, 0 - Priority P0, example, dataset, skip-changelog

#8701 Fix PyG master Windows test
  torch_geometric/edge_index.py
Labels: bug, 0 - Priority P0, skip-changelog

#8383 E2E example for heterogeneous edge-temporal sampling
  CHANGELOG.md
  examples/hetero/temporal_link_pred.py
Labels: feature, 0 - Priority P0, example

#8723 Add note to `get_num_hops`
  torch_geometric/utils/_subgraph.py
Labels: feature, 0 - Priority P0, skip-changelog, utils

#8724 Small typo
  torch_geometric/utils/_subgraph.py
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#8725 Remove `@overload` in `MessagePassing`
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/utils/_subgraph.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog, utils

#8727 Make `MessagePassing._lift` jittable
  torch_geometric/edge_index.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#8728 Remove `@overload` in `MessagePassing.propagate` - clean-up `*.jinja` code
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/appnp.py
  torch_geometric/nn/conv/cg_conv.py
  torch_geometric/nn/conv/edge_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/feast_conv.py
  torch_geometric/nn/conv/film_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/gen_conv.py
  torch_geometric/nn/conv/gin_conv.py
  torch_geometric/nn/conv/gmm_conv.py
  torch_geometric/nn/conv/graph_conv.py
  torch_geometric/nn/conv/gravnet_conv.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/mf_conv.py
  torch_geometric/nn/conv/nn_conv.py
  torch_geometric/nn/conv/point_conv.py
  torch_geometric/nn/conv/point_transformer_conv.py
  torch_geometric/nn/conv/ppf_conv.py
  torch_geometric/nn/conv/res_gated_graph_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/conv/sage_conv.py
  torch_geometric/nn/conv/signed_conv.py
  torch_geometric/nn/conv/simple_conv.py
  torch_geometric/nn/conv/spline_conv.py
  torch_geometric/nn/conv/transformer_conv.py
  torch_geometric/nn/conv/wl_conv_continuous.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#8729 Drop `forward_type` in message passing modules
  docs/source/advanced/jit.rst
  torch_geometric/nn/conv/edge_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/gravnet_conv.py
  torch_geometric/nn/conv/transformer_conv.py
Labels: documentation, 0 - Priority P0, refactor, nn, skip-changelog

#8730 Drop `size=None` argument restriction in `MessagePassing.propagate` (no longer needed)
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/agnn_conv.py
  torch_geometric/nn/conv/appnp.py
  torch_geometric/nn/conv/arma_conv.py
  torch_geometric/nn/conv/cg_conv.py
  torch_geometric/nn/conv/cheb_conv.py
  torch_geometric/nn/conv/cluster_gcn_conv.py
  torch_geometric/nn/conv/dna_conv.py
  torch_geometric/nn/conv/edge_conv.py
  torch_geometric/nn/conv/eg_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/feast_conv.py
  torch_geometric/nn/conv/film_conv.py
  torch_geometric/nn/conv/gated_graph_conv.py
  torch_geometric/nn/conv/gcn2_conv.py
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/nn/conv/heat_conv.py
  torch_geometric/nn/conv/hgt_conv.py
  torch_geometric/nn/conv/le_conv.py
  torch_geometric/nn/conv/lg_conv.py
  torch_geometric/nn/conv/mixhop_conv.py
  torch_geometric/nn/conv/pan_conv.py
  torch_geometric/nn/conv/pdn_conv.py
  torch_geometric/nn/conv/pna_conv.py
  torch_geometric/nn/conv/point_conv.py
  torch_geometric/nn/conv/point_gnn_conv.py
  torch_geometric/nn/conv/point_transformer_conv.py
  torch_geometric/nn/conv/ppf_conv.py
  torch_geometric/nn/conv/res_gated_graph_conv.py
  torch_geometric/nn/conv/sg_conv.py
  torch_geometric/nn/conv/signed_conv.py
  torch_geometric/nn/conv/ssg_conv.py
  torch_geometric/nn/conv/supergat_conv.py
  torch_geometric/nn/conv/tag_conv.py
  torch_geometric/nn/conv/transformer_conv.py
  torch_geometric/nn/models/attentive_fp.py
  torch_geometric/nn/models/label_prop.py
  torch_geometric/nn/models/linkx.py
  torch_geometric/nn/models/visnet.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#8731 Remove ` jittable(typing` argument in tests
  CHANGELOG.md
  test/nn/conv/test_agnn_conv.py
  test/nn/conv/test_appnp.py
  test/nn/conv/test_arma_conv.py
  test/nn/conv/test_cg_conv.py
  test/nn/conv/test_cluster_gcn_conv.py
  test/nn/conv/test_dna_conv.py
  test/nn/conv/test_edge_conv.py
  test/nn/conv/test_eg_conv.py
  test/nn/conv/test_fa_conv.py
  test/nn/conv/test_feast_conv.py
  test/nn/conv/test_film_conv.py
  test/nn/conv/test_gat_conv.py
  test/nn/conv/test_gated_graph_conv.py
  test/nn/conv/test_gatv2_conv.py
  test/nn/conv/test_gcn2_conv.py
  test/nn/conv/test_gcn_conv.py
  test/nn/conv/test_gen_conv.py
  test/nn/conv/test_gin_conv.py
  test/nn/conv/test_gmm_conv.py
  test/nn/conv/test_graph_conv.py
  test/nn/conv/test_gravnet_conv.py
  test/nn/conv/test_heat_conv.py
  test/nn/conv/test_le_conv.py
  test/nn/conv/test_lg_conv.py
  test/nn/conv/test_message_passing.py
  test/nn/conv/test_mf_conv.py
  test/nn/conv/test_mixhop_conv.py
  test/nn/conv/test_nn_conv.py
  test/nn/conv/test_pdn_conv.py
  test/nn/conv/test_pna_conv.py
  test/nn/conv/test_point_conv.py
  test/nn/conv/test_point_gnn_conv.py
  test/nn/conv/test_point_transformer_conv.py
  test/nn/conv/test_ppf_conv.py
  test/nn/conv/test_res_gated_graph_conv.py
  test/nn/conv/test_rgat_conv.py
  test/nn/conv/test_rgcn_conv.py
  test/nn/conv/test_sage_conv.py
  test/nn/conv/test_sg_conv.py
  test/nn/conv/test_signed_conv.py
  test/nn/conv/test_simple_conv.py
  test/nn/conv/test_spline_conv.py
  test/nn/conv/test_ssg_conv.py
  test/nn/conv/test_tag_conv.py
  test/nn/conv/test_transformer_conv.py
  test/nn/conv/test_wl_conv_continuous.py
Labels: 0 - Priority P0, refactor, test

#8732 Clean-up `jittable` PyG models
  test/nn/models/test_linkx.py
  test/nn/models/test_rect.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/nn/models/linkx.py
  torch_geometric/nn/models/rect.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#8734 Fix `@overload` handling in `MessagePassing`
  test/nn/conv/test_fa_conv.py
  test/nn/conv/test_gat_conv.py
  test/nn/conv/test_gatv2_conv.py
  test/nn/conv/test_transformer_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/transformer_conv.py
  torch_geometric/nn/models/attentive_fp.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#8736 Include all synthetic data referenced in `GNNExplainer`
  CHANGELOG.md
  test/datasets/graph_generator/test_tree_graph.py
  test/datasets/motif_generator/test_grid_motif.py
  torch_geometric/datasets/graph_generator/__init__.py
  torch_geometric/datasets/graph_generator/tree_graph.py
  torch_geometric/datasets/motif_generator/__init__.py
  torch_geometric/datasets/motif_generator/cycle.py
  torch_geometric/datasets/motif_generator/grid.py
Labels: feature, 0 - Priority P0, dataset

#8738 Fix TorchScript support in case `torch-sparse` is not installed
  test/nn/conv/test_fa_conv.py
  torch_geometric/typing.py
Labels: bug, 0 - Priority P0, skip-changelog

#8748 Fix `FAConv` test
  test/nn/conv/test_fa_conv.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#8740 `examples` and `examples/hetero` READMEs and fix for `bipartite_sage.py` example
  examples/README.md
  examples/hetero/README.md
  torch_geometric/edge_index.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#8745 `[MessagePassing]` Investigate `jittable` conversion on instantiation of GNN layers
  CHANGELOG.md
  test/nn/conv/test_propagate.py
  torch_geometric/home.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/heat_conv.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/ppf_conv.py
  torch_geometric/nn/conv/propagate.jinja
  torch_geometric/nn/conv/propagate.py
  torch_geometric/nn/conv/res_gated_graph_conv.py
  torch_geometric/nn/conv/rgat_conv.py
  torch_geometric/nn/conv/transformer_conv.py
Labels: feature, 0 - Priority P0, nn

#8751 Fix `k_hop_subgraph` documentation
  torch_geometric/utils/_subgraph.py
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#8752 Return an empty tensor from `utils.group_argsort` if its input tensor is empty
  CHANGELOG.md
  test/utils/test_scatter.py
  torch_geometric/utils/_scatter.py
Labels: 0 - Priority P0, utils

#8753 Do not cache `_alpha` in `GATv2Conv`
  test/nn/conv/test_gatv2_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#8755 Fix `torch_geometric.nn.aggr` article note link
  docs/source/modules/nn.rst
Labels: documentation, nn, skip-changelog

#8750 Re-factor `Inspector`
  test/nn/conv/test_propagate.py
  test/nn/conv/utils/test_inspector.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/propagate.py
  torch_geometric/nn/conv/utils/inspector.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#8754 Type Representation <> Type conversion
  test/nn/conv/utils/test_inspector.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/gravnet_conv.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/utils/inspector.py
Labels: nn, skip-changelog

#8756 Move `Inspector` class
  test/nn/models/test_basic_gnn.py
  test/test_inspector.py
  torch_geometric/inspector.py
  torch_geometric/nn/conv/message_passing.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#8757 Clean-up `jinja` generation of `propagate`
  torch_geometric/inspector.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/propagate.jinja
  torch_geometric/nn/conv/propagate.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#8758 Add hooks to `propagate.jinja`
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/propagate.jinja
Labels: feature, 0 - Priority P0, nn, skip-changelog

#8759 Implement `torch.sparse` and `SparseTensor` support in `propagate.jinja`
  test/nn/aggr/test_attention.py
  test/nn/aggr/test_basic.py
  test/nn/aggr/test_multi.py
  test/nn/aggr/test_scaler.py
  test/nn/conv/test_propagate.py
  test/utils/test_softmax.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/propagate.jinja
  torch_geometric/nn/conv/sage_conv.py
  torch_geometric/utils/_softmax.py
  torch_geometric/utils/_spmm.py
  torch_geometric/utils/num_nodes.py
  torch_geometric/utils/sparse.py
Labels: feature, 0 - Priority P0, nn, skip-changelog, utils

#8761 Support `explain` in `propagate.jinja`
  torch_geometric/inspector.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/propagate.jinja
Labels: feature, 0 - Priority P0, nn, skip-changelog

#8767 Introduce `edge_updater.jinja`
  test/nn/conv/test_propagate.py
  torch_geometric/nn/conv/collect.jinja
  torch_geometric/nn/conv/edge_updater.jinja
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/propagate.jinja
  torch_geometric/nn/conv/propagate.py
Labels: feature, 0 - Priority P0, nn, skip-changelog

#8768 Check enabling `MessagePassing` JIT mode by default
  test/nn/conv/test_cg_conv.py
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/collect.jinja
  torch_geometric/nn/conv/edge_updater.jinja
  torch_geometric/nn/conv/general_conv.py
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/propagate.jinja
  torch_geometric/nn/models/label_prop.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#8772 Enable JIT mode by default
  test/nn/conv/test_gcn_conv.py
  test/nn/conv/test_message_passing.py
  test/nn/conv/test_propagate.py
  test/nn/conv/test_sage_conv.py
  torch_geometric/inspector.py
  torch_geometric/nn/conv/collect.jinja
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/propagate.jinja
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#8777 Drop `jittable` in tests and examples [2/2]
  examples/cpp/save_model.py
  examples/jit/film.py
  examples/jit/gat.py
  examples/jit/gcn.py
  examples/jit/gin.py
  test/nn/models/test_attentive_fp.py
  test/nn/models/test_basic_gnn.py
  test/nn/models/test_linkx.py
  test/nn/models/test_rect.py
  test/nn/pool/test_asap.py
  test/nn/pool/test_sag_pool.py
  torch_geometric/nn/models/attentive_fp.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/nn/models/linkx.py
  torch_geometric/nn/models/rect.py
  torch_geometric/nn/pool/asap.py
  torch_geometric/utils/_spmm.py
  torch_geometric/utils/_trim_to_layer.py
Labels: 0 - Priority P0, refactor, nn, example, skip-changelog, utils

#8778 Fix `jinja` compilation for Google Colab/Python interpreters
  torch_geometric/inspector.py
  torch_geometric/nn/conv/message_passing.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#8780 Deprecate the usage of `torch_geometric.compile()`
  CHANGELOG.md
  benchmark/citation/train_eval.py
  benchmark/kernel/main_performance.py
  benchmark/points/train_eval.py
  docs/source/advanced/compile.rst
  examples/compile/gcn.py
  examples/compile/gin.py
  test/nn/conv/test_hetero_conv.py
  test/nn/models/test_basic_gnn.py
  test/nn/test_compile_basic.py
  test/nn/test_compile_conv.py
  test/nn/test_compile_dynamic.py
  test/test_edge_index.py
  test/utils/test_softmax.py
  torch_geometric/_compile.py
Labels: documentation, 0 - Priority P0, refactor, benchmark, example

#8781 Fully deprecate `MessagePassing.jittable()`
  CHANGELOG.md
  docs/source/advanced/jit.rst
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/conv/utils/helpers.py
  torch_geometric/nn/conv/utils/jit.py
  torch_geometric/nn/conv/utils/typing.py
  torch_geometric/nn/sequential.py
  torch_geometric/template.py
Labels: documentation, 0 - Priority P0, refactor, nn

#8785 Improve error message for `disjoint+induced` neighbor sampling
  torch_geometric/sampler/neighbor_sampler.py
Labels: bug, 0 - Priority P0, skip-changelog, sampler

#8793 Fix `TGN` example
  torch_geometric/nn/models/tgn.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#8796 Refactor `Sequential` module
  test/nn/test_sequential.py
  torch_geometric/inspector.py
  torch_geometric/nn/sequential.jinja
  torch_geometric/nn/sequential.py
Labels: 0 - Priority P0, refactor, nn, skip-changelog

#8799 feat(benchmark): switch to `global_add_pool`
  benchmark/kernel/graph_sage.py
Labels: feature, 0 - Priority P0, benchmark, skip-changelog

#8801 chore(pre-commit): migrate to pre-commit for line endings
  .gitattributes
  .pre-commit-config.yaml
Labels: 0 - Priority P0, refactor, skip-changelog

#8805 Fix `HGTConv` for `SparseTensor` due to shape mismatch
  test/nn/conv/test_gen_conv.py
  torch_geometric/nn/conv/hgt_conv.py
  torch_geometric/utils/hetero.py
Labels: bug, 0 - Priority P0, nn, skip-changelog, utils

#8804 Fix Google Drive download issues
  CHANGELOG.md
  torch_geometric/data/__init__.py
  torch_geometric/data/download.py
  torch_geometric/datasets/amazon_products.py
  torch_geometric/datasets/attributed_graph_dataset.py
  torch_geometric/datasets/dbp15k.py
  torch_geometric/datasets/flickr.py
  torch_geometric/datasets/ged_dataset.py
  torch_geometric/datasets/hgb_dataset.py
  torch_geometric/datasets/linkx_dataset.py
  torch_geometric/datasets/reddit2.py
  torch_geometric/datasets/upfd.py
  torch_geometric/datasets/yelp.py
Labels: bug, 0 - Priority P0, dataset, data

#8718 Handle node-level and edge-level temporal information when generating partitions
  CHANGELOG.md
  test/distributed/test_dist_neighbor_sampler.py
  test/distributed/test_partition.py
  torch_geometric/distributed/local_feature_store.py
  torch_geometric/distributed/partition.py
Labels: feature, 0 - Priority P0, distributed

#8809 Save all input arguments in `NodeLoader` so that PyTorch Lightning can correctly reconstruct it
  torch_geometric/loader/node_loader.py
Labels: 0 - Priority P0, refactor, loader, skip-changelog

#8802 feat(ci/labeler): bump `actions/labeler` and add `skip-changelog` label
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: 0 - Priority P0, refactor, skip-changelog

#8812 Account for integer overflows in `sort_edge_index`
  test/utils/test_sort_edge_index.py
  torch_geometric/typing.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/_coalesce.py
  torch_geometric/utils/_sort_edge_index.py
Labels: bug, 0 - Priority P0, utils

#8814 Fix `GENConv` documentation
  torch_geometric/nn/conv/gen_conv.py
Labels: bug, 0 - Priority P0, nn

#8815 [`Distributed`] Partition `MovieLens` dataset
  CHANGELOG.md
  examples/distributed/pyg/partition_graph.py
  torch_geometric/distributed/local_feature_store.py
  torch_geometric/distributed/partition.py
Labels: 0 - Priority P0, example, distributed

#8818 Rectify the default attention mode "node" of the `nn.HypergraphConv` layer
  torch_geometric/nn/conv/hypergraph_conv.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#8831 Fix `device` issue in `LargestConnectedComponents`
  torch_geometric/transforms/largest_connected_components.py
Labels: bug, 0 - Priority P0, transform

#8832 Clarify disjoint usage between message passing/supervision edges in `LinkNeighborLoader`
  torch_geometric/loader/link_neighbor_loader.py
Labels: 0 - Priority P0, loader, skip-changelog

#8833 Lower precision in `spmm` test
  test/test_edge_index.py
Labels: bug, 0 - Priority P0, test

#8835 Fix typo in `LinkNeighborLoader` docstring
  torch_geometric/loader/link_neighbor_loader.py
Labels: bug, 0 - Priority P0, loader

#8825 Add READMEs to some examples
  examples/contrib/README.md
  examples/distributed/README.md
  examples/explain/README.md
  examples/jit/README.md
  examples/pytorch_ignite/README.md
  examples/pytorch_lightning/README.md
Labels: feature, 1 - Priority P1, example, skip-changelog

#8816 Adds an option to pass `node_labels` to `visualize_graph`
  CHANGELOG.md
  test/visualization/test_graph_visualization.py
  torch_geometric/explain/explanation.py
  torch_geometric/visualization/graph.py
Labels: feature, 1 - Priority P1, explain

#8615 HeteroLinear/SEGMM: switch from heuristic to timing-cache
  CHANGELOG.md
  torch_geometric/backend.py
  torch_geometric/nn/dense/linear.py
Labels: nn

#8842 `graphgym`: A correction in documentation and added information on how to install requirements
  docs/source/advanced/graphgym.rst
Labels: bug, documentation, 0 - Priority P0

#8847 Fix `LGConv` test cases
  test/nn/conv/test_lg_conv.py
Labels: bug, 0 - Priority P0, test
