Repository pyg-team/pytorch_geometric, pull requests merged in 2024-02, with the labels that each got.

#8848 Fix for `HGT` example `hgt_dblp.py`
  examples/hetero/hgt_dblp.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#8851 Benchmark `segment_reduce`
  test/utils/test_segment.py
Labels: 0 - Priority P0, test, benchmark, skip-changelog

#8852 Fallback to `torch._segment_reduce`
  CHANGELOG.md
  test/utils/test_segment.py
  torch_geometric/utils/_segment.py
Labels: feature, 0 - Priority P0, utils

#8857 Added PyTorch 2.2 support
  .github/CONTRIBUTING.md
  .github/actions/setup/action.yml
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  .github/workflows/full_testing.yml
  .github/workflows/minimal_testing.yml
  .github/workflows/prev_testing.yml
  .github/workflows/testing.yml
  CHANGELOG.md
  README.md
  docs/source/install/installation.rst
  docs/source/install/quick-start.html
  pyproject.toml
  torch_geometric/edge_index.py
  torch_geometric/typing.py
Labels: installation, feature, documentation, 0 - Priority P0

#8858 Respect boolean tensors when creating dummies in `to_homogeneous()`
  CHANGELOG.md
  torch_geometric/data/hetero_data.py
Labels: bug, 0 - Priority P0, data

#8860 Separate `torch_geometric.distributed` tests
  .github/workflows/dist_testing.yml
  test/distributed/test_dist_link_neighbor_loader.py
  test/distributed/test_dist_link_neighbor_sampler.py
  test/distributed/test_dist_neighbor_loader.py
  test/distributed/test_dist_neighbor_sampler.py
  test/distributed/test_dist_utils.py
  test/distributed/test_local_feature_store.py
  test/distributed/test_local_graph_store.py
  test/distributed/test_partition.py
  test/distributed/test_rpc.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: feature, 0 - Priority P0, test

#8722 Enable distributed link hetero sampling
  CHANGELOG.md
  test/distributed/test_dist_link_neighbor_loader.py
  test/distributed/test_dist_link_neighbor_sampler.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/distributed/utils.py
Labels: feature, 0 - Priority P0, distributed

#8713 Refactored E2E example for Distributed CPU solution
  CHANGELOG.md
  examples/distributed/pyg/README.md
  examples/distributed/pyg/distributed_cpu.py
  test/distributed/test_dist_link_neighbor_loader.py
  test/distributed/test_dist_link_neighbor_sampler.py
  test/distributed/test_dist_neighbor_loader.py
  test/distributed/test_dist_neighbor_sampler.py
  torch_geometric/distributed/dist_loader.py
  torch_geometric/distributed/dist_neighbor_loader.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/distributed/local_feature_store.py
  torch_geometric/distributed/local_graph_store.py
  torch_geometric/distributed/partition.py
  torch_geometric/distributed/rpc.py
  torch_geometric/distributed/utils.py
  torch_geometric/loader/node_loader.py
Labels: feature, 0 - Priority P0, example, loader, distributed

#8863 Refactor `torch_geometric.distributed` README
  docs/source/advanced/remote.rst
  examples/distributed/README.md
  examples/distributed/kuzu/README.md
  examples/distributed/kuzu/papers_100M/README.md
  examples/distributed/kuzu/papers_100M/prepare_data.py
  examples/distributed/kuzu/papers_100M/train.py
  examples/distributed/pyg/README.md
  pyproject.toml
Labels: documentation, refactor, example, skip-changelog

#8864 Fix test case
  .github/workflows/dist_testing.yml
  .github/workflows/linting.yml
  test/distributed/test_dist_link_neighbor_sampler.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#8865 Fix nightly tests on Windows
  torch_geometric/distributed/rpc.py
Labels: bug, 0 - Priority P0, test, distributed

#8820 Add e2e link prediction example with temporal information for the distributed solution
  CHANGELOG.md
  examples/distributed/pyg/README.md
  examples/distributed/pyg/node_ogb_cpu.py
  examples/distributed/pyg/temporal_link_movielens_cpu.py
  torch_geometric/distributed/dist_link_neighbor_loader.py
Labels: 0 - Priority P0, example, distributed

#8241 Add `run_dist.sh/launch.py` for distributed training [6/6]
  examples/distributed/pyg/launch.py
  examples/distributed/pyg/run_dist.sh
Labels: feature, 1 - Priority P1, example, distributed

#8868 `[LightningData]` Drop `batch_size` in case a `batch_sampler` is used
  torch_geometric/data/lightning/datamodule.py
Labels: bug, 0 - Priority P0, data

#8870 Fix `torch.jit.load` for `MessagePassing` modules
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/collect.jinja
  torch_geometric/nn/conv/gen_conv.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#8877 Add option to `keep_orig_edges` in case of bidirectional sampling
  torch_geometric/loader/node_loader.py
  torch_geometric/sampler/base.py
Labels: feature, 0 - Priority P0, loader, sampler

#8871 Make `Data` attributes cache non shareable
  test/data/test_data.py
  torch_geometric/data/storage.py
Labels: bug, 0 - Priority P0, data

#8884 Add more examples to the External Resources
  docs/source/external/resources.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#8880 Evaluate on all ranks in `distributed_sampling.py`
  CHANGELOG.md
  examples/multi_gpu/distributed_sampling.py
Labels: example

#8885 [Fix] `captum` upgrades PyTorch version during installation
  .github/actions/setup/action.yml
  .github/workflows/full_testing.yml
  .github/workflows/prev_testing.yml
Labels: bug, installation, 0 - Priority P0

#8887 Replace arxiv pdf links with abs links
  torch_geometric/datasets/rcdd.py
  torch_geometric/datasets/wikidata.py
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/nn/conv/pdn_conv.py
  torch_geometric/nn/encoding.py
  torch_geometric/nn/models/visnet.py
  torch_geometric/nn/norm/mean_subtraction_norm.py
Labels: nn, dataset

#8874 Change method of partitioning MovieLens
  CHANGELOG.md
  examples/distributed/pyg/partition_graph.py
  examples/distributed/pyg/temporal_link_movielens_cpu.py
  torch_geometric/distributed/dist_link_neighbor_loader.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/distributed/partition.py
  torch_geometric/distributed/utils.py
  torch_geometric/loader/cluster.py
  torch_geometric/loader/link_loader.py
Labels: 0 - Priority P0, example, loader, distributed

#8546 Example of a recommender system
  CHANGELOG.md
  examples/hetero/recommender_system.py
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: feature, 0 - Priority P0, example

#8895 Add `torch_geometric.metrics` to documentation
  docs/source/_templates/autosummary/metrics.rst
  docs/source/index.rst
  docs/source/modules/metrics.rst
  examples/hetero/recommender_system.py
  test/metrics/test_link_pred_metric.py
  torch_geometric/metrics/__init__.py
  torch_geometric/metrics/link_pred.py
Labels: feature, documentation, 0 - Priority P0, example

#8896 Add `torch_geometric.distributed` to documentation
  .github/labeler.yml
  docs/source/index.rst
  docs/source/modules/distributed.rst
  examples/distributed/pyg/node_ogb_cpu.py
  examples/distributed/pyg/temporal_link_movielens_cpu.py
  torch_geometric/distributed/dist_link_neighbor_loader.py
  torch_geometric/distributed/dist_neighbor_loader.py
  torch_geometric/distributed/dist_neighbor_sampler.py
  torch_geometric/distributed/local_feature_store.py
  torch_geometric/distributed/local_graph_store.py
  torch_geometric/distributed/partition.py
Labels: feature, documentation, 0 - Priority P0, example, skip-changelog

#8900 Update README.md for examples/hetero to include new reccomender system
  examples/hetero/README.md
Labels: feature, documentation, 1 - Priority P1, example, skip-changelog

#8914 Make `KNNSearch` warnings more descriptive
  torch_geometric/nn/pool/knn.py
  torch_geometric/utils/_negative_sampling.py
Labels: bug, 0 - Priority P0, nn, skip-changelog, utils

#8915 Revert commit
  torch_geometric/utils/_negative_sampling.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#8824 [Documentation] Add tutorial for distributed CPU training
  docs/source/_figures/dist_proc.png
  docs/source/index.rst
  docs/source/tutorial/distributed.rst
  docs/source/tutorial/distributed_pyg.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#8917 Add figures to distributed tutorial
  docs/source/_figures/dist_part.png
  docs/source/_figures/dist_sampling.png
  docs/source/_figures/intel_kumo.png
  docs/source/_static/thumbnails/distributed_pyg.png
  docs/source/conf.py
  docs/source/tutorial/distributed_pyg.rst
Labels: feature, documentation, 0 - Priority P0, skip-changelog

#8922 Building conda versions
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
Labels: installation, feature, 0 - Priority P0

#8918 Add `dim` argument to `torch.cross` calls
  CHANGELOG.md
  torch_geometric/nn/models/dimenet.py
  torch_geometric/transforms/generate_mesh_normals.py
  torch_geometric/transforms/sample_points.py
  torch_geometric/utils/geodesic.py
Labels: bug, 0 - Priority P0, nn, transform, utils

#8932 Fix `OSError` for `simplecache`
  torch_geometric/io/fs.py
Labels: bug, 0 - Priority P0, skip-changelog

#8927 Minor revisions to the NeuroGraphDataset (NeurIPS2023)
  torch_geometric/datasets/neurograph.py
Labels: feature, dataset, skip-changelog

#8928 Add note on network interface in distributed examples README
  examples/distributed/pyg/README.md
Labels: 1 - Priority P1, example, skip-changelog

#8944 Add links to distributed training documentation
  docs/source/tutorial/distributed_pyg.rst
Labels: feature, documentation, 0 - Priority P0

#8945 Correct typo in `neighbor_loader` document
  docs/source/tutorial/neighbor_loader.rst
Labels: documentation, 0 - Priority P0

#8946 docs: fix broken links to source of graph classification datasets
  benchmark/kernel/README.md
  docs/source/get_started/introduction.rst
Labels: documentation, benchmark, skip-changelog

#8958 Drop in-place op in GNN example
  docs/source/tutorial/create_gnn.rst
Labels: bug, 0 - Priority P0, skip-changelog

#8971 Fix `mpmath` installation (part 2)
  .github/workflows/full_testing.yml
  .github/workflows/latest_testing.yml
Labels: bug, installation, 0 - Priority P0

#8952 Approximate `faiss` k-NN search
  CHANGELOG.md
  test/nn/pool/test_knn.py
  torch_geometric/nn/pool/__init__.py
  torch_geometric/nn/pool/knn.py
Labels: nn

#8973 Fix inheritance in `MessagePassing`
  CHANGELOG.md
  test/nn/conv/test_graph_conv.py
  torch_geometric/template.py
Labels: bug, 0 - Priority P0

#8986 Fix `ModelHub` tests
  test/nn/test_model_hub.py
Labels: bug, 0 - Priority P0, test, skip-changelog

#8981 Fix CI error with socket bind
  test/distributed/test_dist_link_neighbor_loader.py
  test/distributed/test_dist_link_neighbor_sampler.py
  test/distributed/test_dist_neighbor_loader.py
  test/distributed/test_dist_neighbor_sampler.py
  test/distributed/test_rpc.py
  test/nn/test_model_hub.py
Labels: bug, 0 - Priority P0

#8983 Add `resize` method to `EdgeIndex`
  CHANGELOG.md
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: feature, 0 - Priority P0

#8988 Update README.md
  benchmark/inference/README.md
Labels: benchmark, skip-changelog

#8993 Fix `EdgeIndex.resize_` linting issues
  CHANGELOG.md
  test/test_edge_index.py
  torch_geometric/edge_index.py
Labels: bug, 0 - Priority P0

#8249 `OGBMAG240m` example
  CHANGELOG.md
  examples/multi_gpu/README.md
  examples/multi_gpu/mag240m_graphsage.py
Labels: feature, 1 - Priority P1, example
