Repository pyg-team/pytorch_geometric, pull requests merged in 2025-01, with the labels that each got.

#9917 Update type annotations
  .github/workflows/linting.yml
  torch_geometric/datasets/git_mol_dataset.py
  torch_geometric/datasets/molecule_gpt_dataset.py
  torch_geometric/utils/smiles.py
Labels: dataset, skip-changelog, utils, type hints

#9860 Update introduction.rst
  docs/source/get_started/introduction.rst
Labels: skip-changelog

#9903 Fix `glem` example
  examples/llm/glem.py
  torch_geometric/nn/models/glem.py
Labels: example, auto-skip-changelog

#9882 Using AI tools to improve commenting of base G-retriever example
  examples/llm/g_retriever.py
Labels: example, skip-changelog

#9922 comments and clean up
  torch_geometric/nn/nlp/txt2kg.py
Labels: nn, auto-skip-changelog

#9923 cleanup
  torch_geometric/nn/nlp/txt2kg.py
Labels: nn

#9929 Fixed bug for `writer` initialized by `Chem.SDWriter(...)`.
  torch_geometric/datasets/molecule_gpt_dataset.py
Labels: auto-skip-changelog

#9931 [BugFix] Fixing two `lightning` tests.
  test/data/lightning/test_datamodule.py
Labels: auto-skip-changelog

#9930 [FutureWarning] Fixing warning triggered by `torch.cuda.reset_max_memory_allocated()` usage.
  examples/llm/molecule_gpt.py
Labels: bug, 0 - Priority P0, example, skip-changelog

#9927 Fix `GlobalStorage.is_node_attr` and `GlobalStorage.is_edge_attr` when passing tuples in `cat_dim`
  CHANGELOG.md
  torch_geometric/data/storage.py
Labels: bug, 0 - Priority P0, data, skip-changelog

#9939 Introduce `LinkPredMetric._prepare`; allow for less predictions than `k`
  readthedocs.yml
  test/data/lightning/test_datamodule.py
  test/metrics/test_link_pred_metric.py
  torch_geometric/metrics/link_pred.py
Labels: bug, 1 - Priority P1, refactor, skip-changelog

#9941 Add `LinkPredMetricCollection`
  .github/labeler.yml
  CHANGELOG.md
  test/metrics/test_link_pred_metric.py
  torch_geometric/metrics/__init__.py
  torch_geometric/metrics/link_pred.py
Labels: feature, 0 - Priority P0, metrics

#9942 Limit concurrency in nightly tests; Add more labels
  .github/labeler.yml
  .github/workflows/full_testing.yml
Labels: feature, 1 - Priority P1, skip-changelog, ci

#9944 Support for `edge_label_weight` in `LinkPredMetric`
  test/metrics/test_link_pred_metric.py
  torch_geometric/metrics/link_pred.py
Labels: feature, 0 - Priority P0, skip-changelog, metrics

#9945 Support weighted `LinkPredNDCG` metric
  CHANGELOG.md
  test/metrics/test_link_pred_metric.py
  torch_geometric/metrics/link_pred.py
Labels: feature, 0 - Priority P0, metrics

#9946 More efficient way to compute weighted `IDCG` in `LinkPredNDCG`
  test/metrics/test_link_pred_metric.py
  torch_geometric/metrics/link_pred.py
Labels: 0 - Priority P0, refactor, skip-changelog, metrics

#9947 Weighted `LinkPredRecall`
  CHANGELOG.md
  test/metrics/test_link_pred_metric.py
  torch_geometric/metrics/link_pred.py
Labels: feature, 0 - Priority P0, metrics

#9954 Address `FutureWarning` on `nx.node_link_graph(..., edges="links")`
  torch_geometric/datasets/ppi.py
Labels: dataset, skip-changelog

#9955 Fixed a warning generated in `exemples/llm/glen.py` test.
  examples/llm/glem.py
Labels: example, skip-changelog

#9961 Expose `LinkPredMetric`
  torch_geometric/metrics/__init__.py
  torch_geometric/metrics/link_pred.py
Labels: 0 - Priority P0, refactor, skip-changelog, metrics

#9960 Update type annotations in GRetriever
  torch_geometric/nn/nlp/llm.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#9949 docs: fix typo in installation.rst
  docs/source/install/installation.rst
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#9963 Fix index-out-of-bounds issue in `LinkPredNDCG(weighted=True)`
  torch_geometric/metrics/link_pred.py
Labels: bug, 0 - Priority P0, skip-changelog, metrics

#9970 ai cleanup
  examples/llm/hotpot_qa.py
  examples/llm/tech_qa.py
  torch_geometric/nn/__init__.py
Labels: nn, example

#9971 ai cleanup for utils
  torch_geometric/loader/rag_loader.py
  torch_geometric/utils/rag/backend_utils.py
  torch_geometric/utils/rag/feature_store.py
  torch_geometric/utils/rag/graph_store.py
Labels: loader, utils

#9981 Drop `InstructMolDataset` test
  test/datasets/test_instruct_mol_dataset.py
Labels: 0 - Priority P0, refactor, test, skip-changelog

#9983 Fix PyTorch nightly tests
  torch_geometric/nn/fx.py
Labels: bug, 0 - Priority P0, nn, skip-changelog

#9976 Add eval
  examples/llm/tech_qa.py
  torch_geometric/loader/rag_loader.py
  torch_geometric/nn/nlp/__init__.py
  torch_geometric/nn/nlp/llm_judge.py
  torch_geometric/nn/nlp/txt2kg.py
Labels: nn, example, loader

#9953 Cugraph Examples Updates
  CHANGELOG.md
  examples/README.md
  examples/multi_gpu/README.md
  examples/multi_gpu/ogbn_train_cugraph.py
  examples/multi_gpu/papers100m_gcn_cugraph.py
  examples/ogbn_papers_100m_cugraph.py
  examples/ogbn_train_cugraph.py
Labels: example

#9990 Nim sent transformer and better comments for senttrans
  examples/llm/hotpot_qa.py
  examples/llm/tech_qa.py
  torch_geometric/nn/nlp/__init__.py
  torch_geometric/nn/nlp/sentence_transformer.py
Labels: nn, example

#9998 Fixing the URL for `InstructMol` dataset.
  torch_geometric/datasets/instruct_mol_dataset.py
Labels: auto-skip-changelog

#9995 Hybrid rag
  examples/llm/README.md
  examples/llm/tech_qa.py
  torch_geometric/loader/rag_loader.py
  torch_geometric/nn/nlp/llm.py
  torch_geometric/utils/rag/backend_utils.py
  torch_geometric/utils/rag/feature_store.py
Labels: nn, example, loader, utils
