Repository pyg-team/pytorch_geometric, pull requests merged in 2025-07, with the labels that each got.

#10345 Fix CI
  test/contrib/explain/test_pgm_explainer.py
  test/nn/conv/test_meshcnn_conv.py
  test/nn/models/test_basic_gnn.py
  torch_geometric/datasets/git_mol_dataset.py
  torch_geometric/datasets/qm9.py
  torch_geometric/nn/conv/meshcnn_conv.py
  torch_geometric/utils/smiles.py
Labels: bug, nn, dataset, skip-changelog, utils

#10349 Replace deprecated tag in MoleculeGPT dataset preprocessing.
  torch_geometric/datasets/molecule_gpt_dataset.py
Labels: skip-changelog

#9908 Add `Polynormer` model and example [1/n]
  CHANGELOG.md
  examples/README.md
  examples/ogbn_train.py
  test/nn/attention/test_performer_attention.py
  test/nn/attention/test_polynormer_attention.py
  test/nn/conv/test_appnp.py
  test/nn/models/test_polynormer.py
  torch_geometric/nn/attention/__init__.py
  torch_geometric/nn/attention/polynormer.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/polynormer.py
Labels: feature, 2 - Priority P2, nn, example

#10344 clean TXT2KG PR
  examples/llm/README.md
  examples/llm/g_retriever.py
  examples/llm/txt2kg_rag.py
  test/sampler/test_sampler_neighbor_sampler.py
  test/utils/rag/test_vectorrag.py
  torch_geometric/data/large_graph_indexer.py
  torch_geometric/datasets/web_qsp_dataset.py
  torch_geometric/loader/rag_loader.py
  torch_geometric/nn/nlp/llm.py
  torch_geometric/nn/nlp/llm_judge.py
  torch_geometric/nn/nlp/sentence_transformer.py
  torch_geometric/nn/nlp/txt2kg.py
  torch_geometric/sampler/base.py
  torch_geometric/utils/rag/backend_utils.py
  torch_geometric/utils/rag/feature_store.py
  torch_geometric/utils/rag/graph_store.py
  torch_geometric/utils/rag/vectorrag.py
Labels: nn, example, dataset, loader, data, skip-changelog, utils, sampler

#10351 cleaning rag
  examples/llm/txt2kg_rag.py
  test/utils/rag/test_rag_feature_store.py
  torch_geometric/testing/graph_store.py
  torch_geometric/typing.py
  torch_geometric/utils/rag/feature_store.py
  torch_geometric/utils/rag/graph_store.py
Labels: example, skip-changelog, utils

#10359 Add `ProteinMPNN` doc
  torch_geometric/nn/models/protein_mpnn.py
Labels: skip-changelog

#10357 Fixes for various warnings that appear in examples.
  examples/compile/gcn.py
  examples/compile/gin.py
  examples/llm/g_retriever.py
  examples/llm/g_retriever_utils/minimal_demo.py
  examples/llm/git_mol.py
Labels: skip-changelog

#10378 Update resources.rst
  docs/source/external/resources.rst
Labels: documentation, skip-changelog

#10375 New NIM model testing (for txt2kg and llm judge)
  examples/llm/txt2kg_rag.py
  torch_geometric/nn/nlp/txt2kg.py
Labels: nn, example, skip-changelog

#10377 changing prompting technique for LLM Judge
  examples/llm/txt2kg_rag.py
Labels: example, skip-changelog

#10369 Fixes for various warnings appearing in examples (part 3)
  test/contrib/explain/test_pgm_explainer.py
  torch_geometric/contrib/explain/pgm_explainer.py
Labels: skip-changelog

#10304 Fix: Prevent DDP Crash by Enabling find_unused_parameters=True in GITMol Training
  examples/llm/git_mol.py
Labels: skip-changelog
