Repository pyg-team/pytorch_geometric, pull requests merged in 2025-08, with the labels that each got.

#10391 Fix tests for GPUs lacking memory info from `nvidia-smi`
  test/profile/test_profile.py
  torch_geometric/datasets/git_mol_dataset.py
  torch_geometric/datasets/qm9.py
  torch_geometric/profile/utils.py
  torch_geometric/utils/smiles.py
Labels: skip-changelog

#10404 Try `lightning` when `pytorch_lightning` is not found
  CHANGELOG.md
  torch_geometric/data/lightning/datamodule.py
  torch_geometric/graphgym/imports.py
Labels: graphgym, data

#10406 Update dependabot config
  .github/dependabot.yml
Labels: skip-changelog

#10325 Update CODEOWNERS
  .github/CODEOWNERS
Labels: skip-changelog, ci

#10422 Fix/onnx serde error workaround
  CHANGELOG.md
  test/nn/models/test_basic_gnn.py
  test/test_onnx.py
  torch_geometric/__init__.py
  torch_geometric/_onnx.py
Labels: skip-changelog

#10424 Fix typo in `CODEOWNERS`
  .github/CODEOWNERS
Labels: skip-changelog, ci
