Repository pyg-team/pytorch_geometric, pull requests merged in 2025-09, with the labels that each got.

#10397 Update ModelNet10 url in modelnet.py
  torch_geometric/datasets/modelnet.py
Labels: skip-changelog

#10410 Add Annotation to Stored Triples
  examples/llm/txt2kg_rag.py
Labels: skip-changelog

#10417 Fix support for importing from Lightning package
  CHANGELOG.md
  torch_geometric/data/lightning/datamodule.py
  torch_geometric/graphgym/imports.py
Labels: bug, 0 - Priority P0, graphgym, data

#10460 Fix `mypy` linting
  torch_geometric/metrics/link_pred.py
Labels: bug, 0 - Priority P0, skip-changelog, type hints, metrics

#10411 Deprecate `torch_geometric.distributed`
  .github/workflows/testing_dist.yml
  CHANGELOG.md
  docs/requirements.txt
  docs/source/modules/distributed.rst
  docs/source/tutorial/distributed.rst
  docs/source/tutorial/distributed_pyg.rst
  docs/source/tutorial/multi_gpu_vanilla.rst
  docs/source/tutorial/multi_node_multi_gpu_vanilla.rst
  examples/distributed/README.md
  examples/distributed/pyg/README.md
  pyproject.toml
  readthedocs.yml
  torch_geometric/distributed/__init__.py
Labels: installation, documentation, 1 - Priority P1, example, distributed, ci

#10461 Remove Python 3.9 support
  .github/ISSUE_TEMPLATE/installation.yml
  .github/actions/setup/action.yml
  .github/workflows/building_nightly.yml
  .github/workflows/linting.yml
  .github/workflows/testing_full.yml
  .github/workflows/testing_latest.yml
  CHANGELOG.md
  README.md
  docs/source/install/installation.rst
  pyproject.toml
  test/contrib/explain/test_pgm_explainer.py
  test/test_config_store.py
  torch_geometric/config_store.py
  torch_geometric/typing.py
Labels: installation, documentation, ci

#10462 Revise README badges and links
  README.md
Labels: skip-changelog

#10457 Fix `MoleculeGPTDataset` paper link
  torch_geometric/data/dataset.py
  torch_geometric/datasets/molecule_gpt_dataset.py
  torch_geometric/nn/models/basic_gnn.py
Labels: skip-changelog
