Repository pyg-team/pytorch_geometric, pull requests merged in 2025-02, with the labels that each got.

#8144 [Documentation] Graph Transformer Tutorial
  CHANGELOG.md
  docs/source/_figures/graphgps_layer.png
  docs/source/tutorial/application.rst
  docs/source/tutorial/graph_transformer.rst
Labels: feature, documentation, 0 - Priority P0

#10005 save command
  examples/llm/tech_qa.py
Labels: example

#10006 Add `LinkPredCoverage` metric
  CHANGELOG.md
  test/metrics/test_link_pred_metric.py
  torch_geometric/metrics/__init__.py
  torch_geometric/metrics/link_pred.py
Labels: feature, 0 - Priority P0, metrics

#10008 Fix `EdgeIndex` docstring
  torch_geometric/edge_index.py
Labels: documentation, skip-changelog

#10007 Support `LinkPredCoverage` in `LinkPredMetricCollection`
  test/metrics/test_link_pred_metric.py
  torch_geometric/metrics/link_pred.py
Labels: feature, 0 - Priority P0, skip-changelog, metrics

#10009 Add `LinkPredDiversity`
  CHANGELOG.md
  test/metrics/test_link_pred_metric.py
  torch_geometric/metrics/__init__.py
  torch_geometric/metrics/link_pred.py
Labels: metrics

#8366 [Documentation] Data Splitting
  CHANGELOG.md
  docs/source/_static/thumbnails/dataset_splitting.png
  docs/source/_static/thumbnails/graph_transformer.png
  docs/source/conf.py
  docs/source/tutorial/dataset.rst
  docs/source/tutorial/dataset_splitting.rst
Labels: feature, documentation, 0 - Priority P0

#10013 Add `LinkPredHitRatio` metric
  CHANGELOG.md
  test/metrics/test_link_pred_metric.py
  torch_geometric/metrics/__init__.py
  torch_geometric/metrics/link_pred.py
Labels: feature, 0 - Priority P0, metrics

#10015 Add `LinkPredPersonalization` metric
  CHANGELOG.md
  test/metrics/test_link_pred_metric.py
  torch_geometric/metrics/__init__.py
  torch_geometric/metrics/link_pred.py
Labels: feature, 0 - Priority P0, metrics

#10017 [Bug] Fixing bug in `ogbn_train_cugraph` example.
  examples/multi_gpu/ogbn_train_cugraph.py
Labels: bug, 0 - Priority P0, skip-changelog

#10022 Add `LinkPredAveragePopularity`
  CHANGELOG.md
  test/metrics/test_link_pred_metric.py
  torch_geometric/metrics/__init__.py
  torch_geometric/metrics/link_pred.py
Labels: feature, 0 - Priority P0, metrics

#10026 [`LinkPredMetricCollection`] Do not use `kwargs`
  torch_geometric/metrics/link_pred.py
Labels: bug, 0 - Priority P0, skip-changelog, metrics

#10031 Add `HashTensor` boilerplate
  test/test_hash_tensor.py
  torch_geometric/__init__.py
  torch_geometric/hash_tensor.py
  torch_geometric/typing.py
Labels: feature, 0 - Priority P0, skip-changelog

#10034 Support variety of keys in `HashTensor`
  pyproject.toml
  test/test_hash_tensor.py
  torch_geometric/hash_tensor.py
Labels: installation, feature, 0 - Priority P0, skip-changelog

#10035 Fix `HashMap` import from `pyg-lib`
  torch_geometric/typing.py
Labels: bug, 0 - Priority P0, skip-changelog

#10036 Implement internal hash map logic
  test/test_hash_tensor.py
  torch_geometric/hash_tensor.py
Labels: feature, 0 - Priority P0, skip-changelog

#10037 Use `pandas` fallback in `HashTensor` implementation
  test/test_hash_tensor.py
  torch_geometric/hash_tensor.py
Labels: feature, 0 - Priority P0, skip-changelog

#10038 Implement `HashTensor.to`
  test/test_hash_tensor.py
  torch_geometric/hash_tensor.py
Labels: feature, 0 - Priority P0, skip-changelog

#10039 Corrected license metadata
  pyproject.toml
Labels: skip-changelog

#10049 add torch_geometric.nn.nlp to docs
  docs/source/modules/nn.rst
  torch_geometric/nn/__init__.py
Labels: documentation, nn

#10051 Add `HashTensor.squeeze`
  test/test_hash_tensor.py
  torch_geometric/hash_tensor.py
Labels: feature, 0 - Priority P0, skip-changelog

#10050 Fix `torch_geometric.nn.nlp.LLM` docs
  torch_geometric/nn/nlp/llm.py
Labels: bug, documentation, 0 - Priority P0, skip-changelog

#10052 Add `HashTensor.slice`
  test/test_hash_tensor.py
  torch_geometric/hash_tensor.py
Labels: feature, 0 - Priority P0, skip-changelog

#10053 Support batch in `SGFormer`
  test/nn/models/test_sgformer.py
  torch_geometric/nn/attention/sgformer.py
  torch_geometric/nn/models/sgformer.py
Labels: auto-skip-changelog

#10058 Cap quadratic complexity of `LinkPredPersonalization`
  torch_geometric/metrics/link_pred.py
Labels: bug, 0 - Priority P0, skip-changelog, metrics

#10059 Add `HashTensor.index_select`
  test/test_hash_tensor.py
  torch_geometric/hash_tensor.py
Labels: feature, 0 - Priority P0, skip-changelog

#10061 Fix `HashTensor.slice`
  test/test_hash_tensor.py
  torch_geometric/hash_tensor.py
Labels: bug, 0 - Priority P0, skip-changelog

#10062 Add `HashTensor` decorator
  test/test_hash_tensor.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: 0 - Priority P0, test, skip-changelog

#10063 Add `HashTensor.select`
  test/test_hash_tensor.py
  torch_geometric/hash_tensor.py
Labels: feature, 0 - Priority P0, skip-changelog

#10064 Test `HashTensor` for empty inputs
  test/test_hash_tensor.py
  torch_geometric/hash_tensor.py
Labels: 0 - Priority P0, test, skip-changelog

#10065 Add more functions to `HashTensor`
  test/test_hash_tensor.py
  torch_geometric/hash_tensor.py
Labels: feature, 0 - Priority P0, skip-changelog

#10067 Support `HashTensor.numpy()`/`HashTensor.tolist()`
  test/test_edge_index.py
  test/test_hash_tensor.py
  torch_geometric/hash_tensor.py
Labels: feature, 0 - Priority P0, skip-changelog

#10066 Fix `torch.jit.script` in combination with `HashTensor` monkey-patch
  test/transforms/test_to_superpixels.py
  torch_geometric/hash_tensor.py
Labels: bug, 0 - Priority P0, skip-changelog

#10070 Start supporting `torch.compile` in `HashTensor`
  test/test_edge_index.py
  test/test_hash_tensor.py
  torch_geometric/hash_tensor.py
Labels: bug, 0 - Priority P0, skip-changelog

#10072 Add `HashTensor` documentation
  CHANGELOG.md
  docs/source/modules/root.rst
  torch_geometric/hash_tensor.py
Labels: documentation, 0 - Priority P0

#10073 Add support for `numpy()`/`tolist()` in `Index`/`EdgeIndex`
  test/test_edge_index.py
  test/test_index.py
  torch_geometric/edge_index.py
  torch_geometric/index.py
Labels: feature, 0 - Priority P0, skip-changelog

#10074 Fix slicing with negative start values in `EdgeIndex` and `Index`
  torch_geometric/edge_index.py
  torch_geometric/hash_tensor.py
  torch_geometric/index.py
Labels: bug, 0 - Priority P0, skip-changelog

#10077 Ensure PyTorch version does not upgrade due to external packages
  .github/actions/setup/action.yml
  .github/workflows/full_testing.yml
  .github/workflows/prev_testing.yml
  pyproject.toml
Labels: installation, skip-changelog, ci

#10057 Update examples/multigpu/README.md to deprecate old examples
  examples/multi_gpu/README.md
Labels: example, skip-changelog
