Repository pyg-team/pytorch_geometric, pull requests merged in 2025-03, with the labels that each got.

#10087 Make ogbn_train.py args consistent with cugraph version
  examples/ogbn_train.py
Labels: example, skip-changelog

#10082 add webinar to graph trans tutorial
  docs/source/tutorial/graph_transformer.rst
Labels: documentation, skip-changelog

#10092 Do not persistent metric states
  torch_geometric/metrics/link_pred.py
Labels: bug, 0 - Priority P0, skip-changelog, metrics

#10079 Remove Unbuffered Sampling from cuGraph Examples
  CHANGELOG.md
  examples/multi_gpu/ogbn_train_cugraph.py
  examples/multi_gpu/papers100m_gcn_cugraph_multinode.py
  examples/ogbn_train_cugraph.py
Labels: example

#10083 Expose CuGraph Taobao example through readme
  CHANGELOG.md
  examples/multi_gpu/README.md
Labels: example

#10091 optimize reverse sort in sgformer
  torch_geometric/nn/models/sgformer.py
Labels: nn, skip-changelog

#10080 Make `datapipe.py` compatible with `torchdata==0.11` or later
  examples/datapipe.py
Labels: example, auto-skip-changelog

#10104 update data set up
  examples/llm/tech_qa.py
  torch_geometric/nn/nlp/sentence_transformer.py
Labels: nn, example

#10112 mention neo4j collab
  examples/llm/README.md
Labels: example, auto-skip-changelog

#10124 Fix in recursive ConfigMixin for iterables
  CHANGELOG.md
  test/test_config_mixin.py
  torch_geometric/config_mixin.py
Labels: bug, 0 - Priority P0

#10136 Support floating-point numbers for `num_neg_samples` in negative sampling
  test/utils/test_negative_sampling.py
  torch_geometric/utils/_negative_sampling.py
Labels: skip-changelog, utils
