Repository pyg-team/pytorch_geometric, pull requests merged in 2025-04, with the labels that each got.

#10139 Create some Sanity tests for default NeighborSampler behavior
  test/sampler/test_sampler_neighbor_sampler.py
  torch_geometric/data/graph_store.py
Labels: auto-skip-changelog

#10165 Fix CI Test for PGM Explainer
  test/contrib/explain/test_pgm_explainer.py
Labels: skip-changelog

#10157 improve `examples/llm` readme
  examples/llm/README.md
  examples/llm/g_retriever.py
Labels: example, skip-changelog

#9018 GPSE Implementation
  CHANGELOG.md
  test/nn/models/test_gpse.py
  test/transforms/test_add_gpse.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/gpse.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/add_gpse.py
Labels: feature, 0 - Priority P0, nn, transform

#10158 Support hetero data in `GNNExplainer`
  CHANGELOG.md
  test/explain/algorithm/test_gnn_explainer.py
  test/explain/conftest.py
  torch_geometric/explain/algorithm/gnn_explainer.py
Labels: explain

#10173 Update documentation for PyTorch 2.6 / Deprecate `conda` installation
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  .github/workflows/testing_minimal.yml
  .github/workflows/testing_nightly.yml
  README.md
  conda/pyg/README.md
  conda/pyg/build_conda.sh
  conda/pyg/meta.yaml
  conda/pytorch-geometric/README.md
  conda/pytorch-geometric/build_conda.sh
  conda/pytorch-geometric/meta.yaml
  docs/source/install/installation.rst
  docs/source/install/quick-start.html
  examples/cpp/README.md
Labels: documentation, 0 - Priority P0, example, skip-changelog, ci

#10174 Fix `GPSE` test times
  .github/workflows/testing_prev.yml
  test/nn/models/test_gpse.py
  test/transforms/test_add_gpse.py
  torch_geometric/nn/models/gpse.py
Labels: bug, 0 - Priority P0, nn, skip-changelog, ci

#10177 Add bias term in `TransformerConv`
  torch_geometric/nn/conv/transformer_conv.py
Labels: bug, 0 - Priority P0, skip-changelog

#10183 Fix full test for PyTorch 1.13
  .github/workflows/testing_full.yml
Labels: bug, 0 - Priority P0, skip-changelog, ci

#10185 Remove test warnings
  .github/workflows/testing_full.yml
  test/nn/models/test_gpse.py
  torch_geometric/data/large_graph_indexer.py
Labels: bug, 1 - Priority P1, test, data, skip-changelog, ci

#10108 Add tests for RAG Tests including RagQADatasets
  .github/workflows/rag_testing.yml
  pyproject.toml
  test/datasets/test_web_qsp_dataset.py
  test/nn/models/test_g_retriever.py
  test/nn/nlp/test_llm.py
  test/nn/nlp/test_sentence_transformer.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: test, skip-changelog

#10190 Fix circular import in GPSE
  torch_geometric/nn/models/gpse.py
  torch_geometric/transforms/add_gpse.py
Labels: 0 - Priority P0, auto-skip-changelog

#10186 Use `uv` in GitHub CI
  .github/actions/setup/action.yml
  .github/workflows/building_nightly.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/linting.yml
  .github/workflows/testing_dist.yml
  .github/workflows/testing_full.yml
  .github/workflows/testing_full_gpu.yml
  .github/workflows/testing_latest.yml
  .github/workflows/testing_minimal.yml
  .github/workflows/testing_nightly.yml
  .github/workflows/testing_prev.yml
  .github/workflows/testing_rag.yml
  .gitignore
Labels: skip-changelog, ci

#10195 Use `working-directory` during documentation CI
  .github/workflows/documentation.yml
Labels: skip-changelog, ci

#10196 Auto-merge bot PRs
  .github/workflows/auto-merge.yml
  .pre-commit-config.yaml
Labels: skip-changelog, ci

#10197 Introduce dependabot for GHA workflows
  .github/dependabot.yml
Labels: skip-changelog, ci

#10168 Added support for heterogenous graphs in `PGExplainer`
  CHANGELOG.md
  test/explain/algorithm/test_pg_explainer.py
  test/explain/conftest.py
  test/utils/conftest.py
  test/utils/test_embedding.py
  torch_geometric/explain/algorithm/pg_explainer.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/embedding.py
Labels: explain, utils

#10217 Only trigger auto-merge workflow on opening a PR
  .github/workflows/auto-merge.yml
Labels: skip-changelog, ci

#9926 Perforated AI OGBN Example
  examples/README.md
Labels: documentation, 2 - Priority P2, example, skip-changelog

#10169 Added support for heterogenous graphs in `AttentionExplainer`
  CHANGELOG.md
  test/explain/algorithm/test_attention_explainer.py
  torch_geometric/explain/algorithm/attention_explainer.py
Labels: explain

#10232 Add links to Graph Transformer and LLM+GNN webinars to README
  examples/README.md
Labels: documentation, example, skip-changelog

#10235 Update data.to type hint
  torch_geometric/data/data.py
Labels: 0 - Priority P0, skip-changelog, type hints

#10239 Add `HeteroData.input_type` to identify seed node type/seed edge type of sampled subgraphs
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/data/hetero_data.py
Labels: feature, 0 - Priority P0, data, skip-changelog
