Repository pyg-team/pytorch_geometric, pull requests merged in 2025-05, with the labels that each got.

#10238 cugraph readme improvement for taobao
  examples/multi_gpu/README.md
Labels: example

#10242 Explicitly chain exceptions
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/multi_gpu/training/training_benchmark_cuda.py
  benchmark/multi_gpu/training/training_benchmark_xpu.py
  benchmark/training/training_benchmark.py
  examples/llm/g_retriever_utils/rag_backend_utils.py
  examples/multi_gpu/ogbn_train_cugraph.py
  graphgym/configs_gen.py
  pyproject.toml
  test/data/test_dataset.py
  test/data/test_storage.py
  test/distributed/test_dist_link_neighbor_loader.py
  test/loader/test_mixin.py
  test/nn/dense/test_linear.py
  torch_geometric/data/batch.py
  torch_geometric/data/large_graph_indexer.py
  torch_geometric/distributed/dist_loader.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/graphmask_explainer.py
  torch_geometric/explain/explainer.py
  torch_geometric/explain/explanation.py
  torch_geometric/loader/mixin.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/sampler/base.py
  torch_geometric/typing.py
  torch_geometric/utils/map.py
Labels: installation, graphgym, benchmark, nn, example, loader, explain, data, utils, sampler, distributed

#10115 Add `CityNetwork` dataset for testing long range dependency
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/city.py
Labels: feature, 2 - Priority P2, dataset

#10245 Expose `keep_orig_edges` for `subgraph_type="bidirectional"`
  torch_geometric/sampler/neighbor_sampler.py
Labels: feature, 0 - Priority P0, skip-changelog, sampler

#10246 Remove `auto-skip-changelog` label
  .github/labeler.yml
  .github/workflows/changelog.yml
Labels: skip-changelog, ci

#10247 Drop support for PyTorch 1.11
  CHANGELOG.md
  torch_geometric/__init__.py
  torch_geometric/typing.py
  torch_geometric/utils/_scatter.py
Labels: utils

#10248 Drop support for PyTorch 1.12
  CHANGELOG.md
  test/nn/conv/test_gat_conv.py
  test/nn/conv/test_gatv2_conv.py
  test/nn/conv/test_message_passing.py
  test/nn/conv/test_signed_conv.py
  test/nn/models/test_basic_gnn.py
  test/nn/pool/connect/test_filter_edges.py
  test/nn/pool/test_asap.py
  test/nn/pool/test_pan_pool.py
  test/nn/pool/test_sag_pool.py
  test/nn/pool/test_topk_pool.py
  test/utils/test_sort_edge_index.py
  torch_geometric/__init__.py
  torch_geometric/data/collate.py
  torch_geometric/edge_index.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/nn/pool/connect/base.py
  torch_geometric/nn/pool/select/base.py
  torch_geometric/typing.py
  torch_geometric/utils/_lexsort.py
  torch_geometric/utils/_scatter.py
  torch_geometric/utils/_sort_edge_index.py
  torch_geometric/utils/_spmm.py
  torch_geometric/utils/sparse.py
Labels: nn, data, utils

#10230 Add Relational Deep Learning example
  CHANGELOG.md
  examples/README.md
  examples/rdl.py
Labels: example

#10281 Show available tasks if not provided in relbench example
  examples/rdl.py
Labels: example, skip-changelog

#10284 Use constant opacity when node/edge weights are given for visualisation
  torch_geometric/visualization/graph.py
Labels: 0 - Priority P0, explain, skip-changelog

#10286 fixing unneeded assert in SGFormer attention
  torch_geometric/nn/attention/sgformer.py
Labels: nn

#10209 Don't warn `Using CPU-based processing within 'map_index'` repeatedly
  test/test_warnings.py
  torch_geometric/utils/map.py
  torch_geometric/warnings.py
Labels: skip-changelog, utils

#9823 MedShapeNet and example
  CHANGELOG.md
  examples/dgcnn_classification.py
  test/datasets/test_medshapenet.py
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/medshapenet.py
Labels: feature, example, dataset

#10274 Fix typos in multiple files
  benchmark/multi_gpu/training/README.md
  benchmark/multi_gpu/training/common.py
  benchmark/training/training_benchmark.py
  docs/source/advanced/hgam.rst
  docs/source/advanced/sparse_tensor.rst
  docs/source/modules/nn.rst
  docs/source/tutorial/distributed_pyg.rst
  docs/source/tutorial/graph_transformer.rst
  docs/source/tutorial/heterogeneous.rst
  examples/distributed/graphlearn_for_pytorch/dist_train_sage_supervised.py
  examples/llm/g_retriever_utils/README.md
  examples/llm/g_retriever_utils/benchmark_model_archs_rag.py
  examples/llm/g_retriever_utils/rag_backend_utils.py
  examples/llm/glem.py
  examples/randlanet_classification.py
  examples/tgn.py
  test/nn/models/test_graph_mixer.py
  torch_geometric/data/feature_store.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/hypergraph_data.py
  torch_geometric/datasets/airfrans.py
  torch_geometric/datasets/tag_dataset.py
  torch_geometric/distributed/partition.py
  torch_geometric/explain/algorithm/captum.py
  torch_geometric/explain/metric/faithfulness.py
  torch_geometric/graphgym/models/layer.py
  torch_geometric/graphgym/utils/comp_budget.py
  torch_geometric/index.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/rag_loader.py
  torch_geometric/loader/temporal_dataloader.py
  torch_geometric/loader/utils.py
  torch_geometric/nn/aggr/equilibrium.py
  torch_geometric/nn/conv/dna_conv.py
  torch_geometric/nn/models/captum.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/models/g_retriever.py
  torch_geometric/nn/models/gpse.py
  torch_geometric/nn/models/visnet.py
  torch_geometric/nn/norm/layer_norm.py
  torch_geometric/nn/pool/cluster_pool.py
  torch_geometric/nn/to_hetero_with_bases_transformer.py
  torch_geometric/testing/decorators.py
  torch_geometric/utils/nested.py
Labels: skip-changelog

#10294 fix examples/llm/README.md syntax
  examples/llm/README.md
Labels: example, skip-changelog
