Repository pyg-team/pytorch_geometric, pull requests merged in 2025-06, with the labels that each got.

#10222 feat(MeshCNN): Add MeshCNN's Convolution Layer
  docs/source/_figures/meshcnn_edge_adjacency.svg
  test/nn/conv/test_meshcnn_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/meshcnn_conv.py
Labels: feature, 1 - Priority P1, nn, skip-changelog

#10301 Modified Total Influence Description
  torch_geometric/utils/influence.py
Labels: feature, documentation, 1 - Priority P1, skip-changelog

#10259 Fix B006 lint errors: using mutable structure in default argument
  examples/llm/g_retriever_utils/rag_graph_store.py
  examples/multi_gpu/mag240m_graphsage.py
  graphgym/configs_gen.py
  pyproject.toml
  test/nn/test_compile_basic.py
  torch_geometric/graphgym/utils/comp_budget.py
  torch_geometric/nn/conv/eg_conv.py
  torch_geometric/nn/models/gpse.py
  torch_geometric/transforms/gdc.py
  torch_geometric/transforms/normalize_features.py
  torch_geometric/transforms/remove_duplicated_edges.py
Labels: skip-changelog

#9817 On single-CPU systems, skip tests which are known not to work
  test/loader/test_mixin.py
Labels: test, skip-changelog

#10283 Fix NumPy deprecations and enforce CI failure on warnings
  CHANGELOG.md
  pyproject.toml
  test/nn/models/test_basic_gnn.py
  torch_geometric/loader/ibmb_loader.py
  torch_geometric/transforms/largest_connected_components.py
Labels: bug

#10317 Fix gradient clipping failure with DTensor parameters on GB200/B200 architecture.
  examples/llm/molecule_gpt.py
Labels: skip-changelog
